/*!* Magnific Popup CSS *!*/
/*.mfp-bg {*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1042;*/
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*background: #0b0b0b;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80); }*/

/*.mfp-wrap {*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1043;*/
    /*position: fixed;*/
    /*outline: none !important;*/
    /*-webkit-backface-visibility: hidden; }*/

/*.mfp-container {*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*padding: 0 8px;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box; }*/

/*.mfp-container:before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle; }*/

/*.mfp-align-top .mfp-container:before {*/
    /*display: none; }*/

/*.mfp-content {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*margin: 0 auto;*/
    /*text-align: left;*/
    /*z-index: 1045; }*/

/*.mfp-auto-cursor .mfp-content {*/
    /*cursor: auto; }*/

/*.mfp-s-error .mfp-content {*/
    /*display: none; }*/
/*button::-moz-focus-inner {*/
    /*padding: 0;*/
    /*border: 0; }*/

/*.mfp-close {*/
    /*width: 44px;*/
    /*height: 44px;*/
    /*line-height: 44px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*opacity: 0.65;*/
    /*padding: 0 0 18px 10px;*/
    /*color: white;*/
    /*font-style: normal;*/
    /*font-size: 28px;*/
    /*font-family: Arial, Baskerville, monospace; }*/
/*.mfp-close:hover, .mfp-close:focus {*/
    /*opacity: 1; }*/
/*.mfp-close:active {*/
    /*top: 1px; }*/

/*.mfp-close-btn-in .mfp-close {*/
    /*color: #333333; }*/

/*.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {*/
    /*color: white;*/
    /*right: -6px;*/
    /*text-align: right;*/
    /*padding-right: 6px;*/
    /*width: 100%; }*/

/*.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {*/
    /*width: 800px;*/
/*}*/

/*.prolist_head_select.btn-group > .btn:first-child {*/
    /*width: 300px;*/
/*}*/

/*.popup_wrapper {*/
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*height: 500px;*/
/*}*/

/*.popup_content {*/
    /*margin: 10px;*/
    /*border: 1px solid #b7a9a9;*/
    /*padding: 10px;*/
/*}*/

/*.mfp-bg {*/
    /*background: rgba(11, 11, 11, 0.44);*/
/*}*/

/*.search_input {*/
    /*background-color: #eef3fa;*/
    /*border: 1px solid #c8d3e2;*/
    /*border-radius: 4px;*/
    /*height: 40px;*/
    /*width: 100%;*/
/*}*/

/*.search_button {*/
    /*background-color: #1ab394;*/
    /*border-color: #1ab394;*/
    /*color: #FFFFFF;*/
    /*width: 100%;*/
    /*height: 40px;*/
/*}*/

/*.tooltip-inner {*/
    /*max-width: 500px;*/
/*}*/

/*.custom-small-chat-box {*/
    /*display: none;*/
    /*position: fixed;*/
    /*bottom: 20px;*/
    /*right: 75px;*/
    /*background: #fff;*/
    /*border: 1px solid #e7eaec;*/
    /*width: 300px;*/
    /*height: 340px;*/
    /*border-radius: 4px;*/
/*}*/

/*.custom-small-chat-box.ng-small-chat {*/
    /*display: block;*/
/*}*/

/*.body-small .custom-small-chat-box {*/
    /*bottom: 70px;*/
    /*right: 20px;*/
/*}*/

/*.custom-small-chat-box.active {*/
    /*display: block;*/
/*}*/

/*.custom-small-chat-box .heading {*/
    /*background: #2f4050;*/
    /*padding: 8px 15px;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
/*}*/

/*.custom-small-chat-box .chat-date {*/
    /*opacity: 0.6;*/
    /*font-size: 10px;*/
    /*font-weight: normal;*/
/*}*/

/*.custom-small-chat-box .content {*/
    /*padding: 15px 15px;*/
    /*height: 260px;*/
    /*overflow: scroll;*/
    /*border: 1px solid #2f4050;*/
/*}*/

/*.custom-small-chat-box .content .export-title {*/
    /*font-weight: bold;*/
    /*margin-bottom: 3px;*/
    /*font-size: 11px;*/
/*}*/

/*.custom-small-chat-box .content > div {*/
    /*padding-bottom: 20px;*/
/*}*/

/*.custom-small-chat-box .content .chat-message {*/
    /*padding: 5px 10px;*/
    /*border-radius: 6px;*/
    /*font-size: 11px;*/
    /*line-height: 14px;*/
    /*max-width: 80%;*/
    /*background: #f3f3f4;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.custom-small-chat-box .content .chat-message.active {*/
    /*background: #1ab394;*/
    /*color: #fff;*/
/*}*/

/*.custom-small-chat-box .content .center {*/
    /*text-align: center;*/
    /*clear: both;*/
/*}*/

/*.custom-small-chat-box .content .left {*/
    /*text-align: left;*/
    /*clear: both;*/
/*}*/

/*.custom-small-chat-box .content .left .chat-message {*/
    /*float: left;*/
/*}*/

/*.custom-small-chat-box .content .right {*/
    /*text-align: right;*/
    /*clear: both;*/
/*}*/

/*.custom-small-chat-box .content .right .chat-message {*/
    /*float: right;*/
/*}*/

/*.custom-small-chat-box .form-chat {*/
    /*padding: 10px 10px;*/
/*}*/

/*iframe {*/
    /*overflow: hidden !important;*/
    /*overflow-scrolling: unset;*/
    /*overflow-y: hidden;*/
/*}*/

/*iframe::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/

/*.popover {*/
    /*width: auto !important;*/
    /*max-width: none*/
/*}*/

/*.webui-popover-content {*/
    /*overflow: hidden !important;*/
/*}*/

/*tr.selected {*/
    /*font-weight: bold;*/
/*}*/

/*table.keywordEditTable {*/
    /*width: 100%;*/
    /*font-size: 12px;*/
/*}*/

/*table.keywordEditTable td {*/
    /*padding: 5px 0px;*/
/*}*/

/*table.keywordEditTable input[type="text"] {*/
    /*width: 100%;*/
    /*font-size: 12px;*/
/*}*/

/*table.keywordEditTable span {*/
    /*font-size: 12px;*/
    /*font-weight: normal;*/
/*}*/

/*tr.markError td {*/
    /*color: red;*/
/*}*/

/*.supsub {*/
    /*position: relative;*/
    /*display: block;*/
    /*float: left*/
/*}*/

/*.subscript {*/
    /*position: relative;*/
    /*left: 0px;*/
    /*top: -5px;*/
/*}*/

/*.superscript {*/
    /*display: block;*/
    /*position: relative;*/
    /*left: 0px;*/
    /*top: -5px;*/
/*}*/

/*.prolist_head_select.btn-group > .btn:first-child {*/
    /*width: 300px;*/
/*}*/

/*.popup_content {*/
    /*margin: 10px;*/
    /*border: 1px solid #b7a9a9;*/
    /*padding: 10px;*/
/*}*/

/*.mfp-bg {*/
    /*background: rgba(11, 11, 11, 0.44);*/
/*}*/

/*.search_input {*/
    /*background-color: #eef3fa;*/
    /*border: 1px solid #c8d3e2;*/
    /*border-radius: 4px;*/
    /*height: 40px;*/
    /*width: 100%;*/
/*}*/

/*.search_button {*/
    /*background-color: #1ab394;*/
    /*border-color: #1ab394;*/
    /*color: #FFFFFF;*/
    /*width: 100%;*/
    /*height: 40px;*/
/*}*/

/*.tooltip-inner {*/
    /*max-width: 500px;*/
/*}*/

/*.custom-small-chat-box {*/
    /*display: none;*/
    /*position: fixed;*/
    /*bottom: 20px;*/
    /*right: 75px;*/
    /*background: #fff;*/
    /*border: 1px solid #e7eaec;*/
    /*width: 300px;*/
    /*height: 340px;*/
    /*border-radius: 4px;*/
/*}*/

/*.custom-small-chat-box.ng-small-chat {*/
    /*display: block;*/
/*}*/

/*.body-small .custom-small-chat-box {*/
    /*bottom: 70px;*/
    /*right: 20px;*/
/*}*/

/*.custom-small-chat-box.active {*/
    /*display: block;*/
/*}*/

/*.custom-small-chat-box .heading {*/
    /*background: #2f4050;*/
    /*padding: 8px 15px;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
/*}*/

/*.custom-small-chat-box .chat-date {*/
    /*opacity: 0.6;*/
    /*font-size: 10px;*/
    /*font-weight: normal;*/
/*}*/

/*.custom-small-chat-box .content {*/
    /*padding: 15px 15px;*/
    /*height: 260px;*/
    /*overflow: scroll;*/
    /*border: 1px solid #2f4050;*/
/*}*/

/*.custom-small-chat-box .content .export-title {*/
    /*font-weight: bold;*/
    /*margin-bottom: 3px;*/
    /*font-size: 11px;*/
/*}*/

/*.custom-small-chat-box .content > div {*/
    /*padding-bottom: 20px;*/
/*}*/

/*.custom-small-chat-box .content .chat-message {*/
    /*padding: 5px 10px;*/
    /*border-radius: 6px;*/
    /*font-size: 11px;*/
    /*line-height: 14px;*/
    /*max-width: 80%;*/
    /*background: #f3f3f4;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.custom-small-chat-box .content .chat-message.active {*/
    /*background: #1ab394;*/
    /*color: #fff;*/
/*}*/

/*.custom-small-chat-box .content .center {*/
    /*text-align: center;*/
    /*clear: both;*/
/*}*/

/*.custom-small-chat-box .content .left {*/
    /*text-align: left;*/
    /*clear: both;*/
/*}*/

/*.custom-small-chat-box .content .left .chat-message {*/
    /*float: left;*/
/*}*/

/*.custom-small-chat-box .content .right {*/
    /*text-align: right;*/
    /*clear: both;*/
/*}*/

/*.custom-small-chat-box .content .right .chat-message {*/
    /*float: right;*/
/*}*/

/*.custom-small-chat-box .form-chat {*/
    /*padding: 10px 10px;*/
/*}*/