
.widget-tabs {
    border-bottom: 2px solid #F5F5F5;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 769px;
    max-width: 90%;
    margin: 30px auto 0;
}

.widget-tabs__tab {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: #B2B2B2;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 25px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.2s;
}
.widget-tabs__tab:hover{
    color: #0066FF;
}
.tab-content {
    display: flex;
    flex-direction: column;
}

.widget-tabs__tab--active {
    border-color: #0066FF;
    color: #313135;
}
.indent {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 28px 0;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid #e6e6e6;
    padding-top: 25px;
}
.indent:first-of-type{
    border-top: none;
    padding-top: 0;
}
.indent:last-of-type{
    margin-bottom: 0;
}

.indent__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    color: #5B5E6D;
    margin-bottom: 20px;
}

.indent__content {
    display: flex;
    flex-direction: column;
}

.widget-code {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 22px 18px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    position: relative;
    padding-right: 34px;
}

.widget-code__text {
    white-space: pre-line;
}

.widget-code__btn {
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;

    background: #0066FF;
    width: 56px;
    height: 24px;
    border-radius: 12px;

    position: absolute;
    right: 18px;
    top: 16px;

    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.widget-code__btn:hover {
    opacity: 0.8;
}

.widget-code__btn:active {
    opacity: 0.9;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

.select-color {
    display: flex;
    flex-direction: column;
}

.select-color__tiles {
    display: flex;
}

.select-color__tile {
    position: relative;
    margin: 0 5px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.select-color__tile:after {
    position: absolute;
    content: '';
    display: block;
    top: 3px;
    left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .2);
    transform: rotate(2deg);
    z-index: -1;
    transition: .3s;
}

.select-color__tile:active:after {
    top: 0;
    left: 0;
    transform: none;
}

.select-color__tile--blue {
    background-color: #0066FF;
}

.select-color__tile--green {
    background-color: #079F7B;
}

.select-color__tile--opal {
    background-color: #9C1CB2;
}

.select-color__tile--orange {
    background-color: #FF7D2F;
}

.select-color__tile--red {
    background-color: #FF4B55;
}

.select-color__tile--sapphire {
    background-color: #001659;
}



body.in-iframe .login__popup,
body.in-iframe header,
body.in-iframe footer,
body.in-iframe .report__header-btn,
body.in-iframe .zopim,
body.in-iframe .audit__banner,
body.in-iframe .audit__seo-banner {
    display: none !important;
}

body.in-iframe .page .wrapper {
    width: 92%;
}