.cf:after {
    display: table;
    clear: both;
    content: '';
}

.scw {
    width: 100%;
    padding: 20px 27px;
    background-color: #0066FF;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    text-align: left;
}

.scw__logo {
    margin: 0 !important;
    color: #fff !important;
    margin-bottom: 16px !important;
    width: auto !important;
    max-width: none !important;
    display: inline-block;
}

.scw__input-wrapper {
    width: 100%;
    height: 48px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    transition: .2s;
}

.scw__input-wrapper:focus-within,
.scw__input-wrapper:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.scw__form {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.scw__input {
    height: 100%;
    outline: none;
    border: none;
    flex: 1;
    margin-right: 4px;
    padding: 0 10px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.scw__input:focus {
    border: none;
    outline: 0;
    background: white;
}

.scw__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #999;
}

.scw__submit-btn {
    width: 115px;
    height: 40px;
    background: rgba(5, 206, 124, 1);
    box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2);
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.2px;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.scw__submit-btn img {
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

.scw__submit-btn span {
    margin-right: 7px;
}

.scw__submit-btn:hover {
    box-shadow: 0 3px 10px rgba(5, 206, 124, 0.4);
    background: rgba(5, 206, 124, 0.95);
}

.scw__submit-btn:hover img {
    transform: translate3d(2px, 0, 0);
}

.scw__submit-btn:active {
    box-shadow: none;
}

.scw__preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(60, 148, 255, .9);
}

.scw__preloader-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scw__preloader-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: scw__preloader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.scw__preloader-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.scw__preloader-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.scw__preloader-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes scw__preloader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.iframe-widget-wrapper {
    min-height: 80vh;
    height: 80vh;
}
