.error_page
	.wrapper
		max-width: 840px
	img
		width: 100%
		margin: 0 auto
	.home_first-search
		margin: 0 auto 70px auto

.error_page-title
	font-size: 24px
	line-height: 30px
	color: #0286bf
	text-align: center
	margin: 30px auto 25px auto
	@media (max-width: 360px)
		margin-top: 15px
		font-size: 23px
		line-height: 26px

.error_page-text
	font-size: 24px
	line-height: 29px
	font-weight: 500
	text-align: center
	color: #495c6a
	margin: 60px auto 25px auto
	@media (max-width: 360px)
		font-size: 20px
		line-height: 26px
		margin-top: 30px