.about_us
  background: white
.about_us-first
  background-image: url("./img_design/about_us-bg.svg")
  background-size: cover
  background-position: top center
  background-repeat: no-repeat
  height: 1024px
  padding-top: 95px
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  @media (max-width: 768px)
    height: 818px
    padding-top: 75px
  @media (max-width: 640px)
    background-image: url("./img_design/about_us-bgMedia.svg")
    background-position: center
    height: 1015px
    padding-top: 65px
  h1
    font-weight: 600
    line-height: normal
    font-size: 45px
    text-align: center
    color: #313135
    margin-bottom: 33px
    @media (max-width: 768px)
      margin-bottom: 25px
    @media (max-width: 640px)
      font-size: 30px
      margin-bottom: 20px
  h2
    font-weight: normal
    line-height: 27px
    font-size: 18px
    text-align: center
    color: #5B5E6D
    margin: 0
    @media (max-width: 768px)
      padding: 0 100px
      br
        display: none
    @media (max-width: 640px)
      padding: 0 20px
      font-size: 15px
      line-height: 25px
.about_us-story
  margin-top: 70px
  @media (max-width: 640px)
    margin-top: -180px
.story__container
  display: flex
  align-items: flex-start
  justify-content: flex-start
  margin-top: 53px
  @media (max-width: 768px)
    flex-direction: column
.story__text
  width: 50%
  display: flex
  flex-direction: column
  @media (max-width: 768px)
    width: 100%
    margin-bottom: 10px
.story__text-block
  display: flex
  flex-direction: column
  padding: 60px 65px
  @media (max-width: 640px)
    padding: 50px 45px
  &:first-of-type
    background-image: url("./img_design/about__story-lines.png")
    background-position: top left
    background-size: cover
    background-repeat: no-repeat
  &:nth-child(2)
    padding-bottom: 80px
    padding-left: 100px
    background-image: url("./img_design/about__story-line.png")
    background-position: bottom right
    background-size: 85%
    background-repeat: no-repeat
    @media (max-width: 640px)
      padding-left: 50px
      padding-bottom: 45px
  .title
    font-weight: normal
    line-height: 30px
    font-size: 20px
    color: #313135
    margin-bottom: 12px
    @media (max-width: 640px)
      font-size: 18px
  .description
    font-weight: normal
    line-height: 27px
    font-size: 16px
    color: #5B5E6D
    margin: 0
    @media (max-width: 640px)
      font-size: 14px
      line-height: 25px
.story__image
  width: 50%
  text-align: left
  @media (max-width: 768px)
    width: 100%
    text-align: center
  img
    width: 100%
    margin-left: -10%
    @media (max-width: 768px)
      margin: 0 auto 50px auto
      width: 80%
.about_us-team
  padding: 30px 0
.about__team-container
  margin-top: 53px
  display: flex!important
  flex-wrap: wrap
  justify-content: space-around
.team__member
  width: 30%
  background: white
  box-shadow: 0 2px 5px rgba(94, 86, 86, 0.15)
  border-radius: 6px
  padding: 49px 63px
  margin-bottom: 30px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media (max-width: 768px)
    width: 45%
  @media (max-width: 640px)
    width: 90%
    margin: 5px auto
  .img
    display: flex
    align-items: center
    justify-content: center
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    width: 100px
    height: 100px
    border-radius: 50px
    margin-bottom: 15px
  .name
    font-weight: 600
    line-height: 30px
    font-size: 18px
    text-align: center
    color: #666666
    margin-bottom: 3px
  .position
    font-weight: 500
    line-height: 20px
    font-size: 14px
    text-align: center
    color: #999999
    margin-bottom: 10px
  .link
    display: block
    line-height: 24px
    font-size: 14px
    margin-bottom: 21px
.team__member-social
  display: flex
  align-items: center
  justify-content: center
.member-social
  background: white
  border: 2px solid #F5F5F5
  border-radius: 50px
  width: 50px
  height: 50px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition: 0.2s
  img
    height: 33%
  &:hover
    background: #f5f5f5
  &:nth-child(2)
    margin: 0 0 0 20px
.about__us-boosta
  margin: 50px auto
  @media (max-width: 640px)
    margin: 0 auto
  img
    width: 100%
.about__us-press
  margin: 70px 0
.about-press-container
  margin-top: 45px
  .audit__mentioned
    img
      width: 100%