.personal_account
  margin: 10px 0 30px 0
  font-size: 20px
  color: #495c6a
  padding-bottom: 20px
  border-bottom: 1px solid #b4c8e2
  width: 100%

.personal_account-table
  border: solid 1px #b4c8e2
  margin-bottom: 30px
  width: 100%
  font-size: 18px
  color: #495c6a
  div
    display: flex
    padding: 22px 20px
    justify-content: flex-end
    align-items: center
    border-bottom: 1px solid #b4c8e2
    @media (max-width: 640px)
      flex-wrap: wrap
      justify-content: flex-start
    &:last-of-type
      border-bottom: 0
      align-items: flex-start
    &.notifications
      align-items: center
      .crawl_report-notification
        padding: 0
    p
      margin: 0
      font-size: 18px
      @media (max-width: 640px)
        margin-bottom: 10px
      span
        font-size: 14px
        display: block
        margin-top: 2px
        padding-right: 5px
      &:first-of-type
        margin-right: auto
      &.user-email
        font-size: 16px
        font-weight: 500
    a
      color: #0286bf
      text-align: right
      cursor: pointer
      &:hover
        color: #015e86
    &.account-table_name
      padding: 15px 20px
      background: #f2f7fb
      justify-content: flex-start
    &.account-table_plan
      p
        @media (max-width: 640px)
          margin-bottom: 0
    &.invoice_table
      padding: 0
      position: relative
      .pdfg-shortcode
        width: 100%
        padding: 0
        margin: 0
        .pdfg-wrap
          position: absolute
          top: 7px
          right: 10px
          padding: 0
          margin: 0
          border: none
          a.pdfg-print
            background: url('./img/pdf.png')
            background-size: contain
            height: 26px
            background-repeat: no-repeat
            background-position: center center
        .pdfg-content
          width: 100%
          padding: 0
          margin: 0
      p
        padding: 15px 20px
        font-size: 16px
      tr
        td
          padding: 12px 15px
          font-size: 16px
          letter-spacing: 0.2px
        &:nth-child(2n)
          td
            background: #f2f7fb

.reset_popup-block
  position: relative
  .login_popup-close
    position: absolute
    top: 20px
    right: 20px
    z-index: 9
  .tml.tml-resetpass
    padding-top: 50px

/* The switch - the box around the slider */
.switch
  position: relative
  display: inline-block
  width: 52px
  height: 27px
  margin: 0

/* Hide default HTML checkbox */
.switch input
  display: none

/* The slider */
.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s

.slider:before
  position: absolute
  content: ""
  height: 21px
  width: 21px
  left: 3px
  bottom: 3px
  background-color: white
  -webkit-transition: .4s
  transition: .4s

input:checked + .slider
  background-color: #0286bf

input:focus + .slider
  box-shadow: 0 0 1px #0286bf

input:checked + .slider:before
  -webkit-transform: translateX(26px)
  -ms-transform: translateX(26px)
  transform: translateX(26px)

/* Rounded sliders */
.slider.round
  border-radius: 34px

.slider.round:before
  border-radius: 50%

#level_checkout
  text-align: center
  margin-bottom: 20px
  .slider.round
    width: 310px
    border-radius: 2px
    height: 39px
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.12), 0 0 2px 0 rgba(0,0,0,.14)
    background: white
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 15px
    cursor: pointer
    @media (max-width: 460px)
      width: 290px
      padding: 0 10px
    &:before
      height: 33px
      width: 111px
      border-radius: 2px
      background: #4386fd
      border-bottom: 2px solid #2a6ee8
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)
      @media (max-width: 460px)
        width: 102px
    span
      letter-spacing: 0.5px
      position: relative
      font-size: 12px
      color: $text_color
      i
        font-style: normal
        opacity: 0.5
      &:first-of-type
        color: white
  input:checked+.slider
    &:before
      width: 190px
      -webkit-transform: translateX(114px)
      -ms-transform: translateX(114px)
      transform: translateX(114px)
      @media (max-width: 460px)
        width: 180px
        -webkit-transform: translateX(104px)
        -ms-transform: translateX(104px)
        transform: translateX(104px)
    span
      &:first-of-type
        color: $text_color
      &:nth-child(2)
        color: white
  .switch
    width: 310px
    height: 44px
    @media (max-width: 460px)
      width: 290px

html[lang='ru']
  #level_checkout
    .slider.round
      width: 265px
      &:before
        width: 80px
  #level_checkout input:checked+.slider:before
    width: 179px
    -webkit-transform: translateX(114px)
    -ms-transform: translateX(114px)
    transform: translateX(80px)