.account__card
  background: white
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
  border-radius: 6px
  padding: 52px 70px
  width: 769px
  margin: 20px auto 100px auto
  @media (max-width: 960px)
    width: 90%
    padding: 52px 70px
    margin: 30px auto 50px auto
  @media (max-width: 460px)
    padding: 35px 20px
  >.title
    font-size: 30px
    line-height: 30px
    font-weight: 500
    padding-bottom: 30px
    @media (max-width: 640px)
      font-size: 20px
      padding-bottom: 20px
  &.confirmation
    margin: 0 0 20px 0
    padding: 20px 30px
    width: 100%
    .account__card-block
      border: none
      padding: 0 0 20px 0
      &:first-of-type
        padding-top: 0
      &:last-of-type
        padding-bottom: 0
.account__user-img
  width: 27px
  height: 27px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50px
  margin-right: 6px
.account__card-block
  display: flex
  align-items: center
  justify-content: space-between
  padding: 25px 0 30px 0
  border-top: 1px solid #E6E6E6
  &:first-of-type
    border: none
    padding-top: 0
  @media (max-width: 800px)
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
  >div
    &:first-of-type
      @media (max-width: 880px)
        margin-bottom: 20px
    &:nth-child(2)
      display: flex
      @media (max-width: 640px)
        flex-wrap: wrap
        flex-direction: column
  .active-color
    color: $color-blue
    margin-left: 5px
  .btn
    margin: 0
    background: white
    color: #B3B3B3
    box-shadow: none
    border: 2px solid #F5F5F5
    font-size: 9px
    font-weight: 700
    padding: 9px 0
    width: 130px
    transition: 0.2s
    &.acc-cancel
      margin-left: 15px
      color: #B3B3B3!important
      @media (max-width: 640px)
        margin: 10px 0 0 0
    &.delete_btn
      width: auto
      height: auto
      padding: 0
      a
        display: flex
        align-items: center
        justify-content: center
        width: 130px
        height: 36px
        color: #b3b3b3
      &:hover
        a
          color: $color-error
          text-decoration: none
        border-color: $color-error
    &.active
      color: $color-blue
      border-color: $color-blue
    &:hover, &:focus, &:active
      color: $color-blue__hover
      border-color: $color-blue__hover
    &.cancel
      margin-left: 15px
      @media (max-width: 640px)
        margin: 10px 0 0 0
  .title
    color: #5B5E6D
    font-weight: 500
    font-size: 15px
    margin-bottom: 7px
    @media (max-width: 460px)
      font-size: 15px
      margin-bottom: 5px
  .description
    color: #999999
    font-size: 13px
    font-weight: 500
    line-height: 18px
    display: flex
    align-items: center
    padding-right: 10px
    @media (max-width: 460px)
      font-size: 10px
      line-height: 15px
    @media (max-width: 460px)
      word-break: break-word
    .account__user-check
      margin-left: 7px
      margin-top: -2px
  .switch
    position: relative
    display: inline-block
    height: 14px
    width: 34px
    margin: 0 30px 0 0
    @media (max-width: 800px)
      margin: 0 0 0 30px
    @media (max-width: 460px)
      margin-left: 70px
    input
      display: none
    span
      &:first-of-type
        color: white
      &:nth-child(2)
        color: black
    input:checked+.slider
      background: rgba(80, 209, 102, 0.3)
      &:before
        background: $color-valid
        -webkit-transform: translateX(25px)
        -ms-transform: translateX(25px)
        transform: translateX(25px)
      &:after
        color: $color-valid
    .off
      position: relative
      &:before
        content: 'Off'
        position: absolute
        left: -30px
        font-weight: 400
        font-size: 11px
        color: #cbcbcb
        @media (max-width: 460px)
          left: -70px
    .slider.round
      width: 34px
      height: 14px
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      -webkit-transition: .4s
      transition: .4s
      background: rgba(184, 184, 184, 0.3)
      border-radius: 50px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 15px
      font-weight: 400
      font-size: 12px
      @media (max-width: 460px)
        margin-right: 35px
        margin-left: auto
      &:after
        content: 'On'
        position: absolute
        right: -30px
        font-size: 11px
        color: #cbcbcb
      &:before
        position: absolute
        content: ""
        left: -5px
        bottom: -2px
        height: 20px
        width: 20px
        border-radius: 50px
        background: #e2e2e2
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        -webkit-transition: .4s
        transition: .4s
        z-index: 2
.account__card-invoices
  width: 100%
  position: relative
  p
    color: #999999
    margin-bottom: 0
    font-size: 13px
    font-weight: 500
  .pmpro_invoice
    width: 100%
    .invoice
      display: flex
      align-items: flex-start
      justify-content: space-between
      color: #999999
      margin-bottom: 10px
      font-size: 12px
      font-weight: 500
      @media (max-width: 640px)
        flex-direction: column
        word-break: break-word
        font-size: 10px
      &:last-of-type
        margin-bottom: 0
  #advanced-pdf-generator
    text-align: right
    margin: -40px auto 10px auto
    padding: 0
    @media (max-width: 640px)
      margin: 15px auto 10px auto
      text-align: left
    li
      padding: 0
    a
      background: white
      width: 130px
      height: 36px
      border: 2px solid #f5f5f5
      border-radius: 50px
      position: relative
      transition: 0.2s
      margin: 0
      padding: 0
      display: block
      &:after
        position: absolute
        left: 25px
        top: 10px
        letter-spacing: 1px
        content: 'Download PDF'
        text-transform: uppercase
        color: #b3b3b3
        font-size: 9px
        font-weight: 700
        transition: 0.2s
      &:hover
        border-color: $color-blue__hover
        &:after
          color: $color-blue__hover
#pmpro_account-change-password
  position: relative
  height: 36px
  img
    display: none
    height: 36px
    margin: 0 auto
    position: absolute
    top: -2px
    width: 100%
  &:active
    span
      display: none
    img
      display: block
.delete-acc__popup
  display: none
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 10
  background: rgba(255, 255, 255, 0.82)
.delete-acc-block
  width: 500px
  box-shadow: 0 2px 5px rgba(0,0,0,.25)
  background: #fff
  border-radius: 6px
  display: flex
  align-items: flex-start
  justify-content: center
  flex-direction: column
  overflow: hidden
  position: relative
  transition: .4s
  padding: 0
  text-align: center
  @media (max-width: 640px)
    width: 90%
  .title
    color: #000000
    font-weight: 500
    font-size: 20px
    text-align: left
    margin: 0 30px 8px 30px
    line-height: 38px
  .description
    color: #5B5E6D
    font-size: 13px
    font-weight: 500
    line-height: 18px
    display: flex
    align-items: flex-start
    justify-content: flex-start
    text-align: left
    padding: 0 30px
    margin: 0 0 18px 0
  .btns
    display: flex
    flex-wrap: wrap
    margin: 0 0 15px 30px
    a, button
      margin-bottom: 15px
    .delete-acc_btn
      margin-right: 15px
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      height: 36px
      width: 130px
      a
        text-decoration: none
        color: #b3b3b3
        font-size: 9px
        margin: 0
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        border-radius: 50px
      &:hover, &:active
        a
          color: $color-error
          text-decoration: none
        border-color: $color-error
        color: $color-error
        text-decoration: none
    .yeslink
      padding: 9px 10px
      margin-right: 15px

.cancel-acc__popup
  @extend .delete-acc__popup
.cancel-acc-block
  @extend .delete-acc-block

#pmpro_cancel
  padding-top: 50px
  width: 100%
  margin: 0

.pdf__branding-block
  display: flex
  align-items: center
  position: relative
.delete__pdf-branding
  margin-left: 10px
  cursor: pointer
  position: relative
  &:hover
    .tooltip
      -webkit-transform: scale(1)
      transform: scale(1)
      z-index: 11
      opacity: 1
      width: 80px
      bottom: 23px
      right: -7px
      font-weight: 500
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
      padding: 5px
      border-radius: 6px
  svg
    &.loading
      display: none
      width: 13px
      height: 15px
      circle
        fill: $color-error
    path
      transition: 0.2s
    &:hover
      path
        fill: $color-error
.pdf__branding-img
  max-width: 150px
  max-height: 60px
  display: block
  width: auto
  height: auto
#img__prev
  max-width: 170px
  max-height: 50px
  margin-right: 10px
.pdf__branding-block
  display: flex
  flex-direction: column
  align-items: flex-end
.pdf__branding-blockImg
  display: flex
  align-items: center
#pdf__branding
  display: flex
  align-items: center
.file_upload-btn
  display: flex
  flex-direction: column
  margin-right: 10px
  position: relative
  .loading
    display: none
    width: 17px
    height: 15px
  &.load
    input, .file_upload__gray
      display: none
    .loading
      display: block
      margin: 0 auto
  &:hover
    .tooltip
      -webkit-transform: scale(1)
      transform: scale(1)
      z-index: 11
      opacity: 1
      width: 80px
      bottom: 23px
      right: -7px
      font-weight: 500
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
      padding: 5px
      border-radius: 6px
  .file_upload__gray
    width: 15px
    height: 18px
    background: white
    cursor: pointer
    position: absolute
    top: 0
    left: 0
  input
    width: 15px
    height: 15px
    position: relative
    cursor: pointer
    overflow: hidden
    &:focus, &:active
      outline: 0

#user_branding_url
  display: none