.article__page
  padding: 30px 0 65px 0
  background: white
  .navigation
    a, p
      line-height: 30px
      font-size: 13px
    @media (max-width: 640px)
      p
        line-height: 20px
  .wrapper
    width: 770px
    @media (max-width: 800px)
      width: 90%
  h1
    margin: 39px auto 27px auto
    font-size: 38px
    color: #000000
    text-align: center
    font-weight: 600
    @media (max-width: 450px)
      font-size: 25px
      line-height: 35px
  h2
    margin: 30px auto 15px auto
    font-size: 32px
    color: #000000
    font-weight: 400
    @media (max-width: 450px)
      font-size: 23px
      line-height: 33px
  h3
    font-weight: 500
    line-height: 46px
    font-size: 30px
    color: #000000
    margin: 20px auto 15px auto
    @media (max-width: 450px)
      font-size: 20px
      line-height: 30px
  h4
    font-weight: 500
    line-height: 30px
    font-size: 20px
    color: #000000
    margin: 20px auto 15px auto
    @media (max-width: 450px)
      font-size: 20px
      line-height: 30px
  p
    line-height: 28px
    font-size: 16px
    color: #000000
    &.backlinks__info
      font-size: 12px
      font-style: italic
      @media (max-width: 640px)
        line-height: 18px
      a
        font-size: 12px
        font-weight: 500
        border-bottom: 1px dashed
        @media (max-width: 640px)
          line-height: 18px
      b
        color: #fc8f35
  a
    color: $color-blue
    transition: 0.2s
    line-height: 28px
    font-size: 16px
    &.btn
      color: white
      &:hover
        color: white
    &:hover
      text-decoration: none
      color: $color-blue__hover
  ul, ol
    line-height: 28px
    font-size: 16px
    color: #000000
    padding: 0
    list-style-type: none
    li
      font-size: 16px
      padding-left: 30px
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        top: 12px
        width: 5px
        height: 5px
        background: $color-blue
        border-radius: 50px
    &.numbers
      list-style-type: decimal
      padding-left: 20px
      li
        &:before
          display: none
  img
    &.description-img
      max-width: 100%
      margin: 20px auto
      box-shadow: 0 5px 20px rgba(0,0,0,.1)
    &.img-border, &.img-close
      display: none
.article__tags
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto
  flex-wrap: wrap
  a
    padding: 4px 10px
    background: #E1EBFB
    border-radius: 4px
    line-height: 22px
    text-transform: uppercase
    font-size: 12px
    font-weight: 500
    letter-spacing: 0.1em
    color: $color-blue
    margin: 5px
    transition: 0.2s
    @media (max-width: 450px)
      font-size: 10px
    &:hover
      text-decoration: none
      background: rgb(214, 230, 255)
.article__info
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 30px
  >div
    display: flex
    align-items: center
    margin-right: 31px
    &:last-of-type
      margin-right: 0
    img
      margin-right: 8px
      height: 16px
    span
      font-size: 12px
      color: #B3B3B3
      font-weight: 500
.article__content
  width: 100%
  margin: 20px auto
  border: 10px solid #F5F5F5
  position: relative
  padding: 35px 60px 25px 60px
  @media (max-width: 450px)
    padding: 25px 15px
.article__content-title
  font-size: 25px
  color: #000000
  font-weight: 500
  display: flex
  align-items: center
  position: absolute
  top: -22px
  left: 75px
  background: white
  padding: 0 10px
  @media (max-width: 450px)
    font-size: 17px
    left: 30px
    top: -18px
  img
    margin-right: 12px
    @media (max-width: 450px)
      width: 16px
.article__content-body
  color: $color-blue
  p, a
    display: block
    font-size: 15px
    text-decoration: none
    margin-bottom: 15px
    cursor: pointer
    @media (max-width: 450px)
      font-size: 14px
      line-height: 22px
  ul, ol
    font-size: 18px
    line-height: 28px
    padding: 0 0 0 20px
    li
      padding-left: 20px
      padding-bottom: 0
      font-size: 18px
      @media (max-width: 450px)
        padding-bottom: 5px
      a
        text-decoration: none
        margin-bottom: 0
        line-height: 28px
        color: #000
        @media (max-width: 450px)
          line-height: 22px
    &:last-of-type
      margin-bottom: 0
  ol
    list-style-type: decimal
    >li
      padding-left: 10px
      font-size: 15px
      color: #000
      &:before
        display: none
    ul
      margin-bottom: 10px
.article__podcast
  margin: 20px auto
.article__img-sm
  width: 100%
  margin: 60px auto 40px auto
  img
    max-width: 100%
    margin: 0 auto
    display: block
  p
    margin: 10px auto 0 auto
    font-size: 14px
    color: #999999
    line-height: 21px
    text-align: center
.article__img-md
  @extend .article__img-sm
  img
    max-width: 1170px
    @media (max-width: 1190px)
      max-width: 100%
.article__img-lg
  @extend .article__img-sm
  div
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    overflow: hidden
    img
      max-width: 100%

pre[class*="language-"]
  background: #F9FBFF
  border: none
  margin: 30px auto
  padding: 15px 0
  line-height: 0
code[class*="language-"], pre[class*="language-"]
  text-shadow: none
.line-numbers
  .line-numbers-rows
    background: #EEF2FB
    border: none
    padding: 15px 0
    top: -18px
    font-size: 100%
    left: -8.8em
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
.line-numbers-rows > span:before
  color: #BBCCE0
.article__testimonial
  margin: 50px auto
  width: 770px
  background: #F2F7FF
  padding: 40px 50px 40px 100px
  position: relative
  @media (max-width: 800px)
    width: 100%
  @media (max-width: 450px)
    padding: 53px 25px 40px 25px
  &:before
    position: absolute
    left: 30px
    top: 48px
    content: ''
    width: 43px
    height: 31px
    background-image: url("./img_design/testimonial.svg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    @media (max-width: 450px)
      left: 25px
      top: 18px
      width: 35px
      height: 26px
      background-size: contain
  p
    line-height: 29px
    font-size: 18px
    color: #000000
    margin-bottom: 15px
  .article__testimonial-user
    display: flex
    align-items: center
    .testimonial-user-img
      margin-right: 20px
      width: 45px
      height: 45px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50px
      overflow: hidden
      img
        max-width: 100%
    .testimonial-user-info
      p
        font-weight: bold
        line-height: 29px
        font-size: 18px
        color: #000000
        margin-bottom: 0
      span
        display: block
        font-weight: 500
        line-height: 21px
        font-size: 14px
        color: #999999
.article__video
  margin: 30px auto
  iframe
    max-width: 100%!important
    margin: 0 auto
.article__banner
  width: 1170px
  height: 367px
  margin: 70px auto
  background-image: url("./img_design/banner.svg")
  background-size: cover
  background-position: center center
  border-radius: 10px
  display: flex
  justify-content: center
  flex-direction: column
  padding-left: 200px
  @media (max-width: 1190px)
    width: 100%
    border-radius: 0
    padding: 0 20px
    align-items: center
    text-align: center
  @media (max-width: 450px)
    height: 340px
  p
    &:first-of-type
      font-weight: bold
      line-height: 73px
      font-size: 40px
      color: #FFFFFF
      margin-bottom: 7px
      @media (max-width: 1190px)
        line-height: 50px
      @media (max-width: 450px)
        font-size: 29px
        line-height: 38px
        margin-bottom: 15px
    &:nth-child(2)
      line-height: 49px
      font-size: 27px
      color: #FFFFFF
      margin-bottom: 22px
      @media (max-width: 450px)
        font-size: 19px
        line-height: 25px
        margin-bottom: 30px
  .btn
    margin: 0
    width: 260px
    color: white
    &:hover
      color: white
.article__share
  margin: 30px 0
  display: flex
  align-items: center
  button
    border: none
    display: flex
    align-items: center
    justify-content: space-around
    width: 91px
    height: 35px
    border-radius: 50px
    margin-right: 14px
    transition: 0.2s
    &.fb
      background: #3B5998
      &:hover
        background: rgba(59, 89, 175, 1)
    &.google
      background: #DD4B39
      &:hover
        background: rgba(235, 75, 57, 1)
    &.twitter
      background: #00ABF0
      &:hover
        background: #12bafe
    &:last-of-type
      margin-right: 0
    span
      font-size: 12px
      color: white
.article__seo
  width: 100%
  height: 427px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background-image: url("./img_design/seo__banner.svg")
  background-size: cover
  background-position: center center
  margin: 50px auto
  @media (max-width: 450px)
    text-align: center
    height: 350px
  p
    &:first-of-type
      font-weight: bold
      line-height: 69px
      font-size: 45px
      color: #FFFFFF
      margin-bottom: 13px
      @media (max-width: 450px)
        line-height: 40px
        font-size: 31px
        margin-bottom: 25px
    &:nth-child(2)
      line-height: 43px
      font-size: 28px
      color: #FFFFFF
      margin-bottom: 39px
      @media (max-width: 450px)
        line-height: 28px
        font-size: 20px
        padding: 0 20px
        margin-bottom: 30px
.article__seo-search
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    width: 770px
    height: 66px
    background: #FFFFFF
    box-sizing: border-box
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)
    border-radius: 35px
    border: 2px solid transparent
    position: relative
    transition: 0.25s
    &.no_limits
      button
        background: $color-error
        box-shadow: none
        img
          &.arrow
            display: block
          &.loading
            display: none
      .error__limits
        display: block
    &.no_valid
      button
        background: $color-error
      .error
        display: block
      input
        @include placeholder
          color: transparent
    &.active
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.21)
    @media (max-width: 1190px)
      width: 85%
    @media(max-width: 820px)
      height: 55px
    @media(max-width: 640px)
      width: 100%
    .error, .error__limits
      display: none
      position: absolute
      color: $color-error
      z-index: 3
      font-size: 13px
      right: 80px
      a
        font-size: 13px
        border-bottom: 1px dashed
        &:hover
          color: $color-blue__hover
      @media(max-width: 768px)
        left: 25px
        right: auto
        bottom: -29px
        color: white
        a
          color: white
      @media (max-width: 640px)
        font-size: 11px
        a
          font-size: 11px
    input
      line-height: normal
      font-size: 15px
      width: 100%
      border-radius: 50px
      text-align: left
      border: none
      padding: 0 0 0 50px
      position: relative
      z-index: 2
      color: #313135
      @media (max-width: 820px)
        padding-left: 20px
      @media (max-width: 640px)
        font-size: 15px
      &:focus
        outline: 0
        @include placeholder
          color: transparent
    button
      width: 65px
      height: 60px
      min-width: 60px
      background: #0066FF
      box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2)
      border-radius: 35px
      display: flex
      align-items: center
      justify-content: center
      border: none
      margin: 10px 2px 10px 10px
      background-position: center
      transition: background 0.8s
      cursor: pointer
      img
        -webkit-transition: 250ms
        -moz-transition: 250ms
        -o-transition: 250ms
        transition: 250ms
        &.loading
          display: none
          max-width: 40px
      &:focus
        outline: 0
        color: white
        box-shadow: none
      &:hover
        outline: 0
        color: white
        background: $color-blue__hover radial-gradient(circle, transparent 1%, $color-blue__hover 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(0, 102, 255, 0.2), 0px 4px 5px 0px rgba(0, 102, 255, 0.14), 0px 1px 10px 0px rgba(0, 102, 255, 0.12)
        &:hover
          img
            transform: translate3d(2px, 0, 0)
      &:active
        outline: 0
        color: white
        box-shadow: 0 2px 4px -1px rgba(0, 102, 255, 0.2), 0px 4px 5px 0px rgba(0, 102, 255, 0.14), 0px 1px 10px 0px rgba(0, 102, 255, 0.12)
        background-color: #6eb9f7
        background-size: 100%
        transition: background 0s
      @media (max-width: 820px)
        width: 45px
        height: 45px
        min-width: 45px
.article__more
  margin: 0 auto 50px auto
  hr
    width: 36px
    height: 5px
    border: none
    background: $color-blue
    margin: 0 auto
p.article__more-title
  font-weight: 500
  line-height: 46px
  font-size: 30px
  color: #000000
  margin-bottom: 29px
  text-align: center
.article__more-container
  margin: 50px auto 0 auto
  display: flex
  justify-content: space-around
  flex-wrap: wrap
.article__more-block
  width: 370px
  background: #FFFFFF
  box-shadow: 0 2px 5px rgba(94, 86, 86, 0.15)
  border-radius: 6px
  display: flex
  justify-content: space-between
  flex-direction: column
  margin-bottom: 25px
  @media (max-width: 1190px)
    width: 48%
  @media (max-width: 450px)
    width: 100%
  .img__block
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    height: 171px
    width: 100%
    border-radius: 6px 6px 0 0
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
  .title
    font-weight: 500
    line-height: 30px
    font-size: 20px
    color: #000000
    margin: 25px 25px auto 25px
    padding-bottom: 25px
    transition: 0.2s
    display: block
    &:hover
      text-decoration: none
      color: $color-blue__hover
  .info__block
    display: flex
    align-items: center
    justify-content: space-around
    padding: 22px 0
    border-top: 1px solid #F7F7F7
    @media (max-width: 450px)
      justify-content: center
      padding: 15px 0
      flex-wrap: wrap
    >div
      display: flex
      align-items: center
      @media (max-width: 450px)
        margin: 0 10px
      span
        font-weight: bold
        line-height: normal
        font-size: 12px
        color: #B3B3B3
        margin-left: 11px
    .tag
      display: flex
      align-items: center
      justify-content: center
      padding: 4px 10px
      background: #E1EBFB
      border-radius: 4px
      font-weight: bold
      font-size: 12px
      text-align: center
      letter-spacing: 0.1em
      color: $color-blue
      text-transform: uppercase
      @media (max-width: 450px)
        margin: 10px 10px 5px 10px
      &:hover
        text-decoration: none
        background: rgb(214, 230, 255)
.more__articles
  margin: 20px auto 50px auto
.article__menu-small
  position: fixed
  top: 200px
  z-index: 1
  left: 15%
  display: none
  @media (max-width: 1350px)
    left: 20px
  @media (max-width: 950px)
    top: auto
    bottom: 30px
    left: auto
    right: 30px
  .article__menu-img
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    border-radius: 50px
    border: 1px solid $color-blue
    transition: background 0.8s
    cursor: pointer
    background: transparent
    svg
      width: 60%
    &:hover
      outline: 0
  &.active
    .article__menu-img
      color: white
      box-shadow: 0 2px 4px -1px rgba(0, 102, 255, 0.2), 0px 4px 5px 0px rgba(0, 102, 255, 0.14), 0px 1px 10px 0px rgba(0, 102, 255, 0.12)
      background-color: $color-blue
      background-size: 100%
      transition: background 0s
      svg
        path
          fill: white
  .article__menu-block
    background: white
    border-radius: 5px
    box-shadow: 0 2px 15px rgba(0,0,0,.06)
    padding: 20px
    margin-left: 60px
    margin-top: -50px
    display: none
    @media (max-width: 950px)
      position: absolute
      margin: 0
      bottom: 60px
      right: 0
      width: 250px
    @media (max-width: 768px)
      max-height: 300px
      overflow-y: scroll
    ul, a, p
      font-size: 14px
      line-height: 20px
      cursor: pointer
      li
        margin-bottom: 0
        padding: 0 0 0 27px
        &::before
          content: ''
          left: 10px
          top: 8px
    ul
      margin: 5px 0

pre.line-numbers
  position: relative
  padding-left: 50px
  padding-bottom: 33px
  font-size: 12px
  border-radius: 3px
  code
    font-size: 12px
    .line-numbers-rows
      background: #eef2fb
      border: none
      padding: 15px 0
      top: -18px
      font-size: 100%
      left: -50px
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
  &:before
    position: absolute
    top: 10px
    right: 10px
    width: 55px
    height: 25px
    content: 'Copy'
    background: #eef2fb
    display: none
    align-items: center
    justify-content: center
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    font-size: 10px
    cursor: pointer
    color: $color-blue
  &:hover
    &:before
      display: flex
  &.copied
    &:before
      content: 'Copied!'
.article__content-block
  line-height: 27px
  font-size: 18px
  color: #000

.mini__tools-container
  background: #fafafa
  .wrapper
    padding: 40px 0 50px 0
    margin: 0 auto
  .result
    margin-top: 10px
    background: white
    border-radius: 6px
    padding: 15px 0
    display: none
  .full-check-href
    margin-top: 7px
    text-align: right
    a
      font-size: 13px
  .home_first-search
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin: 0 auto
    background: white
    height: 50px
    padding: 3px
    border-radius: 6px
    &.invalid
      button
        background: $color-error
        box-shadow: 0 3px 1px -2px rgba(255,75,85,.2), 0 2px 2px 0 rgba(255,75,85,.14), 0 1px 5px 0 rgba(255,75,85,.12)
        color: white
      input
        @include placeholder
          color: $color-error
    input
      height: 100%
      width: 100%
      border: none
      padding: 0 20px
      font-size: 15px
      font-weight: 500
      line-height: 30px
      color: #001659
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
      &:focus
        outline: 0
    button
      height: 100%
      min-width: 120px
      cursor: pointer
      border: none
      padding: 0 25px
      display: flex
      align-items: center
      justify-content: center
      background: $color-blue
      border-radius: 6px
      box-shadow: 0 3px 1px -2px rgba(0,102,255,.2), 0 2px 2px 0 rgba(0,102,255,.14), 0 1px 5px 0 rgba(0,102,255,.12)
      &:hover
        background: #267dff radial-gradient(circle,transparent 1%,#267dff 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(0,102,255,.2), 0 4px 5px 0 rgba(0,102,255,.14), 0 1px 10px 0 rgba(0,102,255,.12)
      &:focus
        outline: 0
      span
        color: #fff
        font-size: 14px
        line-height: 14px
        text-transform: uppercase
        letter-spacing: 1px
        font-weight: 500
      .loading
        display: none
        height: 30px
#minitool-title
  font-weight: 500
  text-align: center
.mini__tool-redirectChecker
  background-color: #9C1CB2
  background-image: url(./img_design/minitool__bg.png)
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  .home_first-search
    button
      background: #9C1CB2
      box-shadow: 0 3px 10px rgba(156, 28, 178, 0.2)
      transition: 0.2s
      &:hover
        background: #7c20bc
        box-shadow: 0 3px 10px rgba(156, 28, 178, 0.2)
  .full-check-href
    a
      color: white
      transition: 0.2s
      border-bottom: 1px dashed transparent
      &:hover
        border-bottom-color: white
  .wrapper
    padding-top: 50px
  #minitool-title
    font-size: 29px
    margin-bottom: 10px
    color: white
.article__page p.minitool-description
  text-align: center
  font-size: 16px
  color: white
.speed__testData
  display: none
  width: 100%!important
  margin-top: 35px
.importance-warning
  color: #ffb301
.importance-ok
  color: #50d265
.importance-error
  color: #ff4b54
.speed__test-info
  display: flex
  justify-content: space-between
  font-size: 14px
  margin-bottom: 20px
  >div
    .title
      font-size: 15px
      font-weight: 500
      margin-bottom: 10px
    .info
      background: white
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
      border-radius: 4px
      padding: 15px
.speed__test-average
  width: 30%
  margin-right: 20px
  .info__title
    font-size: 17px
    margin-bottom: 15px
    &.optimize
      p
        &:nth-child(2)
          font-size: 13px
          span
            &:first-of-type
              font-size: 15px
            &:nth-child(2)
              color: #bcc4d0
  .info__description
    div
      margin-bottom: 5px
      color: #495c6a
      &:last-of-type
        margin-bottom: 0
      &.importance-warning
        span
          color: #ffb301
      &.importance-ok
        span
          color: #50d265
      &.importance-error
        span
          color: #ff4b54
.speed__test-distributions
  width: 70%
  .graph__block
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 15px
    .title
      font-size: 13px
      margin: 0 10px 0 0
    .graph
      width: 100%
      height: 15px
      border-radius: 50px
      display: flex
      position: relative
      .graph__labels
        position: absolute
        display: flex
        align-items: center
        justify-content: space-around
        width: 100%
        span
          color: #dadada
          font-size: 10px
          position: absolute
          top: 25px
          &:after
            position: absolute
            content: ''
            height: 55px
            width: 1px
            border-left: 1px dashed #dadada
            top: -60px
            z-index: 0
            left: 6px
          &:first-of-type
            left: 0
            &:after
              left: 0
          &:nth-child(2)
            left: 25%
          &:nth-child(3)
            left: 50%
          &:last-of-type
            left: 75%
      .graph__section
        background: #50d265
        width: 30%
        margin-right: 2px
        position: relative
        z-index: 1
        text-align: right
        cursor: pointer
        span
          color: #fff
          font-size: 8px
          display: block
          margin-top: 3px
          margin-right: 4px
        &.fast
          background: #50d265
          width: 10%
          border-top-left-radius: 2px
          border-bottom-left-radius: 2px
        &.average
          background: #ffb301
          width: 30%
        &.slow
          background: #ff4b54
          width: 60%
          border-top-right-radius: 2px
          border-bottom-right-radius: 2px
        .tooltip
          font-size: 11px
          line-height: 14px
          color: #485b69
          z-index: -1
          -webkit-transform: scale(.9)
          transform: scale(.9)
          opacity: 0
          height: 0
          overflow: hidden
          -webkit-transition: opacity .5s ease 0s,transform .5s ease 0s,-webkit-transform .5s cubic-bezier(.6,.2,.1,1) 0s,opacity .5s cubic-bezier(.6,.2,.1,1) 0s
          transition: opacity .5s ease 0s,transform .5s ease 0s,-webkit-transform .5s cubic-bezier(.6,.2,.1,1) 0s,opacity .5s cubic-bezier(.6,.2,.1,1) 0s
          &:after
            position: absolute
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 5px 5px 5px
            border-color: #f2f2f2 transparent transparent transparent
            left: 5px
            bottom: -10px
          p
            margin: 0
            font-size: 11px
            line-height: 14px
          span
            font-size: 11px
            line-height: 14px
            color: #485b69
            display: inline
            margin: 0
        &:hover
          .tooltip
            -webkit-transform: scale(1)
            transform: scale(1)
            z-index: 11
            opacity: 1
            width: 200px
            bottom: 20px
            left: 0
            height: auto
            background: #fff
            box-shadow: 0 0 7px rgba(0,48,40,.05)
            padding: 10px
            border-radius: 2px
            overflow: inherit
.graph__description
  display: flex
  align-items: center
  justify-content: center
  margin-top: 35px
.graph__description-block
  display: flex
  align-items: center
  justify-content: center
  margin: 0 5px
  &:first-of-type
    span
      background: #50d265
  &:nth-child(2)
    span
      background: #ffb301
  &:nth-child(3)
    span
      background: #ff4b54
  span
    width: 10px
    height: 10px
    border-radius: 1px
    display: block
    margin-top: -2px
  p
    margin: 0 0 0 5px
    font-size: 12px
.speed__test
  background: #eef3fa
  padding: 40px 0 13px 0
  margin-bottom: 40px
.speed__test-about
  width: 100%
  padding: 15px
  border-radius: 4px
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
  margin-bottom: 20px
  p
    font-size: 14px
    line-height: 20px
    &:last-of-type
      margin-bottom: 0
.speed__test-fix
  .title
    font-size: 15px
    font-weight: 500
  .description
    font-size: 14px
    color: #495c6a
    margin-bottom: 15px
.fix__containers
  width: 100%
  padding: 15px
  border-radius: 4px
  background: white
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
  margin-bottom: 20px
  font-size: 14px
  line-height: 20px
.fix__container-block
  margin-bottom: 15px
  background: #fafafa
  padding: 10px
  border-radius: 2px
  >p
    margin-bottom: 0
  .fix
    display: none
    width: 100%!important
    text-align: left
    margin: 0 0 5px 0
    color: #495c6a
    font-size: 13px
    font-weight: 400
    .urls
      padding: 3px 10px
      background: white
      border-radius: 2px
      margin: 5px 0
      >div
        padding: 5px 0
        border-bottom: 1px dashed $color-blue__hover
        word-break: break-word
        &:last-of-type
          border-bottom: 0
    a
      font-size: 13px
      &:hover
        text-decoration: underline
  .fix__link
    color: $color-blue
    display: flex
    align-items: center
    font-size: 11px
    cursor: pointer
    margin-top: 3px
    img
      width: 6px
      margin-left: 3px
      transition: 0.3s
  &.open
    .fix__link
      img
        transform: rotate(180deg)

.article__img
  display: block
  max-width: 100%
  margin: 0 auto 10px auto
  border-radius: 6px
#result-container
  margin-top: 25px
  .validation__param_block
    margin: 0
  .full-check-href
    text-align: right
    margin-top: 5px
    a
      font-size: 12px
.backlinks
  background: linear-gradient(90deg, #4D5C8B 0%, #5A71A4 77.9%, #5A71A4 100%)
  background-image: url("./img_design/backlinks__bg.png")
  background-size: cover
  background-repeat: no-repeat
  padding: 65px 0 45px 0
  display: flex
  align-items: center
  &.mini__backlinks
    padding-bottom: 65px
  &.full__height
    height: 75vh
    @media (max-width: 640px)
      height: auto
  .wrapper
    padding: 0
  .home_first-search
    border-radius: 50px
    height: 60px
    position: relative
    &.no_valid
      button
        background: $color-error
        box-shadow: none
      .error
        display: block
    .error
      display: none
      position: absolute
      color: $color-error
      z-index: 3
      font-size: 13px
      bottom: 3px
      left: 43px
      @media (max-width: 640px)
        right: 0
        left: 29px
        bottom: 3px
        font-size: 10px
    input
      border-radius: 50px
      padding-left: 40px
      color: #001659
      font-weight: 500
      &:focus
        @include placeholder
          color: transparent
    button
      border-radius: 50px
      min-width: 55px
      width: 55px
      height: 55px
      background: #4D5C8B
      box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2)
      transition: 0.2s
      &:hover
        background: #5265a1
        box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2)
      img
        min-width: 31px
        min-height: 22px
  .select2-container
    margin: 0 0 0 45px
    width: 350px!important
    @media (max-width: 640px)
      position: absolute
      width: 200px!important
      margin: 0
      top: 67px
      right: 0
    &.select2-container--open
      .select2-selection__arrow
        b
          transform: rotate(180deg)
  .select2-selection--single
    margin: 0
    border: none
    background: none
    height: auto
    border-radius: 0
    display: flex
    align-items: center
    justify-content: flex-end
    &:focus
      outline: 0
    .select2-selection__rendered
      line-height: normal
      color: #00418d
      font-size: 13px
      padding: 0
      @media (max-width: 640px)
        color: white
    .select2-selection__arrow
      position: relative
      top: 0
      left: 0
      height: auto
      margin-left: 7px
      b
        border: none
        background-image: url(../img_design/arrow__down.svg)
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        width: 6px
        height: 4px
        margin: 0
        left: 0
        top: -1px
        transition: 0.2s
        @media (max-width: 640px)
          background-image: url(../img_design/arrow__down-white.svg)
.select2-dropdown
  background: transparent
.select2-results__option
  font-size: 12px
  color: #00418d
  padding: 5px 25px 5px 0
  text-align: right
  border-bottom: 1px solid #f6f6f6
  &:last-of-type
    border-bottom: none
.select2-container--open .select2-dropdown--below
  border: none
.select2-container--default .select2-results__option--highlighted[aria-selected]
  color: #00418d
.select2-container--default .select2-results>.select2-results__options
  background: white
  border-radius: 5px
  box-shadow: 0 2px 5px rgba(0,0,0,.05)
  border: 1px solid #f6f6f6
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true]
  background: rgba(77, 92, 138, 0.07)
  &:hover
    color: #00418d
.article__page
  p
    &.backlinks__title
      font-size: 45px
      color: white
      font-weight: bold
      margin-bottom: 12px
      text-align: center
      line-height: normal
      @media (max-width: 640px)
        font-size: 34px
    &.backlinks__description
      color: white
      font-size: 20px
      margin-bottom: 35px
      text-align: center
      line-height: normal
      @media (max-width: 640px)
        font-size: 17px
.backlinks__data
  margin: 33px
  display: none
  .wrapper
    width: 1170px
    margin: 0 auto
    @media (max-width: 1250px)
      width: 90%
    @media (max-width: 640px)
      width: 100%
.backlinks__data-matrix
  display: flex
  justify-content: space-between
  margin-bottom: 25px
  @media (max-width: 640px)
    flex-wrap: wrap
  >div
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    width: 23%
    padding: 30px 3%
    @media (max-width: 640px)
      width: 100%
      padding: 20px
      margin-bottom: 10px
      &:last-of-type
        margin-bottom: 0
    p
      &.title
        color: #5B5E6D
        font-size: 14px
        line-height: normal
        font-weight: 500
        margin-bottom: 25px
        display: flex
        align-items: center
        button
          margin-left: 7px
          position: relative
          border: none
          background: none
          padding: 0
          cursor: pointer
          svg
            width: 11px
            height: 11px
            path
              transition: 0.2s
          &:hover
            .tooltip
              -webkit-transform: scale(1)
              transform: scale(1)
              z-index: 11
              opacity: 1
              width: 180px
              bottom: 23px
              right: -7px
              font-weight: 500
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
              padding: 5px
              border-radius: 6px
            svg
              path
                fill: $color-blue__hover
      &.value
        color: #5E6E9A
        font-weight: 500
        line-height: 40px
        font-size: 45px
        margin: 0
        span
          font-size: 25px
        &.warning
          color: $color-progress
        &.error
          color: $color-error
.backlinks__data-graph
  display: flex
  justify-content: space-between
  margin-bottom: 25px
  @media (max-width: 640px)
    flex-wrap: wrap
  >div
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    width: 31.5%
    padding: 30px 3% 10px 3%
    @media (max-width: 640px)
      width: 100%
      padding: 20px
      margin-bottom: 10px
      &:last-of-type
        margin-bottom: 0
    p
      &.title
        color: #5B5E6D
        font-size: 14px
        line-height: normal
        font-weight: 500
        margin-bottom: 5px
        display: flex
        align-items: center
        button
          margin-left: 7px
          position: relative
          border: none
          background: none
          padding: 0
          cursor: pointer
          svg
            width: 11px
            height: 11px
            path
              transition: 0.2s
          &:hover
            .tooltip
              -webkit-transform: scale(1)
              transform: scale(1)
              z-index: 11
              opacity: 1
              width: 180px
              bottom: 23px
              right: -7px
              font-weight: 500
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
              padding: 5px
              border-radius: 6px
            svg
              path
                fill: $color-blue__hover
    .graph
      height: 170px
.backlinks__data-results
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
  border-radius: 6px
  padding: 30px 3%
  margin-bottom: 25px
  @media (max-width: 640px)
    padding: 20px
.backlinks__data-table
  width: 100%
  th
    padding: 0 10px 26px 10px
    border-bottom: 1px solid #F5F5F5
    @media (max-width: 640px)
      padding: 0
      &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7)
        display: none
    p
      font-weight: 500
      line-height: 18px
      font-size: 12px
      color: #5B5E6D
      text-align: left
      display: flex
      align-items: center
      button
        margin-left: 7px
        position: relative
        border: none
        background: none
        padding: 0
        cursor: pointer
        svg
          width: 11px
          height: 11px
          path
            transition: 0.2s
        &:hover
          .tooltip
            -webkit-transform: scale(1)
            transform: scale(1)
            z-index: 11
            opacity: 1
            width: 180px
            bottom: 23px
            right: -7px
            font-weight: 500
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
            padding: 5px
            border-radius: 6px
          svg
            path
              fill: $color-blue__hover
    &:first-of-type
      padding-left: 0
    &:last-of-type
      text-align: right
      padding-right: 0
      p
        justify-content: flex-end
  td
    font-weight: normal
    font-size: 13px
    line-height: 18px
    color: #000000
    text-align: left
    padding: 22px 10px
    border-bottom: 1px solid #F5F5F5
    @media (max-width: 640px)
      &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7)
        display: none
    .dofollow
      font-weight: 500
      line-height: normal
      font-size: 12px
      text-align: center
      color: #FFFFFF
      margin: 0
      padding: 3px 0
      width: 65px
      display: flex
      align-items: center
      justify-content: center
      background: rgba(80, 209, 102, 0.8)
      border-radius: 3px
    .nofollow
      @extend .dofollow
      background: rgba(0, 22, 89, 0.7)
    a
      font-size: 13px
      line-height: 18px
      word-break: break-all
    &:first-of-type
      padding-left: 0
      width: 25%
      @media (max-width: 640px)
        width: 70%
    &.anchor
      width: 25%
    &:last-of-type
      text-align: right
      color: #999999
      padding-right: 0
  tr
    &:last-of-type
      td
        border: none
#follow__graph .highcharts-legend-item rect
  width: 7px!important
  height: 7px!important
  transform: translateY(5px)!important
.backlinks__banner
  background: #00418d
  color: white
  display: flex
  align-items: center
  justify-content: center
  border-radius: 6px
  @media (max-width: 640px)
    flex-wrap: wrap
  img
    width: 150px
    margin: 40px 40px 40px 0
    @media (max-width: 640px)
      margin: 20px
      width: 100px
  div
    width: 50%
    @media (max-width: 640px)
      width: 100%
      text-align: center
      padding: 0 10px
    p
      color: white
      margin-bottom: 23px
      line-height: 20px
      &:first-of-type
        font-weight: 700
        font-size: 20px
        @media (max-width: 640px)
          font-size: 18px
      &:nth-child(2)
        font-size: 16px
        margin-bottom: 25px
        color: #dbe5ff
        @media (max-width: 640px)
          font-size: 13px
    a
      font-weight: 500
      background: #fff
      color: #00418d
      padding: 4px 0
      font-size: 15px
      width: 135px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 3px
      @media (max-width: 640px)
        margin: 0 auto 20px auto
.audit__seo-banner
  &.page__audit_banner
    margin: 0
    border-radius: 0
    padding: 60px 50px
    .wrapper
      display: flex
      align-items: center
      width: 65%
      @media (max-width: 640px)
        flex-wrap: wrap
      div
        @media (max-width: 640px)
          width: 100%
      p
        padding-right: 30px
        @media (max-width: 640px)
          padding-right: 0
        &.title
          font-size: 34px
        &.description
          line-height: 28px
          font-size: 18px
      a
        @media (max-width: 640px)
          margin: 20px auto 0 auto

.speed__test-adv
  background: #fff
  border-radius: 4px
  padding: 15px
  margin-bottom: 15px
  text-align: center
  p
    font-size: 15px
    font-weight: 500
    margin: 5px 0 20px 0
  img
    height: 100px
  .btn
    font-size: 12px
    margin: 30px auto 20px
    padding: 5px 20px