.audit__landing
  background: white
  overflow: hidden
.audit__first
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(117.32deg, #2DD4AB 0%, #11C2C2 100%)
  position: relative
  @media (max-width: 640px)
    height: 600px
  &:before
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("./img_design/audit__landing.svg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
.audit__first-container
  position: relative
  text-align: center
  color: white
  @media (max-width: 640px)
    .semscale_btns
      a
        &:first-of-type
          margin: -20px auto 0 auto
        &:nth-child(2)
          margin-bottom: 0
  h1
    font-weight: 500
    line-height: normal
    font-size: 44px
    margin: 0 0 25px 0
    @media (max-width: 768px)
      font-size: 40px
    @media (max-width: 640px)
      font-size: 33px
  h2
    line-height: 31px
    font-size: 21px
    margin: 0 0 50px 0
    font-weight: normal
    @media (max-width: 768px)
      line-height: 33px
      font-size: 21px
    @media (max-width: 640px)
      line-height: 23px
      font-size: 17px
.audit__form
  margin: 0 auto
  &.active
    box-shadow: 0 3px 10px #15c3bf
  button
    background: #0ED7A6
    box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2)
    cursor: pointer
    &:hover
      background: #13e5b2 radial-gradient(circle,transparent 1%,#13e5b2 1%) center/15000%
      box-shadow: 0 2px 4px -1px rgba(19,229,178,.2), 0 4px 5px 0 rgba(19,229,178,.14), 0 1px 10px 0 rgba(19,229,178,.12)
  &.audit__form-blue
    &.active
      box-shadow: 0 2px 4px -1px rgba(0,102,255,.2), 0 4px 5px 0 rgba(0,102,255,.14), 0 1px 10px 0 rgba(0,102,255,.12)
    button
      background: #06f
      box-shadow: 0 3px 10px rgba(0,102,255,.2)
      cursor: pointer
      &:hover
        background: #267dff radial-gradient(circle,transparent 1%,#267dff 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(0,102,255,.2), 0 4px 5px 0 rgba(0,102,255,.14), 0 1px 10px 0 rgba(0,102,255,.12)
.audit__title
  line-height: 56px
  font-size: 40px
  text-align: center
  color: #313135
  margin: 0 auto
  @media (max-width: 640px)
    line-height: 46px
    font-size: 33px
.audit__second
  text-align: center
  padding: 100px 0
  background: white
  @media (max-width: 640px)
    padding: 50px 0 70px 0
.audit__second-content
  margin: 47px 0 0 0
  width: 100%
  min-height: 612px
  display: flex
  align-items: center
  justify-content: space-between
  background-image: url("./img_design/audit__matter-bg.svg")
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  @media (max-width: 1120px)
    flex-direction: column
  @media (max-width: 640px)
    background-size: cover
.audit__second-left
  margin-right: 5%
  width: 45%
  @media (max-width: 1120px)
    width: 100%
    margin: 0 0 40px 0
  .audit__matter
    padding: 60px 47px
    border-left: 2px solid #0ED7A6
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    position: relative
    @media (max-width: 1120px)
      display: flex
      flex-direction: row
    @media (max-width: 640px)
      flex-direction: column
    &:after
      position: absolute
      content: ''
      right: -9px
      top: 45%
      width: 0
      height: 0
      border-style: solid
      border-width: 12px 0 12px 12px
      border-color: transparent transparent transparent #ffffff
      @media (max-width: 1200px)
        display: none
    img
      margin-bottom: 35px
      @media (max-width: 1120px)
        width: 100px
        margin-right: 40px
        margin-bottom: 0
      @media (max-width: 640px)
        margin: 0 0 20px 0
.audit__second-right
  width: 45%
  @media (max-width: 1120px)
    width: 100%
  .audit__matter
    display: flex
    flex-direction: row
    padding: 50px 40px
    position: relative
    @media (max-width: 640px)
      flex-direction: column
    &:after
      position: absolute
      content: ''
      left: -9px
      top: 45%
      width: 0
      height: 0
      border-style: solid
      border-width: 12px 12px 12px 0
      border-color: transparent #ffffff transparent transparent
      @media (max-width: 1120px)
        display: none
    img
      margin-right: 40px
      @media (max-width: 640px)
        margin: 0 0 20px 0
    &:first-of-type
      margin-bottom: 40px
.audit__matter
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  background: white
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  p
    text-align: left
    &.audit__matter-title
      font-weight: 500
      line-height: 30px
      font-size: 20px
      color: #313135
      margin-bottom: 10px
    &.audit__matter-description
      line-height: 24px
      font-size: 16px
      color: #5B5E6D
      margin: 0
      a
        line-height: 24px
        font-size: 16px
.audit__third
  text-align: center
  padding: 100px 0 70px 0
  background: white
  background-image: url("./img_design/cms__bg.svg")
  background-size: contain
  background-position: top center
  background-repeat: no-repeat
  margin-top: -1px
  @media (max-width: 640px)
    background-size: cover
    padding: 50px 0 70px 0
  .audit__title
    color: white
.audit__third-content
  margin-top: 58px
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  @media (max-width: 1120px)
    justify-content: center
.audit__third-cont
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 30px 0
  width: 20%
  @media (max-width: 1120px)
    margin: 0 10px 30px 0
  @media (max-width: 640px)
    width: 45%
.audit__third-block
  background: white
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  width: 170px
  height: 130px
  display: flex
  align-items: center
  justify-content: center
  img
    max-width: 90%
  p
    font-weight: 500
    line-height: 24px
    font-size: 16px
    text-align: center
    color: #313135
    margin: 0 auto
.audit__fourth
  background: white
  padding: 50px 0 70px 0
  &.seo__platform__fourth
    padding-bottom: 30px
  @media (max-width: 640px)
    margin-bottom: 0
    padding-bottom: 30px
.audit__carousel
  margin-top: 50px
  .carousel-indicators
    bottom: 0
    margin: 30px 0 auto 5%
    text-align: left
    align-items: flex-start
    justify-content: flex-start
    position: relative
    @media (max-width: 768px)
      margin: 30px auto
      align-items: center
      justify-content: center
    li
      background-color: #E0EBF1
      width: 9px
      height: 9px
      border-radius: 50px
      &.active
        background: #0ED7A6
  .carousel-control-next, .carousel-control-prev
    width: 20px
    opacity: 1
    cursor: pointer
    .carousel-control-next-icon
      background-image: url("./img_design/audit__carousel-arrow.svg")
      background-size: contain
    .carousel-control-prev-icon
      transform: rotate(180deg)
      background-image: url("./img_design/audit__carousel-arrow.svg")
      background-size: contain
.audit__helps
  display: flex
  justify-content: space-between
  align-items: center
  width: 90%
  margin: 0 auto
  @media (max-width: 768px)
    flex-direction: column
  @media (max-width: 640px)
    width: 80%
.audit__helps-text
  display: flex
  flex-direction: column
  align-items: flex-start
  padding-right: 20px
  width: 40%
  @media (max-width: 768px)
    width: 100%
    padding: 0
    margin-bottom: 50px
.audit__helps-img
  margin-bottom: 24px
.audit__helps-title
  font-weight: 500
  line-height: 30px
  font-size: 20px
  color: #313135
  margin: 0 0 10px 0
.audit__helps-descr
  line-height: 24px
  font-size: 16px
  color: #5B5E6D
  margin: 0
  a
    line-height: 24px
    font-size: 16px
  span
    color: $color-blue
.audit__helps__img
  position: relative
  width: 60%
  height: 435px
  display: flex
  align-items: center
  justify-content: center
  @media (max-width: 1200px)
    height: 350px
  @media (max-width: 768px)
    width: 100%
  @media (max-width: 640px)
    height: auto
  img
    &.audit__helps-img
      position: relative
      width: 90%
      height: auto
      z-index: 10
      border-radius: 5px
      margin-top: 30px
      @media (max-width: 640px)
        width: 100%
.audit__carousel-bg1
  position: absolute
  top: 0
  right: 0
  @media (max-width: 640px)
    display: none
.audit__carousel-bg2
  position: absolute
  bottom: 0
  left: 0
  @media (max-width: 640px)
    display: none
.audit__five
  background: white
  padding: 100px 0
  &.seo__platform-five
    padding: 0 0 60px 0
  @media (max-width: 1120px)
    padding: 0 0 30px 0
.audit__five-container
  width: 80%
  margin: 70px auto 0 auto
  display: flex
  align-items: flex-start
  justify-content: space-between
.audit__five-images
  width: 50%
  @media (max-width: 1120px)
    margin: 0 auto
  @media (max-width: 640px)
    display: none
  img
    display: none
    max-width: 100%
    &:first-of-type
      display: block
.auditLanding-accordion
  margin-right: 100px
  width: 50%
  @media (max-width: 1120px)
    margin: 0 0 40px 0
    width: 100%
  .panel
    position: relative
    &:before
      position: absolute
      content: ''
      top: -1px
      left: -46px
      display: block
      width: 1px
      height: 0
      background: #11C2C2
      z-index: 2
      @media (max-width: 640px)
        left: -26px
    &:after
      position: absolute
      content: ''
      top: -1px
      left: -46px
      display: block
      width: 1px
      height: 100%
      background: #C6F4E9
      z-index: 1
      -webkit-transition: 250ms
      -moz-transition: 250ms
      -o-transition: 250ms
      transition: 250ms
      @media (max-width: 640px)
        left: -26px
    &:last-of-type
      &:after, &:before
        display: none
    &.active
      &:after
        height: 100%
      &:before
        height: 100%
        -webkit-transition: all 5s ease
        -o-transition: all 5s ease
        transition: all 5s ease
      h4
        &:before
          background: linear-gradient(104.94deg, #2DD4AB 0%, #11C2C2 100%)
  h4
    line-height: 21px
    font-size: 14px
    font-weight: normal
    color: #0ED7A6
    margin: 0
    padding: 15px 0
    transition: 0.2s
    cursor: pointer
    position: relative
    &:before
      position: absolute
      content: ''
      top: -1px
      left: -50px
      display: block
      width: 9px
      height: 9px
      border-radius: 50px
      background: #C6F4E9
      z-index: 2
      -webkit-transition: 250ms
      -moz-transition: 250ms
      -o-transition: 250ms
      transition: 250ms
      @media (max-width: 640px)
        left: -30px
    &[aria-expanded=true]
      &:before
        background: linear-gradient(104.94deg, #2DD4AB 0%, #11C2C2 100%)
  .panel-body
    padding-top: 10px
    p
      &.title
        font-weight: 500
        line-height: 30px
        font-size: 20px
        color: #313135
        @media (max-width: 768px)
          margin-bottom: 10px
      &.description
        line-height: 24px
        font-size: 16px
        color: #5B5E6D
        margin: 0
        padding-bottom: 10px
        @media (max-width: 768px)
          line-height: 24px
          font-size: 16px
.front__check
  &.audit__six
    background: linear-gradient(126.23deg, #2DD4AB 0%, #11C2C2 100%)
    position: relative
    &:before
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: url("./img_design/audit__landing-banner.svg")
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
    .wrapper
      position: relative
.audit__seven
  background: white
  padding: 100px 0 130px 0
  @media (max-width: 640px)
    padding: 50px 0 70px
.audit__seven-container
  margin-top: 60px
  display: flex
  justify-content: space-between
  @media (max-width: 1120px)
    flex-wrap: wrap
    flex-direction: column
.audit__hiw
  width: 30%
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  padding: 40px
  display: flex
  flex-direction: column
  @media (max-width: 1120px)
    width: 100%
    margin-bottom: 40px
  img
    margin-bottom: 27px
    margin-right: auto
  p
    &.title
      font-weight: 500
      line-height: 30px
      font-size: 20px
      color: #313135
      margin-bottom: 20px
      a
        font-size: 20px
    &.description
      line-height: 24px
      font-size: 16px
      color: #5B5E6D
      margin: 0
      a
        line-height: 24px
        font-size: 16px
.audit__eight
  padding: 100px 0 50px 0
  background: white
  position: relative
  @media (max-width: 768px)
    padding: 50px 0
  &:before
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("./img_design/audit__diff-bg.svg")
    background-repeat: no-repeat
    background-size: contain
    background-position: top center
    @media (max-width: 640px)
      background-size: cover
  .wrapper
    position: relative
.audit__eight-title
  line-height: 56px
  font-size: 40px
  text-align: center
  color: #FFFFFF
  margin-bottom: 50px
  @media (max-width: 640px)
    line-height: 43px
    font-size: 34px
    margin-bottom: 30px
    br
      display: none
.audit__eight-descript
  line-height: 30px
  font-size: 20px
  text-align: center
  color: #FFFFFF
  margin-bottom: 0
.audit__eight-ill
  display: flex
  justify-content: center
  margin-top: 160px
  @media (max-width: 640px)
    flex-direction: column
    margin-top: 100px
.audit__diff
  width: 50%
  background: white
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  display: flex
  flex-direction: column
  padding: 0 50px 70px 50px
  @media (max-width: 640px)
    width: 100%
    padding: 0 30px 70px 30px
  &:first-of-type
    margin-right: 30px
    @media (max-width: 640px)
      margin: 0 0 140px 0
  img
    margin-bottom: 50px
    margin-top: -80px
    @media (max-width: 640px)
      margin-bottom: 10px
  .title
    font-weight: 500
    line-height: 30px
    font-size: 20px
    color: #313135
    text-align: left
    margin-bottom: 22px
  .description
    font-weight: normal
    line-height: 24px
    font-size: 16px
    color: #5B5E6D
    margin: 0
.audit__nine
  background: white
  padding: 80px 0 100px 0
  @media (max-width: 768px)
    padding-bottom: 30px
.audit__nine-container
  margin-top: 75px
  display: flex
  justify-content: space-between
  @media (max-width: 768px)
    margin-top: 35px
  @media (max-width: 640px)
    flex-direction: column
.audit__stat
  width: 30%
  height: 246px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media (max-width: 640px)
    width: 100%
    height: 145px
  &:first-of-type
    background-image: url("./img_design/audit__stat-bg1.svg")
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
  &:nth-child(2)
    background-image: url("./img_design/audit__stat-bg2.svg")
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
  &:nth-child(3)
    background-image: url("./img_design/audit__stat-bg3.svg")
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
  .number
    font-weight: 300
    line-height: normal
    font-size: 48px
    color: white
    margin-bottom: 7px
    @media (max-width: 768px)
      font-size: 32px
  .description
    font-weight: normal
    line-height: 24px
    font-size: 16px
    color: #F5F5F5
    margin: 0
    @media (max-width: 1120px)
      font-size: 14px
    @media (max-width: 768px)
      font-size: 12px
.audit__ten
  background: white
  padding: 30px 0
.audit__ten-container
  margin-top: 50px
  display: flex
  align-items: center
  justify-content: center
  img
    max-width: 100%
.audit__testimonials
  .front__testimonials-block
    .testimonials
      .comment
        background: linear-gradient(138.17deg, #2DD4AB 0%, #11C2C2 100%)
        &:before
          border-right: 30px solid #00c8bc
          background: #00c8bc
      &:nth-child(2)
        .comment
          background: linear-gradient(138.17deg, #11C2C2 0%, #2DD4AB 100%)
          &:before
            border-right: 0
            border-left: 30px solid #2DD4AB
            background: #2DD4AB
.audit__trusted
  background: white
  padding: 30px 0 100px 0
  @media (max-width: 768px)
    padding-bottom: 30px
.audit__trusted-container
  margin-top: 40px
  display: flex
  justify-content: space-between
  @media (max-width: 768px)
    flex-wrap: wrap
    justify-content: space-around
.audit__trusted-block
  width: 23%
  background: white
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  display: flex
  align-items: flex-start
  padding: 30px 20px
  @media (max-width: 768px)
    width: 48%
    margin-bottom: 20px
  @media (max-width: 350px)
    width: 100%
  img
    margin-right: 19px
  >div
    display: flex
    flex-direction: column
    justify-content: flex-start
  .point
    span
      line-height: 30px
      font-size: 20px
      color: #313135
      &:first-of-type
        font-weight: bold
  a
    line-height: 21px
    font-size: 14px
    word-break: break-word
.audit__eleven
  position: relative
  padding: 100px 0
  margin: 30px 0 0 0
  @media (max-width: 768px)
    padding: 70px 0 100px 0
  &:before
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("./img_design/audit__banner_bg.svg")
    background-size: cover
    background-position: bottom center
    background-repeat: no-repeat
  .wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
.audit__eleven-title
  font-weight: bold
  line-height: normal
  font-size: 36px
  color: white
  margin-bottom: 30px
.audit__eleven-list
  margin: 0 0 43px 0
  padding: 0
  list-style-type: none
  @media (max-width: 1120px)
    margin-bottom: 33px
  li
    display: flex
    align-items: flex-start
    justify-content: flex-start
    line-height: 24px
    font-size: 18px
    color: white
    padding-left: 25px
    margin-bottom: 10px
    position: relative
    &:before
      position: absolute
      content: ''
      display: block
      width: 15px
      height: 15px
      background-image: url(./img_design/checker__list.svg)
      background-size: contain
      background-repeat: no-repeat
      left: 0
      top: 7px
    @media (max-width: 640px)
      margin-bottom: 15px
    img
      margin-right: 11px
      margin-top: 5px
      @media (max-width: 640px)
        width: 15px
.audit__testimonials-container
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: space-between
.audit__eleven-form
  display: flex
  justify-content: center
  width: 100%
  .left
    width: 50%
    position: relative
    @media (max-width: 768px)
      display: none
    img
      position: absolute
      top: -40px
      right: 0
      width: auto
  .right
    width: 50%
    padding-left: 40px
    @media (max-width: 768px)
      width: 100%
      padding-left: 0
    .audit__form
      width: 100%
.audit__testCase
  display: none
  width: 100%

.seo__platform-title
  display: block
  .audit__title-description
    font-weight: 400
    line-height: 23px
    font-size: 16px
    text-align: center
    color: #5b5e6d
    margin: 5px 0 50px 0
    a
      font-size: 16px
      line-height: 23px

.pricing__content
  &.seo__platform
    margin-bottom: 50px
    &:before
      height: 80%
    .levels_block-side
      @media (max-width: 980px)
        width: 33%
      @media (max-width: 640px)
        width: 100%
    p
      &.label
        color: $color-blue
        &.pricing__label-platform
          color: #e91e63
          svg
            margin-right: 5px
            height: 15px
            path
              fill: #e91e63
        &.pricing__label-onpage
          color: #ff8b29

.semscale_btns
  display: flex
  align-items: center
  justify-content: center
  margin: 50px auto 0 auto
  @media (max-width: 640px)
    flex-wrap: wrap
    a
      &:first-of-type
        margin: -40px auto 0 auto
      &:nth-child(2)
        margin: 20px auto 50px auto

.seo_platform-btn
  background: white
  color: #22cebe!important
  box-shadow: 0 3px 1px -2px rgba(34, 206, 190, 0.2), 0 2px 2px 0 rgba(34, 206, 190,.14), 0 1px 5px 0 rgba(34, 206, 190,.12)
  margin: 0
  border: 2px solid transparent
  &.semscale_request
    background: transparent
    border: 2px solid white
    color: white!important
    margin-left: 15px
  &:hover, &:focus
    color: #16c5be!important
    background: white
    transition: background 0.2s
    box-shadow: 0 3px 1px -2px rgba(34, 206, 190, 0.4), 0 2px 2px 0 rgba(34, 206, 190,.2), 0 1px 5px 0 rgba(34, 206, 190,.2)
  &.semscale_logedin_link
    background: #22cebe
    box-shadow: none
    color: white!important
    margin-top: -60px
    margin-bottom: 50px
    &.semscale_request
      border-color: #22cebe
      color: #22cebe!important
      background: white
    &:hover, &:focus
      background: #00b9a9
      color: white!important
      box-shadow: none
      border-color: #00b9a9

.audit_forWhom-container
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 40px 0 100px 0
  @media (max-width: 640px)
    flex-wrap: wrap
.forWhom__block
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  width: 30%
  @media (max-width: 640px)
    width: 100%
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0
  img
    margin-bottom: 40px
    @media (max-width: 640px)
      margin: 0 auto 40px auto
  p
    color: #313135
    font-weight: 500
    font-size: 20px
    line-height: 30px
    margin-bottom: 10px
  ul
    margin: 0
    padding: 0
    list-style-type: none
    li
      position: relative
      padding-left: 20px
      font-size: 16px
      line-height: 24px
      color: #5B5E6D
      margin-bottom: 18px
      &:before
        content: ''
        position: absolute
        display: block
        left: 0
        top: 7px
        width: 9px
        height: 9px
        background: #4080FE
        border-radius: 50px