.owl-carousel.owl-theme
	position: relative
	.item
		display: flex
		align-items: center
		justify-content: center
		height: 400px
		background-position: center center
		background-size: cover
	.owl-nav
		position: absolute
		top: 190px
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		> div
			display: flex
			align-items: center
			justify-content: center
			width: 25px
			height: 25px
			background: rgba(255,255,255,.9)
			margin: 0 20px
			@media (max-width: 768px)
				margin: 0 10px
			@media (max-width: 340px)
				display: none
		.owl-next
			img
				transform: rotate(-90deg)
		.owl-prev
			img
				transform: rotate(90deg)
	.owl-dots
		margin: 0 auto
		text-align: center
		position: absolute
		width: 100%
		bottom: 10px
		.owl-dot
			width: 10px
			height: 10px
			background: rgba(137, 140, 142, 0.36)
			display: inline-block
			margin: 0 7px
			border-radius: 50px
			&.active
				background: rgba(137, 140, 142, 1)

.item_data
	max-width: 550px
	background: rgba(255,255,255,0.9)
	padding: 25px
	text-align: center
	@media (max-width: 768px)
		max-width: 60%

.item_tags
	margin: 0 0 5px 0
	a
		font-size: 11px
		letter-spacing: 0.2px
		color: #757575
		line-height: 16px
		margin: 0 7px
		font-weight: 300
		cursor: pointer
		position: relative
		text-transform: capitalize
		&:hover
			color: black
		&:after
			position: absolute
			content: '/'
			font-size: 10px
			top: -1px
			right: -9px
		&:last-of-type
			&:after
				display: none

.item_title
	font-size: 26px
	line-height: 33px
	color: #111
	margin: 8px
	letter-spacing: 0.3px
	cursor: pointer

.item_content
	font-size: 12px
	color: #757575
	line-height: 18px
	margin: 12px 0 0 0
	font-weight: 200
	letter-spacing: 0.3px

.blog_tags
	margin: 35px 0
	display: flex
	align-items: center
	justify-content: space-between
	@media (max-width: 600px)
		flex-wrap: wrap
		margin: 20px 0

.blog_tags-block
	width: 25%
	height: 130px
	display: flex
	align-items: center
	justify-content: center
	background-position: center center
	background-size: cover
	margin: 0 7px
	cursor: pointer
	position: relative
	&:after
		content: ''
		position: absolute
		display: none
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(255,255,255,.4)
	&:hover
		&:after
			display: block
	&:first-of-type
		margin-left: 0
	&:last-of-type
		margin-right: 0
	@media (max-width: 600px)
		width: 48%
		margin: 5px 0
		height: 95px
		&:first-of-type, &:last-of-type
			margin: 5px 0
	span
		display: flex
		background: rgba(255, 255, 255, 0.9)
		align-items: center
		justify-content: center
		line-height: 22px
		padding: 6px 20px
		max-width: 80%
		font-size: 14px
		letter-spacing: 0.2px
		text-transform: capitalize
		color: #111
		position: relative
		z-index: 5

.blog_container
	display: flex
	justify-content: space-between
	@media (max-width: 600px)
		flex-wrap: wrap

.blog_container-posts
	width: 70%
	@media (max-width: 600px)
		width: 100%
	&.page_content
		width: 100%

.blog_post
	border-bottom: 1px solid #eaeaea
	margin-bottom: 20px
	&:last-of-type
		border: none

.blog_post-img
	display: block
	width: 100%
	height: 300px
	background-position: center center
	background-size: cover
	@media (max-width: 600px)
		height: 150px

.blog_post-tags
	margin: 5px 0
	a
		font-size: 12px
		letter-spacing: 0.2px
		color: $text_color
		line-height: 16px
		margin: 0 7px
		font-weight: 300
		text-transform: capitalize
		cursor: pointer
		position: relative
		&:hover
			color: black
		&:after
			position: absolute
			content: '/'
			font-size: 10px
			top: 0
			right: -9px
		&:first-of-type
			margin-left: 0
		&:last-of-type
			&:after
				display: none

.blog_post-title
	display: block
	font-size: 23px
	color: #111
	line-height: 33px
	&:hover
		color: #111
	&.single_post
		margin-top: 15px

.blog_post-data
	font-size: 12px
	letter-spacing: 0.2px
	color: #757575
	font-weight: 300
	margin: 5px 0 0 0

.blog_post-text
	font-size: 13px
	color: #757575
	line-height: 23px
	font-weight: 300

.blog_post-contant
	word-break: break-word
	margin-top: 20px
	margin-bottom: 30px
	color: #495c6a
	h1
		font-size: 30px
		font-weight: 700
		margin: 0 0 20px 0
		strong
			font-size: 30px
			font-weight: 700
	p
		font-size: 16px
		line-height: 27px
		margin: 10px 0
	b, strong
		font-weight: 700
		font-size: 16px
		line-height: 27px
	ul
		font-size: 16px
		line-height: 27px

.read-more
	display: inline-block
	font-size: 11px
	font-weight: 300
	color: $text_color
	line-height: 16px
	background-color: #eef3fa
	padding: 10px 25px
	cursor: pointer
	margin: 10px 0 20px 0
	letter-spacing: 0.2px
	-webkit-transition: background-color ease-in-out .25s,color ease-in-out .25s
	transition: background-color ease-in-out .25s,color ease-in-out .25s
	&:hover
		background-color: $text_color
		color: #eef3fa
		text-decoration: none

.blog_container-sidebar
	width: 30%
	margin-left: 20px
	@media (max-width: 600px)
		width: 300px
		margin: 0 auto

.sidebar_block
	margin-bottom: 40px

.sidebar_block-title
	font-size: 15px
	color: #111
	line-height: 13px
	margin-bottom: 15px
	margin-top: 0
	font-weight: 400

.sidebar_block-post
	display: flex
	margin-bottom: 10px
	padding-bottom: 10px
	border-bottom: 1px solid #eaeaea
	div
		&:first-of-type
			width: 100px
			height: 66px
			margin-right: 8px
			background-size: cover
			background-position: center center

.sidebar_block-data
	p
		margin: 0
		font-size: 13px
		color: #111
		line-height: 12px
		letter-spacing: 0.2px
	span
		font-size: 10px
		color: #757575
		font-weight: 300
		letter-spacing: 0.2px

.sidebar_tags, .blog_bottom-tags
	display: flex
	flex-wrap: wrap
	a
		font-size: 11px
		color: $text_color
		line-height: 17px
		background-color: #eef3fa
		padding: 5px 12px
		text-transform: capitalize
		margin: 0 4px 8px 0
		display: block
		letter-spacing: 0.2px
		-webkit-transition: background-color ease-in-out .25s,color ease-in-out .25s
		transition: background-color ease-in-out .25s,color ease-in-out .25s
		&:hover
			background-color: $text_color
			color: #eef3fa

.breadcrumbs
	margin-bottom: 20px
	@media (max-width: 600px)
		margin-bottom: 10px
	a
		font-size: 12px
		letter-spacing: .2px
		color: #757575
		font-weight: 300
		margin: 0 10px 0 0
		position: relative
		&:after
			position: absolute
			content: '/'
			font-size: 10px
			top: -1px
			right: -9px
		&:last-of-type
			color: $blue_color
			&:after
				display: none

.page-numbers
	font-size: 11px
	font-weight: 300
	color: $text_color
	line-height: 16px
	background-color: #eef3fa
	padding: 5px 8px
	margin-right: 0
	-webkit-transition: background-color ease-in-out .25s,color ease-in-out .25s
	transition: background-color ease-in-out .25s,color ease-in-out .25s
	&:hover
		background-color: $text_color
		color: #eef3fa
		text-decoration: none
	&.current
		background-color: $text_color
		color: #eef3fa



