.cat__title
  font-weight: 500
  font-size: 20px
  line-height: 33px
  text-transform: uppercase
  text-align: center
  color: rgba(134, 139, 161, 0.7)
  margin: 0 auto 5px auto
  @media (max-width: 640px)
    font-size: 15px
.cat__name
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 30px
  img, svg
    height: 38px
    width: auto
    margin-right: 15px
    path
      fill: $color-blue
    @media (max-width: 640px)
      display: none
  h1
    font-weight: 600
    font-size: 45px
    line-height: normal
    color: #313135
    margin: 0
    @media (max-width: 640px)
      font-size: 33px
.cat__filters
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  background: #FFFFFF
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  margin-bottom: 30px
  padding: 17px 40px
  @media (max-width: 768px)
    flex-wrap: wrap
    justify-content: space-around
  @media (max-width: 640px)
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    padding: 17px 20px
  .search
    width: 320px
    height: 44px
    display: flex
    align-items: center
    justify-content: flex-start
    border: 1px solid #CCCCCC
    border-radius: 90px
    margin-right: 40px
    @media (max-width: 768px)
      display: none
    svg
      width: 14px
      height: 14px
      margin: 0 10px 0 20px
      path
        fill: #666666
    input
      border: none
      height: 100%
      width: 75%
      font-size: 14px
      @include placeholder
        color: #CCCCCC
        font-size: 14px
      &:focus
        outline: 0
        @include placeholder
          color: transparent
  >div
    margin-right: 40px
    display: flex
    flex-direction: row-reverse
    @media (max-width: 640px)
      margin: 0 0 10px 0
      &:last-of-type
        margin-bottom: 0
    label
      margin: 0
      cursor: pointer
      display: flex
      align-items: center
      color: #666666
    i
      border: 1px solid #CCCCCC
      width: 20px
      height: 20px
      display: inline-block
      border-radius: 5px
      cursor: pointer
      color: #fff
      text-align: center
      margin-right: 12px
      &:before
        content: '\f00c'
        color: transparent
        line-height: 16px
        font-size: 9px
    input
      display: none
      &:checked + i
        border-color: $color-blue__hover
        &:before
          color: $color-blue__hover
    &:last-of-type
      margin-right: 0

.cat__container
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 20px
  @media (max-width: 768px)
    flex-wrap: wrap
.cat__result
  width: 70%
  @media (max-width: 768px)
    width: 100%
.cat__list
  width: 30%
  margin-left: 25px
  background: #FFFFFF
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  display: flex
  flex-direction: column
  @media (max-width: 768px)
    display: none
  .title
    font-weight: 500
    font-size: 18px
    line-height: 33px
    color: #5B5E6D
    padding: 15px 30px
    border-bottom: 1px solid #CCCCCC
    margin: 0
  ul
    margin: 0
    padding: 20px 30px
    list-style-type: none
    li
      margin-bottom: 8px
      &:last-of-type
        margin-bottom: 0
      a
        font-weight: 500
        font-size: 15px
        line-height: 26px

.cat__prev
  display: flex
  align-items: center
  justify-content: flex-start
  background: #FFFFFF
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  height: 160px
  margin-bottom: 20px
  @media (max-width: 640px)
    height: auto
  .image
    display: flex
    align-items: center
    justify-content: center
    min-width: 250px
    min-height: 160px
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    @media (max-width: 1170px)
      min-width: 200px
    @media (max-width: 640px)
      display: none
  .content
    height: 100%
    width: 100%
    padding: 24px 30px 20px 30px
    display: flex
    flex-direction: column
    justify-content: space-between
    .title
      font-weight: 600
      font-size: 20px
      line-height: 30px
      color: #313135
      cursor: pointer
      transition: 0.2s
      @media (max-width: 640px)
        margin-bottom: 15px
        font-size: 18px
        line-height: 25px
      &:hover
        color: $color-blue__hover
    .data
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      width: 100%
    .article__info
      margin: 0
      >div
        margin-right: 20px
        &:last-of-type
          margin-right: 0
        span
          color: rgba(134, 139, 161, 0.7)
          font-weight: 300
          font-size: 11px
        svg
          margin-right: 8px
          height: 14px
          opacity: 0.7
          path
            fill: rgba(134, 139, 161, 0.7)
      .post__ratings
        display: none!important

.pagination
  .page-numbers
    margin: 0 7px