.membership_billing
  display: flex
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
  width: 700px
  margin: 0 auto
  padding: 30px
  @media (max-width: 580px)
    width: 100%
    flex-wrap: wrap

.billing_info
  padding-right: 26px
  border-right: 1px solid #b4c8e2
  width: 280px
  display: flex
  flex-direction: column
  justify-content: space-between
  @media (max-width: 580px)
    width: 100%
    border: none
    border-bottom: 1px solid #b4c8e2
    padding: 0

.billing_information-text
  @media (max-width: 580px)
    padding: 40px 0 20px 0

.billing-user
  font-size: 14px
  letter-spacing: 0.2px
  line-height: 20px
  margin-top: 12px
  color: #495c6a
  strong
    color: #0286bf

.billing_payment
  padding-left: 26px
  width: 346px
  @media (max-width: 580px)
    width: 100%
    padding: 20px 0

.billing-name
  font-size: 20px
  font-weight: 500
  color: #495c6a
  margin-bottom: 5px
  letter-spacing: 0.2px

.billing-login
  font-size: 12px
  margin-top: 5px
  margin-bottom: 15px
  letter-spacing: 0.2px
  a
    cursor: pointer

form.pmpro_form .pmpro_checkout-fields div
  margin: 0!important
  &.payment-text
    margin-top: 13px!important
    margin-bottom: 15px!important
  &.pmpro_level_cost
    margin-top: 20px!important
    margin-bottom: 15px!important
  &#pmpro_payment_method
    margin-bottom: 33px!important
  &.pmpro_checkout-field-checkbox
    margin-top: 3px!important

form.pmpro_form label
  font-weight: 400!important

.pmpro_checkout-field
  input
    border: solid 1px rgba(0, 0, 0, 0.1)
    font-size: 14px
    color: #495c6a!important
    padding: 15px
    height: 46px
    width: 100%!important
    max-width: 100%!important
    margin-bottom: 15px
    &:focus
      outline: 0
      @include placeholder
        color: transparent

.billing_information-text
   p
     font-size: 16px
     font-weight: 300
     color: #898c8e
     line-height: 1.56
     margin-bottom: 15px

.billing_information
  display: flex
  justify-content: space-between
  margin-bottom: 15px
  p
    font-size: 18px
    font-weight: bold
    line-height: 1.33
    margin: 0
    color: #495c6a
  img
    width: 70px
    height: 76px

.billing_payment-title
  font-size: 18px
  font-weight: 400
  color: #495c6a
  margin-bottom: 16px

.payment-name
  display: flex
  justify-content: space-between
  div
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 98px
    height: 108px
    background-color: #ffffff
    cursor: pointer
    padding-bottom: 10px
    transition: 0.2s
    span
      font-size: 13px
      font-weight: 500
      color: #495c6a
      letter-spacing: 0.2px
    &:hover
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2)
    &:first-of-type
      padding-top: 30px
      img
        width: 39px
        height: 24px
    &:nth-child(2)
      padding-top: 20px
      img
        width: 41px
        height: 37px
    &:last-of-type
      padding-top: 20px
      img
        width: 40px
        height: 42px

.payment-text
  border: solid 1px rgba(0, 0, 0, 0.1)
  padding: 22px 20px
  position: relative
  width: 100%
  p
    font-size: 18px
    font-weight: 300
    line-height: 1.22
    color: #495c6a
    margin-bottom: 8px
    &:last-of-type
      margin-bottom: 0
    span
      font-weight: 500
      color: #0286bf
  &::before, &::after
    content: ''
    display: block
    position: absolute
    width: 0
    height: 0
    border-style: solid
  &:after
    top: -10px
    border-color: transparent transparent #ffffff transparent
    border-width: 5px
    left: 45px
  &:before
    top: -12px
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent
    border-width: 6px
    left: 44px
  &.secondLevel, &.fiveLevel
    &::before
      left: 161px
    &:after
      left: 162px
  &.thirdLevel, &.sixLevel
    &::before
      left: 280px
    &::after
      left: 281px

.discount_code
  display: flex
  justify-content: space-between
  border: solid 1px rgba(0, 0, 0, 0.1)
  width: 100%
  input
    &[type=text]
      max-width: none!important
      width: 60%
      border: none
      height: 46px
      color: #495c6a
      padding-left: 10px
      &:focus
        outline: 0
    &[type=button]
      background: none
      border: none
      font-size: 14px
      font-weight: 500
      color: #495c6a
      cursor: pointer
      height: 46px
      padding-right: 22px
      transition: 0.2s
      letter-spacing: 0.2px
      &:hover
        color: #0286bf
      &:focus
        outline: 0

.pmpro_level_cost
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center

.level_cost
  p
    letter-spacing: 0.2px
    &:first-of-type
      font-size: 32px
      color: #495c6a
      margin-bottom: 7px
    &:nth-child(2)
      margin-bottom: 0
      font-size: 12px
      color: #898c8e

.level_cost-price
  margin: 0
  font-size: 32px
  height: 32px
  color: #495c6a
  letter-spacing: 0.2px

form.pmpro_form .pmpro_submit
  margin-top: 0!important

.pmpro_btn.pmpro_btn-submit-checkout, #pmpro_submit_span .pmpro_btn-submit-checkout
  width: 160px!important
  border-radius: 2px
  border: 0
  background-color: #4386fc
  margin: 0 auto
  font-size: 16px
  font-weight: 500
  color: white
  display: block
  transition: 0.2s
  letter-spacing: 0.3px
  padding: 14px 0
  &.choosed
    opacity: 0.5
    pointer-events: none
  &:focus
    outline: 0
    color: #ffffff!important
  &:hover
    color: #ffffff!important
    background: #2c72f2
    border: 0

.pmpro_message
  width: 700px
  margin: 0 auto 20px auto!important
  border-radius: 0!important
  border: none!important

.discount-price
  margin: 10px 0
  letter-spacing: 0.2px
  font-size: 13px
  color: #898c8e

.pmpro_checkout-fields
  width: 100%