.checker__landing
  .audit__first
    background-image: url("./img_design/checker__landing_bg.svg")
    background-size: cover
    background-repeat: no-repeat
    &:before
      display: none
  .audit__title
    font-size: 36px
    line-height: 51px

.checker__form
  button
    background: #FF7D2F
    box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2)
    &:hover
      background: #ff8c4c radial-gradient(circle,transparent 1%,#ff8c4c 1%) center/15000%
      box-shadow: 0 2px 4px -1px rgba(255, 140, 76, 0.2), 0 4px 5px 0 rgba(255, 140, 76, 0.2), 0 1px 10px 0 rgba(255, 140, 76, 0.2)
  &.active
    box-shadow: 0 2px 4px -1px rgba(255, 140, 76, 0.2), 0 4px 5px 0 rgba(255, 140, 76, 0.2), 0 1px 10px 0 rgba(255, 140, 76, 0.2)

.checker__second
  padding: 73px 0 50px 0
.checker__second-content
  background-image: none
.checker__second-left
  position: relative
  margin-right: 0
  &:after
    content: ''
    display: block
    position: absolute
    top: 13%
    right: -50%
    width: 50%
    height: 1px
    border: 1px dashed #E5E5E5
    @media (max-width: 1120px)
      display: none
  &:before
    content: ''
    display: block
    position: absolute
    bottom: 10%
    left: 100%
    width: 50%
    height: 1px
    border: 1px dashed #E5E5E5
    @media (max-width: 1120px)
      display: none
  .audit__matter
    border: none
    border-radius: 5px
    align-items: center
    padding: 80px 47px
    @media (max-width: 1120px)
      padding: 50px 40px
    &:after
      display: none
    p
      text-align: center
      @media (max-width: 1120px)
        text-align: left
    img
      @media (max-width: 640px)
        width: auto

.checker__second-right
  width: 48%
  @media (max-width: 1120px)
    width: 100%
  .audit__matter
    &:after
      display: none
    img
      @media (max-width: 1120px)
        width: 100px
      @media (max-width: 640px)
        margin: 0 auto 20px auto

.checker__third
  background-image: none
  background: linear-gradient(125.73deg, rgba(255, 138, 0, 0.8) 0%, rgba(255, 87, 31, 0.8) 100%)
  padding: 83px 0

.checker__carousel
  .audit__helps-title
    font-size: 20px
    line-height: 30px
  .audit__helps-descr
    font-size: 16px
    line-height: 24px
  .audit__helps__img
    img
      &.audit__helps-img
        width: 100%
  .carousel-indicators
    li
      &.active
        background: #FF7D2F
  .carousel-control-next, .carousel-control-prev
    .carousel-control-prev-icon, .carousel-control-next-icon
      background-image: url(./img_design/checker__carousel-arrow.svg)
      background-size: contain

.check__six
  height: 433px
  background: linear-gradient(180deg, #FF9D35 0%, #FF8147 100%)
  @media (max-width: 640px)
    height: 330px

.checkerLanding-accordion
  .panel
    &:before
      background: #FF7D2F
    &:after
      background: #ffc484
    &.active
      h4
        color: #FF7D2F
        &:before
          background: #FF7D2F
  h4
    color: #ffc484
    &[aria-expanded=true]
      color: #FF7D2F
      &:before
        background: #FF7D2F
    &:before
      background: #ffc484

.check__five
  padding: 0 0 100px 0
  @media (max-width: 640px)
    padding-bottom: 10px

.checker__fourth
  padding: 70px 0
  @media (max-width: 640px)
    padding-bottom: 0

.checker__two
  padding: 20px 0 70px 0

.checker__eleven
  margin: 0
  padding: 80px 0 170px 0
  background-image: url("./img_design/checker__convert__bg.svg")
  background-position: bottom center
  background-repeat: no-repeat
  @media (max-width: 768px)
    padding: 40px 0 100px 0
  &:before
    display: none
  .article__seo-search
    width: 100%
  .audit__eleven-title
    font-size: 36px
  .audit__eleven-list
    li
      position: relative
      padding-left: 25px
      line-height: 24px
      font-size: 18px
      margin-bottom: 15px
      &:before
        position: absolute
        content: ''
        display: block
        width: 15px
        height: 15px
        background-image: url("./img_design/checker__list.svg")
        background-size: contain
        background-repeat: no-repeat
        left: 0
        top: 7px
  .audit__eleven-form
    .left
      img
        position: relative
        top: 0
        height: auto
        width: 98%
        margin-top: -40px

.checker__eight
  padding: 50px 0 30px 0
  &:before
    display: none
  .audit__eight-title, .audit__eight-descript
    color: #313135
  .audit__diff
    width: 40%
    @media (max-width: 768px)
      width: 50%
    @media (max-width: 640px)
      width: 100%
      &:first-of-type
        margin-top: 30px

.checker__nine
  padding: 40px 0 100px 0
  @media (max-width: 768px)
    padding-bottom: 80px
  .audit__nine-container
    margin-top: 35px
  .audit__stat
    background: none
    height: auto
    @media (max-width: 640px)
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
    .number
      color: #FF7D2F
      font-weight: 500
      @media (max-width: 640px)
        font-size: 48px
    .description
      color: #313135
      @media (max-width: 640px)
        font-size: 14px