.contacts__main
  overflow: hidden
.contacts__title
  margin: 90px auto 29px auto
  font-weight: 600
  line-height: normal
  font-size: 45px
  text-align: center
  color: #313135
  @media (max-width: 640px)
    margin-top: 50px
.contacts__description
  font-weight: normal
  line-height: 27px
  font-size: 18px
  text-align: center
  color: #000000
  margin: 0 auto 60px auto
  width: 450px
  @media (max-width: 768px)
    width: 100%
    padding: 0 10px
.contacts__form
  position: relative
  background: #FFFFFF
  box-shadow: 0 2px 5px rgba(94, 86, 86, 0.15)
  border-radius: 6px
  padding: 40px 62px 60px 62px
  display: flex
  flex-direction: column
  width: 570px
  margin: 0 auto 100px auto
  @media (max-width: 900px)
    width: 450px
    padding: 40px 42px 60px 42px
  @media (max-width: 640px)
    width: 100%
    padding: 30px
  &:before
    content: ''
    position: absolute
    left: -135px
    bottom: -5px
    width: 168px
    height: 397px
    background-image: url("./img_design/contact__man.svg")
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    z-index: 10
    @media (max-width: 640px)
      display: none
  &:after
    content: ''
    position: absolute
    right: -185px
    bottom: -30px
    width: 318.12px
    height: 300.65px
    background-image: url("./img_design/contact__girl.svg")
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    z-index: 10
    @media (max-width: 900px)
      height: 250px
    @media (max-width: 640px)
      display: none
  input, textarea
    width: 100%
    background: none
    padding: 10px 0
    border: none
    border-bottom: 2px solid #E6E6E6
    font-weight: 500
    line-height: 18px
    font-size: 12px
    color: #666666
    margin-bottom: 35px
    resize: none
    @include placeholder
      font-size: 12px
      color: #666666
      font-weight: 500
    &:focus
      background: none
      outline: 0
      box-shadow: none
      @include placeholder
        color: transparent
  textarea
    height: 130px
  .btn
    margin: 0 auto
    width: 100%
    height: 60px
    display: flex
    align-items: center
    justify-content: center
    .loading
      display: none
      height: 100%
      width: auto
.contacts__faq
  margin: 120px auto
  text-align: center
  @media (max-width: 640px)
    margin: 70px auto
  .title
    line-height: 56px
    font-size: 40px
    text-align: center
    color: #313135
    margin-bottom: 12px
    @media (max-width: 640px)
      font-size: 30px
      line-height: 40px
  .description
    line-height: 30px
    font-size: 20px
    text-align: center
    color: #5B5E6D
    margin-bottom: 30px
    @media (max-width: 640px)
      font-size: 15px
      line-height: 24px
      margin-bottom: 25px
      padding: 0 10px
.contacts__form-input
  position: relative
  &.error
    input
      border-bottom-color: $color-error
    p
      opacity: 1
  p
    opacity: 0
    margin: 0
    position: absolute
    bottom: 15px
    left: 0
    font-size: 12px
    color: $color-error
    transition: 0.2s