.cong__page
  padding: 60px 0 80px 0
  .wrapper
    display: flex
    flex-direction: column
    align-items: center
.cong_title
  font-weight: 900
  font-size: 65px
  margin: 10px 0 0 0
  color: #3691FF
  @media (max-width: 640px)
    font-size: 40px
.cong_desc
  font-size: 30px
  color: #666666
  margin-bottom: 60px
  @media (max-width: 640px)
    font-size: 18px
.cong_contatiner
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: space-between
  @media (max-width: 950px)
    justify-content: space-around
.cong_block
  width: 32%
  background: #FFFFFF
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  padding: 50px 40px
  display: flex
  flex-direction: column
  justify-content: left
  align-items: flex-start
  @media (max-width: 950px)
    width: 48%
    margin-bottom: 20px
  @media (max-width: 640px)
    width: 100%
  .title
    font-weight: 500
    font-size: 20px
    line-height: 30px
    color: #313135
    margin-bottom: 10px
  .description
    font-size: 16px
    line-height: 24px
    color: #5B5E6D
    margin-bottom: 20px
  .btn
    margin: 0
    padding: 16px 30px