.consulting_form
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 55
	display: none
	align-items: baseline
	justify-content: center
	padding-top: 5%
	background-color: rgba(73,92,106,.9)

.consulting_form-block
	display: none
	position: relative
	width: 640px
	background-color: #495c6a
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)

.consulting-close
	position: absolute
	top: 23px
	right: 30px
	display: flex
	align-items: center
	justify-content: center
	padding: 3px
	background: #eef3fa
	width: 25px
	height: 25px
	cursor: pointer
	img
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		transition: transform .25s linear
		-webkit-transition: -webkit-transform .25s linear
	&:hover
		img
			-webkit-transform: rotate(180deg)
			-ms-transform: rotate(180deg)
			-webkit-transform: rotate(180deg)
			-moz-transform: rotate(180deg)
			-o-transform: rotate(180deg)
			transform: rotate(180deg)

.consulting-header
	display: flex
	align-items: center
	height: 110px
	background-color: #ffffff
	padding: 0 0 0 12px
	div
		display: flex
		flex-direction: column
		align-items: center
		width: 194px
		span
			&:first-of-type
				width: 34px
				height: 34px
				background-color: #ffffff
				border: solid 2px #506270
				border-radius: 50px
				display: flex
				align-items: center
				justify-content: center
				font-size: 15px
				font-weight: 500
				color: #506270
				position: relative
				cursor: pointer
				&:after
					position: absolute
					right: -162px
					top: 15px
					content: ''
					display: block
					width: 160px
					height: 1px
					background-color: #eef3fa
			&:nth-child(2)
				font-size: 12px
				color: #495c6a
				padding-top: 12px
		&:last-of-type
			span
				&:first-of-type
					&:after
						display: none
		&.active
			span
				&:first-of-type
					background-color: #0286bf
					color: #ffffff

.consulting-flex
	padding: 40px 92px 50px 92px
	display: flex
	height: 290px

.consulting-step
	width: 456px
	position: absolute
	p
		margin: 0
		&.title
			font-size: 24px
			font-weight: bold
			text-align: center
			color: #ffffff
			margin: 0 auto 25px auto
			letter-spacing: 0.3px
	input
		height: 50px
		background-color: #ffffff
		width: 456px
		color: #495c6a
		padding: 15px
		border: none
		font-size: 16px
		font-weight: 500
		border-radius: 0
		&:focus
			outline: 0
			@include placeholder
				color: transparent
	button
		background-color: #0286bf
		color: white
		border: none
		padding: 16px 49px
		font-size: 20px
		font-weight: 500
		letter-spacing: 0.3px
		border-radius: 0
		transition: 0.3s
		margin: 0 auto
		display: block
		&:hover
			background: rgba(2, 134, 191, 0.70)
		&:focus
			outline: 0

.consulting-first
	margin-right: 10px
	button
		margin-top: 45px

.consulting-first_error
	display: flex
	align-items: center
	justify-content: space-between
	position: absolute
	bottom: 80px

.consulting-first_website
	display: none
	font-size: 15px
	letter-spacing: .3px
	text-align: left
	color: white
	font-weight: 300

.required
	display: block
	font-size: 15px
	letter-spacing: 0.3px
	text-align: left
	color: #ffffff
	font-weight: 300

.consulting-second
	display: none
	.wpcf7-list-item
		color: white
		display: flex
		position: relative
		input
			width: 100%
			height: 20px
			position: relative
			margin: 0 0 15px 0
			z-index: 9
			cursor: pointer
			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 18px
				height: 18px
				display: block
				background: #ffffff
				border-radius: 50px
			&:before
				content: ''
				position: absolute
				top: 4px
				left: 4px
				width: 10px
				height: 10px
				display: block
				background: #ffffff
				border-radius: 50px
				z-index: 10
			&:checked
				&:before
					background: #0286bf
		.wpcf7-list-item-label
			position: absolute
			top: -4px
			left: 30px
			font-size: 18px
			color: #ffffff
			letter-spacing: 0.3px
	.wpcf7-form-control.wpcf7-radio
		display: block
		margin-bottom: 20px
	.bootstrap-select.btn-group:not(.input-group-btn)
		float: none
		display: block
	.btn-group > .btn:first-child
		display: block
		background: white
		width: 456px
		margin: 0 0 42px 0
		padding: 15px
		position: relative
		&:after
			position: absolute
			top: 15px
			right: 15px
			display: block
			content: url(img/arrow_down.svg)
	.bootstrap-select.btn-group .dropdown-toggle .filter-option
		font-size: 16px
	.bootstrap-select.btn-group .dropdown-menu li, .bootstrap-select.btn-group .dropdown-menu li a
		&:focus
			outline: 0
	.dropdown-menu>li>a
		font-size: 16px
		padding: 15px
	.consulting-second_error
		display: none
		font-size: 15px
		letter-spacing: .3px
		text-align: right
		color: white
		font-weight: 300
		margin: 0
		position: absolute
		bottom: 72px
		left: 0
	.bootstrap-select.btn-group .dropdown-menu
		margin: 0

.consulting-back
	display: block
	margin: 15px auto 0 auto
	color: white
	font-size: 15px
	text-align: center
	letter-spacing: 0.4px
	font-weight: 300
	cursor: pointer
	transition: 0.2s
	&:hover
		color: #85daff


.consulting-third
	display: none
	input
		margin-bottom: 15px
		&[type='submit']
			background-color: #0286bf
			color: white
			letter-spacing: 0.2px
			font-size: 18px
			font-weight: 500
			line-height: 0
			width: auto
			padding: 16px 49px
			margin: 15px auto 0 auto
			display: block
			transition: 0.3s
			&:hover
				background: rgba(2, 134, 191, 0.70)
			&:focus
				outline: 0
	.ajax-loader
		display: none!important

.consulting-third_errors
	font-size: 15px
	letter-spacing: .3px
	text-align: left
	color: white
	margin: -15px 0 10px 0
	font-weight: 300
	display: none





