.contact_us
	background: $bg_color
	padding-top: 50px
	padding-bottom: 71px
	h1
		font-size: 30px
		font-weight: 500
		text-align: center
		color: #495c6a
		margin-bottom: 30px
.contact_us-footer
	.footer
		background: linear-gradient(to right,#ffffff 0,#ffffff 50%,#495c6a 50%,#495c6a 100%)
		.footer_menu
			background: #ffffff
	.footer.footer_bottom
		.footer_menu
			@media (max-width: 460px)
				background: #495c6a

.contact_wrapper
	display: flex
	justify-content: center
	@media (max-width: 800px)
		flex-wrap: wrap

.contact_wrapper-about
	width: 260px
	padding: 20px
	position: relative
	margin-right: -1px
	background-color: #495c6a
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	@media (max-width: 800px)
		width: 490px
		margin: 0
	@media (max-width: 670px)
		width: 300px
		img
			width: 90px
	p
		font-size: 16px
		font-weight: 300
		line-height: 1.75
		text-align: center
		color: #ffffff
		margin: 21px 0 0 0

.contact_wrapper-form
	min-width: 480px
	padding: 30px 35px
	background-color: #ffffff
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	@media (max-width: 670px)
		min-width: auto
		width: 300px
		padding: 20px 25px
	form
		min-width: 420px
		max-width: 420px
		position: relative
		z-index: 0
		@media (max-width: 670px)
			min-width: auto
		input, textarea
			height: 44px
			width: 100%
			max-width: 420px
			border: none
			background: #eef3fa
			color: #495c6a
			font-size: 14px
			margin-bottom: 15px
			padding: 15px
			border-radius: 0
			&:focus
				outline: none
				@include placeholder
					color: transparent
			@media (max-width: 670px)
				max-width: auto
		fieldset
			position: relative
			label
				position: absolute
				top: 10px
				left: 15px
				color: transparent
				font-size: 14px
				font-weight: 300
				letter-spacing: 0.2px
				transform: translate3d(0, 0, 0)
				transition: all 0.2s ease-in-out
			input
				position: relative
				z-index: 9
				&:focus
					padding-top: 18px
				&[type="submit"]
					text-align: center
		textarea
			padding-top: 15px
			margin-bottom: 0
			resize: none
			height: 140px
			z-index: 9
		.message-label
			top: 35px
		input[type="submit"]
			width: 176px
			height: 52px
			background-color: #0286bf
			display: block
			align-items: center
			text-align: center
			justify-content: center
			font-size: 16px
			font-weight: 300
			letter-spacing: 0.2px
			color: #ffffff
			border: none
			margin: 25px auto 0 auto
			transition: 0.2s
			padding: 0
			&:hover
				background: rgba(2, 134, 191, 0.70)
			&:focus
				outline: none
				padding: 0

.contact-form_title
	font-size: 28px
	line-height: 30px
	font-weight: 500
	color: #495c6a
	text-align: center
	margin: 0 0 20px 0

.contact_wrapper-map
	background-color: #ffffff
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	padding: 30px 35px
	width: 100%
	@media (max-width: 800px)
		width: 55%
	@media (max-width: 670px)
		width: 100%

.map_block-info
	display: flex
	@media (max-width: 670px)
		flex-wrap: wrap
	div
		&:first-of-type
			margin-right: 50px
		@media (max-width: 670px)
			margin-right: 0
	p
		line-height: 24px
		&:first-of-type
			font-size: 26px
			font-weight: 300
			color: #495c6a
			margin: 0 0 5px 0
			@media (max-width: 800px)
				font-size: 22px
		&:nth-child(2)
			font-size: 20px
			color: #495c6a
			@media (max-width: 800px)
				font-size: 17px
				line-height: 20px
			@media (max-width: 670px)
				margin-bottom: 25px
	a
		line-height: 24px
		cursor: pointer
		font-size: 20px
		display: block
		margin-bottom: 5px
		@media (max-width: 800px)
			font-size: 17px
			line-height: 20px
		&:nth-child(2)
			color: #0286bf
		&:nth-child(3)
			color: #495c6a
			margin-bottom: 25px
			@media (max-width: 670px)
				margin-bottom: 15px

iframe
	@media (max-width: 800px)
		width: 100%

.wp_crm_error_messages 
	margin-top: -10px
	margin-bottom: 10px
	letter-spacing: 0.2px
	color: #FF9800
	font-size: 14px
	display: flex

.popup_order
	.wp_crm_error_messages 
		margin-top: -10px

.wp_crm_response_text.failure
	color: #FF9800
	line-height: 18px
	font-size: 14px

ul.wp_crm_contact_form input.regular-text.wp_crm_input_error
	border: 1px solid #FFC107!important

.wp_crm_contact_form .wp_crm_form_responses
	display: none!important

.contact__form-error
	margin: -10px 0 10px 0
	font-size: 12px
	color: #FFC107
	letter-spacing: 0.2px





