$color_1: #0286bf
$color_2: transparent
$color_3: #fff
$color_4: #036f9d
$color_5: #f24c27
$color_6: #ff4122
$color_7: #495c6a
$color_8: #64ca18
$color_9: #9e9e9e
$color_10: #f46140
$color_11: #0286c1
$color_12: #36467d
$background_color_1: #b4c8e2

.crawlerData
	display: none

.crawler_bg
	background: #eef3fa
	padding: 40px 0
	margin-bottom: 40px
	p
		margin: 0
		font-size: 20px
		font-weight: 300

.crawler_data
	padding-bottom: 80px
	min-height: 94vh
	margin-top: 30px
	background: #eef3fa
	@media(max-width: 1285px)
		padding-left: 20px

.crawler_data-info
	width: 100%
	color: $color_1
	p
		margin: 0
		letter-spacing: .2px
		font-size: 15px
		font-weight: 300
		color: #495c6a
		span
			font-weight: 500
	.home_first
		height: 80vh
		form
			width: 100%
		.home_first-search
			input
				&[type=submit]
					width: 15%
					min-width: 180px
					background: #0286bf
					color: #fff
					border: none
					border-radius: 0
					font-size: 16px
					font-weight: 700
					letter-spacing: .3px
					height: 100%
					transition: .2s
		p
			margin: 0
			font-size: 24px
			color: #495c6a
			font-weight: 300
			text-align: center
			line-height: 28px


.crawler_data-search
	max-width: 100%
	width: 450px
	margin: 0
	display: flex
	align-items: flex-end
	justify-content: center
	height: 48px
	input[type=text]
		width: 90%
		height: 100%
		background: #fff
		color: $color_1
		border: 1px solid #b4c9e2
		border-right: 0
		border-bottom-left-radius: 2px
		border-top-left-radius: 2px
		padding: 0 20px
		font-size: 15px
		font-weight: 100
		letter-spacing: .2px
		margin: 0
		&:focus
			outline: 0
			&::-webkit-input-placeholder
				color: $color_2

			&:-moz-placeholder
				color: $color_2

			&::-moz-placeholder
				color: $color_2

			&:-ms-input-placeholder
				color: $color_2
	&.no_valid
		position: relative
		&:after
			position: absolute
			top: -20px
			content: 'Must be a valid URL with http:// or https://'
			color: #F44336
			left: 0
			font-size: 11px
		input[type=text]
			background: rgba(244, 67, 54, 0.3)
			border-color: rgba(244, 67, 54, 0.26)
	input[type=button], input[type=submit], button
		width: 15%
		min-width: 140px
		background: #0286bf
		color: $color_3
		border: 1px solid #0286bf
		border-left: 0
		border-radius: 0
		font-size: 16px
		font-weight: 300
		letter-spacing: .3px
		height: 100%
		transition: .2s
		.fa
			display: none
			font-size: 14px
			margin-left: 7px
		&:hover
			background: #036f9d
		&:focus
			outline: 0
		&:disabled
			background: rgba(2, 134, 191, 0.6)
			border: 1px solid rgba(2, 134, 191, 0)
			border-left: 0


.crawler_data-table
	margin: 0
	table
		background: white
		box-shadow: 0 0 7px rgba(0,48,40,.05)
		border-radius: 2px
		border-collapse: inherit
		font-size: 14px

.table-bordered
	border: none
	border-collapse: collapse

.crawler_data-urls
	width: 575px
	margin: 20px 0
	display: none
	th
		border: 1px solid #b4c8e2
		padding: 11px 0
		background: #f2f7fb
		font-weight: 500
		letter-spacing: .2px
		text-align: center
		border-bottom: 0
		&:first-of-type
			text-align: left
			padding-left: 20px
	td
		border: 1px solid #b4c8e2
		padding: 8px 0
		text-align: center
		&:first-of-type
			text-align: left
			padding-left: 20px
		.fa
			padding-right: 5px
			&.fa-lock
				color: #21ba45
			&.fa-unlock-alt
				color: #f44034
		.crawl
			background: #21ba45
			display: block
			color: #fff
			font-weight: 300
			padding: 4px 0
			font-size: 11px
			width: 78px
			margin: 0 auto
			border-radius: 50px
			letter-spacing: 0.2px
		.non-crawl
			background: #ff9800
			display: block
			color: #fff
			font-weight: 300
			padding: 4px 0
			font-size: 11px
			width: 78px
			margin: 0 auto
			border-radius: 50px
			letter-spacing: 0.2px
			&.red
				background: #f44034
				width: 85px
		input[type=submit], input[type=button]
			width: 144px
			background: #22ba44
			color: #fff
			border-radius: 0
			font-size: 14px
			font-weight: 300
			letter-spacing: .3px
			transition: .2s
			border: none
			height: 33px
			&:hover
				background: #0ead32
			&:focus
				outline: none
			&:disabled
				background: rgba(34, 186, 68, 0.57)


.external-link
	display: none
	img
		width: 12px
		margin-left: 6px
		margin-top: -9px


.table-bordered
	>thead
		>tr
			&.list_header
				>td
					border: none
					padding: 11px 0
					text-align: left
					background: #f9f9f9
					font-weight: 400
					letter-spacing: .2px
					color: #36467D
					.tooltip
						font-size: 11px
						line-height: 14px
						color: #485b69
						z-index: -1
						-webkit-transform: scale(0.9)
						transform: scale(0.9)
						opacity: 0
						height: 0
						-webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
						transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
					span
						position: relative
						&:hover
							.tooltip
								-webkit-transform: scale(1)
								transform: scale(1)
								z-index: 11
								opacity: 1
								width: 200px
								bottom: 23px
								left: 0
								height: auto
								background: #ffffff
								box-shadow: 0 0 7px rgba(0,48,40,.05)
								padding: 10px
								border-radius: 2px
								&::after
									content: ""
									position: absolute
									left: 20px
									bottom: -5px
									width: 0
									height: 0
									border-left: 8px solid transparent
									border-right: 8px solid transparent
									border-top: 8px solid white
					button
						padding: 0
						background: none
						font-weight: 100
						border: none
						color: #b9b9b9
						font-size: 12px
						margin-top: -7px
						margin-left: -1px
						&:focus
							outline: 0
							box-shadow: none
						&:hover
							.fa-info-circle
								color: #495c6a
					.tooltip_gray + .tooltip
						margin-top: 0
					&:last-of-type
						border-top-right-radius: 2px
					&:first-of-type
						text-align: left
						padding-left: 20px
						border-top-left-radius: 2px
					&:nth-child(2)
						text-align: center
						padding: 11px 0
			&.domain_statistic
				.recrawl_btn
					font-size: 11px
				.audit_btn
					img
						width: 11px
						margin-right: 4px
				.changes_btn
					font-size: 11px
					min-width: 105px
					img
						margin-right: 4px
						width: 10px
					&.unchecked
						background: #f9f9f9
						color: #a7a6a7
				&:nth-of-type(odd)
					background: #ffffff
					cursor: pointer
				&:hover
					>td
						background: #f8fbff
				>td
					padding: 13px 0
					text-align: left
					border: none
					border-bottom: 1px solid #ededed
					vertical-align: middle
					letter-spacing: .2px
					cursor: pointer
					&:first-of-type
						text-align: left
						padding-left: 20px
						padding-right: 20px
						a
							&:hover
								text-decoration: underline
						.domain_links
							position: relative
							&:hover
								text-decoration: underline
								.external-link
									display: inline
					&:nth-child(2)
						width: 18%
						text-align: center

					&:nth-child(3)
						width: 12%

					&:nth-child(4)
						width: 12%

					&:nth-child(5)
						width: 12%
						padding: 5px 0 0 0

					&:nth-child(6)
						width: 10%
						padding-right: 0

					&:last-of-type
						width: 50px
				>td.crawler-domain-recrawl
					a
						color: $color_1
						padding-right: 10px
	>tbody
		>tr
			&:nth-of-type(odd)
				background: #ffffff
				cursor: pointer
			&:hover
				>td
					background: #f8fbff
			>td
				padding: 13px 0
				text-align: left
				border: none
				border-bottom: 1px solid #ededed
				vertical-align: middle
				letter-spacing: .2px
				cursor: pointer
				background: white
				&:first-of-type
					text-align: left
					padding-left: 20px
					padding-right: 10px
					a
						&:hover
							text-decoration: underline
					.domain_links
						position: relative
						width: 100%
						.external-link
							img
								margin-top: 0
						&:hover
							text-decoration: underline
				&:nth-child(2)
					width: 18%
					text-align: center

				&:nth-child(3)
					width: 12%

				&:nth-child(4)
					width: 12%

				&:nth-child(5)
					width: 12%

				&:nth-child(6)
					width: 10%
					padding-right: 0

				&:last-of-type
					width: 50px
					cursor: auto
			>td.crawler-domain-recrawl
				a
					color: $color_1
			&:last-of-type
				>td
					border-bottom: none
					&:first-of-type
						border-bottom-left-radius: 2px
					&:last-of-type
						border-bottom-right-radius: 2px


.tooltip_gray + .tooltip
	margin-top: -10px

.domain_status
	.tooltip_gray + .tooltip
		margin-top: 0
	&:focus
		outline: none

.crawler-domain-dot
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 6px
	span
		display: block
		width: 3px
		height: 3px
		background: #495c6a
		margin-bottom: 2px
		&:last-of-type
			margin-bottom: 0

.upgrade_plans
	background: #eed5d5
	padding: 12px 20px
	color: #495c6a
	margin-bottom: 20px
	font-size: 14px
	a
		color: #0286bf


.free_limits
	display: none
	position: relative
	.tooltip
		height: 0
	&:hover
		.tooltip
			-webkit-transform: scale(1)
			transform: scale(1)
			z-index: 11
			height: auto
			opacity: 1
			width: 200px
			bottom: 23px
			left: 0
			background: #ffffff
			box-shadow: 0 0 7px rgba(0,48,40,.05)
			padding: 10px
			border-radius: 2px
			a
				color: #0286bf
			&::after
				content: ""
				position: absolute
				left: 0
				bottom: -5px
				width: 0
				height: 0
				border-left: 8px solid transparent
				border-right: 8px solid transparent
				border-top: 8px solid white

.btn
	padding: 0
	margin: 0
	background: none
	&:focus
		outline: none
		box-shadow: none

.domain_statistic-block
	display: flex
	align-items: center
	justify-content: space-between
	.test__case
		font-style: normal
		font-size: 11px
		font-weight: 300
		color: #0286bf

.domain_status
	display: inline-block
	.fa-check-circle
		color: #64ca18
	.fa-ban
		color: #f46140

.status_loader
	border: 2px solid #f3f3f3
	border-top: 2px solid #3498db
	border-radius: 50%
	width: 14px
	height: 14px
	animation: spin 2s linear infinite
	margin-left: -2px

@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.domain_links
	display: flex
	align-items: center
	word-break: break-word

@keyframes move
	0%
		background-position: 0 0
	100%
		background-position: 50px 50px

@-moz-keyframes move
	0%
		background-position: 0 0
	100%
		background-position: 50px 50px

.crawler-statistic-status
	font-size: 13px
	span
		font-weight: 500

.delete_domain-link
	display: none
	position: absolute
	background: #b4c8e2
	color: $color_3
	width: 55px
	text-align: center
	top: 20px
	padding: 5px 0
	font-size: 13px
	cursor: pointer

sub
	position: relative
	font-size: 75%
	line-height: 0
	vertical-align: baseline
	top: -.5em
	color: #a5a5a5

.crawler-domain-urls
	a, button
		color: $color_7
		span
			font-size: 16px
			sub
				right: 2px
				span
					font-size: 80%

				span.sub-green
					color: $color_9

				span.sub-gray
					color: $color_9

				span.sub-red
					color: $color_9
			&.crawler-domain-status
				font-size: 11px

.crawler-domain-status
	display: block
	background: #0286bf
	color: #fff
	font-weight: 300
	padding: 4px 0
	font-size: 11px
	width: 68px
	margin: 0 auto
	border-radius: 50px
	&.completed
		background: #56c504
		position: relative
	&.exceeded
		background: #f24c27
		width: 75px
	&.inprogress
		background-color: #8db1e3
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#8db1e3),color-stop(1,#86a9d9))
		position: relative
		overflow: hidden
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) )
			background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent )
			z-index: 1
			-webkit-background-size: 50px 50px
			-moz-background-size: 50px 50px
			background-size: 50px 50px
			-webkit-animation: move 2s linear infinite
			-moz-animation: move 2s linear infinite
			-webkit-border-top-right-radius: 8px
			-webkit-border-bottom-right-radius: 8px
			-moz-border-radius-topright: 8px
			-moz-border-radius-bottomright: 8px
			border-top-right-radius: 8px
			border-bottom-right-radius: 8px
			-webkit-border-top-left-radius: 20px
			-webkit-border-bottom-left-radius: 20px
			-moz-border-radius-topleft: 20px
			-moz-border-radius-bottomleft: 20px
			border-top-left-radius: 20px
			border-bottom-left-radius: 20px
			overflow: hidden
	&.test_case
		i
			position: absolute
			color: #0286bf
			top: 4px
			left: -65px
			font-style: normal
	&:focus
		outline: none



.crawler-domain-data
	font-weight: 500

.crawler-statistic-about
	font-size: 16px
	line-height: 23px
	width: 800px
	margin: 0 auto 30px auto
	@media (max-width: 850px)
		width: 100%

.crawler-statistic
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: flex-start
	margin: 0 auto
	width: 800px
	&.active
		width: 100%
	@media (max-width: 850px)
		width: 100%
	&:first-of-type
		background: #ffffff
		padding: 15px 0
		border-radius: 2px

.crawler-statistic-domain
	font-size: 17px
	font-weight: 500
	margin-bottom: 3px

.crawler-statistic-info
	margin-right: auto
	letter-spacing: .2px
	&.flexable
		display: flex
		align-items: center
		justify-content: space-between

.table_elements
	display: flex
	justify-content: space-between
	align-items: center
	margin: 0

.pageTable_filter
	display: flex
	justify-content: space-between
	width: 270px
	input
		border: 1px solid #dce5f3
		border-right: 0
		border-radius: 2px
		border-top-right-radius: 0
		border-bottom-right-radius: 0
		padding-left: 12px
		background: #fff
		width: 100%
		&:focus
			outline: 0
	.search_button
		border-top-right-radius: 2px
		border-bottom-right-radius: 2px
		width: 100px
		letter-spacing: .2px
		background: #0286bf
		border: none
		color: white
		font-weight: 300
		&:hover
			background: #036f9d

		&:focus
			outline: 0
			&::-webkit-input-placeholder
				color: $color_2

			&:-moz-placeholder
				color: $color_2

			&::-moz-placeholder
				color: $color_2

			&:-ms-input-placeholder
				color: $color_2




.crawler-statistic-select
	.select2-container
		width: 270px !important
		margin-right: 20px
		&:focus
			outline: 0

		.select2-selection--single
			height: auto
			&:focus
				outline: 0



	.select2-container--default
		.select2-selection--single
			border: 1px solid #b4c9e2
			border-radius: 2px
			.select2-selection__rendered
				color: $color_11
				letter-spacing: .2px
				padding: 5px 12px
				&:focus
					outline: 0


			.select2-selection__arrow
				top: 8px
				right: 5px




.select2-container--default
	.select2-search--dropdown
		.select2-search__field
			border: 1px solid #e0e0e0
			&:focus
				outline: 0




.select2-dropdown
	border: 1px solid #e0e0e0

.select2-results__option
	padding: 6px 12px
	letter-spacing: .2px

.select2-container--default.select2-container--open.select2-container--below
	.select2-selection--single
		&:focus
			outline: 0

.selection
	&:focus
		outline: 0


.dataTables_length
	label
		margin: 0
		font-weight: 300


#loader, #loader-crawler, #loader-list
	width: 100%
	text-align: center
	img
		width: 20px
		height: 20px

#loader-crawler, #loader-list
	opacity: 0

.list__flex
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: -5px
	a
		font-size: 13px
		font-weight: 400
		letter-spacing: .2px
		color: #495c6a
		cursor: pointer
		&:hover
			color: $color_1

.perm-table, .popup_table_elements
	.table-bordered
		border: 1px solid #b4c8e2
		margin-bottom: 15px
		>thead
			>tr
				>th
					border: none
					text-align: center
					vertical-align: middle
					color: $color_12
					font-weight: 500
					font-size: 14px
					padding: 15px 0
					background: #f2f7fb
					letter-spacing: .2px
					&:last-of-type
						text-align: left
						border-right: 1px solid #b4c8e2
						padding-left: 15px
					&:nth-child(2)
						text-align: left
					&:nth-child(3)
						border-left: 1px solid #b4c8e2
						border-right: 1px solid #b4c8e2
						padding: 15px
					&:nth-child(4)
						border-right: 1px solid #b4c8e2
						padding: 15px
			&.domain_statistic
				>td
					border: none
					border-top: 1px solid #b4c8e2
					border-bottom: 1px solid #b4c8e2
					padding: 12px 5px
					font-weight: 300
					&:first-of-type
						min-width: 10px
						max-width: 10px
						padding: 0 10px
					&:nth-child(2)
						text-align: left
						width: 45%
					&:nth-child(3)
						font-size: 15px
						border-left: 1px solid #b4c8e2
						border-right: 1px solid #b4c8e2
						padding: 12px 15px
						text-align: center
						img
							width: 15px
							margin-top: -6px
							margin-left: 7px
					&:nth-child(4)
						font-size: 15px
						border-right: 1px solid #b4c8e2
						padding: 12px 15px
						text-align: center
						img
							transform: rotate(-90deg)
							width: 8px
							margin-top: -1px
							margin-left: 1px
					&:last-of-type
						width: 30%
						text-align: left
						border-right: 1px solid #b4c8e2
						padding-left: 15px
						&.row_data-hidden
							padding: 15px 0
						.btn-primary
							font-size: 12px
							background-color: $background_color_1
							border: none
							border-radius: 2px
							letter-spacing: .2px
							padding: 5px 7px
							&:focus
								outline: 0
							&:hover
								background: #88aad6
		>tbody
			>tr
				>td
					border: none
					border-top: 1px solid #b4c8e2
					border-bottom: 1px solid #b4c8e2
					padding: 12px 5px
					font-weight: 300
					&:first-of-type
						min-width: 10px
						max-width: 10px
						padding: 0 10px
					&:nth-child(2)
						text-align: left
						width: 45%
					&:nth-child(3)
						font-size: 15px
						border-left: 1px solid #b4c8e2
						border-right: 1px solid #b4c8e2
						padding: 12px 15px
						text-align: center
						img
							width: 15px
							margin-top: -6px
							margin-left: 7px
					&:nth-child(4)
						font-size: 15px
						border-right: 1px solid #b4c8e2
						padding: 12px 15px
						text-align: center
						img
							transform: rotate(-90deg)
							width: 8px
							margin-top: -1px
							margin-left: 1px
					&:last-of-type
						width: 30%
						text-align: left
						border-right: 1px solid #b4c8e2
						padding-left: 15px
						&.row_data-hidden
							padding: 15px 0
						.btn-primary
							font-size: 12px
							background-color: $background_color_1
							border: none
							border-radius: 2px
							letter-spacing: .2px
							padding: 5px 7px
							&:focus
								outline: 0
							&:hover
								background: #88aad6

@media (max-width: 640px)
	.crawler_data-search
		input[type=submit]
			min-width: 120px

.crawler_table-hidden
	font-weight: 400

.crawler_pagination
	display: flex
	justify-content: space-between
	align-items: flex-start
	font-weight: 300
	letter-spacing: 0.2px
	font-size: 14px
	.pagination
		margin: 0
	.dataTables_info
		margin-right: 20px

.crawler-statistics
	min-height: 80vh

.crawler_breadcrumbs
	letter-spacing: 0.2px
	font-size: 15px
	margin-bottom: 2px
	display: flex
	img
		transform: rotate(-90deg)
		width: 8px
		margin: 0 6px
	a
		color: #495c6a
		&:hover
			color: #036f9d
	span
		font-size: 12px
		color: #36467d
		&.crawler-statistic-domain, &.crawler-statistic-filters
			font-size: 15px
	&.active
		.crawler-statistic-domain
			cursor: pointer
			color: #495c6a
			font-weight: 400
			&:hover
				color: #036f9d

.loader
	height: 3px
	width: 100%
	position: relative
	overflow: hidden
	background-color: #ddd
	margin-top: -30px
	margin-bottom: 30px

.loader:before
	display: block
	position: absolute
	content: ""
	left: -200px
	width: 200px
	height: 4px
	background-color: #2980b9
	animation: loading 2s linear infinite

@keyframes loading
	from
		left: -200px
		width: 30%
	50%
		width: 30%
	70%
		width: 70%
	80%
		left: 50%
	95%
		left: 120%
	to
		left: 100%

.crawler-popup
	position: fixed
	z-index: 11
	width: 100%
	height: 100%
	top: 0
	left: 0
	display: flex
	align-items: center
	justify-content: center
	background: rgba(0, 0, 0, 0.58)

.crawler_popup
	z-index: 9999
	position: relative
	width: 1000px
	background: white
	max-height: 600px
	overflow-y: scroll
	padding: 30px
	.loader
		width: 96%
		margin-top: -2px
		margin-bottom: 12px
	.pageTable_filter
		display: flex
		width: 270px
		height: 32px
	.popup_table_elements
		display: flex
		max-height: 440px
		overflow-y: scroll
		margin-bottom: 5px
	#popup_pagination
		margin-bottom: 0
		align-items: center
	.dataTables_length label
		display: flex
		align-items: center
	select.input-sm
		margin: 0 5px

.mfp-close
	position: absolute
	right: 20px
	top: 20px
	background: none
	border: none
	font-size: 25px
	&:hover
		color: #0286bf
	&:focus
		outline: none

.popup_table_elements
	.table-bordered
		>thead
			width: 100%
			>tr
				>th
					width: 25%
					text-align: left
					&:first-of-type, &:nth-child(2)
						width: 45%
						padding-left: 20px
						border-right: 1px solid #b4c8e2
					&:nth-child(2)
						width: 35%
					&:nth-child(3)
						text-align: center
					&:last-of-type
						width: 25%
						border-right: 0
						text-align: center
		>tbody
			width: 100%
			overflow-y: scroll
			>tr
				>td
					width: 25%
					&:first-of-type, &:nth-child(2)
						width: 45%
						padding-left: 20px
						border-right: 1px solid #b4c8e2
					&:nth-child(2)
						width: 35%
					&:last-of-type
						width: 25%
						border-right: 0
						text-align: center
				&:nth-last-of-type(2)
					td
						border-bottom: 0
		&.external
			>thead
				>tr
					>th
						&:first-of-type, &:last-of-type
							width: 50%
							text-align: left
			>tbody
				>tr
					>td
						&:first-of-type, &:last-of-type
							text-align: left
							width: 50%

.popup_row_data
	padding: 10px 0
	overflow: hidden
	text-align: left

.crawl_report-link
	display: block
	max-width: 750px
	margin: 0 auto
	&:hover
		color: #036f9d
	@media (max-width: 1000px)
		max-width: 100%
	@media (max-width: 460px)
		margin-top: 72px

@keyframes background-fade-warning
	0%
		background-color: rgba(255,185,30,.2)
	to
		background-color: rgba(255, 255, 255, 1)

@keyframes background-fade-success
	0%
		background-color: rgba(123,191,79,.2)
	to
		background-color: rgba(255, 255, 255, 1)

@keyframes background-fade-error
	0%
		background-color: rgba(215,45,0,.2)
	to
		background-color: rgba(255, 255, 255, 1)

#pageTable
	>thead
		>tr
			>th
				text-align: left
				padding-left: 10px
				&:nth-child(3)
					width: 9%
				&:nth-child(4)
					width: 9%
				&:nth-child(5)
					width: 20%
	>tbody
		>tr
			background: white
			&.gradient
				display: none
				animation-duration: 3s
				animation-timing-function: linear
				animation-name: background-fade-warning
				position: relative
				overflow: hidden
				>td
					background: transparent
				&.success
					animation-name: background-fade-success
				&.warning
					animation-name: background-fade-warning
				&.error
					animation-name: background-fade-error
			>td
				&:first-of-type
					border-right: 1px solid #b4c8e2
					a
						font-size: 15px
						font-weight: 400
					p
						margin-bottom: 0
				&:nth-child(2)
					width: 9%
					font-size: 15px
					text-align: center
					img
						width: 15px
						margin-top: -6px
						margin-left: 3px
				&:nth-child(3)
					width: 10%
				&:nth-child(4)
					width: 9%
					text-align: left
					button
						background: none
						color: #0286bf
						border: none
						text-align: left
						font-size: 13px
						display: block
				&:nth-child(5)
					width: 20%
					.statistic_description
						display: flex
						flex-wrap: wrap
						span
							display: block
							padding: 3px 7px
							border-radius: 50px
							background: #0286bf
							font-size: 10px
							text-align: center
							margin-right: 5px
							margin-bottom: 5px
							font-weight: 400
							color: #ffffff
							&.red
								background: #f24c27
							&.yellow
								background: #fd9425
							&.green
								background: #56c504

#pageTable
	>thead
		>tr
			>th
				text-align: left
				padding: 15px
				button
					padding: 0
					background: 0 0
					font-weight: 100
					border: none
					color: #b9b9b9
					font-size: 12px
					margin-top: -7px
					margin-left: -1px
				.tooltip_gray + .tooltip
					margin-top: 0
				.sorting_content
					display: flex
					justify-content: space-between
					width: 100%
					align-items: center
					padding-right: 15px
				&:first-of-type
					text-align: left
					padding: 15px 10px
					min-width: 300px
					max-width: 320px
					border-right: 1px solid #b4c8e2
				&:nth-child(4)
					text-align: center
				&:nth-child(5)
					border-left: 1px solid #b4c8e2
				&:nth-child(2), &:nth-child(3), &:nth-child(4)
					.sorting_content
						padding-right: 0
	>tbody
		>tr
			>td
				cursor: auto
				&:first-of-type
					padding: 10px
					text-align: left
					max-width: 320px
					width: 30%
					word-break: break-word
					p
						font-size: 12px
						margin-bottom: 0
				&:nth-child(2)
					width: 15%
				&:nth-child(3)
					text-align: center
					width: 15%
					img
						transform: rotate(-90deg)
						width: 8px
						margin-top: -1px
						margin-left: 1px
				&:nth-child(4)
					width: 15%
					text-align: center
					padding: 0
					button
						width: auto
						display: block
						letter-spacing: .2px
						background: #0286bf
						border: none
						color: #fff
						font-weight: 400
						height: 26px
						font-size: 10px
						padding: 0 5px
						border-radius: 2px
						text-align: center
						transition: 0.2s
						margin: 0 auto 4px auto
						&:hover
							background: #036f9d
						&:first-of-type
							margin-top: 4px
				&:nth-child(5)
					border-left: 1px solid #b4c8e2

.statistic_description
	margin-bottom: -3px

.current_filter
	display: none

.statistic_export
	width: 100px
	letter-spacing: .2px
	background: #0286bf
	border: none
	color: #fff
	font-weight: 300
	height: 40px
	border-radius: 2px
	display: none
	&:hover
		background: #036f9d
	&:focus
		outline: none

.sorting_content
	.sorting
		display: flex
		flex-direction: column
		.triangle
			cursor: pointer
			width: 0
			height: 0
			border-style: solid
			border-width: 5px 5px 0 5px
			border-color: rgb(202, 202, 202) transparent transparent transparent

.searching_url
	display: flex
	align-items: center
	position: relative
	i
		margin-left: 5px
		cursor: pointer
		color: rgb(202, 202, 202)
		font-size: 10px
		margin-top: -3px
	.pageTable_filter
		display: none
		align-items: center
		margin-left: 5px
		height: 35px
		position: absolute
		left: 27px
		width: 200px
		input
			border-radius: 2px
			border: 1px solid #dce5f3
			height: 35px

.crawler-navigation
	width: 28%
	box-shadow: 0 0 7px rgba(0,48,40,0.05)
	background: #ffffff
	padding-bottom: 10px
	border-radius: 2px
	a
		padding: 5px 20px
		font-weight: 500
		letter-spacing: 0.2px
		margin-bottom: 0
		display: block
		cursor: pointer
		color: #495c6a
		&:hover
			color: #0286bf


.crawler-navigation__title, .crawler-statistic__title
	padding: 10px 20px
	background: #b4c7e2
	color: white
	font-size: 16px
	font-weight: 500
	margin-bottom: 10px
	border-top-left-radius: 2px
	border-top-right-radius: 2px

.crawler-statistic__block
	padding: 7px 0
	display: flex
	flex-direction: column
	a
		padding: 10px 20px
		font-size: 16px
		width: 100%
		display: flex
		justify-content: space-between
		font-weight: 400
		letter-spacing: .2px
		cursor: pointer
		color: #303d80
		border-bottom: 1px solid #eef3fa
		&:last-of-type
			border-bottom: 0
		&:hover, &.active
			color: #36467d
			background: #b4c7e2
		&.suborder
			padding-left: 20px
			font-size: 14px
			span
				&:first-of-type
					display: flex
					align-items: center
			.fa
				font-size: 5px
				margin-right: 5px
		&.opacity
			opacity: 0.5
			pointer-events: none

.crawler__search
	display: flex
	align-items: center
	justify-content: space-between
	.crawler__tabs
		display: flex
		align-items: center
		p
			font-size: 14px
			margin-right: 15px
			cursor: pointer
			transition: 0.2s
			&:hover
				color: #0286bf
			&.active
				font-weight: 500

.crawlerData
	&.monitoring
		.monitoring_btn
			display: block
	&.none_monitoring
		.monitoring_btn, .boosta_monitoring
			display: none!important

.table-bordered>thead>tr.list_header>td
	position: relative
.table-bordered>thead>tr.list_header>td:last-of-type, .table-bordered>tbody>tr>td:last-of-type
	width: 10%

.crawler__flex
	display: flex
	justify-content: space-between
	align-items: flex-end
	margin: 0 0 15px 0

.crawler_data-info
	p.crawler__title
		font-size: 17px

.crawler__tabs
	display: flex
	align-items: center
	margin-top: 20px
	margin-left: 10px
	p
		cursor: pointer
		margin-right: 5px
		font-size: 14px
		font-weight: 500
		position: relative
		padding: 7px 20px
		border-top-left-radius: 2px
		border-top-right-radius: 2px
		background: white
		border-top: 2px solid transparent
		transition: 0.2s
		display: flex
		align-items: center
		&.active
			color: #0286bf
			border-top-color: #0286bf
		&:hover
			color: #0286bf

.crawler_data-info p.avaliable__limits
	font-size: 13px
	padding-bottom: 10px

.table-bordered>tbody>tr>td.crawler-domain-recrawl
	.crawler-domain_block
		display: flex
		justify-content: flex-end
		padding-right: 15px
		a
			margin-right: 5px
			display: flex
			align-items: center
			justify-content: center
			background: #eef3fa
			padding: 0 8px
			border-radius: 2px
			transition: 0.2s
			position: relative
			&.recrawl_btn
				font-size: 11px
			&.audit_btn
				img
					width: 11px
					margin-right: 4px
			&.changes_btn
				font-size: 11px
				min-width: 105px
				img
					margin-right: 4px
					width: 10px
				&.unchecked
					background: #f9f9f9
					color: #a7a6a7
					pointer-events: none
			&.tree_btn
				img
					width: 16px
			span
				margin-top: 1px
			.tooltip
				font-size: 11px
				line-height: 14px
				color: #485b69
				z-index: -1
				-webkit-transform: scale(0.9)
				transform: scale(0.9)
				opacity: 0
				-webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
				transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
			&:hover
				background: rgb(212, 228, 250)
				.tooltip
					-webkit-transform: scale(1)
					transform: scale(1)
					z-index: 11
					opacity: 1
					width: 95px
					bottom: 34px
					left: 0
					background: #ffffff
					box-shadow: 0 0 7px rgba(0,48,40,.05)
					padding: 10px
					border-radius: 2px
					&::after
						content: ""
						position: absolute
						left: 10px
						bottom: -5px
						width: 0
						height: 0
						border-left: 8px solid transparent
						border-right: 8px solid transparent
						border-top: 8px solid white
			img
				width: 14px
			&.inprogress
				pointer-events: none
				cursor: auto
				background: #f9f9f9
			&:first-of-type
				min-width: 92px
				padding: 5px 10px
				font-size: 11px
				border-radius: 2px
				color: #0286bf
				display: flex
				align-items: center
				justify-content: center
			&.deletecrawl_btn
				color: #ff4759
				cursor: pointer
.crawler_data-search button
  border-top-right-radius: 2px
  border-bottom-right-radius: 2px

.crawler-domain_block
	display: flex
	padding-right: 15px
	justify-content: flex-end
	a, span.share_btn
		margin-right: 5px
		display: flex
		align-items: center
		justify-content: center
		background: #eef3fa
		padding: 0 8px
		border-radius: 2px
		transition: 0.2s
		position: relative
		span
			margin-top: 1px
		.tooltip
			font-size: 11px
			line-height: 14px
			color: #485b69
			z-index: -1
			-webkit-transform: scale(0.9)
			transform: scale(0.9)
			opacity: 0
			height: 0
			-webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
			transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
		&:hover
			background: rgb(212, 228, 250)
			.tooltip
				-webkit-transform: scale(1)
				transform: scale(1)
				z-index: 11
				opacity: 1
				width: 95px
				bottom: 34px
				left: 0
				height: auto
				background: #ffffff
				box-shadow: 0 0 7px rgba(0,48,40,.05)
				padding: 10px
				border-radius: 2px
				&::after
					content: ""
					position: absolute
					left: 10px
					bottom: -5px
					width: 0
					height: 0
					border-left: 8px solid transparent
					border-right: 8px solid transparent
					border-top: 8px solid white
		img
			width: 14px
		&:first-of-type
			min-width: 90px
			padding: 5px 10px
			font-size: 11px
			border-radius: 2px
			color: #0286bf
			display: flex
			align-items: center
			justify-content: center
			img
				margin-right: 3px
				width: 14px
				margin-top: 0
		&:nth-child(2)
			img
				width: 13px
	span.share_btn
		cursor: pointer
		&:first-of-type
			min-width: auto
			width: 30px
			padding: 0

#monitoringTable.table-bordered
	>tbody
		>tr
			>td
				&.crawler-domain-recrawl
					.crawler-domain_block
						padding: 0 15px 0 0
						justify-content: flex-end
	>thead
		>tr
			&#testMonitoringDomain
				>td
					&:first-of-type
						width: 10%
					&.crawler-domain_block
						padding: 0 15px 0 0
						justify-content: flex-end
	.switch
		width: 45px
		height: 23px
	.slider
		&:before
			height: 17px
			width: 17px
		&::after
			content: 'Paused'
			position: absolute
			top: 5px
			font-size: 11px
			right: -42px
			color: gray
			font-weight: 300
	input:checked+.slider
		&:before
			-webkit-transform: translateX(22px)
			-ms-transform: translateX(22px)
			transform: translateX(22px)
		&::after
			content: 'Active'
			color: #0286bf
			right: -37px

.share__popup
	display: none
	align-items: center
	justify-content: center
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.4)
	z-index: 99
	img
		width: 15px

.share__popup-block
	background: white
	width: 500px
	border-radius: 2px

.share__popup-header
	background: #0286bf
	color: white
	border-top-left-radius: 2px
	border-top-right-radius: 2px
	padding: 15px 25px 10px 25px
	img
		width: 11px
		margin: 0 0 0 auto
		display: block
		cursor: pointer
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		transition: transform .25s linear
		-webkit-transition: -webkit-transform .25s linear
		&:hover
			-webkit-transform: rotate(180deg)
			-ms-transform: rotate(180deg)
			-moz-transform: rotate(180deg)
			-o-transform: rotate(180deg)
			transform: rotate(180deg)
	p
		margin: 0 0 10px 0
		text-align: center
		font-weight: 300
		letter-spacing: 0.3px
		font-size: 16px
.share__popup-body
	padding: 25px
	form
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0
		input
			width: 100%
			height: 40px
			border: 1px solid #ebebeb
			border-radius: 2px
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			border-right: 0
			padding: 0 10px
			&:focus
				outline: 0
				border-color: #0286bf
		button
			background: #0286bf
			color: white
			height: 40px
			border: 1px solid #0286bf
			border-top-right-radius: 2px
			border-bottom-right-radius: 2px
			width: 105px
			letter-spacing: 0.2px
			font-size: 13px
			transition: 0.2s
			&.btn-disabled
				pointer-events: none
				cursor: auto
				background: rgba(2, 134, 191, 0.5)
				border: rgba(2, 134, 191, 0.5)
			&.generating
				background-color: #8db1e3
				background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#8db1e3),color-stop(1,#86a9d9))
				position: relative
				overflow: hidden
				border: transparent
				&:after
					content: ""
					position: absolute
					top: 0
					left: 0
					bottom: 0
					right: 0
					background-image: -webkit-gradient(linear,0 0,100% 100%,color-stop(.25,rgba(255,255,255,.2)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,.2)),color-stop(.75,rgba(255,255,255,.2)),color-stop(.75,transparent),to(transparent))
					background-image: -moz-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)
					z-index: 1
					-webkit-background-size: 50px 50px
					-moz-background-size: 50px 50px
					background-size: 50px 50px
					-webkit-animation: move 2s linear infinite
					-moz-animation: move 2s linear infinite
					-webkit-border-top-right-radius: 2px
					-webkit-border-bottom-right-radius: 2px
					-moz-border-radius-topright: 2px
					-moz-border-radius-bottomright: 2px
					border-top-right-radius: 2px
					border-bottom-right-radius: 2px
					-webkit-border-top-left-radius: 2px
					-webkit-border-bottom-left-radius: 2px
					-moz-border-radius-topleft: 2px
					-moz-border-radius-bottomleft: 2px
					border-top-left-radius: 2px
					border-bottom-left-radius: 2px
					overflow: hidden
			&:hover
				background: #036f9d
				border-color: #036f9d
			&:focus
				outline: 0
		.share__popup-tooltip
			margin-left: 10px
			cursor: pointer
			position: relative
			.tooltip
				font-size: 11px
				line-height: 14px
				color: #485b69
				z-index: -1
				-webkit-transform: scale(.9)
				transform: scale(.9)
				opacity: 0
				-webkit-transition: opacity .5s ease 0s,transform .5s ease 0s,-webkit-transform .5s cubic-bezier(.6,.2,.1,1) 0s,opacity .5s cubic-bezier(.6,.2,.1,1) 0s
				transition: opacity .5s ease 0s,transform .5s ease 0s,-webkit-transform .5s cubic-bezier(.6,.2,.1,1) 0s,opacity .5s cubic-bezier(.6,.2,.1,1) 0s
			&:hover
				.tooltip
					-webkit-transform: scale(1)
					transform: scale(1)
					z-index: 11
					opacity: 1
					width: 150px
					bottom: 23px
					right: 0
					background: #ffffff
					box-shadow: 0 0 7px rgba(0,48,40,.05)
					padding: 10px
					border-radius: 2px
					&::after
						content: ""
						position: absolute
						left: 20px
						bottom: -5px
						width: 0
						height: 0
						border-left: 8px solid transparent
						border-right: 8px solid transparent
						border-top: 8px solid white
	p
		font-size: 12px
		margin: 0 0 4px 0

.share__popup-body p.invited_urls
	margin: 10px 0 0 0
	color: #56c504

.enable_sharing
	text-align: right
	.switch
		width: 39px
		height: 20px
	.slider
		&:before
			height: 16px
			width: 16px
			left: 2px
			bottom: 2px
		&:after
			content: 'Disabled access'
			position: absolute
			left: -87px
			font-size: 10px
			color: #ccc
			font-weight: 400
			top: 1px
			width: 81px
	input:checked+.slider
		background: #56c504
		&:before
			-webkit-transform: translateX(19px)
			-ms-transform: translateX(19px)
			transform: translateX(19px)
		&:after
			content: 'Enabled access'
			color: #56c504

.sitechecker_crawl
	input
		width: 100%

.domain_links
	a
		display: inline
		&.external-link
			display: none
			position: relative
	&:hover
		.external-link
			display: inline
			right: auto

#domainsTable
	.switch
		width: 40px
		height: 20px
	.slider
		&:before
			height: 16px
			width: 16px
			bottom: 2px
		&::after
			content: 'Paused'
			position: absolute
			top: 3px
			font-size: 11px
			right: -42px
			color: gray
			font-weight: 300
	input:checked+.slider
		&:before
			-webkit-transform: translateX(18px)
			-ms-transform: translateX(18px)
			transform: translateX(18px)
		&::after
			content: 'Active'
			color: #0286bf
			right: -37px
	input.exceeded+.slider
		&::after
			content: 'Update limits'
			color: #ff485a
			right: -73px
	>tbody
		>tr
			>td
				&:nth-child(2)
					width: 12%
				&:nth-child(4)
					width: 8%
				&:nth-child(3), &:nth-child(5)
					width: 12%
				&:nth-child(5)
					padding: 5px 0 0 0

#monitoringTable
	>thead
		>tr
			>td
				&:first-of-type
					width: 20%
				width: 10%
				text-align: left
	>tbody
		>tr
			>td
				&:first-of-type
					width: 20%
				width: 10%
				text-align: left