.crawlSettings
  border-spacing: 0 2px
  border-collapse: separate
  th
    background: rgba(255,255,255,.5)
    padding: 10px 20px
    font-weight: 500
    line-height: 18px
    font-size: 12px
    color: #333
    position: relative
    &:first-of-type
      text-align: left
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
    &:last-of-type
      border-top-right-radius: 6px
      border-bottom-right-radius: 6px
      padding-left: 0
  tbody
    tr
      box-shadow: 0 5px 30px rgba(91,94,109,.1)
      border-radius: 6px
      td
        background: rgba(255,255,255,.5)
        padding: 10px 20px
        font-weight: 500
        line-height: 18px
        font-size: 12px
        color: #333
        &:first-of-type
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
          padding-left: 0
        .switch
          display: block
          position: relative
          margin: -4px 0 0 0
          input
            display: none
          span
            &:nth-child(2)
              color: #333
          input:checked+.slider
            background: rgba(0, 102, 255, 0.3)
            &:before
              background: $color-blue
              -webkit-transform: translateX(25px)
              -ms-transform: translateX(25px)
              transform: translateX(25px)
          .slider.round
            width: 24px
            height: 10px
            position: absolute
            cursor: pointer
            top: 0
            left: 0
            right: 0
            bottom: 0
            -webkit-transition: .4s
            transition: .4s
            background: rgba(184, 184, 184, 0.3)
            border-radius: 50px
            display: flex
            align-items: center
            justify-content: space-between
            padding: 0 15px
            font-weight: 400
            font-size: 12px
            @media (max-width: 460px)
              margin-right: 35px
              margin-left: auto
            &:before
              position: absolute
              content: ""
              left: -5px
              bottom: -3px
              height: 16px
              width: 16px
              border-radius: 50px
              background: #e2e2e2
              -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
              box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
              -webkit-transition: .4s
              transition: .4s
              z-index: 2
        .select2-container--default
          &.select2-container--open
            .select2-selection--single
              .select2-selection__arrow
                b
                  border-color: transparent transparent #bdbdbd transparent
          .select2-selection--single
            background: transparent
            border: none
            &:focus
              outline: 0
            .select2-selection__arrow
              b
                border-color: #bdbdbd transparent transparent transparent
            .select2-selection__rendered
              font-weight: 500
              line-height: 27px
              font-size: 12px
              letter-spacing: 0.2px
              color: #333
              text-transform: capitalize
              padding-left: 23px
              position: relative
              &:before
                position: absolute
                content: ''
                display: block
                width: 10px
                height: 10px
                top: 9px
                left: 7px
                background-image: url("./img_design/error__icon.svg")
                background-size: cover
                background-position: center center
                background-repeat: no-repeat
              &[title*="nfo"]
                color: #adb2cb
                &:before
                  transform: rotate(180deg)
                  background-image: url("./img_design/info__icon.svg")
              &[title*="rror"]
                color: #ff4b55
              &[title*="arning"]
                color: #ffb300
                &:before
                  background-image: url("./img_design/warning__icon.svg")
                  transform: rotate(180deg)
              &[title*="otice"]
                color: #1a83ff
                &:before
                  background-image: url("./img_design/notice__icon.svg")
                  transform: rotate(180deg)
        .select2-container
          width: 93px!important
#select2-crawlSettingsSelect-results
  .select2-results__option
    text-align: left
    padding: 5px 23px
    font-weight: 500
    line-height: 20px
    font-size: 12px
    letter-spacing: 0.2px
    color: #333
    text-transform: capitalize
    border-radius: 0
    position: relative
    &:before
      position: absolute
      content: ''
      display: block
      width: 10px
      height: 10px
      top: 11px
      left: 7px
      background-image: url("./img_design/error__icon.svg")
      background-size: cover
      background-position: center center
      background-repeat: no-repeat
    &[id*="error"]
      color: #ff4b55
      &.select2-results__option--highlighted[aria-selected]
        color: #ff4b55
    &[id*="warning"]
      color: #ffb300
      &.select2-results__option--highlighted[aria-selected]
        color: #ffb300
      &:before
        background-image: url("./img_design/warning__icon.svg")
        transform: rotate(180deg)
    &[id*="notice"]
      color: #1a83ff
      &.select2-results__option--highlighted[aria-selected]
        color: #1a83ff
      &:before
        background-image: url("./img_design/notice__icon.svg")
        transform: rotate(180deg)
    &[id*="info"]
      color: #adb2cb
      &.select2-results__option--highlighted[aria-selected]
        color: #adb2cb
      &:before
        background-image: url("./img_design/info__icon.svg")
        transform: rotate(180deg)