.add__domain
  margin-bottom: 30px
.add__domain-info
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 25px
  .title
    font-size: 36px
    color: #808080
    line-height: 60px
    font-weight: 300
    margin-bottom: 0
.add__domain-block
  display: flex
  justify-content: space-between
  margin-bottom: 30px
  @media (max-width: 460px)
    flex-wrap: wrap
.add__domain-text
  width: 30%
  padding-right: 20px
  @media (max-width: 460px)
    width: 100%
    padding: 0 0 20px 0
  .title
    font-weight: 500
    line-height: 30px
    font-size: 14px
    color: #666666
    margin: -5px 0 4px 0
  .description
    line-height: 20px
    font-size: 13px
    color: #808080
    margin-bottom: 15px
  a
    font-weight: 500
    line-height: normal
    font-size: 13px
    display: block
    color: $color-blue
    margin-bottom: 5px
    &:last-of-type
      margin-bottom: 0
    &:hover
      text-decoration: navy
.add__domain-form
  width: 70%
  background: white
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
  border-radius: 5px
  padding: 25px 20px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  @media (max-width: 460px)
    width: 100%
    flex-wrap: wrap
  >div
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 25px
    position: relative
    @media (max-width: 460px)
      flex-wrap: wrap
    &:last-of-type
      margin-bottom: 0
    &.createDomainMonitoring
      @media (max-width: 460px)
        justify-content: space-between
        label
          width: 50%
    .error
      position: absolute
      top: -18px
      left: 31.5%
      font-size: 11px
      color: $color-error
      display: none
      align-items: center
      margin: 0
      a
        color: $color-error
        text-decoration: underline
      &.valid
        color: $color-valid
      @media (max-width: 460px)
        left: auto
        top: 16px
        right: 0
      img
        width: 7px
        margin-right: 5px
    label
      width: 30%
      font-weight: 500
      line-height: 30px
      font-size: 13px
      color: #666666
      @media (max-width: 460px)
        width: 100%
    input
      width: 70%
      border: 2px solid #f5f5f5
      border-radius: 4px
      height: 40px
      padding: 10px
      transition: 0.2s
      @media (max-width: 460px)
        width: 100%
      &:focus
        outline: 0
        border-color: $color-blue
        @include placeholder
          color: transparent
    .btn-group
      width: 70%!important
      @media (max-width: 460px)
        width: 100%!important
      &:focus
        outline: 0
      .btn
        width: 100%
        border: 2px solid #f5f5f5
        background: white
        border-radius: 4px
        height: 40px
        padding: 0 10px
        color: #333
        text-transform: none
        line-height: 20px
        font-size: 14px
        box-shadow: none
        letter-spacing: 0
        margin: 0
        font-weight: 400
        &:focus, &:active
          box-shadow: none
          outline: 0!important
          border: 2px solid #f5f5f5
          background: white
    .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover
      box-shadow: none
      outline: 0!important
      border: 2px solid $color-blue
      background: white
    .bootstrap-select.btn-group .dropdown-menu li a
      &:focus, &:active, &:hover
        outline: 0
        box-shadow: none
    .dropdown-menu
      padding: 0
      border: 1px solid #f5f5f5
      >li
        >a
          padding: 5px 15px
.createDomainMonitoring
  .switch
    position: relative
    display: inline-block
    height: 14px
    width: 34px
    margin: 0 auto 0 0
    input
      display: none
    span
      &:first-of-type
        color: white
      &:nth-child(2)
        color: black
    input:checked+.slider
      background: rgba(80, 209, 102, 0.3)
      &:before
        background: $color-valid
        -webkit-transform: translateX(25px)
        -ms-transform: translateX(25px)
        transform: translateX(25px)
      &:after
        content: 'Active'
        color: $color-valid
    .slider.round
      width: 34px
      height: 14px
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      -webkit-transition: .4s
      transition: .4s
      background: rgba(184, 184, 184, 0.3)
      border-radius: 50px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 15px
      font-weight: 400
      font-size: 12px
      @media (max-width: 460px)
        margin-right: 35px
        margin-left: auto
      &:after
        content: 'Paused'
        position: absolute
        right: -40px
        font-size: 10px
        color: #cbcbcb
      &:before
        position: absolute
        content: ""
        left: -5px
        bottom: -2px
        height: 20px
        width: 20px
        border-radius: 50px
        background: #e2e2e2
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        -webkit-transition: .4s
        transition: .4s
        z-index: 2
.add__domain-btn
  display: flex
  align-items: center
  justify-content: center
  button
    width: 198px
    height: 51px
    display: flex
    align-items: center
    justify-content: center
    @media (max-width: 460px)
      margin: 10px 5px 30px 5px
      font-size: 12px
      width: 145px
      height: 45px
      padding: 0 20px 0 20px
    &:focus, &:active
      outline: 0
  .creating
    width: 198px
    height: 51px
    display: none
    align-items: center
    justify-content: center
    padding: 17px 30px 15px 30px
    margin: 10px 15px 30px 15px
    @media (max-width: 460px)
      margin: 10px 5px 30px 5px
      width: 145px
      height: 45px
      padding: 0 20px 0 20px
  .btn
    margin: 10px 15px 30px 15px
    @media (max-width: 460px)
      margin: 10px 5px 30px 5px
      font-size: 12px
      width: 145px
      height: 45px
      padding: 0 20px 0 20px
      display: flex
      align-items: center
      justify-content: center
    &.create-cancel
      background: transparent
      color: #B3B3B3
      border: 1px solid #E6E6E6
      box-shadow: none
      transition: 0.3s
      &:hover
        background: white