.dashboard
  padding: 40px 0
.dashboard__header
  display: flex
  align-items: center
  justify-content: space-between
  .title
    line-height: 46px
    font-size: 30px
    margin: 0
    color: #333
.dashboard__header-form
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  width: 502px
  height: 44px
  background: white
  box-shadow: 0 2px 15px rgba(0,0,0,.06)
  border-radius: 30px
  margin-left: auto
  margin-bottom: 0
  &.no_domains
    .btn
      background: $color-error
  &.no_valid
    .btn
      background: $color-error
    .error
      display: block
  .btn
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    min-width: 170px
    margin: 0 2px 0 0
    padding: 0
    box-shadow: none
    line-height: initial
    img
      margin-right: 10px
      margin-top: -2px
    .loading
      display: none
      margin: 0 auto
      height: 35px
  input
    width: 100%
    height: 100%
    padding: 0 20px
    border: none
    font-size: 14px
    border-top-left-radius: 30px
    border-bottom-left-radius: 30px
    &:focus
      outline: 0
      @include placeholder
        color: transparent
  .error
    display: none
    position: absolute
    color: $color-error
    font-size: 11px
    bottom: -20px
    left: 20px
.dashboard__header-settings
  position: relative
  margin-left: 15px
  &.free__user
    .settings-btn
      pointer-events: none
    &:hover
      .settings-btn
        svg
          path
            fill: rgb(153, 153, 153)
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 100px
        bottom: 38px
        right: 3px
        font-weight: 500
        padding: 5px
        border-radius: 6px
        &:after
          right: 8px
  &:hover
    .settings-btn
      svg
        path
          fill: $color-blue__hover
.settings-btn
  display: flex
  align-items: center
  justify-content: center
  background: white
  box-shadow: 0 2px 15px rgba(0,0,0,.06)
  border-radius: 50px
  width: 40px
  height: 40px
  cursor: pointer
  position: relative
  svg
    path
      transition: 0.2s
  &.open, &.activate
    svg
      path
        fill: $color-blue__hover
.settings-content
  position: absolute
  width: 555px
  right: 0
  top: 47px
  display: none
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start
  box-shadow: 0 5px 30px rgba(91,94,109,.1)
  background: white
  border-radius: 6px
  padding: 42px 0 42px 40px
  z-index: 20
  &:after
    position: absolute
    content: ''
    top: -6px
    right: 10px
    width: 0
    height: 0
    border-style: solid
    border-width: 0 10px 10px 10px
    border-color: transparent transparent #ffffff transparent
.settings-content__param
  display: flex
  align-items: center
  justify-content: flex-start
  margin-bottom: 30px
  width: 100%
  .title
    width: 180px
    font-size: 14px
    margin: 0
    line-height: 18px
    font-weight: 500
    display: flex
    align-items: center
    justify-content: flex-start
    color: #5B5E6D
  &.settings__monitoring
    .title
      color: #9c1cb2
      svg
        height: 15px
        margin-right: 3px
        path
          fill: #9c1cb2
  &.settings__thread
    justify-content: flex-start
    .slider
      margin-left: 10px
  &.settings__pages
    .slider
      margin-top: 5px
      margin-right: 0
  &:last-of-type
    margin-bottom: 0
  .switch
    position: relative
    display: inline-block
    height: 14px
    width: 34px
    margin: 3px 0 0 5px
    &.ignore__robots-switch
      .slider.round
        &:after
          color: #cbcbcb
          content: 'Robots.txt mode is off'
      input:checked+.slider
        background: rgba(0, 102, 255, 0.3)
        &:before
          background: $color-blue
          -webkit-transform: translateX(25px)
          -ms-transform: translateX(25px)
          transform: translateX(25px)
        &:after
          content: 'Robots.txt mode is on'
          color: $color-blue
    input
      display: none
    span
      &:first-of-type
        color: white
      &:nth-child(2)
        color: #333
    input:checked+.slider
      background: rgba(156, 28, 178, 0.3)
      &:before
        background: #9C1CB2
        -webkit-transform: translateX(25px)
        -ms-transform: translateX(25px)
        transform: translateX(25px)
      &:after
        content: 'Monitoring activated'
        color: #9C1CB2
    .slider.round
      width: 24px
      height: 10px
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      -webkit-transition: .4s
      transition: .4s
      background: rgba(184, 184, 184, 0.3)
      border-radius: 50px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 15px
      font-weight: 400
      font-size: 12px
      @media (max-width: 460px)
        margin-right: 35px
        margin-left: auto
      &:after
        content: 'Monitoring disabled'
        position: absolute
        left: 43px
        width: 110px
        font-size: 10px
        color: #cbcbcb
      &:before
        position: absolute
        content: ""
        left: -5px
        bottom: -2px
        height: 16px
        width: 16px
        border-radius: 50px
        background: #F5F5F5
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        -webkit-transition: .4s
        transition: .4s
        z-index: 2
  .slider
    width: 233px
    .tooltip
      background: none
      line-height: initial
      margin: 0
      padding: 0
      width: auto
      height: auto
      right: auto
      top: auto
      opacity: 1
      &:after
        display: none
    .tooltip.top
      margin-top: -14px!important
      margin-left: -2px
      box-shadow: none
    .tooltip-inner
      background: none
      padding: 0
      color: $color-blue
      font-size: 10px
    .tooltip-arrow
      display: none
    .slider-track
      height: 8px
      background-image: none
      box-shadow: none
      background: #F5F5F5
    .slider-selection
      background: rgba(0,102,255,.3)
      box-shadow: none
    .slider-tick
      width: 15px
      height: 15px
      background: #F5F5F5
      box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12)
    .slider-handle
      background: #0166ff
      height: 16px
      width: 16px
    .slider-tick-label
      font-size: 10px
      padding: 0!important
      color: #cbcbcb
.dashboard__content
  margin-bottom: 100px
  margin-top: 26px
.dashboard__limits
  color: #333
  font-size: 12px
  font-weight: 500
  text-align: right
  &:first-of-type
    margin-top: 10px
    margin-bottom: 3px
  span
    color: $color-blue__hover
    &.zero
      color: $color-error
    &#available_monitorings
      color: #9c1cb2
@keyframes move
  0%
    background-position: 0 0
  100%
    background-position: 50px 50px

@-moz-keyframes move
  0%
    background-position: 0 0
  100%
    background-position: 50px 50px

@keyframes fontbulger
  0%
    height: 10%
  30%
    height: 80%
  100%
    height: 10%
@keyframes fontbulger2
  0%
    height: 80%
  70%
    height: 50%
  100%
    height: 80%
@keyframes fontbulger3
  0%
    height: 20%
  50%
    height: 90%
  100%
    height: 20%

.dashboard__table
  width: 100%
  border-spacing: 0 2px
  border-collapse: separate
  thead
    tr
      box-shadow: 0 5px 30px rgba(91, 94, 109, 0.1)
      border-radius: 6px
      th
        background: rgba(255, 255, 255, 0.5)
        padding: 10px
        font-weight: 500
        line-height: 18px
        font-size: 12px
        text-align: center
        color: #333
        position: relative
        >div
          display: inline-block
          cursor: pointer
          &:hover
            .tooltip
              -webkit-transform: scale(1)
              transform: scale(1)
              z-index: 11
              opacity: 1
              width: 150px
              bottom: 33px
              left: 7px
              font-weight: 500
              padding: 5px
              border-radius: 6px
              &:after
                left: 10px
        &:first-of-type
          text-align: left
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
          padding-left: 20px
        &:nth-child(4)
          width: 9%
          text-align: left
        &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6)
          text-align: left
          width: 12%
        &:nth-child(7)
          width: 3%
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
      &.dashboard__testCase
        box-shadow: 0 5px 30px rgba(91, 94, 109, 0.1)
        border-radius: 6px
        .dashboard__btns-list
          &.non__admin
            div, a
              pointer-events: none
        .dashboard__url-testCase
          margin: 1px 0 0 7px
          font-weight: 400
          font-size: 10px
          line-height: 12px
          color: $color-blue__hover
        td
          background: rgba(255, 255, 255, 0.5)
          padding: 27px 10px
          font-weight: 500
          line-height: 18px
          font-size: 12px
          text-align: center
          color: #333
          &:first-of-type
            text-align: left
            border-top-left-radius: 6px
            border-bottom-left-radius: 6px
            padding-left: 20px
          &:nth-child(2), &:nth-child(3), &:nth-child(5)
            text-align: left
          &:nth-child(4)
            width: 9%
          &:nth-child(5)
            width: 15%
            color: #b3b3b3
          &:nth-child(6)
            text-align: left
          &:last-of-type
            border-top-right-radius: 6px
            border-bottom-right-radius: 6px
            padding-left: 0
  tbody
    display: none
    tr
      box-shadow: 0 5px 30px rgba(91, 94, 109, 0.1)
      border-radius: 6px
      .dashboard__url-testCase, .dashboard__url-expire
        display: none
      &.monitoring__disable
        .dashboard__diagram-block
          background: #ddd
        .dashboard__diagram-val
          opacity: 0
        .monitoring__btn
          background: rgb(221, 221, 221)
          &:hover
            box-shadow: none
            background: rgb(221, 221, 221)
      &[name='expired']
        position: relative
        transform: scale(1)
        overflow: hidden
        background: rgba(255, 75, 85, 0.1)
        td
          position: relative
          z-index: 10
          .dashboard__diagram-block
            background: #ddd
          .dashboard__diagram-val
            opacity: 0
          .monitoring__btn, .audit__btn
            pointer-events: none
            background: rgb(221, 221, 221)
            &:hover
              box-shadow: none
              background: rgb(221, 221, 221)
          .external-link__val
            pointer-events: none
            color: #b3b3b3
          .dashboard__values
            display: none
          .dashboard__score
            span:first-of-type
              color: #b3b3b3!important
          .dashboard__diagram
            .dashboard__diagram-block
              span
                height: 0!important
          .dashboard__url-expire
            display: block
            color: $color-error
            margin: 0
            a
              color: $color-error
              transition: 0.2s
              cursor: pointer
              font-size: 12px
              &:hover
                color: #f44336
          .dashboard__monitoring-switch
            pointer-events: none
            svg
              &.checked
                display: none!important
              &.unchecked
                display: block!important
          .dashboard__btns-list
            .share__website
              pointer-events: none
      &[name='inprogress'], &[name='waiting'], &[name='deleting']
        position: relative
        transform: scale(1)
        overflow: hidden
        background: rgba(1, 102, 255, 0.1)
        .dashboard__monitoring-switch, .recrawl__website, .dashboard__monitoring
          pointer-events: none
        .dashboard__url-testCase
          margin: 1px 0 0 7px
          font-weight: 400
          font-size: 10px
          line-height: 12px
          color: $color-blue__hover
        td
          position: relative
          z-index: 10
        &:after
          content: ""
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) )
          background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent )
          z-index: 1
          -webkit-background-size: 50px 50px
          -moz-background-size: 50px 50px
          background-size: 50px 50px
          -webkit-animation: move 2s linear infinite
          -moz-animation: move 2s linear infinite
          overflow: hidden
          @supports (-ms-ime-align: auto)
            display: none
      &[name='waiting']
        background: rgba(255, 179, 0, 0.1)
        .dashboard__diagram-block
          background: #ddd
          .dashboard__diagram-val
            opacity: 0
        .dashboard__url-testCase
          display: block
          color: $color-progress
      &[name='inprogress']
        .dashboard__url-testCase
          display: block
        .dashboard__diagram-block
          .dashboard__diagram-val
            background: rgba(156, 28, 178, 0.3)
            animation: fontbulger 1s infinite
          &:nth-child(2)
            .dashboard__diagram-val
              animation: fontbulger2 1.5s infinite
          &:nth-child(3)
            .dashboard__diagram-val
              animation: fontbulger3 1.3s infinite
          &:nth-child(4)
            .dashboard__diagram-val
              animation: fontbulger 1.5s infinite
          &:nth-child(5)
            .dashboard__diagram-val
              animation: fontbulger2 1s infinite
          &:nth-child(6)
            .dashboard__diagram-val
              animation: fontbulger3 1.8s infinite
          &:nth-child(7)
            .dashboard__diagram-val
              animation: fontbulger 1s infinite
      &[name='deleting']
        background: rgba(255, 75, 85, 0.1)
      td
        background: rgba(255, 255, 255, 0.5)
        padding: 27px 10px
        font-weight: 500
        line-height: 18px
        font-size: 12px
        text-align: center
        color: #333
        .loading
          width: 20px
          height: 20px
          display: block
          margin: 0 auto
        .dashboard__score-loading
          width: 20px
          height: auto
        &:first-of-type
          text-align: left
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
          padding-left: 20px
        &:nth-child(2), &:nth-child(3), &:nth-child(5)
          text-align: left
        &:nth-child(4)
          width: 9%
        &:nth-child(5)
          width: 15%
          color: #b3b3b3
        &:nth-child(6)
          text-align: left
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
          padding-left: 0
  &.no_queue
    .queue__count
      display: none!important

.dashboard__actions-btn
  display: flex
  align-items: center
  justify-content: center
  >*
    margin: 0 5px
    cursor: pointer
    position: relative
    svg
      height: 13px
    .tooltip
      max-height: 0
      overflow: hidden
    &:hover
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 100px
        bottom: 25px
        right: -9px
        font-weight: 500
        padding: 5px
        border-radius: 6px
        overflow: initial
        max-height: none
        &:after
          right: 8px
  .recrawl__website
    svg
      height: 14px
    &:hover
      svg
        path
          fill: $color-blue__hover
  .share__website
    &:hover
      svg
        path
          fill: $color-blue__hover
  .delete__website
    &:hover
      svg
        path
          fill: $color-error
  .dashboard__monitoring
    margin-right: 1px
    &:hover
      .tooltip
        right: -6px
.dashboard__monitoring-switch
  width: auto
  height: auto
  position: relative
  &.ringing
    svg
      -webkit-animation: ring 4s .7s ease-in-out
      -webkit-transform-origin: 50% 4px
      -moz-animation: ring 4s .7s ease-in-out
      -moz-transform-origin: 50% 4px
      animation: ring 4s .7s ease-in-out
      transform-origin: 50% 4px
  svg
    cursor: pointer
    height: 14px
    margin-top: 2px
    path
      transition: 0.2s
      fill: #bbbbbb
    &:hover
      path
        fill: #9c1cb2
    &.checked
      height: 16px
      margin-top: 4px
      path
        fill: #9c1cb2
  &[name='exceeded']
    svg
      path
        fill: $color-error
.dashboard__url
  display: flex
  align-items: center
  justify-content: space-between
  .external-link
    margin-right: auto
    a
      color: #333
      font-size: 13px
      transition: 0.2s
      &:hover
        color: $color-blue
.dashboard__favicon
  width: 26px
  height: 26px
  border-radius: 6px
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  margin-right: 12px
  background-color: #f5f5f5
.dashboard__values
  font-weight: 500
  font-size: 16px
  color: #333
  display: flex
  align-items: center
  p
    margin: 0
  span
    font-weight: 500
    font-size: 12px
    color: #B2B2B2
    margin-left: 3px
.dashboard__score
  span
    &:first-of-type
      font-weight: 500
      font-size: 16px
      &.ok
        color: $color-valid
      &.warning
        color: $color-progress
      &.error
        color: $color-error
    &:nth-child(2)
      font-weight: 500
      font-size: 12px
      color: #B3B3B3
.dashboard__links
  display: flex
  align-items: center
  .btn
    height: 24px
    display: flex
    align-items: center
    justify-content: center
    color: white
    font-size: 9px
    letter-spacing: 1px
    text-transform: uppercase
    margin: 0
    padding: 0
    box-shadow: none
    transition: 0.2s
    svg
      width: 10px
      height: 10px
      margin-right: 5px
    &.audit__btn
      width: 70px
      background: #05CE7C
      margin-right: 5px
      &:hover
        background: #05e18d radial-gradient(circle,transparent 1%,#05e18d 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(5,206,124,.2), 0 4px 5px 0 rgba(5,206,124,.14), 0 1px 10px 0 rgba(5,206,124,.12)
    &.monitoring__btn
      width: 98px
      background: #9C1CB2
      &:hover
        background: #990cab radial-gradient(circle,transparent 1%,#990cab 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(142,23,171,.2), 0 4px 5px 0 rgba(142,23,171,.14), 0 1px 10px 0 rgba(142,23,171,.12)
.dashboard__btns-btn
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: center
  cursor: pointer
  &:hover
    span
      background: $color-blue__hover
  span
    background: #DADADA
    width: 4px
    height: 4px
    border-radius: 50px
    transition: 0.2s
    &:nth-child(2)
      margin: 2px 0
.dashboard__btns
  position: relative
  width: 20px
  &:hover
    .dashboard__btns-list
      display: block
    .dashboard__btns-btn
      span
        background: $color-blue__hover
.dashboard__btns-list
  box-shadow: 0 5px 30px rgba(91,94,109,.1)
  background: white
  border-radius: 6px
  padding: 6px 15px
  position: absolute
  right: 10px
  bottom: -31px
  width: 145px
  display: none
  transition: 0.2s
  z-index: 20
  div, a
    display: flex
    align-items: center
    font-size: 13px
    line-height: 0
    padding: 9px 0
    cursor: pointer
    color: #333
    &.delete__website
      &:hover
        color: $color-error
        svg
          path
            fill: $color-error
    &:hover
      color: $color-blue__hover
      svg
        path
          fill: $color-blue__hover
    svg
      width: 12px
      height: 12px
      margin-right: 7px
      path
        transition: 0.2s
.dashboard__diagram
  display: flex
  align-items: center
  height: 16px
  .dashboard__diagram-block
    height: 100%
    width: 4px
    background: #BBBBBB
    border-radius: 6px
    margin: 0 1px
    position: relative
    span
      position: absolute
      bottom: 0
      left: 0
      width: 4px
      display: block
      border-radius: 6px
      background: #9C1CB2

.dashboard__monitoring-switch
  position: relative
  &.exceeded
    .slider.round
      &:after
        content: 'Upgrade plan'
        color: $color-error
        position: absolute
        right: -65px
        font-size: 10px
  input
    display: none
  span
    &:nth-child(2)
      color: #333
  input:checked+.slider
    background: rgba(156, 28, 178, 0.3)
    &:before
      background: #9C1CB2
      -webkit-transform: translateX(25px)
      -ms-transform: translateX(25px)
      transform: translateX(25px)
    &:after
      content: 'Active'
      color: #9C1CB2
  .slider.round
    width: 24px
    height: 10px
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    -webkit-transition: .4s
    transition: .4s
    background: rgba(184, 184, 184, 0.3)
    border-radius: 50px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 15px
    font-weight: 400
    font-size: 12px
    @media (max-width: 460px)
      margin-right: 35px
      margin-left: auto
    &:after
      content: 'Paused'
      position: absolute
      right: -40px
      font-size: 10px
      color: #cbcbcb
    &:before
      position: absolute
      content: ""
      left: -5px
      bottom: -2px
      height: 16px
      width: 16px
      border-radius: 50px
      background: #e2e2e2
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
      -webkit-transition: .4s
      transition: .4s
      z-index: 2

.settings-content__param
  form
    margin-top: 25px
    text-align: center
  input
    width: 80%
    display: block
    margin: 0 auto
    &#settings__pages-value
      width: 50px
      font-size: 11px
      text-align: center
      border: 2px solid whitesmoke
      padding: 3px
      color: #0060ff
      &:focus
        outline: 0
  output
    display: block
    margin: 25px auto
    font-size: 2em

.dashboard__settings-data
  @extend .settings-content
  top: 58px
  right: -10px
  width: 400px
  padding: 22px

.share__popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  align-items: center
  justify-content: center
  background: rgba(250, 250, 250, 0.9)
  z-index: 100
.share__popup-block
  width: 400px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
  background: white
  border-radius: 6px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  overflow: hidden
  position: relative
  transition: 0.4s
  padding: 0
  text-align: center
  @media (max-width: 460px)
    width: 280px
    height: 408px
.share__popup-header
  position: relative
  display: flex
  align-items: center
  justify-content: center
  padding: 25px 0 20px 0
  width: 100%
  box-shadow: 0 2px 5px rgba(94,86,86,.05)
  p
    margin: 0
    font-size: 15px
    span
      color: $color-blue
  img
    position: absolute
    top: 15px
    right: 15px
    width: 14px
    cursor: pointer
    transition: 0.3s
    &:hover
      transform: rotate(180deg)
.share__popup-body
  display: flex
  flex-direction: column
  width: 100%
  padding: 25px 20px 20px 20px
  >p
    margin: 10px auto 5px 0
    font-size: 11px
  form
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    border-radius: 5px
    box-shadow: 0 2px 15px rgba(0,0,0,.06)
    height: 40px
    margin-bottom: 15px
    input
      width: 100%
      border: none
      padding: 0 10px
      font-size: 14px
      height: 40px
      &:focus
        outline: 0
    button
      width: 120px
      height: 40px
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      font-size: 14px
      background: $color-blue
      border: none
      color: white
      cursor: pointer
      transition: 0.2s
      &:hover
        background: $color-blue__hover
      &.btn-disabled
        pointer-events: none
        background: #ddd
.enable_sharing
  margin-left: auto
  margin-right: 40px
  .switch
    position: relative
    display: inline-block
    height: 14px
    width: 34px
    margin: 0 0 0 5px
    input
      display: none
    span
      &:first-of-type
        color: white
      &:nth-child(2)
        color: #333
    input:checked+.slider
      background: rgba(0, 102, 255, 0.3)
      &:before
        background: $color-blue
        -webkit-transform: translateX(25px)
        -ms-transform: translateX(25px)
        transform: translateX(25px)
      &:after
        content: 'Active'
        color: $color-blue
    .slider.round
      width: 24px
      height: 10px
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      -webkit-transition: .4s
      transition: .4s
      background: rgba(184, 184, 184, 0.3)
      border-radius: 50px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 15px
      font-weight: 400
      font-size: 12px
      @media (max-width: 460px)
        margin-right: 35px
        margin-left: auto
      &:after
        content: 'Paused'
        position: absolute
        right: -40px
        font-size: 10px
        color: #cbcbcb
      &:before
        position: absolute
        content: ""
        left: -5px
        bottom: -2px
        height: 16px
        width: 16px
        border-radius: 50px
        background: #e2e2e2
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)
        -webkit-transition: .4s
        transition: .4s
        z-index: 2

@-webkit-keyframes ring
  0%
    -webkit-transform: rotateZ(0)
  1%
    -webkit-transform: rotateZ(30deg)
  3%
    -webkit-transform: rotateZ(-28deg)
  5%
    -webkit-transform: rotateZ(34deg)
  7%
    -webkit-transform: rotateZ(-32deg)
  9%
    -webkit-transform: rotateZ(30deg)
  11%
    -webkit-transform: rotateZ(-28deg)
  13%
    -webkit-transform: rotateZ(26deg)
  15%
    -webkit-transform: rotateZ(-24deg)
  17%
    -webkit-transform: rotateZ(22deg)
  19%
    -webkit-transform: rotateZ(-20deg)
  21%
    -webkit-transform: rotateZ(18deg)
  23%
    -webkit-transform: rotateZ(-16deg)
  25%
    -webkit-transform: rotateZ(14deg)
  27%
    -webkit-transform: rotateZ(-12deg)
  29%
    -webkit-transform: rotateZ(10deg)
  31%
    -webkit-transform: rotateZ(-8deg)
  33%
    -webkit-transform: rotateZ(6deg)
  35%
    -webkit-transform: rotateZ(-4deg)
  37%
    -webkit-transform: rotateZ(2deg)
  39%
    -webkit-transform: rotateZ(-1deg)
  41%
    -webkit-transform: rotateZ(1deg)
  43%
    -webkit-transform: rotateZ(0)
  100%
    -webkit-transform: rotateZ(0)

@-moz-keyframes ring
  0%
    -moz-transform: rotate(0)
  1%
    -moz-transform: rotate(30deg)
  3%
    -moz-transform: rotate(-28deg)
  5%
    -moz-transform: rotate(34deg)
  7%
    -moz-transform: rotate(-32deg)
  9%
    -moz-transform: rotate(30deg)
  11%
    -moz-transform: rotate(-28deg)
  13%
    -moz-transform: rotate(26deg)
  15%
    -moz-transform: rotate(-24deg)
  17%
    -moz-transform: rotate(22deg)
  19%
    -moz-transform: rotate(-20deg)
  21%
    -moz-transform: rotate(18deg)
  23%
    -moz-transform: rotate(-16deg)
  25%
    -moz-transform: rotate(14deg)
  27%
    -moz-transform: rotate(-12deg)
  29%
    -moz-transform: rotate(10deg)
  31%
    -moz-transform: rotate(-8deg)
  33%
    -moz-transform: rotate(6deg)
  35%
    -moz-transform: rotate(-4deg)
  37%
    -moz-transform: rotate(2deg)
  39%
    -moz-transform: rotate(-1deg)
  41%
    -moz-transform: rotate(1deg)
  43%
    -moz-transform: rotate(0)
  100%
    -moz-transform: rotate(0)

@keyframes ring
  0%
    transform: rotate(0)
  1%
    transform: rotate(30deg)
  3%
    transform: rotate(-28deg)
  5%
    transform: rotate(34deg)
  7%
    transform: rotate(-32deg)
  9%
    transform: rotate(30deg)
  11%
    transform: rotate(-28deg)
  13%
    transform: rotate(26deg)
  15%
    transform: rotate(-24deg)
  17%
    transform: rotate(22deg)
  19%
    transform: rotate(-20deg)
  21%
    transform: rotate(18deg)
  23%
    transform: rotate(-16deg)
  25%
    transform: rotate(14deg)
  27%
    transform: rotate(-12deg)
  29%
    transform: rotate(10deg)
  31%
    transform: rotate(-8deg)
  33%
    transform: rotate(6deg)
  35%
    transform: rotate(-4deg)
  37%
    transform: rotate(2deg)
  39%
    transform: rotate(-1deg)
  41%
    transform: rotate(1deg)
  43%
    transform: rotate(0)
  100%
    transform: rotate(0)
.dashboard__list-links
  display: flex
  align-items: flex-start
  justify-content: space-between
.product__tour
  color: #333
  font-size: 12px
  font-weight: 500
  cursor: pointer
  transition: 0.2s
  margin-top: 10px
  span
    color: $color-blue
    border-bottom: 1px dashed
    &:hover
      color: $color-blue__hover

.queue__count
  position: relative
  display: none
  align-items: center
  justify-content: center
  margin-left: 3px
  height: 22px
  .tooltip
    a
      font-size: 11px
  &:hover
    .tooltip
      -webkit-transform: scale(1)
      transform: scale(1)
      z-index: 11
      opacity: 1
      width: 150px
      bottom: 23px
      left: -7px
      font-weight: 500
      padding: 5px
      border-radius: 6px
      &:after
        left: 10px
  svg
    width: 12px
    height: 12px
    cursor: pointer