.domainPage
  padding: 30px 0
  .loading
    position: relative
    margin-right: auto
    margin-left: 7px
    img
      width: 23px
      height: 23px

.domains_tab
  display: flex
  align-items: center
  margin: 25px 0 20px 0
  position: relative
  &:after
    content: ''
    position: absolute
    left: 0
    bottom: -2px
    width: 100%
    border-radius: 3px
    height: 2px
    background: white
  p
    margin: 0 3px 0 0
    font-size: 13px
    padding: 5px 15px
    font-weight: 500
    border: 2px solid transparent
    border-bottom: 0
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    cursor: pointer
    -webkit-transition: 0.2s
    -moz-transition: 0.2s
    -ms-transition: 0.2s
    -o-transition: 0.2s
    transition: 0.2s
    color: #666666
    &:hover
      color: $color-blue__hover
    &.active
      background: white
      border-color: white
      color: $color-blue

.domains__info
  display: flex
  justify-content: space-between
  margin-bottom: 25px
  padding: 0
  >div
    background: white
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
    padding: 20px 25px
    border-radius: 6px
    width: 23.5%
    font-size: 14px
    &.domains__info-score, &.domains__info-weight
      p
        letter-spacing: 0
        font-weight: 500
        color: #666666
        font-size: 14px
        &:nth-child(2)
          margin: 25px 0 0 0
          font-size: 20px
          color: #d5d5d5
          span
            font-size: 33px
            margin-right: 1px
            &.error
              color: $color-error
            &.warning
              color: $color-progress
            &.good
              color: $color-blue
.domains__info-text
  font-weight: 300
  button, p
    border: none
    display: block
    background: transparent
    margin-bottom: 6px
    font-size: 13px
    color: #999999
    font-weight: 400
    &:last-of-type
      margin-bottom: 0
    span
      color: $color-blue
      &.error
        color: #ff5857
      &.warning
        color: #ffce00
      &.good
        color: #1bbf00
  button
    transition: 0.2s
    cursor: pointer
    &:hover
      color: $color-blue__hover
    &:focus
      outline: 0

.domains__info-about
  display: flex
  justify-content: space-between
  align-items: center
  padding-bottom: 10px
  border-bottom: 1px solid #f3f3f3
  margin-bottom: 15px
  height: 35px
  .seo_report
    margin-right: 10px
    margin-left: auto
    display: flex
    align-items: center
    justify-content: center
    background: white
    border: 2px solid #F5F5F5
    color: #B3B3B3
    border-radius: 15px
    transition: .2s
    position: relative
    height: 30px
    width: 88px
    font-size: 9px
    letter-spacing: 1px
    text-transform: uppercase
    font-weight: 600
    &:hover
      background: #F5F5F5
  p
    font-weight: 500
    font-size: 14px
    margin: 0
    color: #666666
  img
    width: 12px
  .domains__tooltip
    cursor: pointer
    position: relative
    .tooltip
      z-index: -1
      font-size: 11px
      line-height: 14px
      color: #485b69
      -webkit-transform: scale(.9)
      transform: scale(.9)
      opacity: 0
      -webkit-transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s cubic-bezier(.6,.2,.1,1) 0s,opacity .3s cubic-bezier(.6,.2,.1,1) 0s
      transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s cubic-bezier(.6,.2,.1,1) 0s,opacity .3s cubic-bezier(.6,.2,.1,1) 0s
      &::after
        content: ""
        position: absolute
        right: 5px
        bottom: -5px
        width: 0
        height: 0
        border-left: 8px solid transparent
        border-right: 8px solid transparent
        border-top: 8px solid #fff
    &:hover
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 200px
        bottom: 23px
        right: -7px
        background: #fff
        box-shadow: 0 0 7px rgba(0,48,40,.05)
        padding: 10px
        border-radius: 2px

.domains_issue
  display: flex
  width: 100%
  margin-bottom: 10px
  padding: 0

.issue
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 40%
  margin-right: 12.5px
  background: white
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
  border-radius: 6px
  padding: 20px 25px
  font-size: 14px
  font-weight: 300
  .issues
    margin-bottom: 20px
    .title
      font-weight: 500
      line-height: 30px
      font-size: 15px
      color: #666666
      span
        color: #d5d5d5
        &.error
          color: $color-error
        &.warning
          color: $color-progress
    &:last-of-type
      margin-bottom: 0
    &.error
      li
        border-left: 2px solid $color-error
        padding-left: 20px
        .error_fix
          display: none
    &.warning
      li
        border-left: 2px solid $color-progress
        padding-left: 20px
        .error_fix
          display: none
  ul
    padding: 0
    list-style-type: none
    li
      margin-bottom: 13px
      text-decoration: none
      cursor: pointer
      width: 100%!important
      color: #666666
      font-size: 13px
      font-weight: 400
      &:hover
        color: $color-blue__hover
      &:nth-child(n+6)
        display: none
      a, b, strong, span
        word-break: break-all
        text-decoration: none
        font-size: 13px
      img
        width: 5px
        margin: 0 3px
      .error_fix
        display: none

.fix
  color: #06f
  font-size: 11px
  text-align: center
  font-weight: 400
  cursor: pointer
  margin: 20px auto 0 auto
  display: none
  width: 100px
  letter-spacing: 0.3px
  img
    width: 5px
    margin-left: 3px
    transition: transform .25s linear
    -webkit-transition: -webkit-transform .25s linear
  &.open
    img
      -webkit-transform: rotate(180deg)
      -ms-transform: rotate(180deg)
      -webkit-transform: rotate(180deg)
      -moz-transform: rotate(180deg)
      -o-transform: rotate(180deg)
      transform: rotate(180deg)

.fix__block
  margin-top: 10px

.fix__card
  display: flex
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.05)
  border-radius: 2px
  background: white
  width: 100%
  font-size: 13px
  margin-bottom: 10px
  &:last-of-type
    margin-bottom: 0
  div
    &:first-of-type
      background: #f9f9f9
      padding: 13px 15px
      img
        width: 25px
    &:nth-child(2)
      padding: 13px 15px
    p
      margin-bottom: 6px
      line-height: 17px
      &:last-of-type
        margin-bottom: 0
      &.fix__card-title
        font-weight: 400
        margin-bottom: 10px

.domains_links
  margin: 25px 0 0 0
  padding: 0

.domains_links-tab
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  .pageTable_filter
    position: absolute
    height: 35px
    right: 0
    top: -7px
    font-size: 13px
  p
    margin: 0 5px
    padding: 8px 20px
    background: #f2f1f1
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    font-size: 13px
    cursor: pointer
    &.active
      color: #0286bf

.domains__tab
  display: flex
  margin-bottom: 10px
  button
    cursor: pointer
    border: none
    margin-right: 30px
    font-size: 14px
    font-weight: 500
    padding: 5px 0
    transition: .2s
    display: flex
    align-items: center
    color: #999999
    background: transparent
    border-bottom: 2px solid transparent
    &:focus, &:active
      color: $color-blue
      outline: 0
    &.active
      color: $color-blue
      border-bottom-color: $color-blue

.domains_links-block
  .popup_table_elements
    .table-bordered.external, .table-bordered
      border: none
      background: white
      box-shadow: 0 3px 10px 0 rgba(0,0,0,.05)
      position: relative
      border-radius: 3px
      >thead
        >tr
          >th
            border: none
            background: #f9f9f9
            font-weight: 400
            letter-spacing: .2px
            color: #36467d
            padding: 11px 0
            padding-left: 20px
            border-top-left-radius: 3px
            border-top-right-radius: 3px
            border-right: 1px solid #ededed
      >tbody
        >tr
          >td
            padding: 11px 20px
            text-align: left
            border: none
            border-bottom: 1px solid #ededed
            border-right: 1px solid #ededed
            vertical-align: middle
            letter-spacing: .2px
            cursor: pointer
            background: #fff
            p
              margin: 0
            &:last-of-type
              border-right: 0
          &:nth-last-of-type(2)
            border-bottom-right-radius: 3px
            border-bottom-left-radius: 3px
            td
              border-bottom: 0
              border-bottom-right-radius: 3px
              border-bottom-left-radius: 3px
    .table-bordered
      >thead
        >tr
          >th
            width: 29%
            &:nth-child(2)
              width: 20%
            &:nth-child(3), &:nth-child(4)
              width: 8%
              padding: 11px
              text-align: center
            &:last-of-type
              border-right: 0
      >tbody
        >tr
          >td
            width: 29%
            &:nth-child(2)
              width: 20%
            &:nth-child(3), &:nth-child(4)
              width: 8%
              padding: 11px
              text-align: center
    .table-bordered.external
      >thead
        >tr
          >th
            width: 50%
            &:nth-child(2)
              border-right: 0
      >tbody
        >tr
          >td
            width: 50%

.domains_links-block
  .popup_table_elements
    display: flex
    align-items: center
  .dataTables_length label
    display: flex
    align-items: center
    select
      margin: 0 5px
      background: white
      font-size: 11px
      padding: 0
      height: 25px
      border: none

.optimization
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 60%
  margin-left: 12.5px
  background: white
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
  border-radius: 6px
  padding: 20px 25px
  font-size: 14px
  font-weight: 300
  .fix
    width: 125px

.optimization_info
  display: flex
  margin: 25px 0 0 0
  p
    width: 50%
    font-weight: 400
    font-size: 13px
    color: #999999
    .error
      color: #ff5857
    .warning
      color: #ffce00
    .good
      color: #1bbf00

table.optimization_data
  width: 100%
  font-size: 14px
  tr
    &:nth-child(n+6)
      display: none
  td
    padding: 7px 0
    line-height: 20px
    vertical-align: top
    font-size: 13px
    color: #666666
    ul
      list-style-type: none
      counter-reset: li
      padding-left: 25px
      li
        position: relative
        counter-increment: li
        margin-bottom: 5px
        font-size: 13px
        color: #666666
        &:before
          content: '#'counter(li)
          position: absolute
          left: -28px
          color: #c6c6c6
          top: 0
        &.error
          &:before
            display: none
    &:first-of-type
      font-weight: 400
      font-size: 13px
      color: #999999
      width: 20%
      text-transform: capitalize
    .error
      color: $color-error
    .warning
      color: $color-progress
    .good
      color: $color-valid

.highcharts-credits, .highcharts-axis.highcharts-xaxis
  display: none

.highcharts-tooltip
  span
    border: none
    font-family: 'Roboto', sans-serif
    font-size: 10px
    line-height: 16px
    color: #666666
  table
    tr
      td
        font-family: 'Roboto', sans-serif
        font-size: 12px

.highcharts-label-box.highcharts-tooltip-box
  stroke: rgba(0,0,0,.03)
  fill: white
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.08)

.domains_links-block
  .pageTable_filter
    display: none
    align-items: center
    width: 200px
    margin-left: 10px
    input
      border: 1px solid #f6f6f6
      border-radius: 3px
      padding: 5px 10px
      &:focus
        outline: 0

.th_flex
  display: flex
  align-items: center
  padding-right: 20px
  .fa
    color: #c7c7c7
    font-size: 11px
    margin-left: 5px
    cursor: pointer

.fix_popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(73, 92, 106, 0.77)
  z-index: 10
  display: none
  align-items: center
  justify-content: center
  font-size: 13px
  font-weight: 300
  letter-spacing: 0.3px

.fix_popup-block
  background: white
  width: 400px
  border-radius: 2px
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.14)

.fix_header
  padding: 15px 25px 13px 25px
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #f2f2f2
  span
    color: #1bbf00
    font-weight: 400
    font-size: 14px
  .fa
    color: #cacaca
    cursor: pointer

.fix_content
  padding: 15px 25px 20px 25px
  line-height: 18px
  .fix_content-title
    font-weight: 400
    margin-bottom: 5px
  .fix_content-text
    word-break: break-word
    max-height: 500px
    overflow-y: auto
#domain_activity
  display: none
  .monitoring_table-tab
    margin: 0 auto
    width: 850px
    background: #fff
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.05)
    padding: 20px 25px
    border-radius: 3px
    display: none
    min-height: auto
  .dashboard__settings-data
    position: relative
    display: flex
    top: 0
    left: 0
    margin: 0 auto
    box-shadow: none
    &:after
      display: none
  .monitoring__history-event
    border: none
    border-radius: 0
    &:hover
      box-shadow: none
    .event-box
      border: 2px solid #f6f6f6
      border-radius: 5px
      margin-bottom: 20px
      transition: .2s
      &:hover
        box-shadow: 0 2px 20px rgba(145,145,145,.1)
    .body
      .changes
        margin: 7px 0 0 0

.event-box.domain_monitoring
  .event-box__head
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    cursor: pointer
    position: relative
    background: white
    border-radius: 4px
    .event-box__label
      margin-right: auto
    &::before
      content: ''
      position: absolute
      left: -23px
      top: 17px
      display: block
      width: 8px
      height: 8px
      border-radius: 1000px
      background-color: $color-blue
      border: 3px solid $color-blue
      -webkit-box-shadow: 0 0 0 2px #fafbfc
      box-shadow: 0 0 0 2px #fafbfc
    &.started
      cursor: auto
    &.header__open
      background: #f5f5f6
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      justify-content: space-between

.domain_content
  .empty_array, .unchecked_array, .empties_array
    width: 100%
    margin: 0 auto
    display: none
    .event-box__header
      cursor: auto
  .timeline-entry
    &:last-of-type
      .event-box.domain_monitoring
        .event-box__head
          &::before
            display: none

.robots
  overflow: inherit!important

.anchors_export
  background: white
  border: none
  font-size: 11px
  font-weight: 400
  padding: 6px 11px
  border-radius: 2px
  display: none
  margin-top: -3px
  color: #666
  cursor: pointer
  transition: 0.2s
  &:hover
    color: $color-blue__hover
  i
    margin-right: 3px

.table-bordered>thead>tr.external_loading>td
  border: none
  padding: 15px 0
  text-align: center
  .loadings
    position: relative
    margin: 0 auto
    .cprogress__loader
      position: relative
      margin: 0 auto
      top: 0
      left: 0
      z-index: 2
      border: 2px solid #b4c7e2
      border-top: 2px solid #0286bf
      border-radius: 50%
      width: 13px
      height: 13px
      animation: spin 1s linear infinite

#popup_table
  width: 100%
  border-spacing: 0 1px
  border-collapse: separate
  border: none
  box-shadow: none
  background: none
  thead
    tr
      box-shadow: 0 5px 30px rgba(91, 94, 109, 0.1)
      border-radius: 6px
      th
        background: rgba(255, 255, 255, 0.5)
        padding: 10px
        font-weight: 500
        line-height: 18px
        font-size: 12px
        text-align: center
        color: #333
        position: relative
        cursor: pointer
        border-radius: 0
        border-top: 0
        vertical-align: middle
        &:first-of-type
          text-align: left
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
          padding-left: 20px
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
  tbody
    tr
      box-shadow: 0 5px 30px rgba(91, 94, 109, 0.1)
      border-radius: 6px
      td
        padding: 17px 10px
        display: table-cell
        font-weight: 400
        line-height: 18px
        font-size: 12px
        text-align: center
        color: #333
        width: auto
        border-radius: 0
        .external-link
          text-align: left
        .loading
          width: 20px
          height: 20px
          display: block
          margin: 0 auto
        &:first-of-type
          padding-left: 20px
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
          border-left: 0
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
          border-right: 0
.crawler_pagination
  display: flex
  align-items: center
  justify-content: flex-end
  label
    margin-bottom: 0
    margin-right: 20px
    font-size: 11px
    color: #5b5e6d
.dataTables_info
  font-size: 11px
  color: #5b5e6d
  margin-right: 20px
.dataTables_paginate
  .pagination
    margin: 0
    font-size: 11px
    color: #5b5e6d
    .page-link
      padding: 5px
      height: auto
      line-height: normal
      font-size: 11px
      border: none
      background: transparent
    .previous
      margin-left: 10px
.domains_links-block
  .popup_table_elements
    max-height: none
    border: none
    #popup_table
      display: table!important