.crawler-statistics.events
  .crawler-statistic-domain
    font-size: 15px
    font-weight: 400

.timeline
  width: 100%

.timeline-entry
  padding: 0 20px 20px 20px
  -webkit-box-shadow: inset 4px 0 0 #dbdde0
  box-shadow: inset 4px 0 0 #dbdde0
  &:last-of-type
    padding-bottom: 10px
  &.empty_array
    padding-bottom: 10px
    box-shadow: none
    .timeline-entry__title
      &::before
        background-image: url("./img/monitoring-flag.svg")
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        background-color: transparent
        box-shadow: none
        border-radius: 0
        border: none

.event-box__icon
  img
    width: 22px
    margin-right: 5px

.timeline-entry__title
  font-size: 14px
  position: relative
  display: flex
  align-items: center
  margin-bottom: 20px
  span
    padding-right: 20px
  &::before
    content: ''
    position: absolute
    left: -25px
    top: 1px
    display: block
    width: 14px
    height: 14px
    border-radius: 1000px
    background-color: #0286bf
    border: 3px solid #0286bf
    -webkit-box-shadow: 0 0 0 2px #fafbfc
    box-shadow: 0 0 0 2px #fafbfc

.event-box__hidden
  height: 0
  overflow: hidden

.event-box
  border: 1px solid #e8e8e8
  border-radius: 4px
  margin-bottom: 5px
  &:last-of-type
    margin-bottom: 5px
  &.first__entry
    margin-top: 5px
    display: none
  .event-box
    .event-box__header
      &::before
        display: none
    .separated-blocks
      background: #fcfcfc
      margin: 0
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px
      .separated-blocks__block
        padding-top: 15px

.monitoring_tab-second
  .event-box
    .event-box
      .event-box__header
        cursor: auto
        background: #eef3fa


.event-box__additional-info
  font-size: 14px
  color: #8595a6
  text-align: right
  letter-spacing: 0.2px

.event-box__timestamp-info
  color: #5c6773
  font-size: 10px
  font-weight: 300
  text-align: right
  letter-spacing: 0.2px

.event-box__label
  font-size: 14px
  margin-left: 5px
  div
    display: flex
    align-items: center
    a
      color: #495c6a
      margin-bottom: 0
      &:hover
        color: #0286bf
    img
      display: none
      width: 15px
      margin: -1px 10px 0 5px
    &:hover
      img
        display: block
    &.disabled__monitoring
      a
        margin-right: 3px
        color: #0286bf
        transition: 0.2s
        &:hover
          color: #337ab7
      input:checked+.slider
        &:before
          -webkit-transform: translateX(18px)
          -ms-transform: translateX(18px)
          transform: translateX(18px)
        &::after
          content: 'Active'
          color: #0286bf
          right: -37px
      .switch
        width: 40px
        height: 20px
        margin: 0 50px 0 10px
        .slider
          &:before
            height: 16px
            width: 16px
            bottom: 2px
          &::after
            content: 'Paused'
            position: absolute
            top: 3px
            font-size: 11px
            right: -42px
            color: gray
            font-weight: 300
  .external-link
    img
      width: 12px
      margin-left: 6px
      margin-top: 0

.event-box__header
  display: flex
  align-items: center
  padding: 10px
  cursor: pointer
  position: relative
  background: white
  border-radius: 4px
  &.started
    cursor: auto
  &.header__open
    background: #f5f5f6
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  &::before
    content: ''
    position: absolute
    left: -23px
    top: 17px
    display: block
    width: 8px
    height: 8px
    border-radius: 1000px
    background-color: #0286bf
    border: 3px solid #0286bf
    -webkit-box-shadow: 0 0 0 2px #fafbfc
    box-shadow: 0 0 0 2px #fafbfc

.event-box__secondary-section
  margin-left: auto

.event-box__dropdown-icon
  margin-left: 10px
  .dropdown-icon--greyscale
    -webkit-box-flex: 0
    -ms-flex: 0 0 auto
    flex: 0 0 auto
    -ms-flex-item-align: center
    align-self: center
    display: inline-block
    width: 10px
    height: 7px
    background-image: url(/images/dropdown-arrow--grey.svg)
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: 10px 6px
    -webkit-transition: -webkit-transform
    transition: -webkit-transform
    transition: transform
    transition: transform, -webkit-transform
    -webkit-transition-duration: 300ms
    transition-duration: 300ms
    -webkit-transition-timing-function: ease-out
    transition-timing-function: ease-out
    -webkit-transform-style: preserve-3d
    transform-style: preserve-3d
    -webkit-transform: translateZ(0)
    transform: translateZ(0)
    opacity: 0.5
    &.shown
      -webkit-transform: rotateX(180deg) translateZ(0)
      transform: rotateX(180deg) translateZ(0)

.hidden_parent
  .event-box__dropdown-icon
    margin-left: auto
  .event-box__header
    &::before
      display: none

.event-box__content
  border-top: 1px solid #e8e8e8
  padding: 10px 15px
  background: #f9f9f9
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px
  a
    display: block
    margin-bottom: 7px
    color: $text_color
    &:last-of-type
      margin-bottom: 0
    &:hover
      color: $blue_color
  .event-box__data
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0
  .separated-blocks
    display: flex
    justify-content: center
    margin-top: 5px
    .separated-blocks__block
      width: 50%
      padding: 5px 10px
      text-align: center
      &:first-of-type
        border-right: 1px solid #e8e8e8
      .labeled-value__title
        color: #8595a6
        font-size: 14px
        text-align: left
        letter-spacing: 0.3px
        margin-bottom: 5px
      .labeled-value__row
        letter-spacing: 0.3px
        font-size: 14px
        text-align: left
        p
          word-break: break-word

.hidden_child
  .event-box__content
    background: #fcfcfc

.monitoring_pagination
  height: 40px
  color: #495c6a
  padding: 0
  display: flex
  align-items: center
  width: 140px
  border: none
  border-radius: 4px
  margin: 0 auto
  font-weight: 500
  justify-content: center
  transition: 0.2s
  background: #eef3fa
  background-size: 600% 600%
  letter-spacing: 0.3px
  .fa
    margin-right: 5px
  &:focus
    outline: 0
  &:hover
    background: rgb(216, 229, 247)

.monitoring-statistic
  margin: 0 auto 20px auto
  width: 800px

.monitoring_tabs
  display: flex
  align-items: center
  margin: 0
  span
    font-size: 13px
    margin-right: 8px
  p
    margin: 0
    transition: .2s
    padding: 6px 14px
    font-size: 12px
    letter-spacing: .2px
    font-weight: 500
    cursor: pointer
    background: #f9f9f9
    &:hover
      background: #eef3fa
    &:first-of-type
      border-bottom-left-radius: 2px
      border-top-left-radius: 2px
    &:last-of-type
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-left: 1px solid #e8e8e8
    &.active
      color: #0286bf
      background: #eef3fa

.monitoring_tab
  width: 100%
  margin-bottom: 50px
  min-height: 300px

.monitoring_flexing
  display: flex
  align-items: flex-end
  justify-content: flex-end
  margin-top: 15px
  .crawler-domain_block
    padding: 0
    a:first-of-type
      padding: 6px 14px

.empty_array, .unchecked_array, .empties_array
  width: 100%
  display: none
  margin: 0
  .event-box__header::before
    display: none

.unchecked_array
  .event-box__icon img
    width: 15px
    margin-right: 5px
    margin-top: -2px

.table-bordered>tbody>tr>td.crawler-domain-recrawl .crawler-domain_block a.monitoring_link
  &.unchecked
    pointer-events: none
    cursor: auto
    background: #f9f9f9
    color: #9e9e9e

.monitoring_graph
  margin: 20px auto
  display: flex
  align-items: flex-start
  justify-content: space-between
.monitoring__graph-block
  width: 49%
  background: white
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
  border-radius: 2px
  position: relative
  height: 0
  overflow: hidden
  padding: 0
  .graph__info
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 15px
  .graph__info-title
    p
      margin-bottom: -5px
      color: #666
      font-size: 14px
      font-weight: 400
    span
      color: #b3b3b3
      font-size: 9px
  canvas
    height: 265px
    padding-right: 10px
.monitoring_graph-btn
  display: flex
  align-items: center
  justify-content: center
  padding-right: 10px
  button
    border: 2px solid #f6f6f6
    background: #fff
    margin: 0
    color: #B3B3B3
    font-size: 10px
    line-height: 2
    border-left: 0
    width: 30px
    height: 25px
    display: flex
    align-items: center
    justify-content: center
    transition: 0.2s
    &:hover, &.active
      background: #f6f6f6
      color: #666
    &:first-of-type
      border-left: 2px solid #f6f6f6
      border-radius: 3px 0 0 3px
    &:last-of-type
      border-radius: 0 3px 3px 0

.monitoring__header-btn
  display: flex
  align-items: center
  justify-content: flex-end
  a
    margin-left: 5px
    display: flex
    align-items: center
    justify-content: center
    background: #eef3fa
    padding: 0 10px
    min-height: 29px
    border-radius: 2px
    transition: .2s
    position: relative
    cursor: pointer
    color: #3286bf
    font-size: 11px
    img
      width: 13px
      margin-right: 3px
    &:hover
      background: #d4e4fa
.robots__changes
  list-style-type: none
  margin: 0
  padding: 0 0 0 20px
  line-height: 20px
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace
  font-size: 12px
  li
    position: relative
    counter-increment: li
    &::before
      content: counter(li)
      color: rgba(27,31,35,0.3)
      display: inline-block
      width: 3.5em
      padding: 0 5px 0 0
      margin-left: -1.5em
      margin-right: 1.8em
      text-align: right
      direction: rtl
    &.robots-delete
      background: #ffeef0
      .change
        background: #fdb8c0
      &::before
        background: #ffdce0
        text-align: left
        padding: 0 0 0 5px
      &::after
        position: absolute
        left: 32px
        content: '-'
        color: #495c6a
    &.robots-added
      background: #e6ffed
      counter-increment: span
      .change
        background: #aae8b7
      &::before
        background: #cdffd8
      &::after
        position: absolute
        left: 32px
        content: '+'
        color: #495c6a
.crawler-data
  padding-left: 20px
.monitoring__filter
  width: 100%
  display: none
  align-items: center
  justify-content: flex-start
  margin: 10px 0 20px 0
.monitoring__filter-search
  display: flex
  align-items: center
  justify-content: flex-start
  height: 35px
  width: 250px
  border: 2px solid #f6f6f6
  border-radius: 4px
  input
    width: 100%
    height: 100%
    background: #fff
    border: none
    padding: 0 10px
    font-size: 13px
    font-weight: 100
    letter-spacing: .2px
    &:focus
      @include placeholder
        color: transparent
  button
    display: flex
    align-items: center
    justify-content: center
    width: 5%
    min-width: 35px
    background: #f4f2f2
    color: #fff
    border: none
    font-size: 16px
    font-weight: 300
    letter-spacing: .3px
    height: 100%
    transition: .2s
    svg
      width: 13px
      height: auto
.monitoring__filter-index
  margin-left: 20px
  margin-bottom: 0
  font-weight: 400
  font-size: 13px
  color: #B3B3B3
  cursor: pointer
  i
    border: 2px solid #f4f2f2
    width: 20px
    height: 20px
    display: inline-block
    border-radius: 2px
    cursor: pointer
    color: #fff
    text-align: center
    margin-right: 5px
    &:before
      content: '\f00c'
      color: transparent
      line-height: 18px
      font-size: 11px
  input
    display: none
    &:checked + i
      background-color: #f4f2f2
      &:before
        color: #0286bf