footer
  margin-top: auto
.footer
  background: white
  position: relative
  z-index: 11
  box-shadow: 0 2px 5px rgba(94, 86, 86, 0.15)
  &.white__bg
    box-shadow: 0 2px 5px rgba(94, 86, 86, 0.15)
  .wrapper
    padding: 40px 0 30px 0
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    @media (max-width: 965px)
      padding: 40px 0 20px 0
      >div
        &:first-of-type
          order: 1
          width: 50%
          margin-bottom: 15px
        &:nth-child(2)
          order: 3
        &:nth-child(3)
          order: 4
        &:nth-child(4)
          order: 5
          margin-bottom: 0
        &:nth-child(5)
          order: 6
        &:last-of-type
          order: 2
          width: 50%
          display: flex
          justify-content: flex-end
          @media (max-width: 420px)
            justify-content: flex-start
            width: 100%
    @media (max-width: 415px)
      padding: 30px 0
      >div
        width: 100%
        padding: 0
        margin-bottom: 15px
        &:first-of-type
          width: 100%
        &:nth-child(5)
          width: 100%
          justify-content: flex-start
.footer__logo
  img
    margin-bottom: 20px
    width: 180px
  p
    font-size: 12px
    color: #999999
    letter-spacing: 0.3px
    line-height: 23px
    margin: 0
.footer__menu
  padding: 0 5px
  p
    font-size: 14px
    font-weight: 500
    color: #5B5E6D
    line-height: 22px
    margin-bottom: 17px
  ul
    list-style-type: none
    padding: 0
    margin: 0
    li
      a
        font-size: 13px
        color: #999999
        line-height: 14px
        text-decoration: none
        transition: 0.2s
        margin-bottom: 13px
        display: block
        &:hover
          text-decoration: none
          color: $color-blue
ul.footer__lang
  margin: 0
  padding: 0
  list-style-type: none
  position: relative
  &:hover
    .sub__lang
      display: block
    .lang__arrow
      transform: rotate(180deg)
      path
        fill: $color-blue
  li
    &:hover
      a, span
        color: $color-blue
  a, .lang__selected
    display: flex
    align-items: center
    justify-content: flex-start
    cursor: pointer
    margin-bottom: 3px
    &:hover
      text-decoration: none
    img
      width: 24px
      margin-right: 6px
    .lang__arrow
      transition: 0.3s
      width: 6px
      margin: 0 0 0 6px
    span
      font-size: 14px
      color: #5B5E6D
      font-weight: 500
  &.open
    .lang__selected
      span
        color: $color-blue
    .lang__arrow
      path
        fill: $color-blue
      transform: rotate(180deg)
  .sub__lang
    margin: 0
    padding: 0
    list-style-type: none
    display: none
    flex-direction: column-reverse
    width: 100%
    min-width: 115px
    position: absolute
    top: -280px
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
    background: white
    border-radius: 3px
    li
      a
        padding: 4px 6px 4px 8px
      span
        font-size: 14px
      img
        width: 20px
        margin-right: 7px
.monitoring__footer
  .footer
    border-top: 2px solid #f2f1f1

.new_dis
  margin-top: 13px
  .names
    position: relative
    display: block
    &:before
      content: 'Old design'
      position: absolute
      left: -55px
      font-size: 10px
      color: #a5a5a5
      width: 49px
      top: -9px
    &:after
      content: 'New design'
      position: absolute
      right: -63px
      font-size: 10px
      color: #a5a5a5
      width: 53px
      top: -9px
      transition: color 0.2s

.check
  position: relative
  background: linear-gradient(90deg,#1a84ff,#459bff)
  line-height: 0
  perspective: 400px
  margin-left: 55px

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after,
.check
  -webkit-appearance: none
  display: inline-block
  border-radius: 1rem
  border: 0
  transition: .35s ease-in-out
  box-sizing: border-box
  cursor: pointer

.check label
  width: 2.2rem
  height: 1rem
  background: #e3e3e3
  overflow: hidden
  margin: 0

.check input[type="checkbox"]
  position: absolute
  z-index: 1
  width: .8rem
  height: .8rem
  top: .1rem
  left: .1rem
  background: linear-gradient(45deg, #dedede, #ffffff)
  box-shadow: 0 6px 7px rgba(0,0,0,0.3)
  outline: none
  margin: 0

.check input[type="checkbox"]:checked + label + .names
  &:after
    color: $color-blue

.check input[type="checkbox"]:checked
  left: 1.3rem

.check input[type="checkbox"]:checked + label
  background: transparent

.check label::before,
.check label::after
  content: "· ·"
  position: absolute
  overflow: hidden
  left: .15rem
  top: .5rem
  height: 1rem
  letter-spacing: -.04rem
  color: #9b9b9b
  font-family: "Times New Roman", serif
  z-index: 2
  font-size: .6rem
  border-radius: 0
  transform-origin: 0 0 -.5rem
  backface-visibility: hidden

.check label::after
  content: "●"
  top: .65rem
  left: .3rem
  height: .1rem
  width: .35rem
  font-size: .2rem
  transform-origin: 0 0 -.4rem

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after
  left: 1.55rem
  top: .4rem
  line-height: .1rem
  transform: rotateY(360deg)

.check input[type="checkbox"]:checked + label::after
  height: .16rem
  top: .55rem
  left: 1.6rem
  font-size: .6rem
  line-height: 0

.language_menu
  list-style-type: none
  padding: 0
  margin: 0
  position: relative
  width: 95px
  li
    a
      font-size: 13px
  &.en
    width: 89px
  &.nl
    width: 112px
  &.no
    width: 109px
  &.pt
    width: 106px
  &:hover
    .sub-menu_container
      display: block
    .current_lang
      &:after
        color: $color-blue__hover
    .lang__arrow
      transform: rotate(180deg)
      path
        fill: $color-blue__hover
  .lang__arrow
    position: absolute
    right: 0
    top: 6px
    width: 6px
    transition: 0.2s
  a
    position: relative
    height: 15px
    display: block
    cursor: pointer
    &:after
      position: absolute
      left: 30px
      top: -2px
      font-weight: 500
      color: #5B5E6D
    &:before
      content: ''
      position: absolute
      left: 0
      width: 24px
      height: 15px
      background-size: cover
      background-position: center center
      background-repeat: no-repeat
    &[title='en']
      &:after
        content: 'English'
      &:before
        background-image: url("./img_design/en.svg")
    &[title='de']
      &:after
        content: 'Deutsch'
      &:before
        background-image: url("./img_design/ge.svg")
    &[title='fr']
      &:after
        content: 'Français'
      &:before
        background-image: url("./img_design/fr.svg")
    &[title='ru']
      &:after
        content: 'Русский'
      &:before
        background-image: url("./img_design/ru.svg")
    &[title='nl']
      &:after
        content: 'Nederlands'
      &:before
        background-image: url("./img_design/ne.svg")
    &[title='it']
      &:after
        content: 'Italiano'
      &:before
        background-image: url("./img_design/it.svg")
    &[title='es']
      &:after
        content: 'Español'
      &:before
        background-image: url("./img_design/sp.svg")
    &[title='sv']
      &:after
        content: 'Svenska'
      &:before
        background-image: url("./img_design/sw.svg")
    &[title='pt']
      &:after
        content: 'Português'
      &:before
        background-image: url("./img_design/pt.svg")
    &[title='no']
      &:after
        content: 'Norwegian'
      &:before
        background-image: url("./img_design/no.svg")
    &[title='tr']
      &:after
        content: 'Türkçe'
      &:before
        background-image: url("./img_design/tr.svg")
    &[title='pl']
      &:after
        content: 'Polski'
      &:before
        background-image: url("./img_design/pl.png")
    &[title='ja']
      &:after
        content: '日本語'
      &:before
        background-image: url("./img_design/japan.png")
  .sub-menu_container
    display: none
    width: 100%
    min-width: 115px
    position: absolute
    bottom: 5px
    padding-bottom: 20px
  .sub-menu
    list-style-type: none
    padding: 0
    margin: 0
    box-shadow: 0 2px 15px rgba(0,0,0,.06)
    background: #fff
    border-radius: 3px
    li
      &:first-of-type
        a
          border-top-left-radius: 4px
          border-top-right-radius: 4px
      &:last-of-type
        a
          border-bottom-left-radius: 4px
          border-bottom-right-radius: 4px
    a
      height: 24px
      &:after
        top: 3px
        left: 36px
        font-size: 13px
      &:before
        left: 8px
        top: 4px
        width: 21px
      &:hover
        background: #fcfcfc

.tour__popup
  position: fixed
  width: 100%
  height: 100%
  z-index: 100
  background: rgba(0, 21, 47, 0.73)
  display: none
  align-items: center
  justify-content: center
.tour__popup-container
  width: 750px
  height: 575px
  margin: 0 auto
  background: transparent
  border-radius: 15px
  position: relative
  &.tour
    .back__to__tour
      display: flex
    .tour__popup-close
      path
        fill: #d4d4d4
.tour__header
  background: #3c94ff
  color: white
  border-radius: 15px 15px 0 0
  padding: 20px 0
.tour__popup-close
  position: absolute
  top: 18px
  right: 18px
  width: 15px
  display: flex
  justify-content: flex-end
  transition: 0.3s
  cursor: pointer
  z-index: 100
  &:hover
    transform: rotate(180deg)
.back__to__tour
  display: none
  align-items: center
  position: absolute
  top: 18px
  left: 18px
  transition: 0.3s
  cursor: pointer
  z-index: 100
  span
    margin-left: 3px
    font-family: 'Indie Flower', cursive
    font-size: 14px
    color: #3c94ff
    font-weight: 600
    letter-spacing: 0.3px
  svg
    height: 12px
    transform: rotate(180deg)
    path
      fill: #3c94ff
  &:hover
    span
      color: $color-blue__hover
    svg
      path
        fill: $color-blue__hover
.tour__header-title
  padding: 5px 50px 0 50px
  display: flex
  align-items: center
  p
    margin: 0 0 0 15px
    font-size: 25px
    font-weight: 500
  img
    height: 26px
.tour__header-description
  padding: 10px 50px 0 50px
  font-size: 16px
  line-height: 24px
  margin: 0
.tour__content
  background: white
  height: 74%
  padding: 0 50px
  border-radius: 0 0 15px 15px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
.tour__content-btn
  width: 100%
  box-shadow: 0 3px 10px 0 rgba(33, 37, 41, 0.1)
  padding: 22px 30px
  margin-bottom: 20px
  border-radius: 10px
  transition: 0.2s
  cursor: pointer
  &:hover
    box-shadow: 0 3px 10px 0 rgba(33, 37, 41, 0.2)
    .title
      p
        color: $color-blue__hover
  &:last-of-type
    margin-bottom: 0
  .title
    display: flex
    align-items: center
    p
      margin: 0 0 0 14px
      color: #313135
      line-height: 1.2
      font-size: 17px
      transition: 0.2s
  .description
    margin: 10px 0 0 0
    font-size: 13px
    color: #5b5e6d
    line-height: 1.5

.tour__first
  height: 100%
  align-items: center
  justify-content: center
  flex-direction: column

.tour__second, .tour__third, .tour__four
  display: none
  height: 100%
  .carousel
    height: 100%
  .carousel-inner
    height: 555px
  .carousel-item
    height: 555px
  .carousel-control-next
    width: auto
    right: -40px
  .carousel-control-prev
    width: auto
    left: -40px
  .carousel-indicators
    margin-bottom: 0
    bottom: -10px
    li
      width: 10px
      height: 10px
      border-radius: 50px
      margin: 0 5px

.website__owner
  display: none
  flex-direction: column
  justify-content: space-between
  height: 100%
  &:first-of-type
    display: flex

.carousel-item__content
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.tour__list-content
  display: flex
  align-items: end
  justify-content: center
  background: #fafafa
  height: 100%
  width: 100%
  border-radius: 15px 15px 0 0
  padding-top: 35px
  img
    width: auto
    height: auto
    max-width: 100%
    margin-top: auto
.tour__list-footer
  background-color: #004bff
  padding: 40px 50px
  border-radius: 0 0 15px 15px
  width: 100%
  p
    color: white
    &.title
      font-size: 20px
      font-weight: 500
      line-height: 1.2
      margin-bottom: 10px
    &.description
      margin: 0
      font-size: 14px
      line-height: 1.5

.tour__third
  .tour__list-footer
    background: #199cff

.tour__four
  .tour__list-footer
    background: #00bbff