.front__landing
  height: 100vh
  position: relative
  margin: 0
  padding: 0
  display: flex
  align-items: center
  justify-content: center
  background-color: #3c94ff
  background-image: url("./img_design/bg.svg")
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  @media(max-width: 640px)
    min-height: 100vh
    background-image: none
    height: auto
.front__landing-text
  text-align: center
  color: white
  h1
    font-size: 45px
    font-weight: 500
    margin: 0
    @media(max-width: 820px)
      padding: 0 20px
    @media(max-width: 640px)
      font-size: 30px
  h2
    font-size: 24px
    margin: 25px 0 33px 0
    font-weight: 400
    @media(max-width: 820px)
      padding: 0 20px
    @media(max-width: 640px)
      font-size: 20px
      line-height: 28px
  .article__seo-search
    &.no_valid
      button
        background: $color-error
        box-shadow: none
      .error
        display: block
    &.no_limits
      button
        background: $color-error
        box-shadow: none
      .error__limits
        display: block
    .error, .error__limits
      display: none
      position: absolute
      color: $color-error
      z-index: 3
      font-size: 13px
      right: 80px
      a
        font-size: 13px
        border-bottom: 1px dashed
        &:hover
          color: $color-blue__hover
      @media(max-width: 768px)
        left: 25px
        right: auto
        bottom: -29px
        color: white
        a
          color: white
      @media (max-width: 640px)
        font-size: 11px
        a
          font-size: 11px
    img
      max-width: 40px
      &.loading
        display: none
    input
      color: #313135
      @media(max-width: 640px)
        font-size: 15px
    @media(max-width: 1190px)
      width: 770px
    @media(max-width: 900px)
      width: 90%
      margin: 0 auto
    @media(max-width: 820px)
      width: 85%
    @media(max-width: 640px)
      width: 90%
.front__tool
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FAFDFF 100%)
  padding: 75px 0
  position: relative
  overflow-x: hidden
  @media(max-width: 640px)
    padding: 35px 0
  .front__tool-action
    .action
      &:hover
        background: transparent
        box-shadow: none
        color: #ff8b29
        border-color: #ff8b29
  &.front__tool-audit
    background: white
    @media(max-width: 820px)
      .wrapper
        flex-direction: column-reverse
        .front__tool-description
          padding-bottom: 40px
        .illustration
          padding-bottom: 0
    .illustration
      display: flex
      align-items: flex-start
      justify-content: flex-end
    .btn
      background: #05CE7C
      box-shadow: 0 3px 1px -2px rgba(5,206,124,.2), 0 2px 2px 0 rgba(5,206,124,.14), 0 1px 5px 0 rgba(5,206,124,.12)
      transition: background 0.8s
      &.action
        &:hover
          border-color: #05e18d
          color: #05e18d
          background: transparent
          box-shadow: none
      &:hover
        outline: 0
        background: #05e18d radial-gradient(circle,transparent 1%,#05e18d 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(5,206,124,.2), 0 4px 5px 0 rgba(5,206,124,.14), 0 1px 10px 0 rgba(5,206,124,.12)
        color: white
  &.front__tool-monitoring
    .btn
      background: #8E17AB
      box-shadow: 0 3px 1px -2px rgba(142,23,171,.2), 0 2px 2px 0 rgba(142,23,171,.14), 0 1px 5px 0 rgba(142,23,171,.12)
      transition: background 0.8s
      &.action
        &:hover
          border-color: #990cab
          box-shadow: none
          color: #8E17AB
          background: transparent
      &:hover
        outline: 0
        color: white
        background: #990cab radial-gradient(circle,transparent 1%,#990cab 1%) center/15000%
        box-shadow: 0 2px 4px -1px rgba(142,23,171,.2), 0 4px 5px 0 rgba(142,23,171,.14), 0 1px 10px 0 rgba(142,23,171,.12)
  .btn
    margin: 25px 0 0 0
    font-size: 12px
    font-weight: 700
    padding: 12px 23px 11px 23px
    background: #FF8B29
    box-shadow: 0 3px 1px -2px rgba(255,139,41,.2), 0 2px 2px 0 rgba(255,139,41,.14), 0 1px 5px 0 rgba(255,139,41,.12)
    transition: background 0.8s
    border: 2px solid transparent
    &.action
      background: transparent
      color: #dddddd
      border: 2px solid #dddddd
      box-shadow: none
      margin-left: 10px
      transition: 0.2s
    &:hover
      outline: 0
      color: white
      background: #ff931c radial-gradient(circle,transparent 1%,#ff931c 1%) center/15000%
      box-shadow: 0 2px 4px -1px rgba(255,139,41,.2), 0 4px 5px 0 rgba(255,139,41,.14), 0 1px 10px 0 rgba(255,139,41,.12)
  .wrapper
    display: flex
    align-items: flex-start
    justify-content: space-between
    @media(max-width: 820px)
      flex-wrap: wrap
    >div
      width: 50%
      @media(max-width: 820px)
        width: 100%
      &:first-of-type
        padding-right: 35px
        @media(max-width: 820px)
          padding: 0 0 40px 0
      &.illustration
        width: 45%
        @media(max-width: 820px)
          width: 100%
  .illustration
    position: relative
    img
      max-height: 590px
      width: auto
      height: 590px
      @media(max-width: 820px)
        width: 100%
        max-height: none
      @media(max-width: 640px)
        height: auto
        display: none
  .description-img
    height: 20px
    margin-bottom: 5px
  .description-title
    line-height: 61px
    font-size: 28px
    color: #313135
    font-weight: 500
    margin: 0 0 2px 0
    display: flex
    align-items: center
    @media (max-width: 640px)
      line-height: 35px
      margin: 20px 0
  .description-text
    line-height: 24px
    font-size: 16px
    color: #5B5E6D
    margin: 0 0 21px 0
  .description-about
    margin: 0
    padding: 0 0 0 36px
    list-style-type: none
    .panel-default>.panel-heading
      background: none
      border: none
      padding: 0
      margin: 0
      box-shadow: none
    .panel
      background: none
      border: none
      padding: 0 0 15px 0
      margin: 0
      box-shadow: none
      position: relative
      &:before
        position: absolute
        content: ''
        top: 16px
        left: -32px
        display: block
        width: 1px
        height: 0
        background: #5B5E6D
        z-index: 2
      &:after
        position: absolute
        content: ''
        top: 16px
        left: -32px
        display: block
        width: 1px
        height: 100%
        background: #DDDDDD
        z-index: 1
        -webkit-transition: 250ms
        -moz-transition: 250ms
        -o-transition: 250ms
        transition: 250ms
      &:last-of-type
        &:after, &:before
          display: none
      &.active
        &:after
          height: 100%
        &:before
          height: 100%
          -webkit-transition: all 5s ease
          -o-transition: all 5s ease
          transition: all 5s ease
        h3
          font-weight: 500
          &:before
            background: #5B5E6D
    h3
      line-height: 24px
      font-size: 16px
      font-weight: 500
      color: #5B5E6D
      margin: 0 0 5px 0
      transition: 0.2s
      cursor: pointer
      position: relative
      &:before
        position: absolute
        content: ''
        top: 7px
        left: -36px
        display: block
        width: 9px
        height: 9px
        border-radius: 50px
        background: #DDDDDD
        z-index: 2
        -webkit-transition: 250ms
        -moz-transition: 250ms
        -o-transition: 250ms
        transition: 250ms
      &[aria-expanded=true]
        color: #313135
        &:before
          background: #313135
      &:hover
        color: #313135
    .panel-body
      line-height: 21px
      font-size: 14px
      color: #5B5E6D
      margin: 0
      padding: 0
      border: none
.front__benefits
  background: white
  .wrapper
    padding: 100px 0 50px 0
    @media(max-width: 820px)
      padding-bottom: 30px
    @media(max-width: 640px)
      padding: 45px 0
    .title
      line-height: 30px
      font-size: 35px
      text-align: center
      color: #313135
      margin-bottom: 65px
      @media(max-width: 820px)
        line-height: 53px
      @media(max-width: 640px)
        font-size: 28px
        line-height: 40px
        margin-bottom: 35px
    .front__benefits-block
      display: flex
      align-items: flex-start
      justify-content: space-between
      @media(max-width: 820px)
        flex-wrap: wrap
      div
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column
        padding: 0 10px
        width: 23%
        @media(max-width: 820px)
          width: 45%
          padding-bottom: 40px
        @media(max-width: 640px)
          width: 100%
        img
          height: 70px
        h3
          font-weight: 500
          line-height: 30px
          font-size: 20px
          text-align: center
          color: #313135
          margin: 15px 0 10px 0
        span
          line-height: 21px
          font-size: 14px
          text-align: center
          color: #5b5e6d
.front__testimonials
  background: white
  .wrapper
    padding: 70px 0
    @media(max-width: 640px)
      padding: 45px 0
  .title
    line-height: 30px
    font-size: 35px
    text-align: center
    color: #313135
    margin-bottom: 15px
    @media(max-width: 640px)
      font-size: 28px
      line-height: 35px
  .description
    line-height: 30px
    font-size: 18px
    text-align: center
    color: #5B5E6D
    margin-bottom: 70px
    @media(max-width: 640px)
      font-size: 16px
      line-height: 23px
      margin-bottom: 50px
.front__testimonials-block
  .testimonials
    display: flex
    align-items: flex-start
    margin-bottom: 7px
    @media(max-width: 640px)
      align-items: flex-end
    &:last-of-type
      margin-bottom: 0
    @media(max-width: 820px)
      margin-bottom: 35px
    &:nth-child(2n)
      justify-content: flex-end
      .author
        order: 2
        margin: 0 0 0 20px
      .comment
        background: linear-gradient(90deg, #4C9DFF 0%, #2487FF 100%)
        &:before
          content: ""
          position: absolute
          z-index: 1
          bottom: -4px
          right: -14px
          left: auto
          height: 10px
          border-left: 30px solid #2487ff
          background: #2487ff
          -webkit-border-bottom-left-radius: 80px 50px
          -moz-border-radius-bottomleft: 80px 50px
          border-bottom-left-radius: 80px 50px
          -webkit-transform: translate(0,-2px)
          -moz-transform: translate(0,-2px)
          -ms-transform: translate(0,-2px)
          -o-transform: translate(0,-2px)
          transform: translate(0,-2px)
          border-right: 0
        &:after
          content: ""
          position: absolute
          z-index: 2
          bottom: -8px
          right: -47px
          left: auto
          width: 21px
          height: 14px
          background: #fff
          -webkit-border-bottom-left-radius: 40px 50px
          -moz-border-radius-bottomleft: 40px 50px
          border-bottom-left-radius: 40px 50px
          -webkit-transform: translate(-30px,-2px)
          -moz-transform: translate(-30px,-2px)
          -ms-transform: translate(-30px,-2px)
          -o-transform: translate(-30px,-2px)
          transform: translate(-30px,-2px)
    .author
      width: 15%
      margin-right: 20px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      @media(max-width: 640px)
        width: 100px
    .author-img
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      width: 100px
      height: 100px
      border-radius: 50%
      margin-bottom: 13px
      @media(max-width: 640px)
        width: 80px
        height: 80px
      img
        width: 100%
    .author-name
      font-weight: 500
      line-height: 24px
      font-size: 16px
      text-align: center
      color: #000000
      margin-bottom: 1px
      z-index: 10
    .author-position
      line-height: 21px
      font-size: 14px
      text-align: center
      color: #000000
      margin-bottom: 5px
    .author-company
      max-width: 100px
      max-height: 40px
    .comment
      width: 676px
      background: linear-gradient(90deg, #2487FF 0%, #4C9DFF 100%)
      position: relative
      border-radius: 20px
      line-height: 24px
      font-size: 16px
      color: #FFFFFF
      padding: 25px
      @media(max-width: 820px)
        width: 75%
      @media(max-width: 640px)
        width: 60%
        font-size: 14px
        line-height: 20px
        padding: 18px
      &:before
        content: ""
        position: absolute
        z-index: 1
        bottom: -4px
        left: -15px
        height: 10px
        border-right: 30px solid #2487FF
        background: #2487FF
        -webkit-border-bottom-right-radius: 80px 50px
        -moz-border-radius-bottomright: 80px 50px
        border-bottom-right-radius: 80px 50px
        -webkit-transform: translate(0, -2px)
        -moz-transform: translate(0, -2px)
        -ms-transform: translate(0, -2px)
        -o-transform: translate(0, -2px)
        transform: translate(0, -2px)
      &:after
        content: ""
        position: absolute
        z-index: 2
        bottom: -6px
        left: -11px
        width: 45px
        height: 12px
        background: #fff
        -webkit-border-bottom-right-radius: 40px 50px
        -moz-border-radius-bottomright: 40px 50px
        border-bottom-right-radius: 40px 50px
        -webkit-transform: translate(-30px, -2px)
        -moz-transform: translate(-30px, -2px)
        -ms-transform: translate(-30px, -2px)
        -o-transform: translate(-30px, -2px)
        transform: translate(-30px, -2px)
.front__check
  background-color: #308EFF
  background-image: url('./img_design/bg__mask.svg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height: 450px
  @media(max-width: 640px)
    height: 350px
  .wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    .title
      line-height: 61px
      font-size: 40px
      text-align: center
      color: #FFFFFF
      margin: 42px 0 36px 0
      @media(max-width: 640px)
        font-size: 30px
        line-height: 40px
        margin: 32px 0 26px 0
    img
      @media(max-width: 640px)
        width: 40px
.front__faq
  background: white
  .wrapper
    padding: 70px 0
    @media(max-width: 640px)
      padding: 45px 0
  .title
    line-height: 30px
    font-size: 35px
    text-align: center
    color: #313135
    margin-bottom: 15px
    @media(max-width: 640px)
      font-size: 28px
      line-height: 35px
  .description
    line-height: 30px
    font-size: 18px
    text-align: center
    color: #5B5E6D
    margin-bottom: 30px
    @media(max-width: 640px)
      font-size: 16px
      line-height: 23px
.front__faq-block
  width: 770px
  margin: 0 auto
  @media(max-width: 820px)
    width: 100%
  .panel
    background: #FFFFFF
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
    border-radius: 5px
    border: none
    margin-bottom: 30px
    @media(max-width: 640px)
      margin-bottom: 20px
    .panel-heading
      background: #FFFFFF
      border-radius: 5px
      border: none
      display: flex
      padding: 0
    .panel-title
      display: flex
      align-items: flex-start
      justify-content: space-between
      width: 100%
      cursor: pointer
      position: relative
      padding: 20px 40px
      @media(max-width: 640px)
        padding: 20px
      &[aria-expanded=true]
        h3
          color: $color-blue
        .faq__arrow
          background: rgba(0, 102, 255, 0.05)
          img
            transform: rotate(180deg)
      h3
        font-weight: 400
        line-height: 24px
        font-size: 16px
        color: #5B5E6D
        margin: 0
        transition: 0.2s
        padding-right: 35px
        text-align: left
        @media(max-width: 640px)
          font-size: 14px
          line-height: 20px
      .faq__arrow
        margin: 0 0 0 20px
        min-width: 30px
        min-height: 30px
        background: transparent
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        transition: background-color 0.2s
        position: absolute
        right: 20px
        top: 18px
        img
          width: 7px
          transition: 0.3s
      &:hover
        h3
          color: $color-blue__hover
    .panel-body
      border: none
      padding: 0 40px 20px 40px
      line-height: 21px
      font-size: 14px
      color: #5B5E6D
      text-align: left
      @media(max-width: 640px)
        padding: 0 20px 20px 20px
  .panel-default>.panel-heading+.panel-collapse>.panel-body
    border: none

.front__subscribe
  background-color: #308EFF
  background-image: url('./img_design/bg__mask.svg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height: 450px
  .wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    .title
      line-height: 61px
      font-size: 40px
      text-align: center
      color: #FFFFFF
      margin: 42px 0 36px 0
.front__tool-action
  display: flex
  align-items: center