.header
  background: white
  box-shadow: 0 2px 5px rgba(94, 86, 86, 0.05)
  width: 100%
  margin-bottom: -1px
  position: relative
  z-index: 11
  &.productMenu
    @media (max-width: 1355px)
      padding-left: 60px
    @media (max-width: 640px)
      padding-left: 0
  &.header__fixed
    position: absolute
    top: 10px
    left: 0
    width: 100%
    background: transparent
    box-shadow: none
    margin-bottom: 0
    @media (max-width: 965px)
      top: 0
    .signin__btn
      background: transparent
      border-radius: 25px
      min-width: 90px
      padding: 0 10px
      height: 32px
      color: #FFFFFF
      opacity: 1
      transition: 0.2s
      line-height: 10px
      @media (max-width: 640px)
        color: #085CDB
      &:hover
        opacity: 0.9
        box-shadow: none
    .signup__btn
      background: rgba(255, 255, 255, 0.2)
      line-height: 10px
      &:hover
        opacity: 1
        color: #085CDB
        background: white
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.25)
        &.audit__login
          color: #00c6bd
        &.monitoring__login
          color: #6722c4
        &.checker__login
          color: #FF7D2F
    .header__menu
      @media (min-width: 965px)
        >ul
          >li
            a, span
              color: white
              opacity: 1
              &:hover
                color: white
                opacity: 0.9
            a
              position: relative
              opacity: 1
              &:hover
                opacity: 0.9
            &.menu-item-has-children
              a, span
                color: $text__color-gray
                &:hover
                  color: $color-blue__hover
              >a, >span
                color: white
                .arrow
                  svg
                    path
                      fill: white
                &:hover
                  color: white
                  .arrow
                    svg
                      path
                        fill: white
            &.user-bell
              .user-bell_news
                a, span
                  color: $text__color-gray
                  &:hover
                    color: $color-blue__hover
    .user-bell
      &:hover
        .user-bell-news
          .arrow
            svg
              transform: rotate(180deg)
              path
                fill: white
    .user-bell-news
      @media (min-width: 965px)
        .arrow
          svg
            transition: 0.3s
            path
              fill: white
    .header_dashboard
      svg
        height: 14px
        width: 14px
        g
          transform: none!important
      &.seo__platform-header
        &:hover
          color: white
          svg
            path
              fill: white
      @media (min-width: 965px)
        color: white
        &:hover
          opacity: 0.9
        svg
          path
            fill: white
    .header__user
      &:hover
        .header__user-info
          svg
            path
              fill: white
    .header__user-info
      @media (min-width: 965px)
        svg
          path
            fill: white
    .header__menu-mob
      span
        background: white
  .wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 4px 0 0 0
    height: 60px
.header__logo
  margin-top: -7px
.header__menu
  margin-left: 54px
  @media (max-width: 965px)
    margin-left: 0
    padding: 0 20px 10px 20px
    width: 100%
    margin-top: -20px
    position: relative
    z-index: 5
  >ul
    list-style-type: none
    padding: 0
    margin: 0
    display: flex
    align-items: center
    height: 60px
    @media (max-width: 965px)
      flex-direction: column
      height: auto
      align-items: flex-start
    >li
      padding: 0 10px
      height: 100%
      display: flex
      align-items: center
      &:first-of-type
        padding-left: 0
      &:last-of-type
        padding-right: 0
      @media (max-width: 965px)
        padding: 0 0 10px 0
        width: 100%
      &.menu-item-has-children
        padding-right: 10px
        position: relative
        cursor: pointer
        @media (max-width: 965px)
          align-items: flex-start
          flex-direction: column
          padding-right: 0
          width: 100%
        >a, >span
          position: relative
          cursor: pointer
          .arrow
            svg
              width: 5px
              transition: 0.3s
            @media (max-width: 965px)
              display: none
        &:hover
          >span
            color: $color-blue
            .arrow
              svg
                transform: rotate(180deg)
                path
                  fill: $color-blue
          .sub-menu
            max-height: 1000px
            -webkit-transform: perspective(600px) rotate3d(0,0,0,0)
      a, span
        font-size: 14px
        font-weight: 500
        color: $text__color-gray
        text-decoration: none
        &:hover
          text-decoration: none
          color: $color-blue
        @media (max-width: 965px)
          width: 100%
        &.bellPosts
          position: absolute
          top: 17px
          right: -6px
          font-size: 8px
          color: $color-blue
          display: flex
          align-items: center
          justify-content: center
          font-weight: 600
          letter-spacing: 0
      ul
        &.sub-menu
          list-style-type: none
          padding: 0
          margin: 0
          background: white
          border-radius: 5px
          box-sizing: border-box
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
          position: absolute
          left: -50%
          top: 48px
          z-index: 1
          max-height: 0
          -webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
          -webkit-transform-origin: 50% 0
          -webkit-transition: 250ms
          -moz-transition: 250ms
          -o-transition: 250ms
          transition: 250ms
          &.products
            width: 292px
            @media (max-width: 965px)
              width: 100%
              position: relative
              height: 100%
              left: 0
              top: 0
              max-height: none
              transform: perspective(600px) rotate3d(0,0,0,0)
              box-shadow: none
              border: none
            li
              &:first-of-type
                a
                  border-top-left-radius: 5px
                  border-top-right-radius: 5px
                  padding-top: 20px
                &:hover
                  p
                    color: #E91E63
              &:nth-child(2)
                &:hover
                  p
                    color: #05CE7C
              &:nth-child(3)
                &:hover
                  p
                    color: #8E17AB
              &:nth-child(4)
                &:hover
                  p
                    color: #FF8B29
              &:nth-child(5)
                &:hover
                  p
                    color: #4c5b8b
              &:nth-child(6), &:nth-child(7)
                &:hover
                  p
                    color: $color-blue__hover
              &:nth-child(7)
                a
                  border-bottom-left-radius: 5px
                  border-bottom-right-radius: 5px
                  padding-bottom: 15px
            a
              display: flex
              align-items: flex-start
              transition: 0.2s
              @media (max-width: 965px)
                padding: 10px 5px 8px 5px
              &:hover
                background: #fafafa
                &:before
                  display: none
              img, svg
                margin-right: 10px
                width: 15px
                height: 15px
              svg
                path
                  fill: #E91E63
              .products__description
                p
                  color: #313135
                  margin-bottom: 2px
                  font-weight: 500
                  font-size: 14px
                  line-height: 12px
                  transition: 0.2s
                  position: relative
                span
                  font-size: 11px
                  line-height: 15px
                  font-weight: 300
                  margin-right: 0
                  color: #5b5e6d
                  &.new__platform
                    position: absolute
                    right: 5px
                    top: -11px
                    background: #E91E63
                    color: white
                    font-size: 7px
                    padding: 0
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 2px
                    text-transform: uppercase
                    font-weight: 600
                    height: 13px
                    width: 27px
                    letter-spacing: 0.5px
                    &:hover
                      color: white
                  &:hover
                    color: #666
          li
            a
              position: relative
              background: white
              z-index: 2
              padding: 13px 22px 10px 22px
              display: block
          &.resources
            width: 135px
            li
              &:last-of-type
                a
                  padding-bottom: 10px
.header__user-block
  margin-left: auto
  display: flex
  align-items: center
  @media (max-width: 965px)
    flex-direction: column
    align-items: baseline
    margin-left: 0
    width: 100%
    padding: 10px 20px
    border-top: 1px solid #f1f1f1
.header_dashboard
  margin-right: 20px
  font-size: 14px
  font-weight: 500
  color: #666
  transition: 0.2s
  display: flex
  align-items: center
  line-height: 12px
  @media (max-width: 965px)
    margin: 10px 0
  svg
    margin-right: 4px
    width: 14px
    height: 14px
    g
      transform: none!important
    path
      fill: #666
  &.seo__platform-header
    &:hover
      color: #e91e63
      svg
        path
          fill: #e91e63
  &:hover
    text-decoration: none
    color: $color-blue__hover
    svg
      path
        fill: $color-blue__hover
.header__user
  position: relative
  &:focus
    outline: 0
  @media (max-width: 965px)
    width: 100%
    padding: 10px 0 0 0
  &.not__login
    margin-left: auto
    display: flex
    align-items: center
    justify-content: flex-end
    .header_dashboard
      margin-right: 0
    @media (max-width: 965px)
      border-top: 1px solid #f1f1f1
      padding: 13px 20px
      text-align: center
      justify-content: center
      .header_dashboard
        display: none
      .signin__btn
        color: $color-blue
      .signup__btn
        color: $color-blue
        background: white
  .header__user-arrow
    svg
      transition: 0.3s
  &:hover
    .header__user-menu
      max-height: 1000px
      -webkit-transform: perspective(600px) rotate3d(0,0,0,0)
    .header__user-arrow
      svg
        transform: rotate(180deg)
        path
          fill: $color-blue
  .btn
    padding: 10px 13px
    font-size: 14px
    letter-spacing: 0.1em
    margin: 0
    width: 100px
    @media (max-width: 965px) and (min-width: 425px)
      display: none
    @media (max-width: 425px)
      margin: 10px auto
.header__user-info
  display: flex
  align-items: center
  font-size: 14px
  height: 60px
  cursor: pointer
  svg
    transition: 0.3s
    width: 5px
    margin-top: 3px
    @media (max-width: 965px)
      display: none
  @media (max-width: 965px)
    height: auto
    margin-bottom: 10px
.header__user-img
  width: 27px
  height: 27px
  margin-right: 6px
  border-radius: 50px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  img
    width: 100%
    height: 100%
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 27px
      height: 27px
      border-radius: 50px
      background-image: url("./img_design/incognito.png")
      background-size: cover
      background-repeat: no-repeat
  @media (max-width: 965px)
    margin-left: 0
.header__user-menu
  align-items: flex-start
  flex-direction: column
  display: flex
  max-height: 0
  position: absolute
  min-width: 165px
  width: 100%
  background: white
  border-radius: 5px
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
  top: 55px
  right: 0
  z-index: 100
  box-sizing: border-box
  max-height: 0
  -webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
  -webkit-transform-origin: 50% 0
  -webkit-transition: 250ms
  -moz-transition: 250ms
  -o-transition: 250ms
  transition: 250ms
  @media (max-width: 965px)
    width: auto
    position: relative
    height: 100%
    left: 0
    top: 0
    max-height: none
    transform: perspective(600px) rotate3d(0,0,0,0)
    box-shadow: none
    border: none
  ul
    width: 100%
    list-style-type: none
    margin: 0
    padding: 0
  li
    border-radius: 3px
    &:first-of-type
      a
        border-radius: 5px 5px 0 0
    &:last-of-type
      border-top: 1px solid #f1f1f1
      a
        border-radius: 0 0 5px 5px
      @media (max-width: 965px)
        margin-top: 5px
        a
          padding-top: 16px
    a, p
      position: relative
      background: #fff
      color: $text__color-gray
      z-index: 2
      padding: 10px 15px 10px 15px
      margin: 0
      display: block
      font-weight: 500
      font-size: 13px
      line-height: 12px
      @media (max-width: 965px)
        padding: 10px 0
      &:hover
        text-decoration: none
        color: $color-blue
        background: #fafafa
    p
      line-height: 18px
      padding: 10px 15px
      font-size: 13px
      border-radius: 5px
      max-width: 165px
      overflow: hidden
      text-overflow: ellipsis
      height: 30px
      &:hover
        background: none
        color: $text__color-gray
.header__menu-mobile
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  @media (max-width: 965px)
    display: none
    position: absolute
    width: 300px
    right: 30px
    top: 10px
    flex-direction: column
    background: white
    box-shadow: 0 2px 15px rgba(0,0,0,.15)
    border-radius: 5px
    align-items: flex-start
    justify-content: flex-start
  @media (max-width: 415px)
    right: 8px
.header__menu-mob
  display: none
  align-items: center
  justify-content: center
  flex-direction: column
  span
    display: block
    width: 25px
    height: 2px
    border-radius: 4px
    background: $color-blue
    margin-bottom: 5px
    &:last-of-type
      margin-bottom: 0
  cursor: pointer
  @media (max-width: 965px)
    display: flex

.mobile__close
  flex-direction: column
  align-items: flex-end
  justify-content: center
  padding: 5px 15px 0 0
  margin-left: auto
  cursor: pointer
  display: none
  height: 40px
  width: 100%
  position: relative
  z-index: 10
  @media (max-width: 965px)
    display: flex
  span
    display: block
    width: 15px
    height: 3px
    background: $color-blue
    border-radius: 5px
    &:first-of-type
      margin: -2px 0 0 -1px
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
    &:nth-child(2)
      margin: -3px 0 0 -1px
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
.front__page
  .login__popup, .resetpass__popup, .newpass__popup
    background: rgba(3, 69, 149, 0.73)
.login__popup, .resetpass__popup, .newpass__popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100
  background: rgba(250, 250, 250, 0.9)
  display: none
  align-items: flex-start
  justify-content: center
  padding-top: 20vh
  @media (max-width: 860px)
    align-items: center
    padding-top: 0
.resetpass__popup-block
  width: 400px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
  background: white
  border-radius: 6px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  overflow: hidden
  position: relative
  transition: 0.4s
  padding: 0
  text-align: center
  @media (max-width: 460px)
    width: 280px
    height: 408px
  .circle-loader
    margin: 20px 0 0 0
    width: 50px
    height: 50px
  .title
    line-height: 38px
    font-size: 28px
    margin: 25px auto 14px auto
  .description
    line-height: 22px
    font-size: 14px
    text-align: center
    color: #666666
    margin: 0
    padding: 0 75px 35px 75px
    img
      margin: -3px 0 0 3px
    button
      display: inline
      margin: 0
      padding: 0
      border: none
      background: transparent
      color: $color-blue
      transition: 0.2s
      &:hover
        color: $color-blue__hover
.newpass__popup
  .title
    line-height: 28px
    font-size: 22px
    margin: 25px auto 35px auto
.signin__btn
  background: transparent
  border-radius: 25px
  border: none
  min-width: 100px
  padding: 0 10px
  height: 36px
  color: #666
  opacity: 1
  font-size: 14px
  font-weight: 500
  cursor: pointer
  transition: 0.2s
  line-height: 10px
  &:hover
    box-shadow: none
    color: $color-blue__hover
  &.ipad
    display: none
    @media (max-width: 965px) and (min-width: 425px)
      display: block
      margin: 0 20px 0 auto
.signup__btn
  @extend .signin__btn
  background: $color-blue
  color: white
  &:hover
    color: white
    box-shadow: 0 3px 10px rgba(0,0,0,.1)
.login__popup-block, .newpass-block
  width: 400px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
  background: white
  border-radius: 6px
  display: flex
  flex-direction: column
  overflow: hidden
  height: 460px
  padding: 0
  margin: 0
  position: relative
  transition: 0.4s
  @media (max-width: 460px)
    width: 280px
    height: 400px
  .limit__popup
    display: none
  .the_champ_login_ul
    margin: 0 auto!important
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    list-style-type: none
    padding: 0
    li
      position: relative
      margin: 0 1px!important
      i
        display: flex!important
        align-items: center
        justify-content: center
        background: #3b5998
        width: 91px
        height: 41px
        border-radius: 50px
        cursor: pointer
        transition: .2s
        @media (max-width: 460px)
          width: 80px
          height: 40px
        &:hover
          background: rgba(59, 89, 175, 1)
        .theChampLoginSvg
          width: 91px
          height: 41px
          background-image: url('./img_design/fb.svg')
          background-position: center center
          background-repeat: no-repeat
          position: relative
          @media (max-width: 460px)
            width: 30px
            height: 30px
        &.theChampGoogleBackground
          background: #DD4B39
          &:hover
            background: rgba(235, 75, 57, 1)
          .theChampLoginSvg
            background-image: url('./img_design/vk.svg')
            background-position: center center
            background-repeat: no-repeat
        &.theChampTwitterBackground
          background: #4699E9
          &:hover
            background: #4699E9
          .theChampLoginSvg
            background-image: url('./img_design/twitter.svg')
            background-position: center center
            background-repeat: no-repeat
        &.theChampLinkedinBackground
          background: #0076b7
          &:hover
            background: #028ad5
          .theChampLoginSvg
            background-image: url('./img_design/linkedin-logo.svg')
            background-position: center center
            background-repeat: no-repeat
            background-size: 17px
  .login__popup-or
    text-align: center
    width: 287px
    margin: 20px auto 15px auto
    position: relative
    span
      background: white
      position: relative
      color: #999999
      width: 65px
      font-size: 11px
      z-index: 1
      display: block
      margin: 0 auto
      letter-spacing: .2px
    &:after
      position: absolute
      content: ''
      width: 100%
      display: block
      border-bottom: 1px solid #F5F5F5
      height: 1px
      top: 7px
      z-index: 0
  .title
    font-size: 30px
    line-height: 46px
    margin: 0 auto 20px auto
    text-align: center
    @media (max-width: 460px)
      font-size: 24px
      line-height: 19px
  .description
    margin: -14px auto 30px auto
    font-size: 16px
    line-height: 24px
    color: #666666
    text-align: center
    @media (max-width: 460px)
      font-size: 12px
  hr
    width: 67px
    height: 2px
    background: #1875F0
    border: none
    @media (max-width: 460px)
      margin: 10px auto
  .form__input
    display: flex
    width: 287px
    margin: 0 auto 14px auto
    border-bottom: 2px solid #F5F5F5
    padding: 8px 0 4px 0
    position: relative
    @media (max-width: 460px)
      width: 80%
    &:after
      content: ''
      position: absolute
      bottom: -2px
      left: 50%
      width: 0
      height: 2px
      -webkit-transition: all .25s ease
      -o-transition: all .25s ease
      transition: all .25s ease
    &.active
      svg
        path
          fill: $color-blue
      &:after
        left: 0
        width: 100%
        background: $color-blue
    &.form__error
      svg
        path
          fill: $color-error
      &:after
        left: 0
        width: 100%
        background: $color-error
    &.form__warning
      svg
        path
          fill: $color-error
      &:after
        left: 0
        width: 100%
        background: $color-error
    &.shake
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
      transform: translate3d(0, 0, 0)
      backface-visibility: hidden
      perspective: 1000px
    svg
      margin-right: 20px
      margin-top: 10px
    .error, .warning
      display: none
      position: absolute
      width: 100%
      margin: 0
      top: -6px
      font-size: 10px
      color: $color-error
      p
        margin-bottom: 0
      img
        position: absolute
        right: 0
        top: 21px
        z-index: 9
    .warning
      color: $color-warning
    .label
      width: 100%
      border-radius: 0
      padding: 0
      margin: 0
      position: relative
      span
        position: absolute
        top: 9px
        left: 0
        color: #666666
        font-size: 12px
        line-height: 18px
        font-weight: 500
        transition: 0.3s
        z-index: 2
      input
        width: 100%
        border: none
        font-size: 16px
        padding-right: 26px
        color: #333333
        font-weight: 400
        position: relative
        background: transparent
        z-index: 3
        &:focus
          outline: 0
  .tml-submit-wrap
    height: 50px
    margin: 30px auto
    display: flex
    align-items: center
    justify-content: center
    @media (max-width: 460px)
      margin: 20px auto
    .loader
      display: none
      position: absolute
  .btn
    width: 287px
    height: 50px
    @media (max-width: 460px)
      width: 80%
      margin: 20px auto
    &:focus
      outline: none
.newpass-block
  margin: 50px auto
  flex-direction: column
  height: auto
  padding: 40px 0 20px 0
  .btn
    margin: 0 auto
  .title
    font-size: 18px
    max-width: 287px
    line-height: 39px
    margin-bottom: 20px
.signin__block
  width: 100%
  position: absolute
  top: 25px
  .btn
    margin: 0
.signup__block
  top: 25px
  .btn
    margin: 0 auto
.form__lostpass
  .btn
    margin: 0 auto
.popup__register-form
  margin-top: 25px
.login__popup-close
  margin: 13px 13px 0 auto
  width: 13px
  display: block
  cursor: pointer
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition: transform .25s linear
  -webkit-transition: -webkit-transform .25s linear
  &:hover
    transform: rotate(180deg)
.login_popup-error
  display: none
  position: absolute
  font-size: 9px
  bottom: -16px
  margin: 0
  right: 0
  color: $color-error
  &.error_emailEmpty, &.error_emailIncorrect, &.error_passEmpty
    color: $color-error
.login__social
  width: 287px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto 12px auto
  .the_champ_login_container
    width: 287px
    height: 45px
    display: flex
    align-items: center
    justify-content: center
    #the_champ_loading_image
      height: 60%
    @media (max-width: 460px)
      width: 252px
  @media (max-width: 460px)
    width: 90%
    margin-bottom: 15px
.login__popup-actions
  margin: 0 auto
  width: 100%
  padding: 17px 0
  border-top: 1px solid #F5F5F5
  button
    border: none
    background: none
    color: $color-blue
    font-size: 14px
    line-height: 21px
    cursor: pointer
    padding: 0
    margin: 0
    transition: 0.2s
    &:focus
      outline: none
    &:hover
      color: $color-blue__hover
.popup-actions__wrapper
  display: flex
  font-size: 14px
  color: #999999
  line-height: 21px
  margin: 0 auto
  justify-content: space-between
  width: 287px
  @media (max-width: 460px)
    width: 100%
    justify-content: space-around
  p
    margin: 0 5px 0 0
.popup_forgotpass
  width: 287px
  margin: -8px auto 20px auto
  @media (max-width: 460px)
    width: 80%
.popup__pass
  background: none
  padding: 0
  margin: 0
  border: none
  color: $color-blue
  font-size: 11px
  cursor: pointer
.signup__block
  width: 100%
  position: absolute
  right: -400px
  .popup-actions__wrapper
    justify-content: center
.login__terms
  width: 287px
  margin: 0 auto 21px auto
  font-size: 9px
  line-height: 14px
  color: #999999
  text-align: center
  @media (max-width: 460px)
    width: 90%
    line-height: 12px
    margin-bottom: 15px
  a
    font-size: 9px
    color: $color-blue

.resetpass__block
  width: 100%
  position: absolute
  left: -400px
  top: 25px
  .popup-actions__wrapper
    justify-content: center
  @media (max-width: 460px)
    .btn
      font-size: 12px
@-webkit-keyframes bounceInRight
  from,
  60%,
  75%,
  90%,
  to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  from
    opacity: 0
    -webkit-transform: translate3d(3000px, 0, 0)
    transform: translate3d(3000px, 0, 0)
  60%
    opacity: 1
    -webkit-transform: translate3d(-25px, 0, 0)
    transform: translate3d(-25px, 0, 0)
  75%
    -webkit-transform: translate3d(10px, 0, 0)
    transform: translate3d(10px, 0, 0)
  90%
    -webkit-transform: translate3d(-5px, 0, 0)
    transform: translate3d(-5px, 0, 0)
  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.bounceInRight
  -webkit-animation-name: bounceInRight
  animation-name: bounceInRight

@-webkit-keyframes bounceInLeft
  from,
  60%,
  75%,
  90%,
  to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    -webkit-transform: translate3d(-3000px, 0, 0)
    transform: translate3d(-3000px, 0, 0)
  60%
    opacity: 1
    -webkit-transform: translate3d(25px, 0, 0)
    transform: translate3d(25px, 0, 0)
  75%
    -webkit-transform: translate3d(-10px, 0, 0)
    transform: translate3d(-10px, 0, 0)
  90%
    -webkit-transform: translate3d(5px, 0, 0)
    transform: translate3d(5px, 0, 0)
  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.bounceInLeft
  -webkit-animation-name: bounceInLeft
  animation-name: bounceInLeft

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.user-bell
  position: relative
  height: 60px
  display: flex
  align-items: center
  font-size: 14px
  font-weight: 500
  margin-right: 20px
  color: $text__color-gray
  cursor: pointer
  transition: 0.2s
  &:hover
    color: $color-blue
    .user-bell-news
      color: $color-blue__hover
      .arrow
        svg
          transform: rotate(180deg)
          path
            fill: $color-blue
.user-bell_list
  position: absolute
  width: 200px
  top: 48px
  right: -90px
  overflow-y: auto
  max-height: 0
  background: #fff
  border-radius: 3px
  box-sizing: border-box
  box-shadow: 0 2px 15px rgba(0,0,0,.06)
  -webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
  -webkit-transform-origin: 50% 0
  -webkit-transition: 250ms
  -moz-transition: 250ms
  -o-transition: 250ms
  transition: 250ms
  &.active
    max-height: 300px
    overflow-y: auto
    -webkit-transform: perspective(600px) rotate3d(0,0,0,0)
.user-bell-news
  position: relative
  .arrow
    svg
      transition: 0.3s
      width: 5px
    @media (max-width: 965px)
      display: none
  &:hover
    .arrow
      svg
        transform: rotate(180deg)
        path
          fill: $color-blue
.user-bell_news
  padding: 10px 15px 10px 15px
  border-bottom: 1px solid #f1f1f1
  &:first-of-type
    border-radius: 3px 3px 0 0
  &:last-of-type
    border-radius: 0 0 3px 3px
  a
    display: block
    font-size: 12px!important
    margin-bottom: 2px
    margin-right: 0
  p
    margin: 0
    font-size: 10px
    line-height: 13px
    font-weight: 400
    color: $text__color-gray
  &.seen
    background: white
  &.notSeen
    background: #fbfbfb
  &.new
    background: #e1ebfb
    position: relative
    &:after
      position: absolute
      content: ''
      top: 13px
      right: 10px
      width: 4px
      height: 4px
      border-radius: 50px
      background: $color-blue
.limit__popup-close
  display: none
.limitPopup
  padding-top: 0
  align-items: center
  justify-content: center
  .login__popup-block
    width: 979px
    flex-direction: row
    position: relative
    @media (max-width: 768px)
      width: 90%
    @media (max-width: 640px)
      flex-direction: column
    .limit__popup-sign
      width: 577px
      position: relative
      overflow: hidden
      @media (max-width: 640px)
        width: 100%
        height: 500px
    .limit__popup
      width: 402px
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      margin: 0
      background-color: $color-blue
      background-image: url("./img_design/limit__popup.svg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      padding: 0 38px
      @media (max-width: 640px)
        display: none
      img
        &.logo
          margin: 30px 0
      .text
        color: white
        p
          font-size: 18px
          line-height: 27px
          text-align: left
          margin: 0
          &:first-of-type
            font-weight: bold
            line-height: 37px
            font-size: 30px
            margin-bottom: 35px
            @media (max-width: 768px)
              font-size: 23px
              line-height: 27px
    .title
      display: none
      @media (max-width: 640px)
        display: block
  .login__popup-close
    position: absolute
    display: block
    top: 15px
    right: 15px
    cursor: pointer
    transition: 0.2s
    z-index: 100
    &:hover
      transform: rotate(180deg)
    img
      width: 13px
  .resetpass__block
    top: 100px
    @media (max-width: 640px)
      top: 60px
  .signin__block
    top: 100px
    @media (max-width: 640px)
      top: 60px
  .signup__block
    top: 100px
    @media (max-width: 640px)
      top: 60px
  .products
    list-style-type: none
    padding: 0
    margin: 0
    a
      display: flex
      align-items: flex-start
      transition: 0.2s
      color: white
      @media (max-width: 965px)
        padding: 10px 5px 8px 5px
      &:hover
        &:before
          display: none
      img, svg
        margin: 0 10px 0 0
        width: 15px
        height: 15px
      svg
        path
          fill: white
      .products__description
        p
          color: white
          margin-bottom: 2px
          font-weight: 500
          font-size: 14px
          line-height: 12px
          transition: 0.2s
          position: relative
        span
          font-size: 11px
          line-height: 15px
          font-weight: 300
          margin-right: 0
          color: white
          @media (max-width: 768px)
            display: none
        &:hover
          p
            opacity: 0.9
    li
      padding-bottom: 15px
      @media (max-width: 768px)
        padding-bottom: 5px
      &:nth-child(7)
        padding-bottom: 0

.seo__platform-header
  padding-right: 10px
  position: relative
.new__platform
  position: absolute
  right: -10px
  top: -13px
  background: #E91E63
  color: white
  font-size: 7px
  padding: 0
  display: flex
  align-items: center
  justify-content: center
  border-radius: 2px
  text-transform: uppercase
  font-weight: 600
  height: 13px
  width: 27px
  letter-spacing: 0.5px

.header_dashboard_container
  position: relative
  display: flex
  height: 53px
  &:hover
    .header_dashboard__list
      max-height: 160px
      -webkit-transform: perspective(600px) rotate3d(0,0,0,0)
.header_dashboard__list
  position: absolute
  top: 51px
  right: 0
  display: flex
  flex-direction: column
  min-width: 165px
  width: 100%
  background: #fff
  border-radius: 5px
  box-shadow: 0 2px 15px rgba(0,0,0,.06)
  z-index: 100
  box-sizing: border-box
  max-height: 0
  -webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
  -webkit-transform-origin: 50% 0
  -webkit-transition: 250ms
  -moz-transition: 250ms
  -o-transition: 250ms
  transition: 250ms
  overflow-y: auto
  a
    display: flex
    align-items: center
    min-height: 32px
    font-size: 12px
    font-weight: 500
    color: #666666
    transition: 0.2s
    padding: 0 10px
    &:first-of-type
      border-top-left-radius: 5px
      border-top-right-radius: 5px
    &:last-of-type
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
    &:hover
      color: $color-blue__hover
      background: #dddddd30
    .url
      position: relative
      display: block
      max-width: 120px
      height: 18px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    .logo
      min-width: 20px
      min-height: 20px
      margin-right: 5px
      border-radius: 6px
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      background-color: whitesmoke