.home_first
	height: 100vh
	width: 100%
	background: $bg_color
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	position: relative
	&.crawler
		margin-top: -64px
		padding-top: 64px
		h1
			margin: -80px auto 20px auto
			span
				color: #0286bf
		p
			font-size: 21px
			line-height: 27px
		button
			width: 260px
			background: #0286bf
			display: block
			margin: 30px auto 0 auto
			color: white
			border: none
			border-radius: 0
			font-size: 18px
			font-weight: bold
			letter-spacing: 0.5px
			height: 60px
			transition: 0.2s
			&:focus
				outline: none
				box-shadow: none
			&:hover
				background: #036F9D
		.technical_first-about
			margin: 0 auto
			p
				font-weight: 400
				@media (max-width: 640px)
					width: 100%
	@media (max-width: 768px)
		height: 94.5vh
	@media (max-width: 736px)
		min-height: 570px
	@media (max-width: 460px)
		min-height: auto
		height: 88vh
	h1
		margin: -80px 0 10px 0
		font-size: 36px
		font-weight: bold
		color: #495c6a
		text-align: center
		@media (max-width: 600px)
			font-size: 29px
		@media (max-width: 460px)
			font-size: 26px
	p
		margin: 0
		font-size: 24px
		color: #495c6a
		font-weight: 300
		text-align: center
		line-height: 28px
		@media (max-width: 600px)
			font-size: 19px
			line-height: 24px
		@media (max-width: 460px)
			font-size: 16px
			line-height: 20px

.home_crawling
	margin: 0 auto
	max-width: 750px
	display: block
	&:hover
		color: #036f9d
	@media (max-width: 460px)
		margin-top: 75px
		
.home_first-select
	width: 80%
	margin: 0 auto
	@media (max-width: 768px)
		width: 100%
		margin-top: 10px
.home_first-search, #mc_embed_signup_scroll
	display: flex
	align-items: center
	justify-content: space-between
	height: 60px
	max-width: 750px
	margin: 40px auto 10px auto
	border-radius: 2px
	box-shadow: 0 1px 3px 0 rgba(24, 24, 24, 0.2), 0 2px 2px 0 rgba(24, 24, 24, 0.12), 0 0 2px 0 rgba(24, 24, 24, 0.14)
	&.no_valid
		position: relative
		&:after
			position: absolute
			top: -20px
			content: 'Must be a valid URL with http:// or https://'
			color: #F44336
			left: 0
			font-size: 11px
		input[type=text]
			background: rgba(244, 67, 54, 0.3)
			border-color: rgba(244, 67, 54, 0.26)
	@media (max-width: 1000px)
		max-width: 100%
	@media (max-width: 600px)
		flex-wrap: wrap
	@media (max-width: 460px)
		margin-top: 16px
		height: 55px
	input
		width: 80%
		height: 100%
		background: #ffffff
		color: #898c8e
		border: none
		padding: 0 20px
		font-size: 15px
		font-weight: 100
		letter-spacing: 0.2px
		border-top-left-radius: 2px
		border-bottom-left-radius: 2px
		&[name="b_b33f62afc5e797a4e431a7266_c6ca5d5cd2"]
			display: none
		&:focus
			outline: none
			@include placeholder
				color: transparent
		@media (max-width: 600px)
			width: 100%
	.fa
		display: none
		font-size: 14px
		margin-left: 7px
	button, input[name="subscribe"]
		position: relative
		appearance: none
		background: #1687bd
		color: white
		outline: none
		overflow: hidden
		cursor: pointer
		span
			position: relative
			pointer-events: none
		&::before
			--size: 0
			content: ''
			position: absolute
			left: var(--x)
			top: var(--y)
			width: var(--size)
			height: var(--size)
			background: radial-gradient(circle closest-side, #41aedd, transparent)
			transform: translate(-50%, -50%)
			transition: width .2s ease, height .2s ease
		&:hover::before
			--size: 400px
		width: 15%
		min-width: 180px
		border: none
		border-top-right-radius: 2px
		border-bottom-right-radius: 2px
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		font-size: 16px
		font-weight: bold
		letter-spacing: 0.3px
		height: 100%
		@media (max-width: 600px)
			width: 100%
			margin-top: 20px
		@media (max-width: 460px)
			margin-top: 10px

.search-back
	max-width: none
	width: 100%

.bootstrap-select>.dropdown-toggle.bs-placeholder, .btn-group>.btn:first-child
	font-size: 14px
	font-weight: 500
	text-align: left
	color: #495c6a
	background: none
	padding: 0
	border: none
	width: 220px
	&:hover
		color: #495c6a

.bootstrap-select .dropdown-toggle:focus
	outline: none!important

.bootstrap-select.btn-group .dropdown-toggle .caret
	right: -12px

.btn-group>.btn:first-child
	width: auto

.btn-group.open .dropdown-toggle
	box-shadow: none

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover
	background: none
	color: #495c6a

.bootstrap-select.btn-group .dropdown-menu
	box-shadow: 0 1px 3px 0 rgba(24, 24, 24, 0.2), 0 2px 2px 0 rgba(24, 24, 24, 0.12), 0 0 2px 0 rgba(24, 24, 24, 0.14)
	border: none
	border-radius: 0
	padding: 0

.dropdown-menu>li>a
	padding: 3px 10px
	color: #495c6a
	font-size: 12px
	letter-spacing: 0.2px

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
	background: #0286bf
	color: white

.bootstrap-select.btn-group .dropdown-toggle .caret
	top: 49%

.caret
	width: 10px
	height: 10px
	border: none
	background-image: url(/images/arrow_down.svg)
	background-size: 10px
	background-repeat: no-repeat

.home_first-down
	position: absolute
	text-align: center
	bottom: 25px
	left: 0
	width: 100%
	max-width: none
	a
		color: #495c6a
		font-size: 15px
		cursor: pointer
		letter-spacing: 0.1px
		display: block
		margin: 0 auto
		padding: 0 10px
		transition: 200ms
		transition-timing-function: ease-in-out
		-webkit-transition: 200ms
		-webkit-transition-timing-function: ease-in-out
		svg
			margin-left: 3px
			margin-bottom: 2px
			transition: 200ms
			transition-timing-function: ease-in-out
			-webkit-transition: 200ms
			-webkit-transition-timing-function: ease-in-out
		&:hover
			text-decoration: none
			color: #0286bf
			svg
				g
					fill: #0286bf
	@media (max-width: 600px)
		display: none

.home_about
	padding: 50px 0
	@media (max-width: 600px)
		padding: 35px 0
	.wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 960px
		@media (max-width: 1000px)
			max-width: 100%
		.owl-dots
			margin: 10px auto 0 auto
			text-align: center
			width: 100%
			.owl-dot
				width: 10px
				height: 10px
				background: rgba(137, 140, 142, 0.36)
				display: inline-block
				margin: 0 7px
				border-radius: 50px
				&.active
					background: rgba(137, 140, 142, 1)

.home_about-block
	width: 25%
	text-align: center
	padding: 0 10px
	&:first-of-type
		padding-left: 0
	&:last-of-type
		padding-right: 0
	img
		height: 89px
		@media (max-width: 768px)
			height: 60px
	@media (max-width: 600px)
		width: 100%
	h3
		color: #495c6a
		font-size: 18px
		font-weight: 500
		line-height: 1.22
		margin: 15px 0 10px 0
		@media (max-width: 768px)
			font-size: 16px
	span
		font-size: 14px
		line-height: 1.29
		color: #495c6a
		font-weight: 300
		@media (max-width: 768px)
			font-size: 12px

.home_description
	background-color: #f7f9fa
	padding: 30px 0
	border-bottom: 1px solid #d8d8d8
	&:last-of-type
		border: none
	.wrapper
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		> div
			width: 50%
			@media (max-width: 600px)
				width: 100%

.home_description-text
	padding-right: 20px
	@media (max-width: 600px)
		padding: 0
	h2
		font-size: 24px
		font-weight: 500
		line-height: 1.33
		color: #495c6a
		margin: 0 0 25px 0
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: -10px
			left: 0
			width: 71px
			height: 2px
			background: #0286bf
	p
		font-size: 16px
		line-height: 1.5
		font-weight: 300
		color: #647282

.description-img
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2)
	margin-top: -1px
	cursor: pointer
	transition: box-shadow 0.3s ease-in-out
	@media (max-width: 800px)
		margin-top: -3px
	&:hover
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2)

.home_description-img
	text-align: right
	img
		max-width: 500px
		width: 100%

	div
		position: relative
	.img-close
		display: none
		width: 29px
		position: absolute
		right: -50px
		top: -3px
		cursor: pointer
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		transition: transform .25s linear
		-webkit-transition: -webkit-transform .25s linear
		&:hover
			-webkit-transform: rotate(180deg)
			-ms-transform: rotate(180deg)
			-moz-transform: rotate(180deg)
			-o-transform: rotate(180deg)
			transform: rotate(180deg)

.home_description
	.wrapper
		> div.home_description-img.display
			position: fixed
			top: 0
			left: 0
			width: 100%
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			background: rgba(73, 92, 106, 0.96)
			z-index: 99
			.img-border
				display: none
			.description-img
				cursor: auto
				max-width: 800px
				margin-top: -3px
				@media (max-width: 768px)
					max-width: 550px
				@media (max-width: 460px)
					max-width: 300px
				@media (max-width: 320px)
					max-width: 250px
			.img-close
				display: block
				@media (max-width: 460px)
					width: 16px
					right: -30px
				@media (max-width: 320px)
					width: 12px
					right: -20px

.home_description
	&:nth-child(2n)
		.home_description-text
			padding-right: 0
			padding-left: 20px
			@media (max-width: 600px)
				padding: 0
		.home_description-img
			text-align: left
		.wrapper
			@media (max-width: 600px)
				flex-direction: column-reverse

.home_twitter
	padding: 50px 0
	text-align: center
	@media (max-width: 600px)
		padding: 35px 0

.home_block-title
	font-size: 30px
	line-height: 31px
	font-weight: 500
	color: #495c6a
	margin: 0 0 30px 0

.home_twitter-wrap
	display: flex
	justify-content: center
	flex-wrap: wrap
	.twitter-tweet
		width: 49%!important
		margin: 0 5px 20px 0!important
		&:nth-child(2n)
			margin: 0 0 20px 0!important
		@media (max-width: 600px)
			width: 100%!important
			margin: 0 0 20px 0!important

.home_twitter-link
	display: block
	font-size: 16px
	font-weight: bold
	color: #0286bf
	margin-top: 10px
	transition: 0.2s
	letter-spacing: 0.1px
	&:hover
		text-decoration: none
		color: rgba(2, 134, 191, 0.70)

.home_outer
	background-color: #495c6a
	padding: 50px 0
	@media (max-width: 600px)
		padding: 30px 0
	.wrapper
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		h3
			font-size: 26px
			line-height: 33px
			color: #ffffff
			font-weight: 300
			margin-right: 30px
			margin-top: -2px
			margin-bottom: 0
			letter-spacing: 0.3px
			@media (max-width: 768px)
				text-align: center
				margin: 0 0 25px 0
		a
			display: block
			background-color: #0286bf
			color: white
			text-align: center
			padding: 16px 43px
			font-weight: 300
			font-size: 20px
			letter-spacing: 0.3px
			transition: 0.2s
			&:hover
				text-decoration: none
				background: rgba(2, 134, 191, 0.70)

.home_outer-back
	background: url(/wp-content/themes/sitechecker/out/img/price_bg.svg)
	padding: 20px 10px
	margin-top: 20px
	box-shadow: 0 0 7px rgba(0,48,40,0.2)
	p
		font-size: 17px
		font-weight: 500
		line-height: 20px
		margin-bottom: 16px
	ul
		margin-left: -10px
		li
			margin-bottom: 2px
			font-size: 12px
	a
		background: #0286bf
		color: #fff
		text-align: center
		width: 125px
		padding: 0
		display: flex
		align-items: center
		justify-content: center
		height: 35px
		margin: 0 auto
		font-weight: 400
		font-size: 13px
		border-radius: 2px
		cursor: pointer
		letter-spacing: .2px
		transition: .2s
		margin-top: 19px
		&:hover
			color: #fff
			background: #036f9d

.container .container__left-col
	box-shadow: none!important

.container .container__main-header, .sidenav
	box-shadow: 0 0 7px rgba(0,48,40,0.05)

.home_faq
	padding: 50px 0
	text-align: center
	@media (max-width: 600px)
		padding: 35px 0
	&.stars_wrap
		padding: 0
		margin: -30px auto 0 auto
		padding-bottom: 50px
		text-align: left
		.wrapper
			max-width: 900px


.panel-group .panel
	border: none
	margin: 0 auto 10px auto
	max-width: 900px
	border-radius: 0

.panel-default>.panel-heading
  color: #333
  background-color: #fff
  border: none
  padding: 0
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.panel-default>.panel-heading h4
  background-color: #f7f9fa
  font-size: 18px
  line-height: 26px
  text-align: left
  color: #495c6a
  font-weight: 400
  display: block
  padding: 15px 35px 15px 15px
  position: relative
  margin-bottom: 0
  cursor: pointer
  &:hover
  	text-decoration: none
  &:focus
  	text-decoration: none
  	outline: none

.panel-default>.panel-heading h4:after
  content: ""
  position: absolute
  top: 25%
  right: 20px
  display: inline-block
  color: #0286bf
  font-size: 25px
  font-style: normal
  font-weight: 300
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition: transform .25s linear
  -webkit-transition: -webkit-transform .25s linear

.panel-default>.panel-heading h4[aria-expanded="true"]
  background-color: #f7f9fa
  font-size: 18px
  text-align: left
  color: #495c6a
  font-weight: 400

.panel-default>.panel-heading h4[aria-expanded="true"]:after
  content: "\2212"
  -webkit-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  transform: rotate(180deg)

.panel-default>.panel-heading h4[aria-expanded="false"]:after
  content: "\002b"
  -webkit-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  -webkit-transform: rotate(90deg)
  -moz-transform: rotate(90deg)
  -o-transform: rotate(90deg)
  transform: rotate(90deg)

.panel-default>.panel-heading+.panel-collapse>.panel-body
	background-color: #f7f9fa
	border-top-color: #d8d8d8
	font-size: 16px
	font-weight: 300
	line-height: 1.5
	text-align: left
	color: #495c6a

.accordion-option
  width: 100%
  float: left
  clear: both
  margin: 15px 0

.accordion-option .title
  font-size: 20px
  font-weight: bold
  float: left
  padding: 0
  margin: 0

.accordion-option .toggle-accordion
  float: right
  font-size: 16px
  color: #6a6c6f

.accordion-option .toggle-accordion:before
  content: "Expand All"

.accordion-option .toggle-accordion.active:before
  content: "Collapse All"

.home_descriptions
	background-color: #f7f9fa
	padding: 50px 0
	@media (max-width: 600px)
		padding: 35px 0
	.home_block-title
		text-align: center

.descriptions_tabs
	border-bottom: 1px solid #d8d8d8
	display: flex
	align-items: center
	justify-content: center
	margin: 0 auto
	@media (max-width: 600px)
		flex-wrap: wrap
	span
		font-size: 16px
		font-weight: 500
		color: #0286bf
		display: block
		margin-right: 30px
		padding-bottom: 10px
		cursor: pointer
		border-bottom: 2px solid transparent
		@media (max-width: 600px)
			padding-bottom: 3px
			margin: 0 5px 10px 5px
		&:last-of-type
			margin-right: 0
		&.active
			border-bottom: 2px solid #0286bf

.descriptions_content
	padding: 30px 0 0 0
	min-height: 380px
	@media (max-width: 768px)
		min-height: 360px
	@media (max-width: 600px)
		min-height: none

.descriptions_content-block
	display: none
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	> div
		width: 50%
		@media (max-width: 600px)
			width: 100%
	&.active
		display: flex

.container .container__left-col--bottom-sticked
	bottom: 164px

.speed__test-title
	font-size: 20px
	text-align: center
	margin-bottom: 10px
	text-transform: capitalize
#speed__test-form
	display: flex
	align-items: center
	justify-content: space-between
	height: 60px
	max-width: 750px
	margin: 20px auto 40px auto
	border-radius: 2px
	box-shadow: 0 1px 3px 0 rgba(24,24,24,.2), 0 2px 2px 0 rgba(24,24,24,.12), 0 0 2px 0 rgba(24,24,24,.14)
	position: relative
	.error
		margin: 0
		position: absolute
		top: 23px
		right: 195px
		color: #ff3333
		font-size: 12px
		display: none
		&.valid
			color: #50D166
		img
			margin-right: 4px
			margin-top: -1px
	input
		width: 80%
		height: 100%
		background: #fff
		color: #898c8e
		border: none
		padding: 0 20px
		font-size: 15px
		font-weight: 100
		letter-spacing: .2px
		border-top-left-radius: 2px
		border-bottom-left-radius: 2px
		&:focus
			outline: 0
			@include placeholder
				color: transparent
	button
		position: relative
		background: #1687bd
		color: #fff
		outline: 0
		overflow: hidden
		cursor: pointer
		width: 15%
		min-width: 180px
		border: none
		border-top-right-radius: 2px
		border-bottom-right-radius: 2px
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		font-size: 16px
		font-weight: 700
		letter-spacing: .7px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		i
			margin-left: 7px
			font-size: 13px
			margin-top: -1px
			display: block
		&:focus
			outline: 0
.speed__testData
	display: none
	width: 100%!important
.importance-warning
	color: #ffb301
.importance-ok
	color: #50d265
.importance-error
	color: #ff4b54
.speed__test-info
	display: flex
	justify-content: space-between
	font-size: 14px
	margin-bottom: 20px
	>div
		.title
			font-size: 15px
			font-weight: 500
			margin-bottom: 10px
		.info
			background: white
			box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
			border-radius: 4px
			padding: 15px
			height: 127px
.speed__test-average
	width: 30%
	margin-right: 20px
	.info__title
		font-size: 17px
		margin-bottom: 15px
		&.optimize
			p
				&:nth-child(2)
					font-size: 13px
					span
						&:first-of-type
							font-size: 15px
						&:nth-child(2)
							color: #bcc4d0
	.info__description
		div
			margin-bottom: 5px
			color: #495c6a
			&:last-of-type
				margin-bottom: 0
			&.importance-warning
				span
					color: #ffb301
			&.importance-ok
				span
					color: #50d265
			&.importance-error
				span
					color: #ff4b54
.speed__test-distributions
	width: 70%
	.graph__block
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 15px
		.title
			font-size: 13px
			margin: 0 10px 0 0
		.graph
			width: 100%
			height: 15px
			border-radius: 50px
			display: flex
			position: relative
			.graph__labels
				position: absolute
				display: flex
				align-items: center
				justify-content: space-around
				width: 100%
				span
					color: #dadada
					font-size: 10px
					position: absolute
					top: 25px
					&:after
						position: absolute
						content: ''
						height: 55px
						width: 1px
						border-left: 1px dashed #dadada
						top: -60px
						z-index: 0
						left: 6px
					&:first-of-type
						left: 0
						&:after
							left: 0
					&:nth-child(2)
						left: 25%
					&:nth-child(3)
						left: 50%
					&:last-of-type
						left: 75%
			.graph__section
				background: #50d265
				width: 30%
				margin-right: 2px
				position: relative
				z-index: 1
				text-align: right
				span
					color: #fff
					font-size: 8px
					display: block
					margin-top: 3px
					margin-right: 4px
				&.fast
					background: #50d265
					width: 10%
					border-top-left-radius: 2px
					border-bottom-left-radius: 2px
				&.average
					background: #ffb301
					width: 30%
				&.slow
					background: #ff4b54
					width: 60%
					border-top-right-radius: 2px
					border-bottom-right-radius: 2px
				.tooltip
					font-size: 11px
					line-height: 14px
					color: #485b69
					z-index: -1
					-webkit-transform: scale(.9)
					transform: scale(.9)
					opacity: 0
					height: 0
					overflow: hidden
					-webkit-transition: opacity .5s ease 0s,transform .5s ease 0s,-webkit-transform .5s cubic-bezier(.6,.2,.1,1) 0s,opacity .5s cubic-bezier(.6,.2,.1,1) 0s
					transition: opacity .5s ease 0s,transform .5s ease 0s,-webkit-transform .5s cubic-bezier(.6,.2,.1,1) 0s,opacity .5s cubic-bezier(.6,.2,.1,1) 0s
					&:after
						position: absolute
						content: ''
						width: 0
						height: 0
						border-style: solid
						border-width: 5px 5px 5px
						border-color: #f2f2f2 transparent transparent transparent
						left: 25px
						bottom: -10px
					p
						margin: 0
					span
						font-size: 11px
						line-height: 14px
						color: #485b69
						display: inline
						margin: 0
				&:hover
					.tooltip
						-webkit-transform: scale(1)
						transform: scale(1)
						z-index: 11
						opacity: 1
						width: 200px
						bottom: 20px
						left: 0
						height: auto
						background: #fff
						box-shadow: 0 0 7px rgba(0,48,40,.05)
						padding: 10px
						border-radius: 2px
						overflow: inherit
.graph__description
	display: flex
	align-items: center
	justify-content: center
	margin-top: 35px
.graph__description-block
	display: flex
	align-items: center
	justify-content: center
	margin: 0 5px
	&:first-of-type
		span
			background: #50d265
	&:nth-child(2)
		span
			background: #ffb301
	&:nth-child(3)
		span
			background: #ff4b54
	span
		width: 10px
		height: 10px
		border-radius: 1px
		display: block
		margin-top: -2px
	p
		margin: 0 0 0 5px
		font-size: 12px
.speed__test
	background: #eef3fa
	padding: 40px 0 13px 0
	margin-bottom: 40px
.speed__test-about
	width: 100%
	padding: 15px
	border-radius: 4px
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
	margin-bottom: 20px
	p
		font-size: 14px
		line-height: 20px
		&:last-of-type
			margin-bottom: 0
.speed__test-fix
	.title
		font-size: 15px
		font-weight: 500
	.description
		font-size: 14px
		color: #495c6a
		margin-bottom: 15px
.fix__containers
	width: 100%
	padding: 15px
	border-radius: 4px
	background: white
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
	margin-bottom: 20px
	font-size: 14px
	line-height: 20px
.fix__container-block
	margin-bottom: 15px
	background: #fafafa
	padding: 10px
	border-radius: 2px
	>p
		margin-bottom: 0
	.fix
		display: none
		width: 100%!important
		text-align: left
		margin: 0 0 5px 0
		color: #495c6a
		font-size: 13px
		font-weight: 400
		.urls
			padding: 3px 10px
			background: white
			border-radius: 2px
			margin: 5px 0
			>div
				padding: 5px 0
				border-bottom: 1px dashed #238dc5
				&:last-of-type
					border-bottom: 0
		a
			&:hover
				text-decoration: underline
	.fix__link
		color: #0286bf
		font-size: 13px
		cursor: pointer
		margin-top: 3px
		img
			width: 9px
			margin-top: -2px
			transition: 0.3s
	&.open
		.fix__link
			img
				transform: rotate(180deg)
.icon
	position: absolute
	width: 14px
	height: 14px
	background: url(/wp-content/themes/sitechecker/out/img/urls_warning.svg) no-repeat
	background-size: cover
	margin: auto
	top: 0
	left: 3px
	bottom: 0
	right: 0
	z-index: 3
	-webkit-border-radius: 999px
	-moz-border-radius: 999px
	border-radius: 999px
.pulse1
	position: absolute
	width: 20px
	height: 20px
	margin: auto
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 1
	opacity: 0
	border: 3px solid rgba(255,255,255,.1)
	-webkit-animation: pulsejg1 2s linear infinite
	-moz-animation: pulsejg1 2s linear infinite
	animation: pulsejg1 2s linear infinite
	-webkit-border-radius: 999px
	-moz-border-radius: 999px
	border-radius: 999px
	-webkit-box-shadow: inset 0 0 15px 10px rgba(254, 200, 54, 0.8)
	-moz-box-shadow: inset 0 0 15px 10px rgba(254, 200, 54, 0.8)
	box-shadow: inset 0 0 15px 10px rgba(254, 200, 54, 0.8)
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
.pulse2
	position: absolute
	width: 20px
	height: 20px
	margin: auto
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 2
	opacity: 0
	border: 1px solid rgba(255,255,255,0)
	-webkit-animation: pulsejg2 2s linear infinite
	-moz-animation: pulsejg2 2s linear infinite
	animation: pulsejg2 2s linear infinite
	-webkit-border-radius: 999px
	-moz-border-radius: 999px
	border-radius: 999px
	-webkit-box-shadow: inset 0 0 12px 5px rgb(254, 142, 35)
	-moz-box-shadow: inset 0 0 12px 5px rgb(254, 142, 35)
	box-shadow: inset 0 0 12px 5px rgb(254, 142, 35)
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

@-webkit-keyframes pulsejg1
	0%
		-moz-transform: scale(.6)
		opacity: 0
	50%
		-moz-transform: scale(.6)
		opacity: 0
	60%
		-moz-transform: scale(.9)
		opacity: .2
	70%
		-moz-transform: scale(1.1)
		opacity: .35
	80%
		-moz-transform: scale(1.25)
		opacity: .2
	100%
		-moz-transform: scale(1.4)
		opacity: 0

@-moz-keyframes pulsejg1
	0%
		-moz-transform: scale(.6)
		opacity: 0
	50%
		-moz-transform: scale(.6)
		opacity: 0
	60%
		-moz-transform: scale(.9)
		opacity: .2
	70%
		-moz-transform: scale(1.1)
		opacity: .35
	80%
		-moz-transform: scale(1.25)
		opacity: .2
	100%
		-moz-transform: scale(1.4)
		opacity: 0

@keyframes pulsejg1
	0%
		transform: scale(.6)
		opacity: 0
	50%
		transform: scale(.6)
		opacity: 0
	60%
		transform: scale(.9)
		opacity: .1
	70%
		transform: scale(1.1)
		opacity: .25
	80%
		transform: scale(1.25)
		opacity: .1
	100%
		transform: scale(1.4)
		opacity: 0

@-webkit-keyframes pulsejg2
	0%
		-webkit-transform: scale(.6)
		opacity: 0
	40%
		-webkit-transform: scale(.8)
		opacity: .05
	50%
		-webkit-transform: scale(1)
		opacity: .1
	60%
		-webkit-transform: scale(1.1)
		opacity: .3
	80%
		-webkit-transform: scale(1.2)
		opacity: .1
	100%
		-webkit-transform: scale(1.3)
		opacity: 0

@-moz-keyframes pulsejg2
	0%
		-moz-transform: scale(.6)
		opacity: 0
	40%
		-moz-transform: scale(.8)
		opacity: .05
	50%
		-moz-transform: scale(1)
		opacity: .1
	60%
		-moz-transform: scale(1.1)
		opacity: .3
	80%
		-moz-transform: scale(1.2)
		opacity: .1
	100%
		-moz-transform: scale(1.3)
		opacity: 0

@keyframes pulsejg2
	0%
		transform: scale(.6)
		opacity: 0
	40%
		transform: scale(.8)
		opacity: .05
	50%
		transform: scale(1)
		opacity: .1
	60%
		transform: scale(1.1)
		opacity: .3
	80%
		transform: scale(1.2)
		opacity: .1
	100%
		transform: scale(1.3)
		opacity: 0