.knbs__first
  height: 92vh
  background: rgba(224, 229, 236, 0.8)
  background-image: url("./img_design/category__bg.svg")
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  position: relative
  @media (max-width: 640px)
    height: 600px
  &.search__results
    height: 300px
    @media (max-width: 640px)
      height: 300px
  .wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    h1
      font-weight: 600
      font-size: 45px
      line-height: normal
      color: #313135
      text-align: center
      margin-bottom: 20px
      @media (max-width: 640px)
        font-size: 35px
        line-height: 43px

.article__seo-search
  &.knbs__search
    button
      &:hover
        img
          transform: none
    @media (max-width: 820px)
      img
        width: 15px
        height: 15px

.knbs__popular
  padding: 100px 0
  @media (max-width: 640px)
    padding: 60px 0
  .title
    display: flex
    align-items: center
    justify-content: center
    font-weight: 500
    font-size: 35px
    line-height: 58px
    text-align: center
    color: #313135
    margin: 0 auto 3px auto
    @media (max-width: 640px)
      font-size: 30px
      line-height: 40px
      flex-direction: column
    h2
      font-weight: 500
      @media (max-width: 640px)
        font-size: 30px
    img
      margin-right: 20px
      margin-top: -12px
      @media (max-width: 640px)
        margin: 0 auto 12px auto
  .description
    font-size: 20px
    line-height: 40px
    font-weight: 300
    color: #5B5E6D
    text-align: center
    margin-bottom: 50px
    @media (max-width: 640px)
      font-size: 16px
      line-height: 25px
      margin-bottom: 20px
.knbs__categories
  width: 960px
  margin: 0 auto
  column-count: 3
  column-gap: 0
  @media (max-width: 640px)
    column-count: 1
  @media (max-width: 1000px)
    width: 100%
  .category
    break-inside: avoid
    display: flex
    align-items: flex-start
    flex-direction: column
    margin-bottom: 50px
    padding-right: 20px
    &:last-of-type
      margin-bottom: 0
    @media (max-width: 1000px)
      padding: 10px
    @media (max-width: 640px)
      margin-bottom: 10px
    .title
      color: $color-blue
      font-weight: 500
      font-size: 18px
      line-height: 33px
      text-align: left
      margin: 0 0 12px 0
      cursor: pointer
      transition: 0.2s
      &:hover
        color: $color-blue__hover
    ul
      margin: 0
      padding: 0
      list-style-type: none
      li
        margin-bottom: 12px
        &:last-of-type
          margin-bottom: 0
        a
          font-size: 15px
          line-height: 22px
          color: #5B5E6D
          transition: 0.2s
          &:hover
            color: $color-blue__hover

.knbs__latest
  @extend .knbs__popular
  padding-top: 0
  padding-bottom: 50px
  .title
    margin-bottom: 50px
    @media (max-width: 640px)
      margin-bottom: 10px
    img
      margin-top: -10px

.knbs__latest-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.knbs__latest-block
  width: 33%
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: 20px
  border-right: 1px solid rgba(91, 94, 109, 0.5)
  margin-bottom: 50px
  &:nth-child(3n), &:last-of-type
    border-right: 0
  @media (max-width: 768px)
    width: 50%
    border-right: 0
    &:nth-child(2n+1)
      border-right: 1px solid rgba(91, 94, 109, 0.5)
  @media (max-width: 640px)
    border: none
    width: 100%
    margin-bottom: 10px
    &:nth-child(2n+1)
      border: none
  .category
    font-weight: 500
    font-size: 12px
    line-height: 20px
    text-transform: uppercase
    color: rgba(134, 139, 161, 0.7)
    margin-bottom: 15px
    cursor: pointer
    transition: 0.2s
    &:hover
      color: $color-blue__hover
  .title
    font-weight: 500
    font-size: 24px
    line-height: 30px
    text-align: left
    justify-content: flex-start
    align-items: flex-start
    color: #313135
    margin: 0 0 10px 0
    cursor: pointer
    transition: 0.2s
    &:hover
      color: $color-blue__hover
  .description
    font-size: 14px
    line-height: 23px
    text-align: left
    color: #5B5E6D
    margin-bottom: 12px
  .article__info
    font-size: 12px
    line-height: 20px
    color: #868BA1
    margin: 0
    justify-content: flex-start
    >div
      margin-right: 20px
      &:last-of-type
        margin-right: 0
      @media (max-width: 1000px)
        margin-right: 10px
      span
        color: rgba(134, 139, 161, 0.7)
      svg
        margin-right: 8px
        height: 14px
        path
          fill: rgba(134, 139, 161, 0.7)
    .post__ratings
      display: none!important

.knbs__cat
  padding: 0 0 100px 0
  .title
    font-weight: 500
    font-size: 35px
    line-height: 58px
    text-align: center
    color: #313135
    margin: 0 auto 50px auto
.knbs__cat-container
  display: flex
  justify-content: space-around
  flex-wrap: wrap
.knbs__cat-block
  display: flex
  flex-direction: column
  background: #FFFFFF
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  width: 31%
  margin-bottom: 25px
  @media (max-width: 768px)
    width: 48%
  @media (max-width: 640px)
    width: 100%
  .image
    height: 160px
    display: flex
    align-items: center
    justify-content: center
    background: $color-blue
    background-image: url("./img_design/cat_prev.svg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    margin-bottom: 35px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    opacity: 0.8
    img
      max-height: 75px
  .title
    padding: 0 35px
    font-weight: 500
    font-size: 24px
    line-height: 30px
    color: #313135
    margin: 0 0 15px 0
    text-align: left
    cursor: pointer
    transition: 0.2s
    &:hover
      color: $color-blue__hover
  .description
    padding: 0 35px 25px 35px
    font-size: 14px
    line-height: 23px
    color: #5B5E6D