main.knowledge
  background: #eef3fa
  margin-top: -20px
  padding: 20px 0
  h1
    font-size: 30px
    font-weight: 500
    margin: 50px auto 30px auto
    text-align: center
  .search
    display: flex
    align-items: center
    width: 860px
    background: white
    height: 60px
    margin: 0 auto 30px auto
    box-shadow: 0 1px 3px 0 rgba(24,24,24,.2), 0 2px 2px 0 rgba(24,24,24,.12), 0 0 2px 0 rgba(24,24,24,.14)
    border-radius: 2px
    @media (max-width: 900px)
      width: 100%
    @media (max-width: 460px)
      flex-wrap: wrap
      background: transparent
      margin-bottom: 90px
      height: 50px
    img
      width: 15.9px
      margin-right: 8px
      margin-left: 25px
      @media (max-width: 460px)
        display: none
    input
      border: none
      height: 100%
      width: 100%
      letter-spacing: 0.2px
      font-size: 18px
      background: white
      @media (max-width: 460px)
        padding: 0 20px
        background: white
        margin-bottom: 10px
        border-radius: 2px
        font-size: 14px
      &:focus
        outline: 0
        @include placeholder
          color: transparent
    button
      margin-left: auto
      height: 100%
      border: none
      color: white
      display: flex
      align-items: center
      justify-content: center
      background: $blue_color
      cursor: pointer
      letter-spacing: 0.2px
      font-size: 18px
      font-weight: 500
      padding: 0 62px
      appearance: none
      outline: 0
      overflow: hidden
      position: relative
      min-width: 180px
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      @media (max-width: 460px)
        min-width: 100%
        padding: 0 5px
        border-radius: 2px
        font-size: 16px
      span
        position: relative
        pointer-events: none
        text-align: center
      &::before
        --size: 0
        content: ''
        position: absolute
        left: var(--x)
        top: var(--y)
        width: var(--size)
        height: var(--size)
        background: radial-gradient(circle closest-side, #41aedd, transparent)
        transform: translate(-50%, -50%)
        transition: width .2s ease, height .2s ease
      &:hover::before
        --size: 400px

.pagination
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  margin: 25px auto 70px auto

.page-numbers
  font-size: 15px
  padding: 5px 10px
  border: solid 1px #b4c8e2
  display: flex
  color: $text_color
  align-items: center
  justify-content: center
  width: 32px
  height: 32px
  margin: 0 4px
  .fa
    font-size: 11px
  &.current
    background: $blue_color
    color: white
    border-color: $blue_color
  &:hover
    border-color: $blue_color
    background: transparent
    color: $text_color

.pages_wrapper-results
  width: 860px
  margin: -10px auto 20px auto
  font-size: 17px
  font-weight: 300
  letter-spacing: 0.2px
  span
    font-weight: 500
  ul
    margin-left: -20px
    margin-top: 20px
    li
      margin-bottom: 7px
      font-size: 16px
      font-weight: 400
  @media (max-width: 900px)
    width: 100%