.knowledgeBase
  padding: 30px 0 0 0
  h1
    margin: 60px auto 30px auto
    font-weight: 600
    line-height: normal
    font-size: 45px
    color: #313135
    text-align: center
    @media (max-width: 320px)
      font-size: 36px
    &.category
      margin: 20px auto 0 auto
      font-size: 38px
  .article__seo-search
    width: 692px
    margin: 8px auto
    @media (max-width: 768px)
      width: 90%
  .article__tags
    margin: 59px auto 47px auto
    @media (max-width: 320px)
      margin: 35px auto
.subscribe__banner
  background: linear-gradient(90deg, #308EFF 0%, #4C9DFF 100%)
  text-align: center
  position: relative
  padding: 90px 0 100px
  @media (max-width: 768px)
    padding: 90px 10px 100px 10px
  @media (max-width: 450px)
    padding: 75px 10px 85px 10px
  &:after
    position: absolute
    content: ''
    display: block
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url('./img_design/mail__bg.svg')
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    z-index: 0
    @media (max-width: 640px)
      background-size: cover
  p
    margin: 36px auto
    line-height: 61px
    font-size: 40px
    text-align: center
    color: #FFFFFF
    @media (max-width: 640px)
      padding: 0 20px
      font-size: 25px
      line-height: 30px
      margin: 30px auto
  .article__seo-search
    width: 570px
    margin: 0 auto
    position: relative
    z-index: 1
    #mc_embed_signup
      width: 100%
      height: 100%
    #mc_embed_signup_scroll
      display: flex
      align-items: center
      justify-content: space-between
      height: 100%
      width: 100%
      .clear
        height: 100%
    @media (max-width: 1190px)
      width: 70%
    @media(max-width: 820px)
      width: 85%
      height: 55px
    @media(max-width: 640px)
      height: 50px
      width: 90%
    input
      &.btn
        width: auto
        padding: 0 30px
        margin: 0
        color: white
        height: 99%
        @media (max-width: 640px)
          font-size: 10px
          padding: 0 20px
.category__more-container
  column-count: 3
  column-gap: 0
  margin: 45px auto 55px auto
  width: 750px
  @media (max-width: 1000px)
    width: 100%
  @media (max-width: 640px)
    column-count: 1
  .category__block
    padding: 0 10px
    break-inside: avoid
    display: flex
    flex-direction: column
    align-items: flex-start
    @media (max-width: 640px)
      padding: 0
.category__block-title
  font-weight: 500
  line-height: 30px
  font-size: 18px
  text-align: left
  color: #5B5E6D
  margin-bottom: 5px
.category__block-list
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-bottom: 13px
  a
    font-weight: 400
    line-height: 19px
    font-size: 14px
    margin-bottom: 10px
    transition: 0.2s
    &:hover
      color: $color-blue__hover
.articles__footer
  background: white
  padding-top: 80px