.landing_first
	height: 500px
	padding-top: 50px
	background: $bg_color
	&.technical_second
		height: 100vh
		padding-top: 0
	@media (max-width: 768px)
		height: 500px
	@media (max-width: 736px)
		min-height: auto
		height: auto
		padding-top: 30px
	@media (max-width: 640px)
		height: auto
		padding-top: 100px
	.wrapper
		display: flex
		align-items: center
		justify-content: center
		height: 100%
		margin-top: 10px
		@media (max-width: 600px)
			flex-wrap: wrap
			margin-top: 0

.landing_first-text
	width: 50%
	margin-right: auto
	@media (max-width: 800px)
		width: 60%
	@media (max-width: 600px)
		width: 100%
		text-align: center
	h1
		font-size: 30px
		font-weight: bold
		line-height: 1.4
		margin: 0
		@media (max-width: 768px)
			font-size: 26px
		@media (max-width: 600px)
			br
				display: none
	p
		font-size: 20px
		line-height: 1.4
		color: #495c6a
		font-weight: 300
		margin: 15px 0 30px 0
		@media (max-width: 768px)
			font-size: 18px
		@media (max-width: 600px)
			font-size: 17px
			br
				display: none
	.btn
		display: flex
		align-items: center
		justify-content: center
		width: 204px
		height: 54px
		background-color: #0286bf
		letter-spacing: 0.3px
		font-size: 20px
		font-weight: bold
		color: #ffffff
		border-radius: 0
		transition: 0.2s
		@media (max-width: 768px)
			font-size: 18px
		@media (max-width: 600px)
			margin: 0 auto
			font-size: 17px
		&:hover
			background: rgba(2, 134, 191, 0.70)

.landing_first-img
	text-align: center
	width: 50%
	img
		height: 350px
		display: block
		margin: 0 auto
		@media (max-width: 1020px)
			width: 90%
		@media (max-width: 640px)
			height: auto
	@media (max-width: 768px)
		width: auto
		margin: 40px 0 30px 0
		img
			width: 225px
			margin-left: 30px
			padding: 0
	@media (max-width: 600px)
		width: 100%
		img
			margin: 0 auto

.landing_about
	padding: 60px 0
	background-image: linear-gradient(#f7f9fa, #f7f9fa)
	background-blend-mode: multiply
	.wrapper
		max-width: 1000px
	h2
		margin: 0 0 30px 0
		text-align: center
		font-size: 28px
		font-weight: bold
		color: #495c6a
		letter-spacing: 0.2px

.landing_block-img
	padding-right: 30px
	display: block
	@media (max-width: 800px)
		padding-right: 15px
		width: 280px
		img
			width: 280px
	@media (max-width: 600px)
		padding: 0
		width: auto

.landing_block-text
	display: block
	width: 50%
	max-width: 470px
	@media (max-width: 800px)
		padding-left: 15px
	@media (max-width: 600px)
		padding: 0
		width: 100%
	h3
		font-size: 24px
		font-weight: 500
		color: #495c6a
		margin-bottom: 10px
	p
		font-size: 16px
		line-height: 1.5
		color: #495c6a
		font-weight: 300
		letter-spacing: 0.2px

.landing_about-block
	display: flex
	align-items: center
	justify-content: space-between
	@media (max-width: 760px)
		flex-wrap: wrap
	&:first-of-type
		position: relative
		&:after
			position: absolute
			content: ''
			display: block
			background: #f0f4fb
			height: 2px
			width: 30%
			bottom: -5px
			left: 290px
		@media (max-width: 800px)
			&:after
				display: none
		@media (max-width: 600px)
			flex-direction: column-reverse
			margin-bottom: 30px
			&:after
				display: none
		.landing_block-img
			position: relative
			&:after
				position: absolute
				content: ''
				display: block
				background: #f0f4fb
				height: 45px
				width: 2px
				bottom: -4px
				left: 290px
			@media (max-width: 800px)
				&:after
					display: none
			@media (max-width: 600px)
				margin-top: 10px
				&:after
					display: none
	&:last-of-type
		margin-top: 48px
		position: relative
		@media (max-width: 800px)
			margin-top: 34px
		&:after
			position: absolute
			content: ''
			display: block
			background: #f0f4fb
			height: 2px
			width: 30%
			top: -45px
			right: 295px
		@media (max-width: 800px)
			&:after
				display: none
		@media (max-width: 600px)
			&:after
				display: none
		.landing_block-img
			padding-left: 30px
			padding-right: 0
			position: relative
			@media (max-width: 800px)
				padding-left: 15px
			&:after
				position: absolute
				content: ''
				display: block
				background: #f0f4fb
				height: 45px
				width: 2px
				top: -45px
				right: 295px
			@media (max-width: 800px)
				&:after
					display: none
			@media (max-width: 600px)
				margin-top: 10px
				&:after
					display: none
		.landing_block-text
			padding-left: 0
			@media (max-width: 800px)
				padding-right: 15px

.landing_form
	margin: 170px 0
	@media (max-width: 768px)
		margin: 100px 0 120px 0
	@media (max-width: 600px)
		margin: 30px 0 0 0
.landing_form-text
	font-size: 16px
	letter-spacing: 0.3px
	font-weight: 300
	line-height: 1.75
	color: #ffffff
	width: 100%
	background-image: linear-gradient(to left, #00a7f0, #0286bf)
	.wrapper
		position: relative
		display: flex
		align-items: center
		height: 100%
		@media (max-width: 600px)
			flex-wrap: wrap
		> p
			width: 615px
			margin: 0
			padding: 68px 0
			font-size: 26px
			font-weight: bold
			line-height: 1.31
			color: #ffffff
			@media (max-width: 860px)
				width: 50%
			@media (max-width: 600px)
				width: 100%
			@media (max-width: 420px)
				font-size: 16px
				padding: 40px 0

.landing_form-form
	position: absolute
	right: 0
	width: 45%
	max-width: 410px
	@media (max-width: 768px)
		top: -44px
	@media (max-width: 600px)
		position: relative
		top: 0
		width: 300px
		margin: 0 auto 50px auto
	form
		display: flex
		flex-direction: column
		background-color: #495c6a
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
		padding: 40px
		border: none
		@media (max-width: 600px)
			padding: 25px
		p
			margin: 0 auto
			text-align: center
			width: 100%
		input, textarea
			height: 44px
			width: 100%
			max-width: 380px
			border: none
			color: #495c6a
			font-size: 14px
			margin-bottom: 15px
			padding: 15px
			border-radius: 0
			&:focus
				outline: none
				@include placeholder
					color: transparent
		textarea.wp_crm__message_field_field
			margin-top: 0
		.control-group, fieldset
			position: relative
			label
				position: absolute
				top: 10px
				left: 15px
				color: transparent
				font-size: 14px
				font-weight: 300
				letter-spacing: 0.2px
				transform: translate3d(0, 0, 0)
				transition: all 0.2s ease-in-out
			input
				position: relative
				z-index: 9
				&:focus
					padding-top: 18px
				&[type="submit"]
					text-align: center
		textarea
			padding-top: 11px
			margin-bottom: 0
			resize: none
			height: 140px
			z-index: 9
		input[type="submit"]
			width: 176px
			height: 52px
			background-color: #0286bf
			display: block
			align-items: center
			text-align: center
			justify-content: center
			font-size: 16px
			font-weight: 300
			letter-spacing: 0.2px
			color: #ffffff
			border: none
			margin: 20px auto 0 auto
			transition: 0.2s
			padding: 0
			&:hover
				background: rgba(2, 134, 191, 0.70)
			&:focus
				outline: none
				padding: 0
		span.wpcf7-not-valid-tip
			color: #FFC107!important
			font-weight: 300!important

.popup_order
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 55
	display: none
	align-items: center
	background-color: rgba(73, 92, 106, 0.90)
	.landing_form-form
		position: relative
		display: none
		right: 0
		top: 0
		width: 440px
		max-width: none
		margin: 0 auto
		flex-direction: column
		background-color: #495c6a
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.14)
		padding: 40px
		form
			box-shadow: none
			padding: 0
		textarea
			padding-top: 16px
			&:focus
				@include placeholder
					color: transparent
		input
			&:focus
				padding-top: 20px
				@include placeholder
					color: transparent
		@media (max-width: 600px)
			width: 80%
			padding: 25px
		.form_header
			display: flex
			align-items: baseline
			justify-content: space-between
			p
				font-size: 28px
				font-weight: 500
				color: #ffffff
				letter-spacing: 0.3px
				margin: 0 0 30px 0
				@media (max-width: 600px)
					font-size: 18px
					margin-bottom: 20px
			img
				cursor: pointer
				display: block
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
				transition: transform .25s linear
				-webkit-transition: -webkit-transform .25s linear
				&:hover
					-webkit-transform: rotate(180deg)
					-ms-transform: rotate(180deg)
					-webkit-transform: rotate(180deg)
					-moz-transform: rotate(180deg)
					-o-transform: rotate(180deg)
					transform: rotate(180deg)
				@media (max-width: 600px)
					width: 12px
		@media (max-width: 600px)
			form 
				input, .btn-group>.btn:first-child
					height: 40px
				textarea
					height: 80px
				.btn-group>.btn:first-child
					padding-top: 10px
				button
					height: 42px
					font-size: 15px

.popup_sent
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 55
	display: none
	align-items: center
	justify-content: center
	background-color: rgba(73,92,106,.9)

.popup_sent-block
	width: 440px
	height: 315px
	padding: 40px 40px 34px 40px
	background-color: #495c6a
	display: none
	flex-direction: column
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	@media (max-width: 340px)
		width: 85%
	p
		margin: 0
		font-size: 15px
		font-weight: 300
		letter-spacing: 0.4px
		color: white
		text-align: center

.popup_sent-close
	width: 20px 
	height: 20px
	margin-left: auto
	margin-bottom: 7px
	cursor: pointer
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	transition: transform .25s linear
	-webkit-transition: -webkit-transform .25s linear
	&:hover
		-webkit-transform: rotate(180deg)
		-ms-transform: rotate(180deg)
		-webkit-transform: rotate(180deg)
		-moz-transform: rotate(180deg)
		-o-transform: rotate(180deg)
		transform: rotate(180deg)

.popup_sent-img
	width: 148px
	margin: 0 auto 42.4px auto

div.wpcf7 .ajax-loader
	display: none!important

.technical_first
	display: flex
	align-items: center
	position: relative
	height: 100vh
	background-image: linear-gradient(#eef3fa, #eef3fa)
	background-blend-mode: multiply
	@media (max-width: 640px)
		align-items: baseline
		padding-top: 150px
	.wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	h1
		font-size: 36px
		font-weight: bold
		text-align: center
		color: #495c6a
		margin: 0 0 20px 0
		span
			color: #0286bf
		@media (max-width: 420px)
			font-size: 30px
	.home_first-search
		margin: 0
		max-width: 800px
		width: 800px
		@media (max-width: 860px)
			width: 90%
		input
			&:focus
				@include placeholder
					color: transparent

.technical_first-about
	display: flex
	align-items: baseline
	justify-content: space-between
	width: 778px
	margin-bottom: 40px
	@media (max-width: 860px)
		width: 90%
	@media (max-width: 640px)
		flex-wrap: wrap
		align-items: center
		justify-content: center
		margin-bottom: 30px
		width: 100%!important
	img
		margin-right: 5px
		margin-top: -2px
	p
		font-size: 18px
		color: #898c8e
		margin: 0
		@media (max-width: 860px)
			text-align: center
			font-size: 14px
			padding-right: 5px
		@media (max-width: 640px)
			margin-bottom: 10px
	&.ru
		width: 850px
		p
			font-size: 15px

.technical_connect
	padding: 60px 0 130px 0
	.wrapper
		text-align: center
	@media (max-width: 420px)
		padding-bottom: 80px

.technical_connect-info
	margin-bottom: 130px
	p
		&:first-of-type
			font-size: 28px
			line-height: 29px
			font-weight: bold
			color: #495c6a
			margin: 0 0 10px 0
		&:nth-child(2)
			font-size: 18px
			line-height: 22px
			color: #495c6a
			margin: 0
	@media (max-width: 420px)
		margin-bottom: 80px

.connect_bg
	position: relative
	width: 583px
	height: 572px
	margin: 0 auto
	display: flex
	align-items: center
	justify-content: center
	background-image: url('/wp-content/themes/sitechecker/out/img/connection.svg')
	background-size: cover
	@media (max-width: 860px)
		width: 483px
		height: 472px
	@media (max-width: 420px)
		width: 233px
		height: 222px

.connect_bg-circle
	width: 282px
	height: 282px
	background: #465e6e
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	margin-top: -20px
	margin-left: -5px
	@media (max-width: 860px)
		width: 230px
		height: 230px
		margin: -15px 0 0 0
		img
			width: 85%
	@media (max-width: 420px)
		width: 100px
		height: 100px
		margin: -5px 0 0 0
		img
			width: 75%


.connect_bg-data
	position: absolute
	width: 150px
	height: 150px
	border-radius: 50%
	padding: 5px
	display: flex
	align-items: center
	justify-content: center
	background-color: #f9fafc
	box-shadow: 0 1px 1px 0 rgba(24, 24, 24, 0.2), 0 1px 1px 0 rgba(24, 24, 24, 0.12), 0 0 1px 0 rgba(24, 24, 24, 0.14)
	&:nth-child(2)
		top: -100px
	&:nth-child(3)
		top: 10px
		right: -30px
	&:nth-child(4)
		bottom: 150px
		right: -95px
	&:nth-child(5)
		bottom: -70px
		right: 75px
	&:nth-child(6)
		bottom: -70px
		left: 75px
	&:nth-child(7)
		bottom: 150px
		left: -95px
	&:nth-child(8)
		top: 10px
		left: -30px
	@media (max-width: 860px)
		width: 120px
		height: 120px
		padding: 10px
		span
			font-size: 13px
		&:nth-child(2)
			top: -90px
		&:nth-child(3)
			top: 7px
			right: -25px
		&:nth-child(4)
			bottom: 125px
			right: -75px
		&:nth-child(5)
			bottom: -57px
			right: 66px
		&:nth-child(6)
			bottom: -57px
			left: 66px
		&:nth-child(7)
			bottom: 125px
			left: -75px
		&:nth-child(8)
			top: 7px
			left: -25px
	@media (max-width: 420px)
		width: 70px
		height: 70px
		padding: 2px
		span
			font-size: 9px
			line-height: 12px
		&:nth-child(2)
			top: -60px
		&:nth-child(3)
			top: -9px
			right: -25px
		&:nth-child(4)
			bottom: 50px
			right: -35px
		&:nth-child(5)
			bottom: -48px
			right: 23px
		&:nth-child(6)
			bottom: -48px
			left: 23px
		&:nth-child(7)
			bottom: 50px
			left: -35px
		&:nth-child(8)
			top: -9px
			left: -25px



.technical_features
	text-align: center
	padding: 60px 0 50px 0
	h2
		font-size: 28px
		font-weight: bold
		line-height: 1.29
		color: #495c6a
		margin: 0 0 30px 0
	@media (max-width: 860px)
		padding-bottom: 30px

.technical_features-block
	display: flex
	justify-content: space-between
	@media (max-width: 420px)
		flex-wrap: wrap

.technical-feat
	width: 25%
	border-right: 2px solid #e1e1e1
	padding: 34px 0
	&:last-of-type
		border: none
	p
		font-size: 23px
		line-height: 25px
		font-weight: 500
		color: #495c6a
		margin: 0 0 34px 0
	@media (max-width: 860px)
		padding: 25px 0
		p
			font-size: 18px
			line-height: 20px
		img
			width: 90px
	@media (max-width: 420px)
		width: 100%
		padding: 0
		border: none
		border-bottom: 2px solid #e1e1e1
		padding-bottom: 20px
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0
			padding-bottom: 0
		p
			margin-bottom: 10px

.landing_form-form form .btn-group>.btn:first-child
	width: 100%
	background: #fff
	border-bottom: none
	border-radius: 0
	height: 44px
	padding: 12px 15px 15px 15px
	font-weight: 300
	color: #495c6a
	margin: 0

.landing_form-form form .bootstrap-select.btn-group:not(.input-group-btn)
	width: 100%

.landing_form-form form .bootstrap-select.btn-group .dropdown-toggle .caret
	right: 15px

.landing_form-form form .dropdown-menu>li>a
	font-size: 14px
	font-weight: 300
	letter-spacing: .2px
	padding: 12px 10px 12px 15px
	color: #495c6a

span.wpcf7-not-valid-tip
	color: #ff9800!important
	font-size: 14px!important
	letter-spacing: .3px!important
	font-weight: 400!important
	margin: -10px 0 10px 0!important

textarea + span.wpcf7-not-valid-tip
	margin-top: 0!important
div.wpcf7-validation-errors, div.wpcf7-response-output
	display: none!important



