.levels_main
  background-image: url('/wp-content/themes/sitechecker/out/img/price_bg.svg')
  background-repeat: no-repeat
  background-size: 100% auto
  @media (max-width: 768px)
    background-size: auto

.levels_title
  font-size: 30px
  font-weight: 500
  color: #495c6a
  text-align: center
  margin: 0 auto 30px auto

.levels_block
  display: flex
  justify-content: center
  &.yearly
    display: none
  @media (max-width: 768px)
    flex-wrap: wrap
  .levels_block-package
    width: 100%
    background: white
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08)
    padding: 25px 0 0 0
    .title
      font-size: 18px
      color: #495c6a
      margin-bottom: 5px
      letter-spacing: 0.2px
      font-weight: 500
      padding: 10px 40px 0 40px
      text-align: left
      @media (max-width: 768px)
        padding: 0 15px
    .description
      font-size: 12px
      opacity: 0.5
      letter-spacing: 0.2px
      font-weight: 300
      margin: 0 40px 5px 40px
      display: block
      line-height: 16px
      text-align: left
      @media (max-width: 768px)
        padding: 0 15px
        margin: 0 0 5px 0
    .price
      font-size: 32px
      margin: 30px 0
      font-weight: 500
      line-height: 0.68
      padding: 0 40px
      @media (max-width: 768px)
        padding: 0 15px
      span
        font-weight: 300
        font-size: 14px
        display: inline-block
        opacity: 0.5
        letter-spacing: 0.2px
        margin-left: 0
    .plan_tab
      display: flex
      align-items: center
      font-size: 14px
      line-height: 1.29
      letter-spacing: 0.2px
      font-weight: 400
      background: transparent
      padding: 0 40px 10px 40px
      p
        margin: 2px 0 0 0
        color: #4386fc
        font-size: 12px
      svg
        width: 11px
        height: 12px
        margin-right: 7px
        path
          fill: #4386fc
    .plan_about, .data
      font-size: 14px
      line-height: 1.29
      letter-spacing: 0.2px
      font-weight: 300
      padding: 12px 40px
      strong, b
        font-weight: 400
      @media (max-width: 768px)
        padding: 12px 15px
      ul
        margin: 0
        padding: 0 0 0 20px
        list-style-type: none
        li
          margin-bottom: 9px
          position: relative
          &:before
            content: ''
            background: url(../out/img/tick.svg)
            background-size: cover
            display: block
            position: absolute
            top: 4px
            left: -17px
            width: 10px
            height: 10px
    .data
      border-bottom: 0
    .button
      margin: auto 0 0 0
      padding: 20px 17px
      border-top: 1px solid #e8eff8
      a
        display: block
        margin: 0 auto
        background-color: #0286bf
        color: #ffffff
        font-size: 18px
        letter-spacing: 0.2px
        font-weight: 500
        width: 165px
        padding: 14px 0
        border: none
        transition: 0.2s
        border-radius: 2px
        &:hover
          background: #036f9d
    &.middle
      .star
        position: absolute
        top: 0
        right: 0
        width:
        height: 0
        border-style: solid
        border-width: 0 60px 60px 0
        border-color: transparent #b4c8e2 transparent transparent
        img
          position: absolute
          top: 10px
          right: -50px

.levels_block-side
  width: 310px
  position: relative
  @media (max-width: 768px)
    width: 30%
  @media (max-width: 520px)
    width: 100%
    margin: 0 0 20px 0
    padding-top: 0
  &:nth-child(2)
    margin: 0 23px
    padding-top: 0
    @media (max-width: 768px)
      margin: 0 15px
    @media (max-width: 520px)
      margin: 0 0 20px 0
    .plan_tab
      p
        color: #22af8c
      svg
        path
          fill: #22af8c
    .plan_about, .data
      ul
        li
          &:before
            content: ''
            background: url(../out/img/tick-green.svg)
            background-size: cover
            display: block
            position: absolute
            top: 4px
            left: -17px
            width: 10px
            height: 10px
    .button
      #pmpro_submit_span .pmpro_btn-submit-checkout, .pmpro_btn.pmpro_btn-submit-checkout
        background: #36bd9c
        &:hover
          background: #22af8c

.levels_block-side
  position: relative
  perspective: 1000px
  -webkit-perspective: 1000px
  .card
    width: 100%
    height: 100%
    position: relative
    -webkit-transition: -webkit-transform 0.5s ease
    -moz-transition: -moz-transform 0.5s ease
    -o-transition: -o-transform 0.5s ease
    transition: transform 0.5s ease
    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    -o-transform-style: preserve-3d
    transform-style: preserve-3d
    &.rotate
      -webkit-transform: rotateY(180deg)
  .levels_block-package
    overflow: hidden
    border-radius: 2px
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    height: 100%
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -o-backface-visibility: hidden
    backface-visibility: hidden
    div, p, span, a, ul, li
      -webkit-backface-visibility: hidden
      -moz-backface-visibility: hidden
      -o-backface-visibility: hidden
      backface-visibility: hidden
      &:after, &:before
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        -o-backface-visibility: hidden
        backface-visibility: hidden
  .monthly
    z-index: 0
    position: absolute
    top: 0
  .yearly
    -webkit-transform: rotateY(180deg)
    z-index: 1
    .price
      margin: 30px 0 20px 0
      span
        margin-left: 7px
    .sale
      padding: 0 40px
      font-weight: 300
      font-size: 12px
      letter-spacing: 0.3px
      p
        &:first-of-type
          margin: 0
          color: #4386fe
        &:nth-child(2)
          margin-bottom: 15px
          opacity: 0.5
  &:nth-child(2)
    .card
      border-radius: 2px
      position: relative
    .sale
      p
        &:first-of-type
          color: #36bd9c

.levels_payment
  margin-top: 50px
  display: flex
  align-items: flex-start
  img
    margin-right: 20px

.levels_payment-text
  p
    &:first-of-type
      font-size: 22px
      line-height: 25px
      font-weight: 500
    &:nth-child(2)
      font-size: 16px
      line-height: 1.5

.levels_free
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-top: 40px
  @media(max-width: 520px)
    margin-top: 10px
  .levels_block-package
    width: 48%
    padding: 25px
    @media(max-width: 520px)
      width: 100%
    .title
      margin-bottom: 15px
      line-height: 22px
      text-align: center
      font-weight: 500
    p
      text-align: center
    .button
      margin: 15px 0 0 0
    &:nth-child(2)
      width: 48%
      @media(max-width: 520px)
        width: 100%
        margin-top: 20px

.pdf_banner
  display: none
  align-items: center
  justify-content: space-between
  padding: 0 20px
  overflow: hidden
  height: 45px
  p
    margin: 0
  img
    cursor: pointer

.soon
  position: relative
  &:after
    position: absolute
    content: 'soon'
    top: -2px
    right: -23px
    font-weight: 500
    color: orange
    font-size: 9px

.levels_block-side .levels_block-package div
  &.most__popular
    position: absolute
    top: -3px
    font-size: 8px
    right: 9px
    transform: rotate(45deg) translateX(35px) translateY(-10px)
    display: block
    width: 97px
    padding: 4px 0
    background-color: #36bd9c
    letter-spacing: 0.1em
    text-transform: uppercase
    text-align: center
    color: rgb(255, 255, 255)
    height: 23px

.levels_title
  margin: 30px auto 15px auto
  @media (max-width: 768px)
    margin-top: 10px

.pricing__second-description
  font-size: 14px
  line-height: 20px
  margin-bottom: 30px
  text-align: center
  font-weight: 300
  a
    color: #4386fd
    transition: 0.3s
    &:hover
      color: #337ab7

html[lang="ru"]
  #level_checkout .switch
    width: 265px

@-webkit-keyframes a
  0%
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)
@-o-keyframes a
  0%
    -o-transform: rotate(0deg)
  to
    -o-transform: rotate(359deg)
@keyframes a
  0%
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)
    -o-transform: rotate(359deg)
    transform: rotate(359deg)

.paypal_redirect
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: white
  align-items: center
  justify-content: center
  flex-direction: column
  p
    font-size: 23px
    letter-spacing: 0.2px
    margin-bottom: 10px
    font-weight: 300
    position: absolute
    top: 34%
    &:nth-child(2)
      margin-bottom: 25px
      font-size: 14px
      color: #2380be
      top: 38%
  .spinWrap
    width: 200px
    height: 100px
    position: relative
    .spinnerImage
      margin: 28px 0 0 -25px
      background: url('../out/img/icon_paypal.png') no-repeat
      height: 100px
      width: 100px
      position: absolute
      top: 0
      left: 50%
      opacity: 1
    .loader
      height: 100px
      width: 100px
      box-sizing: content-box
      position: absolute
      top: 0
      left: 50%
      opacity: 1
      margin: 0 0 0 -55px
      background-color: transparent
      -webkit-animation: a .7s infinite linear
      -o-animation: a .7s infinite linear
      animation: a .7s infinite linear
      border-left: 5px solid #cbcbca
      border-right: 5px solid #cbcbca
      border-bottom: 5px solid #cbcbca
      border-top: 5px solid #2380be
      border-radius: 100%
      &:before
        display: none

html[lang="de"]
  #level_checkout .switch
    width: 440px
  #level_checkout
    .slider.round
      width: 440px
      &:before
        width: 161px
    input:checked+.slider:before
      width: 270px
      -webkit-transform: translateX(164px)
      -ms-transform: translateX(164px)
      transform: translateX(164px)
html[lang="fr"]
  #level_checkout .switch
    width: 425px
  #level_checkout
    .slider.round
      width: 425px
      &:before
        width: 168px
    input:checked+.slider:before
      width: 255px
      -webkit-transform: translateX(164px)
      -ms-transform: translateX(164px)
      transform: translateX(164px)
  .levels_block-side .levels_block-package div.most__popular
    top: 6px
    right: 3px
    width: 125px
html[lang="it"]
  #level_checkout .switch
    width: 380px
  #level_checkout
    .slider.round
      width: 380px
      &:before
        width: 145px
    input:checked+.slider:before
      width: 230px
      -webkit-transform: translateX(144px)
      -ms-transform: translateX(144px)
      transform: translateX(144px)
  .levels_block-side .levels_block-package div.most__popular
    top: 6px
    right: 3px
    width: 125px
html[lang="nl"]
  #level_checkout .switch
    width: 420px
  #level_checkout
    .slider.round
      width: 420px
      &:before
        width: 167px
    input:checked+.slider:before
      width: 240px
      -webkit-transform: translateX(174px)
      -ms-transform: translateX(174px)
      transform: translateX(174px)
  .levels_block-side .levels_block-package div.most__popular
    top: 6px
    right: 3px
    width: 125px
html[lang="es"]
  #level_checkout .switch
    width: 363px
  #level_checkout
    .slider.round
      width: 363px
      &:before
        width: 145px
    input:checked+.slider:before
      width: 206px
      -webkit-transform: translateX(151px)
      -ms-transform: translateX(151px)
      transform: translateX(151px)
  .levels_block-side .levels_block-package div.most__popular
    top: 6px
    right: 3px
    width: 125px
html[lang="pt"]
  #level_checkout .switch
    width: 367px
  #level_checkout
    .slider.round
      width: 367px
      &:before
        width: 145px
    input:checked+.slider:before
      width: 216px
      -webkit-transform: translateX(145px)
      -ms-transform: translateX(145px)
      transform: translateX(145px)
  .levels_block-side .levels_block-package div.most__popular
    top: 6px
    right: 3px
    width: 125px

html[lang="de"], html[lang="fr"], html[lang="it"], html[lang="nl"]
  #level_checkout .switch
    @media (max-width: 460px)
      width: 285px
  #level_checkout
    .slider.round
      @media (max-width: 460px)
        width: 285px
        padding: 0 5px
        span
          font-size: 10px
          line-height: 13px
      &:before
        @media (max-width: 460px)
          width: 100px
    input:checked+.slider:before
      @media (max-width: 460px)
        width: 185px
        -webkit-transform: translateX(94px)
        -ms-transform: translateX(94px)
        transform: translateX(94px)

html[lang="es"]
  #level_checkout .switch
    @media (max-width: 460px)
      width: 285px
  #level_checkout
    .slider.round
      @media (max-width: 460px)
        width: 285px
        padding: 0 7px
        span
          font-size: 10px
          line-height: 13px
      &:before
        @media (max-width: 460px)
          width: 112px
    input:checked+.slider:before
      @media (max-width: 460px)
        width: 165px
        -webkit-transform: translateX(114px)
        -ms-transform: translateX(114px)
        transform: translateX(114px)

html[lang="pt"]
  #level_checkout .switch
    @media (max-width: 460px)
      width: 285px
  #level_checkout
    .slider.round
      @media (max-width: 460px)
        width: 285px
        padding: 0 7px
        span
          font-size: 10px
          line-height: 13px
      &:before
        @media (max-width: 460px)
          width: 108px
    input:checked+.slider:before
      @media (max-width: 460px)
        width: 172px
        -webkit-transform: translateX(107px)
        -ms-transform: translateX(107px)
        transform: translateX(107px)