.page_about
	min-height: 390px
	width: 100%
	background: $bg_color
	.wrapper
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		height: 100%

.page_about-text
	width: 50%
	text-align: left
	padding: 70px 20px 70px 0
	@media (max-width: 800px)
		width: 100%
		text-align: center
		padding: 50px 0 0 0
	h1
		font-size: 30px
		font-weight: 700
		line-height: 1.4
		margin: 0
	p
		font-size: 20px
		line-height: 1.4
		color: #495c6a
		font-weight: 300
		margin: 15px 0 30px 0
	a
		background-color: #0286bf
		color: white
		display: inline-block
		align-items: center
		justify-content: center
		cursor: pointer
		border-radius: 0
		font-size: 18px
		font-weight: 700
		letter-spacing: 0.2px
		padding: 15px 38px
		@media (max-width: 340px)
			width: 290px
			padding: 15px 0
		&:hover
			color: white
			background: #036F9D
		&:focus
			color: white

.page_about-img
	width: 50%
	display: flex
	justify-content: flex-end
	@media (max-width: 800px)
		width: 100%
		justify-content: center

.page_img
	max-width: 500px
	width: 100%
	padding: 60px 0
	@media (max-width: 800px)
		padding: 30px 0
	img
		max-width: 500px
		width: 100%

.page_img-image
	margin-top: -3px

.page_content
	border-bottom: 1px solid #d8d8d8
	h2
		font-size: 30px
		font-weight: bold
		color: #495c6a
		margin: 30px 0 0 0
		text-align: center
		&:first-child
			margin: 0
	p
		font-size: 20px
		line-height: 1.5
		color: #495c6a
		margin: 10px 0
	ul
		font-size: 20px
		line-height: 1.5
		color: #495c6a
		margin: 10px 0
	.box
		background-color: #ffffff
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14)
		padding: 40px
		margin: 20px 0
		width: 100%
		h2
			margin: 0
			text-align: left
	.wrapper
		width: 800px
		padding: 60px 0
		margin: 0 auto
		@media (max-width: 900px)
			width: 90%
	.code
		position: relative
		background: #fafafa
		padding: 20px 40px
		width: 100%
		cursor: pointer
		margin: 10px 0
		padding: 0
		&:before
			position: absolute
			z-index: 99
			content: 'Copy text'
			position: absolute
			top: 0
			right: 0
			width: 154px
			height: 40px
			background-color: #898c8e
			display: flex
			align-items: center
			justify-content: center
			color: white
			font-size: 16px
			visibility: hidden
			transition: visibility 0s, opacity 0.25s linear
			opacity: 0
		&:hover
			&:before
				visibility: visible
				opacity: 1
		&.active
			&:before
				content: 'Text is copied'
				visibility: visible
				opacity: 1
				background: #0286bf
				color: white
	code
		background: none
		color: #495c6a

.qtranxs-available-languages-message + h2
	margin-top: 0


