.monitoring__landing
  background: white
  overflow: hidden
.monitoring__first
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(117.32deg, #9C1CB2 0%, #6722C4 100%)
  position: relative
  @media (max-width: 640px)
    height: 600px
  &:before
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("./img_design/monitoring__landing.svg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
.audit__form_monitoring
  .error, .error__limits
    left: 25px
    right: auto
    bottom: -29px
    color: white
    a
      color: white
    @media (max-width: 640px)
      font-size: 11px
      color: $color-error
      a
        font-size: 11px
        color: $color-error
  .error__limits
    @media (max-width: 640px)
      bottom: -38px
.monitoring__form
  margin: 0 auto
  @media (max-width: 640px)
    .error, .error__limits
      left: 15px
  &.active
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)
  button
    background: #9C1CB2
    box-shadow: 0 3px 10px rgba(156, 28, 178, 0.2)
    cursor: pointer
    &:hover
      background: #9707b6 radial-gradient(circle,transparent 1%,#9707b6 1%) center/15000%
      box-shadow: 0 2px 4px -1px rgba(151,7,182,.2), 0 4px 5px 0 rgba(151,7,182,.14), 0 1px 10px 0 rgba(151,7,182,.12)
.monitoring__benefits
  padding: 100px 0
  @media (max-width: 768px)
    padding: 70px 0 30px 0
.monitoring__benefits-container
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-top: 70px
  @media (max-width: 768px)
    flex-wrap: wrap
.monitoring__benefit
  width: 20%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media (max-width: 768px)
    width: 45%
    margin-bottom: 40px
  @media (max-width: 640px)
    width: 100%
  img
    margin-bottom: 40px
    @media (max-width: 768px)
      margin-bottom: 20px
  p
    font-weight: 500
    line-height: 30px
    font-size: 20px
    color: #313135
    margin-bottom: 10px
    text-align: center
  span
    line-height: 20px
    font-size: 14px
    color: #5B5E6D
    margin: 0
    text-align: center
.monitoring__about
  margin: 30px 0 130px 0
  @media (max-width: 640px)
    margin-bottom: 90px
  .wrapper
    display: flex
    align-items: center
    justify-content: space-between
    @media (max-width: 1100px)
      flex-direction: column
  &:nth-child(2n)
    .wrapper
      flex-direction: row-reverse
      @media (max-width: 1100px)
        flex-direction: column
      .monitoring__about-text
        padding: 0 0 0 100px
        @media (max-width: 1100px)
          padding: 0 0 40px 0
        @media (max-width: 640px)
          padding-bottom: 20px
.monitoring__about-text
  width: 40%
  padding-right: 100px
  @media (max-width: 1100px)
    width: 100%
    padding-bottom: 40px
    padding-right: 0
  img
    margin-bottom: 24px
  p
    &.title
      line-height: 38px
      font-size: 30px
      color: #313135
      margin-bottom: 18px
      @media (max-width: 640px)
        margin-bottom: 15px
    &.description
      line-height: 25px
      font-size: 15px
      color: #5B5E6D
      margin: 0
      a
        line-height: 25px
        font-size: 15px
      @media (max-width: 640px)
        line-height: 24px
        font-size: 15px
      span
        color: $color-blue
.monitoring__about-image
  position: relative
  display: flex
  align-items: center
  justify-content: center
  width: 60%
  @media (max-width: 1100px)
    width: 100%
  img
    max-width: 100%
.monitoring__about_1
  img
    &:first-of-type
      position: absolute
      top: 0
      right: -10%
      z-index: 20
      @media (max-width: 640px)
        display: none
    &:nth-child(2)
      position: relative
      z-index: 10
      width: 100%
    &:nth-child(3)
      position: absolute
      bottom: 0
      left: -10%
      @media (max-width: 640px)
        display: none
.monitoring__about_2
  img
    &:first-of-type
      position: relative
      z-index: 10
      width: 100%
    &:nth-child(2)
      position: absolute
      bottom: 10%
      left: -5%
      z-index: 20
      @media (max-width: 640px)
        display: none
.monitoring__about_3
  img
    &:first-of-type
      position: relative
      z-index: 10
      width: 100%
    &:nth-child(2)
      position: absolute
      bottom: 10%
      right: -20%
      @media (max-width: 640px)
        display: none
.monitoring__about_4
  img
    &:first-of-type
      position: absolute
      bottom: 30%
      right: -5%
      z-index: 20
      @media (max-width: 640px)
        display: none
    &:nth-child(2)
      position: relative
      z-index: 10
      width: 100%
    &:nth-child(3)
      position: absolute
      bottom: -25%
      left: -15%
      @media (max-width: 640px)
        display: none
.monitoring__about_5
  img
    &:first-of-type
      position: absolute
      top: -25%
      right: -23%
      @media (max-width: 640px)
        display: none
    &:nth-child(2)
      position: relative
      z-index: 10
      width: 100%
.monitoring__testimonials
  .wrapper
    padding: 0 0 70px 0
  .front__testimonials-block
    .testimonials
      .comment
        background: linear-gradient(138.17deg, #BB4DD6 0%, #8F5ED2 100%)
        &:before
          border-right: 30px solid #b449d8
          background: #b449d8
      &:nth-child(2)
        .comment
          background: linear-gradient(138.17deg, #8F5ED2 0%, #BB4DD6 100%)
          &:before
            border-right: 0
            border-left: 30px solid #b946d9
            background: #b946d9
.monitoring__land-banner
  background: linear-gradient(126.23deg, #9C1CB2 0%, #6722C4 100%)
  position: relative
  &:before
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("./img_design/monitoring__landing-banner.svg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
.monitoring__land-faq
  .front__faq-block
    .panel
      .panel-title
        &:hover
          h4
            color: #9C1CB2
        &[aria-expanded=true]
          h4
            color: #9C1CB2
          .faq__arrow
            background: rgba(156, 28, 178, 0.05)
.subscribe__banner-monitoring
  background: linear-gradient(126.23deg, #9C1CB2 0%, #6722C4 100%)
.monitoring__seo-search
  &.active
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)
  button
    background: #9C1CB2
    box-shadow: 0 3px 10px rgba(156, 28, 178, 0.2)
    cursor: pointer
    &:hover
      background: #9707b6 radial-gradient(circle,transparent 1%,#9707b6 1%) center/15000%
      box-shadow: 0 2px 4px -1px rgba(151,7,182,.2), 0 4px 5px 0 rgba(151,7,182,.14), 0 1px 10px 0 rgba(151,7,182,.12)
