.monitoring__header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 20px
  .monitoring-title
    p
      margin: -5px 0 0 0
      font-size: 12px
      color: #bbb
  .audit__btn
    height: 24px
    color: #fff
    font-size: 9px
    letter-spacing: 1px
    text-transform: uppercase
    margin: 0
    padding: 0
    box-shadow: none
    transition: .2s
    width: 70px
    background: #05ce7c
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    svg
      width: 10px
      height: 10px
      margin-right: 5px
    &:hover
      background: #05e18d radial-gradient(circle,transparent 1%,#05e18d 1%) center/15000%
      box-shadow: 0 2px 4px -1px rgba(5,206,124,.2), 0 4px 5px 0 rgba(5,206,124,.14), 0 1px 10px 0 rgba(5,206,124,.12)
.monitoring-title
  font-weight: 500
  line-height: 30px
  font-size: 22px
  color: #001659
  margin: 0
.monitoring__history
  padding: 15px 45px
  background: white
  border-radius: 6px
  width: 100%
  margin: 0 auto 10px auto
  &.monitoring__graph
    padding: 5px 10px
    height: 450px
    display: none
    @media (max-width: 640px)
      display: none!important
  .monitoring-loader
    width: 30px
    margin: 0 auto
    display: block
  .load__more, .load__more-filter
    display: none
    margin: 40px auto
    width: 147px
    height: 46px
    position: relative
    background: transparent
    color: #ddd
    box-shadow: none
    border: 2px solid #ddd
    font-weight: 600
    line-height: 10px
    &:hover
      color: $color-blue
      border-color: $color-blue
    span
      transition: 0.2s
    img
      position: absolute
      height: 40px
      top: 3px
      left: 53px
      transition: 0.2s
      display: none
    &.active
      span
        display: none
      img
        display: block
  .load__more-filter
    display: none
  @media (max-width: 640px)
    padding: 25px
.history__block
  margin: 0 0 25px 0
  position: relative
  &:before
    position: absolute
    left: 7.3px
    top: 22px
    content: ''
    display: block
    width: 2px
    height: 100%
    background: #f6f6f6
    @media (max-width: 769px)
      left: 6.3px
    @media (max-width: 640px)
      left: -12.7px
  &.empty
    &:before
      display: none
.monitoring__history-content
  display: none
.monitoring__history-point
  padding-left: 40px
  @media (max-width: 640px)
    padding-left: 20px
  &:last-of-type
    .monitoring__history-event
      &:last-of-type
        margin-bottom: 0
  &.started
    display: none
    .history-point-date
      margin: 0
      @media (max-width: 769px)
        font-size: 14px
      &:before
        background-image: url("./img_design/monitoring_flag.svg")
        background-color: transparent
        border-radius: 0
        height: 17px
        width: 21px
        top: 18px
        left: -40px
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
.history-point-date
  font-weight: 500
  line-height: 55px
  font-size: 16px
  color: #666666
  margin: 0 0 10px 0
  position: relative
  @media (max-width: 640px)
    font-size: 17px
    line-height: 24px
  &:before
    position: absolute
    left: -38px
    top: 22px
    content: ''
    display: block
    width: 12px
    height: 12px
    border-radius: 50px
    background: rgba(0, 102, 255, 0.8)
.monitoring__history-event
  border: 2px solid #F6F6F6
  border-radius: 5px
  margin-bottom: 20px
  transition: 0.2s
  &.open
    border-color: transparent
    background: #FFFFFF
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1)
    .header
      svg
        transform: rotate(180deg)
  &:hover
    box-shadow: 0 2px 20px rgba(145, 145, 145, 0.1)
  &.deleted
    .header
      img
        width: 10px
      &:before
        background: rgba(255, 75, 85, 0.8)
  &.added
    .header
      &:before
        background: rgba(80, 209, 102, 0.8)
  .header
    padding: 15px 20px
    display: flex
    align-items: center
    font-weight: 500
    line-height: 24px
    font-size: 14px
    color: #5B5E6D
    border-radius: 5px
    border: none
    box-shadow: none
    margin: 0
    position: relative
    cursor: pointer
    &:before
      position: absolute
      left: -38px
      top: 22px
      content: ''
      display: block
      width: 8px
      height: 8px
      border-radius: 50px
      background: rgba(255, 179, 0, 0.8)
    img
      height: 14px
      margin-right: 22px
      &[alt='title']
        height: 12px
      &[alt='robots']
        height: 18px
    p
      margin: -2px 10px 0 0
      font-size: 12px
      color: #cccccc
      &.date
        margin-left: auto
      &.changes
        margin: -2px 20px 0 auto
    svg
      margin: 0
      width: 7px
      transition: 0.3s
  .body
    height: 0
    overflow: hidden
    .container
      border-top: 1px solid #F5F5F5
      padding: 10px 60px 20px 60px
      width: 100%
      @media (max-width: 640px)
        padding: 10px 30px 20px 30px
      .more_changes
        margin: 7px 0 0 43px
        font-size: 10px
    .more
      margin: 7px 0 0 30px
      font-size: 10px
    .url
      font-weight: 500
      line-height: 40px
      font-size: 13px
      color: #B3B3B3
      margin-bottom: 10px
      display: flex
      align-items: center
      @media (max-width: 640px)
        line-height: 20px
        word-break: break-all
        flex-direction: column
        align-items: flex-start
      a
        color: $color-blue
        margin-left: 17px
        line-height: normal
        font-size: 13px
        font-weight: 400
        text-decoration: none
        @media (max-width: 640px)
          margin-left: 0
        &:hover
          color: $color-blue__hover
    .external-link
      a
        &:nth-child(2)
          padding: 0
          margin-left: 5px
    .robots__changes
      list-style-type: none
      margin: 0
      padding: 0
      line-height: 20px
      font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace
      font-size: 12px
      li
        position: relative
        counter-increment: li
        code
          font-size: 12px
          color: #212529
          xmp
            margin: 0
            display: inline-block
            white-space: pre-wrap
        &::before
          content: counter(li)
          color: rgba(27,31,35,0.3)
          display: inline-block
          width: 3.5em
          padding: 0 5px 0 0
          margin-left: -1.5em
          margin-right: 1.8em
          text-align: right
          direction: rtl
        &.robots-current
          height: 0
          overflow: hidden
          &:first-of-type
            height: auto
        &.robots-delete
          & + .robots-current
            height: auto
          background: #ffeef0
          .change
            background: #fdb8c0
          &::before
            background: #ffdce0
            text-align: left
            padding: 0 0 0 5px
          &::after
            position: absolute
            left: 32px
            content: '-'
            color: #495c6a
        &.robots-added
          background: #e6ffed
          & + .robots-current
            height: auto
          .change
            background: #aae8b7
          &::before
            background: #cdffd8
          &::after
            position: absolute
            left: 32px
            content: '+'
            color: #495c6a
    .changes
      display: flex
      align-items: center
      margin-bottom: 5px
      @media (max-width: 640px)
        flex-direction: column-reverse
        margin: 20px 0 10px 0
      img
        margin: 0 49px
        @media (max-width: 640px)
          margin: 10px 0
          width: 30px
      p
        line-height: 20px
        font-size: 13px
        font-weight: 400
        color: #666666
        margin: 0
        max-width: 50%
        word-break: break-word
        &.title, &.description, &.h1
          &:first-of-type
            text-decoration-line: line-through
        &.message__error
          background: rgba(255,75,85,.8)
          color: #fff
          display: flex
          align-items: center
          justify-content: center
          padding: 0 8px
          height: 18px
          margin: 0
          border-radius: 3px
          font-size: 10px
          text-transform: capitalize
        span
          &.allow
            color: $color-valid
          &.disallow
            color: $color-error
        &.status
          font-weight: 500
          font-size: 25px
          @media (max-width: 640px)
            font-size: 20px
          &.ok
            color: $color-valid
          &.error
            color: $color-error
          &.warning
            color: $color-warning
    ul
      list-style-type: decimal
      padding: 5px 0 0 10px
      margin: 0
      li
        color: #B3B3B3
        line-height: 27px
        font-size: 14px
        font-weight: 500
        @media (max-width: 640px)
          word-break: break-all
          line-height: 20px
          margin-bottom: 5px
        span, a
          padding-left: 20px
          font-size: 14px
          font-weight: 400
          @media (max-width: 640px)
            padding-left: 5px
      &.deleted
        span
          color: $color-error
          text-decoration-line: line-through
.monitoring__filter
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-end
  margin: 15px 0 0 0
  position: relative
  z-index: 2
  @media (max-width: 1050px)
    margin: 0 0 10px 0
    flex-wrap: wrap
  @media (max-width: 640px)
    flex-direction: column
    align-items: flex-end
    justify-content: flex-end
    margin-bottom: 20px
.monitoring__filter-search
  display: flex
  align-items: center
  justify-content: flex-start
  height: 35px
  width: 250px
  margin: 0
  input
    width: 95%
    height: 100%
    background: #fff
    border: 2px solid rgba(186, 186, 186, 0.3)
    border-right: 0
    border-bottom-left-radius: 4px
    border-top-left-radius: 4px
    padding: 0 10px
    font-size: 13px
    font-weight: 100
    letter-spacing: .2px
    @include placeholder
      color: #DADADA
    &:focus
      outline: none
      @include placeholder
        color: transparent
  button
    display: flex
    align-items: center
    justify-content: center
    width: 5%
    min-width: 35px
    background: transparent
    color: #fff
    border: 2px solid rgba(186, 186, 186, 0.3)
    border-left: 0
    border-radius: 0
    font-size: 16px
    font-weight: 300
    letter-spacing: .3px
    height: 100%
    transition: .2s
    border-top-right-radius: 4px
    border-bottom-right-radius: 4px
    svg
      width: 13px
      height: auto
      path
        fill: #bababa40
.monitoring__filter-index
  margin-right: 30px
  margin-bottom: 0
  font-weight: 400
  font-size: 12px
  color: #B3B3B3
  cursor: pointer
  display: flex
  align-items: center
  transition: 0.2s
  &.active
    color: #5b5e6d
  &:hover
    color: $color-blue__hover
  @media (max-width: 640px)
    margin-bottom: 10px
    margin-right: 0
  i
    border: 1px solid #F0F0F0
    width: 18px
    height: 18px
    display: inline-block
    border-radius: 2px
    cursor: pointer
    color: #fff
    text-align: center
    margin-right: 7px
    &:before
      content: '\f00c'
      color: transparent
      line-height: 16px
      font-size: 9px
  input
    display: none
    &:checked + i
      background-color: #F0F0F0
      &:before
        color: $color-blue__hover
.not__found
  padding: 50px 0 0 20px
  font-weight: 500
  line-height: 24px
  font-size: 15px
  color: #5b5e6d
  margin: 0

.monitoring__graph
  position: relative
  display: none
  .highcharts-credits
    display: none!important
  .highcharts-tick
    display: none
  .highcharts-yaxis-grid  .highcharts-grid-line
    stroke: #F5F5F5
  .highcharts-legend-item
    &.highcharts-spline-series
      path
        display: none
    .highcharts-graph
      display: none
    text
      color: transparent!important
      font-size: 14px!important
      font-weight: 500!important
      cursor: pointer!important
      fill: transparent!important
    rect
      display: none

.monitoring__graph-data
  position: absolute
  display: flex
  top: 0
  left: 0
  z-index: 10
  align-items: flex-start
  border-top-left-radius: 6px
  div
    display: flex
    flex-direction: column
    width: 170px
    font-size: 25px
    font-weight: 500
    color: #5b5e6d
    height: 90px
    padding-top: 21px
    padding-left: 39px
    border: 1px solid #F5F5F5
    border-left: none
    border-top: 0
    cursor: pointer
    transition: 0.2s
    p
      margin: 0 0 2px 0
      font-size: 13px
      font-weight: 400
    span
      display: flex
      align-items: flex-end
      svg
        margin-right: 3px
        margin-bottom: 10px
    &.active
      border-color: white
    &:first-of-type
      width: 180px
      padding-left: 49px
      border-top-left-radius: 6px
      &:hover
        background: rgba(255, 179, 0, 0.2)
      &.active
        background: rgba(255, 179, 0, 0.1)
        color: $color-progress
        &:hover
          background: rgba(255, 179, 0, 0.2)
    &:nth-child(2)
      svg
        path
          fill: #5b5e6f
      &:hover
        background: rgba(80, 209, 102, 0.2)
      &.active
        background: rgba(80, 209, 102, 0.1)
        color: $color-valid
        &:hover
          background: rgba(80, 209, 102, 0.2)
        svg
          path
            fill: $color-valid
    &:nth-child(3)
      svg
        path
          fill: #5b5e6f
      span
        svg
          transform: rotate(180deg)
      &:hover
        background: rgba(255, 48, 48, 0.2)
      &.active
        background: rgba(255, 48, 48, 0.1)
        color: $color-error
        &:hover
          background: rgba(255, 48, 48, 0.2)
        svg
          path
            fill: $color-error
.monitoring__graph-btn
  position: absolute
  right: 225px
  top: 23px
  z-index: 10
  display: flex
  align-items: center
  justify-content: flex-end
  font-size: 12px
  color: #ccc
  @media (max-width: 769px)
    top: 111px
  p
    margin-left: 7px
    cursor: pointer
    transition: 0.2s
    &:hover
      color: $color-blue__hover
    &.active
      color: #5B5E6D
.monitoring__graph-pages
  position: absolute
  top: 110px
  left: 50px
  z-index: 10
  .monitoring__filter-index
    font-size: 12px
    &.active
      color: #5b5e6d
    i
      width: 18px
      height: 18px
      &:before
        line-height: 16px
        font-size: 9px
    input
      &:checked + i
        background-color: #F0F0F0
        &:before
          color: $color-blue
#reportrange
  background: #fff
  cursor: pointer
  padding: 5px 0
  width: 165px
  position: absolute
  z-index: 10
  right: 40px
  top: 18px
  font-size: 12px
  color: #5b5e6d
  display: flex
  align-items: center
  justify-content: space-between
  @media (max-width: 769px)
    top: 105px
  .fa-calendar
    margin-top: -2px
  svg
    width: 6px
    margin-left: 1px
  &:hover
    color: $color-blue__hover
    svg
      path
        fill: $color-blue__hover
.daterangepicker
  box-shadow: 0 2px 20px rgba(0,0,0,.1)!important
  border: none!important
  width: auto!important
  top: 220px!important
  @media (max-width: 769px)
    top: 310px!important
  &:before
    border-bottom: 7px solid #ececec!important
  .ranges
    li
      padding: 5px 12px!important
      &.active
        background: $color-blue__hover!important
  .calendar-table
    th
      color: #666!important
      line-height: 18px!important
    td
      line-height: 18px!important
      font-size: 11px!important
      &.active
        background: $color-blue__hover!important
  .drp-buttons
    border-top-color: #f5f5f5!important
  &.opensright
    &:before
      right: 70px!important
      left: auto!important
    &:after
      right: 71px!important
      left: auto!important
  &.show-calendar
    .drp-calendar.left
      border-left-color: #f5f5f5!important
    .drp-buttons
      display: flex!important
      align-items: center!important
      justify-content: flex-end!important
      .btn
        letter-spacing: 0!important
        font-size: 11px!important
        text-transform: none!important
        padding: 8px 0!important
        width: 93px!important
        margin: 3px 5px!important
        box-shadow: none!important
        &.cancelBtn
          background: #f1f0f0!important
          color: #8c8e9c!important
          &:hover
            background: #ebeaea !important

.unchecked_array
  display: none
  align-items: center
  justify-content: center
  .unchecked_array-btn
    .loading
      width: 15px
      height: 15px
      display: none
    div
      display: flex
      align-items: center
      justify-content: center
    &.unchecked_array-checking
      background: #9c1cb2
      .loading
        display: block
      div
        display: none
    &.exceeded
      background: $color-error
      pointer-events: none
      position: relative
      &:after
        position: absolute
        content: 'Upgrade plan'
        right: -95px
        font-size: 10px
        color: $color-error
      .loading
        display: none
      div
        display: flex
  p
    font-weight: 500
    line-height: 55px
    font-size: 16px
    color: #666
    margin: 0 20px 0 0
  .btn
    margin: 0
    height: 24px
    font-size: 9px
    box-shadow: none
    width: 98px
    background: #ddd
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: 0.2s
    &:hover
      background: #9c1cb2
      box-shadow: 0 2px 4px -1px rgba(142,23,171,.2), 0 4px 5px 0 rgba(142,23,171,.14), 0 1px 10px 0 rgba(142,23,171,.12)
    svg
      width: 10px
      height: 10px
      margin-right: 5px
.robots-current
  .code
    display: inline-block
    line-height: 9px
    margin: 0
    xmp
      display: inline-block
      overflow-x: scroll
      overflow-y: hidden
      margin: 0
      white-space: pre-wrap