.our_team-wrapper
	background: $bg_color
	padding-bottom: 50px
	+ footer
		.footer
			background: linear-gradient(to right,#ffffff 0,#ffffff 50%,#495c6a 50%,#495c6a 100%)
			.footer_menu
				background: #ffffff
		.footer.footer_bottom
			.footer_menu
				@media (max-width: 460px)
					background: #495c6a
	.wrapper
		max-width: 940px
	h1
		height: 35px
		font-size: 30px
		font-weight: 500
		color: #495c6a
		text-align: center
		margin: 20px auto 30px auto

.our_team-text
	background-color: #ffffff
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	font-size: 22px
	line-height: 1.55
	color: #495c6a
	margin: 0 auto
	padding: 40px 25px
	width: 100%
	p
		margin: 0

.team_cards
	margin: 0 auto 19px auto
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	@media (max-width: 1044px)
		justify-content: center

.team-card
	width: 300px
	padding: 62px 30px 40px 30px
	position: relative
	background-color: #ffffff
	text-align: center
	margin-top: 62px
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	.team-card_img
		width: 90px
		height: 90px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		margin-bottom: 10px
		position: absolute
		top: -45px
		left: 105px
	img
		width: 90px
		margin-bottom: 10px
		position: absolute
		top: -45px
		left: 105px
	p
		&:nth-child(2)
			font-size: 22px
			font-weight: 500
			color: #495c6a
			margin: 0 0 5px 0
			height: 25px
		&:nth-child(3)
			font-size: 18px
			color: #0286bf
			margin: 0 0 15px 0
	@media (max-width: 1044px)
		margin: 62px 10px 20px 10px
	@media (max-width: 375px)
		margin: 62px 0 20px 0

	.team-card_social
		display: flex
		justify-content: center
		text-align: center
		a
			cursor: pointer
			height: 34px
			&:focus
				outline: 0
		svg
			width: 32px
			margin-left: 10px
			margin-bottom: 0
			cursor: pointer
			path
				-webkit-transition: all 0.3s ease
				-moz-transition: all 0.3s ease
				-ms-transition: all 0.3s ease
				-o-transition: all 0.3s ease
				transition: all 0.3s ease
				cursor: pointer
			&:hover
				g
					fill: rgb(2, 134, 191)
					path
						fill: #ffffff
				path
					fill: #ffffff
				circle
					fill: rgb(2, 134, 191)
		a.quora
			display: flex
			align-items: center
			justify-content: center
			width: 32px
			height: 32px
			border-radius: 50px
			border: 1px solid rgb(2, 134, 191)
			margin-top: 1px
			svg
				margin: 0
			&:hover
				background: rgb(2, 134, 191)
				path
					color: #ffffff



