.overview__header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px
  .title
    font-weight: 500
    line-height: 30px
    font-size: 22px
    color: #001659
    display: flex
    align-items: center
    .loading
      &.waiting
        svg
          circle
            fill: $color-progress
      svg
        width: 33px
        height: auto
        margin-left: 5px
.overview__header-btn
  display: flex
  align-items: center
  button, a
    position: relative
    border: none
    background: none
    padding: 0
    margin-left: 15px
    cursor: pointer
    &.statistic_export
      svg
        width: 20px
        height: 16px
      margin-right: 0
      width: 20px
    &.overview__pdf
      display: flex
      align-items: center
      justify-content: center
      margin: 0 0 0 10px
      background: transparent
      color: #b3b3b3
      box-shadow: none
      border: 2px solid #bababa40
      font-size: 9px
      font-weight: 700
      padding: 0
      height: 24px
      width: 108px
      transition: .2s
      &:hover
        border-color: $color-blue__hover
        color: $color-blue__hover
      .loading
        display: none
        width: 16px
    &.monitoring__btn
      height: 24px
      display: flex
      align-items: center
      justify-content: center
      color: #fff
      font-size: 9px
      letter-spacing: 1px
      text-transform: uppercase
      margin: 0
      padding: 0
      box-shadow: none
      transition: .2s
      width: 98px
      background: #9c1cb2
      svg
        width: 10px
        height: 10px
        margin-right: 5px
      &:hover
        background: #990cab radial-gradient(circle,transparent 1%,#990cab 1%) center/15000%
        .tooltip
          display: none
        svg
          path
            fill: white
      &.unactive
        background: #ddd
        &:hover
          .tooltip
            display: block
            -webkit-transform: scale(1)
            transform: scale(1)
            z-index: 11
            opacity: 1
            width: 100px
            bottom: 31px
            right: -7px
            font-weight: 500
            padding: 5px
            border-radius: 6px
    svg
      path
        transition: 0.2s
    &:hover
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 100px
        bottom: 23px
        right: -7px
        font-weight: 500
        padding: 5px
        border-radius: 6px
      svg
        path
          fill: $color-blue__hover
      &.delete__website
        svg
          path
            fill: $color-error
.overview__container
  display: flex
  align-items: flex-start
  justify-content: space-between
  @media (max-width: 965px)
    flex-direction: column
    justify-content: center
.overview__sideblock
  min-width: 270px
  @media (max-width: 1250px)
    min-width: auto
    width: 30%
  @media (max-width: 965px)
    display: none
.overview__sidenav
  width: 100%
  background: rgba(153, 153, 153, 0.03)
  border-radius: 6px
  padding: 10px 0
  color: #5B5E6D
  display: flex
  flex-direction: column
  .primary__links
    margin-bottom: 10px
    display: flex
    flex-direction: column
    order: 0
  >.overview__sidenav-link, .overview__sidebar
    font-weight: 500
    margin-bottom: 0
.overview__sidenav-block
  &[name="Response codes"]
    order: 1
  &[name="Indexation"]
    order: 2
  &[name="Content"]
    order: 3
  &[name="Performance"]
    order: 4
  &[name="Links"]
    order: 5
  &[name="Resources"]
    order: 6
  &[name="Other"]
    order: 7
.overview__sidenav-title
  font-weight: 500
  line-height: 30px
  font-size: 13px
  margin-bottom: 0
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 0 18px
  cursor: pointer
  .category__name
    margin-right: auto
  .counters
    border-radius: 3px
    line-height: 16px
    padding: 0 5px
    font-size: 9px
    font-weight: 900
    margin-right: 3px
    display: none
    &:last-of-type
      margin-right: 5px
    &.error
      background: rgba(255,75,85,.8)
      color: #fff
    &.warning
      background: rgba(255,179,0,.8)
      color: #fff
    &.notice
      background: #1a83ff
      color: #fff
    &.all
      background: #e7eef8
  &:hover
    transition: 0.2s
    color: $color-blue__hover
    svg
      path
        fill: $color-blue__hover
  &.closed
    svg
      transform: rotate(0)
  svg
    width: 6px
    margin-right: 5px
    transform: rotate(180deg)
    transition: 0.2s
    path
      fill: #B3B3B3
      transition: 0.2s
.overview__sidenav-links
  display: flex
  flex-direction: column
  &[name="Indexation"]
    .overview__sidenav-link
      &[name="56"]
        display: none
      &[name="11"]
        order: 0
      &[name="14"]
        order: 1
      &[name="22"]
        order: 2
      &[name="28"]
        order: 3
      &[name="13"]
        order: 4
      &[name="9"]
        order: 5
      &[name="58"]
        order: 6
      &[name="65"]
        order: 7
      &[name="10"]
        order: 8
  &[name="Content"]
    .overview__sidenav-link
      &[name="59"]
        order: 0
      &[name="43"]
        order: 1
      &[name="60"]
        order: 2
      &[name="3"]
        order: 3
      &[name="44"]
        order: 4
      &[name="45"]
        order: 5
      &[name="18"]
        display: none
      &[name="17"]
        display: none
      &[name="57"]
        order: 6
      &[name="46"]
        order: 7
      &[name="31"]
        order: 8
      &[name="27"]
        order: 9
      &[name="47"]
        order: 10
      &[name="48"]
        order: 11
      &[name="5"]
        order: 12
      &[name="62"]
        order: 13
      &[name="49"]
        order: 14
      &[name="63"]
        order: 15
      &[name="32"]
        order: 16
      &[name="50"]
        order: 17
      &[name="51"]
        order: 18
      &[name="66"]
        order: 19
      &[name="36"]
        order: 20
      &[name="33"]
        order: 21
      &[name="30"]
        order: 22
      &[name="4"], &[name="21"], &[name="8"], &[name="61"]
        display: none
  &[name="Other"]
    .overview__sidenav-link
      &[name="34"]
        display: none
  &.closed
    overflow: hidden
    height: 0
.overview__sidenav-link, .overview__sidebar
  line-height: 20px
  font-size: 12px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 4px 18px
  cursor: pointer
  transition: 0.2s
  margin: 0
  flex-shrink: 0
  &[name="67"]
    order: 2
  &[name="1"]
    order: 1
  &[name="todo"]
    order: 3
  &[name="41"]
    order: 4
  &.critical
    span.values
      background: rgba(255,75,85,.8)
      color: white
  &.warning
    span.values
      background: rgba(255, 179, 0, 0.8)
  span
    &.overview__name
      padding: 0
      font-size: 12px
      line-height: 20px
      font-weight: 500
      position: relative
      .new__platform
        background: #00baff
        font-size: 6px
        padding: 0
        border-radius: 2px
        font-weight: 600
        height: 11px
        width: 22px
        right: -26px
        top: 0
  &.active
    background: rgba(0, 102, 255, 0.07)
  &:hover
    background: rgba(0, 102, 255, 0.07)
  &.full
    &.error
      span
        background: rgba(255,75,85,.8)
        color: white
    &.warning
      span
        background: rgba(255, 179, 0, 0.8)
        color: white
    &.notice
      span
        background: #1a83ff
        color: white
  &.opacity
    color: #CCCCCC
    pointer-events: none
    span
      background: transparent
  &.unclickable
    pointer-events: none
  p
    margin: 0
    font-size: 12px
  span
    border-radius: 3px
    line-height: 16px
    padding: 0 5px
    font-size: 9px
    background: transparent
    font-weight: 600
    img
      width: 25px
      height: 20px
.overview__results
  width: 100%
  margin-left: 26px
  @media (max-width: 1250px)
    width: 70%
  >div
    margin-bottom: 13px
  @media (max-width: 965px)
    width: 100%
    margin: 0
.overview__block
  display: none
  align-items: center
  justify-content: space-between
.overview__block-data
  width: 33%
  height: 120px
  background: white
  border-radius: 6px
  padding: 13px 25px 11px 25px
  display: flex
  flex-direction: column
  &:nth-child(2)
    margin: 0 13px
  &:nth-child(3)
    margin-right: 13px
  .title
    font-weight: 500
    line-height: 30px
    font-size: 14px
    color: #5B5E6D
    margin-bottom: 15px
    display: flex
    align-items: center
    button
      margin-left: auto
      position: relative
      border: none
      background: none
      padding: 0
      cursor: pointer
      svg
        width: 14px
        height: 14px
        path
          transition: 0.2s
      &:hover
        .tooltip
          -webkit-transform: scale(1)
          transform: scale(1)
          z-index: 11
          opacity: 1
          width: 180px
          bottom: 23px
          right: -7px
          font-weight: 500
          padding: 5px
          border-radius: 6px
        svg
          path
            fill: $color-blue__hover
  .value
    display: flex
    align-items: flex-end
    span
      &:first-of-type
        font-weight: 500
        line-height: 40px
        font-size: 55px
        cursor: pointer
        transition: 0.2s
        span
          font-size: 35px
        &.ok
          color: #50D166
        &.error
          color: $color-error
          font-size: 40px
          line-height: normal
          &:hover
            color: #fc404b
        &.warning
          color: $color-progress
          font-size: 40px
          line-height: normal
          &:hover
            color: #ffab00
        &.notice
          color: #1a83ff
          font-size: 40px
          line-height: normal
          &:hover
            color: #0b78fa
        &.mainPageScore
          line-height: 40px
          font-size: 55px
      &.score__slash
        color: #ccc
        font-size: 23px
        line-height: 25px
        margin: 0 2px
      &.score
        font-weight: 500
        line-height: 28px
        font-size: 35px
        color: #CCCCCC
      &.changes
        font-weight: 500
        line-height: 0
        font-size: 15px
        text-align: center
        color: #CCCCCC
        margin-left: auto
        svg
          margin-right: 2px
      &.lower
        svg
          transform: rotate(180deg)
      &.equal
        display: none
  &:first-of-type
    .value
      span
        &:first-of-type
          cursor: auto
          &.warning
            line-height: 40px
            font-size: 55px
.overview__graph
  display: none
  align-items: center
  justify-content: space-between
  >div
    width: 50%
    background: white
    border-radius: 6px
    padding: 13px 25px 5px 25px
    &:nth-child(2)
      margin-left: 13px
    .title
      font-weight: 500
      line-height: 30px
      font-size: 14px
      color: #5B5E6D
      margin: 0
      display: flex
      align-items: center
      button
        margin-left: auto
        position: relative
        border: none
        background: none
        padding: 0
        cursor: pointer
        svg
          width: 14px
          height: 14px
          path
            transition: 0.2s
        &:hover
          .tooltip
            -webkit-transform: scale(1)
            transform: scale(1)
            z-index: 11
            opacity: 1
            width: 180px
            bottom: 27px
            right: -7px
            font-weight: 500
            padding: 5px
            border-radius: 6px
          svg
            path
              fill: $color-blue__hover
#depth__graph
  height: 195px
  .highcharts-legend-item
    span
      color: #666666!important
      font-size: 13px!important
      font-weight: normal!important
      cursor: pointer!important
      fill: #666666!important
      span
        color: $color-blue!important
    rect
      width: 7px!important
      height: 7px!important
      transform: translateY(3px)!important
  .highcharts-point
    stroke-width: 0!important
  .highcharts-credits
    display: none!important
  .highcharts-axis-line
    stroke: white
  .highcharts-axis-labels
    text
      color: #CCCCCC!important
      cursor: default!important
      font-size: 12px!important
      fill: #CCCCCC!important
#status__graph
  height: 195px
  .highcharts-credits
    display: none
  .highcharts-legend-item
    span
      color: #666666!important
      font-size: 13px!important
      font-weight: normal!important
      cursor: pointer!important
      fill: #666666!important
      span
        color: $color-blue!important
        &[data-target='0']
          color: #DADADA!important
    &.highcharts-legend-item-hidden
      span
        span
          color: #DADADA!important
    rect
      width: 7px!important
      height: 7px!important
      transform: translateY(3px)!important
@keyframes background-fade-warning
  0%
    background-color: rgba(255,179,0,.1)
  to
    background-color: rgba(255, 255, 255, 1)

@keyframes background-fade-success
  0%
    background-color: rgba(80, 209, 102, 0.1)
  to
    background-color: rgba(255, 255, 255, 1)

@keyframes background-fade-error
  0%
    background-color: rgba(255,75,85,.1)
  to
    background-color: rgba(255, 255, 255, 1)
.overview__tables
  background: white
  border-radius: 6px
  padding: 13px 25px
  .todolist__link
    margin-right: auto
    font-size: 12px
    font-weight: 500
    display: none
    position: relative
    svg
      width: 12px
      height: 12px
      margin-top: 1px
      path
        fill: #bbbbbb
        transition: 0.2s
    &:hover
      svg
        path
          fill: $color-blue__hover
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 70px
        bottom: 20px
        left: -9px
        font-weight: 500
        padding: 5px
        border-radius: 6px
        &:after
          left: 7px
  >.title
    display: flex
    align-items: center
    justify-content: flex-end
    margin-bottom: 10px
    .title__name
      font-weight: 500
      line-height: 30px
      font-size: 14px
      color: #5B5E6D
      display: flex
      align-items: center
      margin-right: auto
      .description
        margin-left: 5px
        display: none
        cursor: pointer
        position: relative
        img
          width: 12px
        &:hover
          .tooltip
            -webkit-transform: scale(1)
            transform: scale(1)
            z-index: 11
            opacity: 1
            width: 200px
            bottom: 20px
            left: -9px
            font-weight: 500
            padding: 5px
            border-radius: 6px
            &:after
              left: 7px
.overview__table
  width: 100%
  &[name="68,69"]
    .overview__errors-td
      .blue
        display: none
  &[name="68,70"]
    .overview__errors-td
      .yellow
        display: none
  &[name="69,70"]
    .overview__errors-td
      .red
        display: none
  &[name='3']
    .overview__errors-th, .overview__errors-td
      display: none
    .crawled__links-btn
      display: none
      &.duplicated__links-title
        display: block
  &[name='27']
    .overview__errors-th, .overview__errors-td
      display: none
    .crawled__links-btn
      display: none
      &.duplicated__links-h1
        display: block
  &[name='32']
    .overview__errors-th, .overview__errors-td
      display: none
    .crawled__links-btn
      display: none
      &.duplicated__links-descript
        display: block
  &[name='41'], &[name='19']
    .overview__errors-th, .overview__errors-td
      display: none
  &[name='2'], &[name='31'], &[name='8'], &[name='9'], &[name='10'], &[name='36']
    .overview__links-th, .overview__links-td
      display: none
  &[name='67']
    .overview__status-th, .overview__status-td, .overview__links-th, .overview__links-td
      display: none
  &[name='70']
    td
      .messages
        a
          &.yellow, &.red
            display: none
  &[name='69']
    td
      .messages
        a
          &.red, &.blue
            display: none
  &[name='68']
    td
      .messages
        a
          &.yellow, &.blue
            display: none
  &.overview__count
    tbody
      tr
        &:nth-child(n+11)
          display: none
  tr
    width: 100%!important
    &.gradient
      animation-duration: 3s
      animation-timing-function: linear
      animation-name: background-fade-warning
      position: relative
      overflow: hidden
      >td
        background: transparent
      &.success
        animation-name: background-fade-success
      &.warning
        animation-name: background-fade-warning
      &.error
        animation-name: background-fade-error
  th
    font-weight: 500
    line-height: 18px
    font-size: 12px
    color: #5B5E6D
    padding: 10px
    transition: 0.2s
    position: relative
    >div
      display: inline-block
      cursor: pointer
      &:hover
        color: $color-blue__hover
        .tooltip
          -webkit-transform: scale(1)
          transform: scale(1)
          z-index: 11
          opacity: 1
          width: 200px
          bottom: 33px
          left: 0
          font-weight: 500
          padding: 5px
          border-radius: 6px
          &:after
            left: 7px
    &:first-of-type
      padding-left: 0
      text-align: center
    &.overview__status-th
      text-align: center
  td
    line-height: normal
    font-size: 13px
    color: #666666
    padding: 14px 10px
    border-top: 1px solid #F5F5F5
    .duplicated__links-title, .duplicated__links-h1, .duplicated__links-descript
      display: none
    .loading
      width: 25px
      margin: 0 auto
      svg
        width: 25px
        height: auto
    &.overview__status-td
      text-align: center
    &:first-of-type
      font-weight: 500
      padding-left: 0
      text-align: center
    &:nth-child(2)
      word-break: break-word
      .title
        font-size: 10px
        color: #CCCCCC
        margin: 5px 0 0 0
    &:nth-child(3)
      min-width: 100px
      span
        &.error
          color: $color-error
        &.warning
          color: $color-progress
        &.ok
          color: $color-valid
    &:nth-child(4)
      width: 20%
    &:nth-child(5)
      width: 30%
    .messages
        display: flex
        flex-wrap: wrap
        align-items: center
        a
          display: flex
          align-items: center
          justify-content: center
          padding: 0 8px
          height: 18px
          margin: 2px 5px 2px 0
          border-radius: 3px
          color: #5B5E6D
          font-size: 9px
          text-transform: uppercase
          letter-spacing: 0.5px
          font-weight: 600
          cursor: pointer
          transition: 0.2s
          &:hover
            text-decoration: none
          &.red
            background: rgba(255, 75, 85, 0.8)
            color: white
            order: 1
            &:hover
              background: rgba(255, 75, 85, 1)
            &.unactive
              &:hover
                background: rgba(255, 75, 85, 1)
                color: white
          &.yellow
            background: rgba(255, 179, 0, 0.8)
            color: white
            order: 2
            &:hover
              background: rgba(255, 179, 0, 1)
            &.unactive
              &:hover
                background: rgba(255, 179, 0, 1)
                color: white
          &.blue
            background: #1a83ff
            color: white
            order: 3
            &:hover
              background: #0075ff
            &.unactive
              &:hover
                background: #0075ff
                color: white
          &.active
            order: 0
            &.red
              order: 0
            &.yellow
              order: 1
            &.blue
              order: 2
          &.unactive
            background: #f4f4f4
            color: #9c9c9c
            &:hover
              background: #f4f4f4
              color: #9c9c9c
    .crawled__links-btn
      font-size: 11px
      margin: 0
      color: $color-blue
      cursor: pointer
      &:hover
        color: $color-blue__hover
      &:nth-child(2)
        margin: 2px 0
      &.empty
        color: #ccc
        pointer-events: none
#pageTablePagination
  display: flex!important
  align-items: center
  justify-content: flex-end
  opacity: 0
  .dataTables_info
    font-size: 13px
    color: #5b5e6d
    margin-right: 20px
  .pagination
    margin: 3px 0
    >li
      >a, >span
        font-size: 13px
        color: #5b5e6d
        border: none!important
        background: transparent!important
        padding: 0 5px!important
      &.disabled
        >a, >span
          color: #c5c5c5!important

.crawler_statistics-arrow
  transform: rotate(-90deg)
  width: 6px
  margin-top: -2px

#overview__popup
  display: none
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, 0.7)
  z-index: 1000
  &.duplicate__popup
    th, td
      &:nth-child(2)
        display: none
    .popup__export
      display: none
.crawler_popup
  width: 80%
  max-width: 900px
  max-height: 800px
  background: white
  display: flex
  flex-direction: column
  border-radius: 6px
  box-shadow: 0 2px 15px rgba(0,0,0,.06)
  padding: 20px
  .crawler_popup-title
    margin: 0
    font-weight: 500
    span
      font-weight: 400
  .popup__flex
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 15px
    .pageTable_filter
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid #dee2e6
      border-radius: 3px
      input
        border: none
        padding: 0 10px
        font-size: 12px
        color: #333333
        &:focus
          outline: 0
      button
        border: none
        background: #dee2e6
        font-size: 11px
        padding: 5px 14px
        cursor: pointer
        &:focus
          outline: 0
    .popup__export
      padding: 5px 14px
      font-size: 11px
      border: none
      background: $color-blue
      cursor: pointer
      color: white
      border-radius: 3px
  #popup_table
    margin-bottom: 0
    border-spacing: 0 0
    border-collapse: collapse
    thead
      tr
        box-shadow: none
        th
          border-bottom: 0
          padding: 12px 10px
    tbody
      tr
        td
          background: white
          padding: 12px 10px
          a
            font-size: 13px
          &:first-of-type
            border-radius: 0
            border: 1px solid #dee2e6
            width: 20%
          &:last-of-type
            border-radius: 0
            border: 1px solid #dee2e6
        &:nth-last-child(2)
          td
            border-bottom: 0
.crawler_pagination
  margin: 10px 0 0 0
  label
    display: flex
    align-items: center
    justify-content: center
    .form-control
      padding: 10px
      height: auto
      width: auto
      margin: 0 5px
      font-size: 10px
  #popup_pagination
    height: auto
    display: flex
    align-items: center
    justify-content: center
    border: none
.popup_table_elements
  overflow-y: scroll
  max-height: 400px
  border-bottom: 1px solid #dee2e6
  border-top: 1px solid #dee2e6
.close__popup-btn
  height: 18px
  width: 15px
  padding: 0
  display: flex
  align-items: center
  justify-content: center
  margin-left: auto
  margin-bottom: 15px
  cursor: pointer
  border: none
  background: none
  &:hover
    img
      transform: rotate(180deg)
  img
    width: 100%
    transition: 0.2s
.title__overview
  p
    font-size: 12px
    color: #bbbbbb
    margin: -5px 0 0 0

.important__overview-name
  font-size: 10px
  color: $color-valid
  cursor: pointer
  margin: 3px auto 0 10px
  display: none
  transition: 0.2s
  &:hover
    color: #25c941
.important__overview-content
  display: none
  font-size: 12px
  color: #5b5e6f
  margin: 0 0 5px 0
  overflow: hidden
  background: rgba(80,209,102,.1)
  border-radius: 6px
  p
    padding: 10px 15px
    margin: 0
.overview__link-td
  img
    max-width: 12px

.issues__block, .todo__block
  display: none
  align-items: center
  flex-wrap: wrap
  margin: 5px 0
  >div
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    line-height: 10px
    font-weight: 600
    padding: 0 8px
    height: 19px
    margin: 2px 10px 2px 0
    border-radius: 3px
    border: 1px solid transparent
    color: #fff
    font-size: 9px
    letter-spacing: 0.5px
    cursor: pointer
    transition: 0.2s
    svg
      margin-left: 5px
      transition: 0.2s
    &[name='red']
      background: #ff6373
      order: 0
      &:hover
        background: #fa5465
      &.unactive
        &:hover
          background: #f4f4f4
          color: #9c9c9c
          border-color: #9c9c9c
    &[name='yellow']
      background: #fec249
      order: 1
      &:hover
        background: #ffb000
      &.unactive
        &:hover
          background: #f4f4f4
          color: #9c9c9c
          border-color: #9c9c9c
    &[name='blue']
      background: #1a83ff
      order: 2
      &:hover
        background: #0075ff
      &.unactive
        &:hover
          background: #f4f4f4
          color: #9c9c9c
          border-color: #9c9c9c
    &.unactive
      background: #f4f4f4
      color: #9c9c9c
      svg
        transition: 0.2s
        height: 5px
        transform: rotate(45deg)
        path
          fill: #9c9c9c
      &:hover
        color: white

.overview__tables
  &[name="67"]
    .issues__block
      display: flex
#domain__id
  display: none
.statistic_export
  background: none
  border: none
  margin-right: 5px
  position: relative
  cursor: pointer
  .loading
    display: none
    width: 15px
    height: 15px
  &.exporting
    .loading
      display: block
    .download
      display: none
  &:hover
    svg
      path
        fill: $color-blue
    .tooltip
      -webkit-transform: scale(1)
      transform: scale(1)
      z-index: 11
      opacity: 1
      width: 100px
      bottom: 26px
      left: -1px
      font-weight: 500
      padding: 5px
      border-radius: 6px
      &:after
        left: 7px