.pages_header
  background: linear-gradient(#eef3fa, #eef3fa)
  margin-bottom: 20px
  .wrapper
    display: flex
    align-items: center
    justify-content: center
    padding: 18px 0
    p
      line-height: 1.44
      font-size: 18px
      margin: 0 40px 0 0
      color: $text_color
      @media(max-width: 460px)
        font-size: 14px
        line-height: 18px
    a
      display: flex
      align-items: center
      justify-content: center
      background: $blue_color
      color: white
      cursor: pointer
      font-size: 13px
      font-weight: 500
      padding: 12px 20px
      appearance: none
      outline: 0
      overflow: hidden
      position: relative
      min-width: 112px
      span
        position: relative
        pointer-events: none
        text-align: center
      &::before
        --size: 0
        content: ''
        position: absolute
        left: var(--x)
        top: var(--y)
        width: var(--size)
        height: var(--size)
        background: radial-gradient(circle closest-side, #41aedd, transparent)
        transform: translate(-50%, -50%)
        transition: width .2s ease, height .2s ease
      &:hover::before
        --size: 400px

.pages_breadcrumbs
  margin-bottom: 50px
  margin-top: 40px
  font-size: 14px
  .wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    a, span
      color: $blue_color
      font-weight: 300
      &:last-of-type
        font-weight: 500
    span
      padding: 0 3px
    a
      transition: 0.2s
      &:hover
        color: #0071a2
      &:last-of-type
        &:hover
          color: $blue_color

.pages_wrapper
  width: 720px
  margin: 0 auto
  font-size: 18px
  line-height: 1.28
  @media(max-width: 777px)
    width: 90%
  @media(max-width: 460px)
    font-size: 15px
  h1
    text-align: center
    line-height: 1.28
    font-size: 36px
    margin: 0 auto 16px auto
    @media(max-width: 460px)
      font-size: 30px
      line-height: 1.18
  h2
    margin: 40px 0 18px 0
    font-size: 26px
    text-align: center
    @media(max-width: 460px)
      font-size: 24px
  h3
    font-size: 20px
    text-align: center
  ul
    margin-left: -20px
    &.padding
      margin-left: 0
      padding-left: 105px
    li
      margin-bottom: 6px
  table
    width: 100%
    text-align: center
    border: 1px solid #eef3fa
    th, td
      padding: 5px
  .box
    background-color: #ffffff
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14)
    padding: 40px
    margin: 20px 0
    width: 100%
    h2
      margin: 0
      text-align: left
  .code
    position: relative
    background: #fafafa
    width: 100%
    cursor: pointer
    margin: 10px 0
    padding: 10px
    &:before
      position: absolute
      z-index: 99
      content: 'Copy text'
      position: absolute
      top: 0
      right: 0
      width: 154px
      height: 40px
      background-color: #898c8e
      display: flex
      align-items: center
      justify-content: center
      color: white
      font-size: 16px
      visibility: hidden
      transition: visibility 0s, opacity 0.25s linear
      opacity: 0
    &:hover
      &:before
        visibility: visible
        opacity: 1
    &.active
      &:before
        content: 'Text is copied'
        visibility: visible
        opacity: 1
        background: #0286bf
        color: white
  code
    background: none
    color: #495c6a
    padding: 0
    font-size: 12px


.pages_watcher
  font-size: 14px
  color: $blue_color
  font-weight: bold
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 40px
  span
    padding: 0 10px 0 5px

.pages_home
  .pages_img, .home_description-img
    width: 720px
    margin-bottom: 15.5px
    text-align: center
    @media(max-width: 777px)
      width: 100%
    img
      width: 720px
      max-width: none
      display: block
      margin: 0 auto
      &.img-close
        width: 29px
      @media(max-width: 777px)
        width: 100%
      &:nth-child(2), &.description-img
        width: 714px
        @media(max-width: 777px)
          width: 95%

.pages_home
  .home_description-img
    overflow: hidden
    margin: 20px auto
    img
      &.img-close
        width: 29px
    &.display
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      margin: 0
      align-items: center
      justify-content: center
      background: rgba(73, 92, 106, 0.96)
      z-index: 99
      .img-border
        display: none
      .description-img
        cursor: auto
        max-width: 800px
        margin-top: -3px
        @media (max-width: 768px)
          max-width: 550px
        @media (max-width: 460px)
          max-width: 300px
        @media (max-width: 320px)
          max-width: 250px
      .img-close
        display: block
        @media (max-width: 460px)
          width: 16px
          right: -30px
        @media (max-width: 320px)
          width: 12px
          right: -20px
    .description-img
      &:hover
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2)

.page_search
  text-align: center
  .wrapper
    width: 920px
    padding: 60px 0 100px 0
    @media (max-width: 1000px)
      width: 90%
    @media (max-width: 600px)
      padding-bottom: 150px
  h2
    font-size: 36px
    font-weight: bold
    color: #0286bf
    margin: 0
  p
    font-size: 22px
    line-height: 25px
    color: #495c6a
    margin: 5px 0 30px 0
  .home_first-search
    max-width: none
    width: 100%

.pages_search
  @extend .page_search
  background: #eef3fa
  margin: 60px auto 50px auto
  .wrapper
    padding: 48px 0 52px 0
    .home_first-search
      max-width: 750px
    @media(max-width: 460px)
      padding-bottom: 100px
      padding-top: 38px
      .home_first-search
        input, button
          border-radius: 2px
      h2
        font-size: 25px
      p
        font-size: 18px

.pages_more
  .pages_more-title
    font-size: 26px
    font-weight: bold
    text-align: center
    margin: 0 0 20px 0
.pages_more-wrap
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  .block
    width: 30%
    margin: 10px 0
    box-shadow: 0 1px 3px 0 rgba(24,24,24,.2), 0 2px 2px 0 rgba(24,24,24,.12), 0 0 2px 0 rgba(24,24,24,.14)
    border-radius: 2px
    background: white
    cursor: pointer
    padding: 10px
    @media(max-width: 650px)
      width: 45%
    @media(max-width: 460px)
      width: 100%
    .block_img
      width: 100%
      height: 180px
      @media (max-width: 850px)
        height: 130px
    a
      margin: 13px 0 5px 0
      display: block
      font-size: 17px
      font-weight: 400
      line-height: 1.35
      padding: 0
      @media(max-width: 460px)
        font-size: 14px
        line-height: 1.25
      &:hover
        color: #0071a2
    p
      font-size: 13px
      line-height: 1.27
      margin: 0
      padding: 0 0 13px 0
    &:hover
      box-shadow: 0 1px 5px 0 rgba(24, 24, 24, 0.2), 0 3px 4px 0 rgba(24, 24, 24, 0.12), 0 2px 4px 0 rgba(24, 24, 24, 0.14)

.pages_home
  .pages_more-wrap
    .block
      &:nth-child(n+4)
        display: none
  .home_first-search
    .fa
      display: inline-block
      margin: 0 5px 0 0
      opacity: 1

.pages_more-show
  font-size: 18px
  font-weight: bold
  cursor: pointer
  transition: 0.2s
  margin: 20px 0 70px 0
  display: flex
  align-items: center
  justify-content: center
  i
    font-size: 10px
    margin-left: 5px
  &:hover
    color: $blue_color