.pricing
  background: white
  padding: 70px 0
  h1
    font-weight: 500
    line-height: normal
    font-size: 45px
    color: #313135
    margin: 0 0 16px 0
    text-align: center
    @media (max-width: 640px)
      font-size: 40px
  h2
    font-weight: normal
    line-height: 23px
    font-size: 16px
    text-align: center
    color: #5B5E6D
    margin: 0 0 50px 0
    @media (max-width: 640px)
      font-size: 15px
    a
      font-size: 16px
      @media (max-width: 640px)
        font-size: 15px
.pricing__switch-label
  position: absolute
  top: -21px
  right: -100px
  z-index: 10
  background: #FF4B55
  box-shadow: 0 2px 5px rgba(255, 75, 85, 0.3)
  width: 140px
  height: 27px
  border-radius: 4px
  display: flex
  align-items: center
  justify-content: center
  font-weight: 500
  line-height: normal
  font-size: 14px
  text-align: center
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #FFFFFF
  @media (max-width: 640px)
    right: -2px
  &:after
    position: absolute
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 3px 5px 0 5px
    border-color: #ff4950 transparent transparent transparent
    top: 27px
    left: 10px
.pricing__switch
  width: 295px
  height: 50px
  position: relative
  display: flex
  margin: 0 auto 56px auto
  .slider.round
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    -webkit-transition: .4s
    transition: .4s
    width: 325px
    border-radius: 6px
    height: 50px
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15)
    background: white
    display: flex
    align-items: center
    justify-content: space-between
    padding: 6px
    cursor: pointer
    &:before
      position: absolute
      content: ""
      -webkit-transition: .4s
      transition: .4s
      height: 42px
      width: 120px
      border-radius: 6px
      background: #EFEFEF
      box-shadow: 0 3px 10px #FFFFFF
    span
      position: relative
      font-weight: 500
      line-height: normal
      font-size: 14px
      text-align: center
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #313135
      &:first-of-type
        padding-left: 23px
      &:last-of-type
        padding-right: 23px
  input
    display: none
    &:checked+.slider
      &:before
        width: 193px
        -webkit-transform: translateX(120px)
        -ms-transform: translateX(120px)
        transform: translateX(120px)
.pricing__content
  position: relative
  &:before
    position: absolute
    content: ''
    width: 100%
    height: 71%
    background: #FAFAFA
    top: 267px
    left: 0
  .wrapper
    display: flex
    align-items: flex-start
    justify-content: center
    position: relative
    z-index: 10
    @media (max-width: 760px)
      flex-wrap: wrap
.pricing__labels
  margin-top: 295px
  @media (max-width: 980px)
    display: none
.pricing__labels-block
  display: flex
  flex-direction: column
  flex: content
  align-items: flex-end
  padding-right: 34px
  &.browsers
    margin-top: 40px
  p
    line-height: 18px
    height: 18px
    font-size: 12px
    color: #5B5E6D
    margin-bottom: 23px
    display: flex
    align-items: center
    justify-content: flex-end
    text-align: right
    width: 100%
    @media (max-width: 768px)
      height: auto
    img
      margin-right: 5px
    &.label
      font-weight: 500
      line-height: normal
      font-size: 14px
      color: #FF8B29
      margin-bottom: 23px
      position: relative
      width: 100%
      &.pricing__label-audit
        color: #05CE7C
      &.pricing__label-monitoring
        color: #9C1CB2
      img
        margin-right: 5px
        height: 15px
.pricing__level
  background: white
  .btn
    margin: 0 auto
    width: 151px
    height: 39px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 6px
    line-height: 7px
    background: #1070FF
    box-shadow: 0 3px 10px rgba(16, 112, 255, 0.5)
    transition: 0.2s
    @media (max-width: 768px)
      width: 85%
    &:hover
      background: $color-blue
      box-shadow: 0 3px 10px rgba(1, 63, 154, 0.5)
    &.popular
      background: #50D166
      box-shadow: 0 3px 10px rgba(80, 209, 102, 0.5)
      width: auto
      &:hover
        background: #40cc58
        box-shadow: 0 3px 10px rgba(20, 162, 44, 0.5)
    &.your__level
      background: rgba(16, 112, 255, 0.5)
      box-shadow: none
.pricing__level-price
  padding: 24px 0 27px 0
  border-bottom: 1px solid #EFEFEF
  margin: 0
  position: relative
  .name
    line-height: 27px
    font-size: 18px
    text-align: center
    letter-spacing: 0.03em
    color: #313135
    margin-bottom: 13px
    display: flex
    align-items: center
    justify-content: center
    .popular
      margin-left: 10px
      font-weight: 500
      line-height: 15px
      font-size: 10px
      color: #50D166
      display: flex
      align-items: center
      justify-content: flex-start
      width: auto
      img
        margin-right: 3px
  .price
    font-weight: 500
    line-height: 30px
    font-size: 20px
    color: #001659
    margin-bottom: 0
    display: flex
    align-items: flex-end
    justify-content: center
    width: auto
    span
      font-weight: 500
      line-height: 38px
      font-size: 38px
  .description
    line-height: 18px
    font-size: 12px
    text-align: center
    color: #5B5E6D
    margin: 0
  .price__yearly
    position: absolute
    text-align: center
    margin: 0 auto
    width: 100%
    font-size: 10px
    bottom: 8px
    color: $color-blue
    &.popular
      color: #50D166
.pricing__level-btn
  padding: 27px 0 30px 0
  border-bottom: 1px solid #EFEFEF
  height: 156px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  .name
    line-height: 18px
    font-size: 12px
    text-align: center
    color: #5B5E6D
    margin-bottom: 0
    padding: 0 10px
    @media (max-width: 768px)
      font-size: 10px
    @media (max-width: 640px)
      font-size: 13px
.pricing__level-values
  padding: 31px 0 9px 0
  border-bottom: 1px solid #EFEFEF
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media (max-width: 768px)
    align-items: flex-start
    padding: 31px 20px 9px 10px
  &.browsers
    border-bottom: 0
  .valuesDescriptionMobile
    display: none
    align-items: center
    justify-content: center
    margin: 0 5px 0 0
    font-weight: 400
    img
      margin-right: 5px
    &.label
      font-weight: 500
      line-height: normal
      font-size: 10px
      color: #FF8B29
      margin-bottom: 23px
      position: relative
      width: 100%
      @media (max-width: 640px)
        font-size: 14px
      &.pricing__label-audit
        color: #05CE7C
      &.pricing__label-monitoring
        color: #9C1CB2
      img
        height: 12px
        @media (max-width: 640px)
          height: 16px
    @media (max-width: 980px)
      display: flex
      text-align: left
      line-height: 15px
  div
    min-height: 18px
    margin-bottom: 23px
    line-height: 18px
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    @media (max-width: 768px)
      margin-bottom: 10px
      min-height: 30px
      justify-content: space-between
  p
    font-weight: 500
    line-height: 18px
    font-size: 12px
    text-align: center
    color: #5B5E6D
    margin: 0
.pricing__level-submit
  margin: 20px 0 40px 0

.levels_block-side
  position: relative
  perspective: 2500px
  -webkit-perspective: 2500px
  margin: 0 12px 0 0
  text-align: center
  width: 220px
  @media (max-width: 980px)
    width: 25%
  @media (max-width: 760px)
    width: 45%
    margin-bottom: 20px
    margin-right: 0
  @media (max-width: 640px)
    width: 100%
  .card
    width: 100%
    border: none
    background: transparent
    position: relative
    -webkit-transition: -webkit-transform 0.5s ease
    -moz-transition: -moz-transform 0.5s ease
    -o-transition: -o-transform 0.5s ease
    transition: transform 0.5s ease
    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    -o-transform-style: preserve-3d
    transform-style: preserve-3d
    &.rotate
      -webkit-transform: rotateY(180deg)
  .pricing__level
    overflow: hidden
    background: #fff
    box-shadow: 0 6px 30px rgba(91,94,109,.06)
    border-radius: 5px
    width: 100%
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -o-backface-visibility: hidden
    backface-visibility: hidden
    div, p, span, a, ul, li
      -webkit-backface-visibility: hidden
      -moz-backface-visibility: hidden
      -o-backface-visibility: hidden
      backface-visibility: hidden
      &:after, &:before
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        -o-backface-visibility: hidden
        backface-visibility: hidden
  .monthly
    z-index: 0
    position: relative
    top: 0
  .yearly
    -webkit-transform: rotateY(180deg)
    z-index: 10
    position: absolute
    top: 0
.pricing__testimonials
  margin-top: 60px
.testimonials__pricing
  display: flex
  justify-content: space-around
  align-items: flex-start
  flex-wrap: wrap
  >div
    width: 50%
    >*
      max-width: 95%
    @media (max-width: 640px)
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 10px
      >*
        max-width: 95%

@-webkit-keyframes a
  0%
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)
@-o-keyframes a
  0%
    -o-transform: rotate(0deg)
  to
    -o-transform: rotate(359deg)
@keyframes a
  0%
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)
    -o-transform: rotate(359deg)
    transform: rotate(359deg)

.paypal_redirect
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 100
  background: white
  align-items: center
  justify-content: center
  flex-direction: column
  p
    font-size: 23px
    letter-spacing: 0.2px
    margin-bottom: 10px
    font-weight: 300
    &:nth-child(2)
      margin-bottom: 25px
      font-size: 14px
      color: $color-blue
  .spinWrap
    width: 200px
    height: 100px
    position: relative
    .spinnerImage
      margin: 28px 0 0 -25px
      background: url('./img_design/icon_paypal.png') no-repeat
      height: 100px
      width: 100px
      position: absolute
      top: 0
      left: 50%
      opacity: 1
    .loader
      height: 100px
      width: 100px
      box-sizing: content-box
      position: absolute
      top: 0
      left: 50%
      opacity: 1
      margin: 0 0 0 -55px
      background-color: transparent
      -webkit-animation: a .7s infinite linear
      -o-animation: a .7s infinite linear
      animation: a .7s infinite linear
      border-left: 5px solid #cbcbca
      border-right: 5px solid #cbcbca
      border-bottom: 5px solid #cbcbca
      border-top: 5px solid $color-blue
      border-radius: 100%
      &:before
        display: none

.pdf_banner
  display: none
  align-items: center
  justify-content: space-between
  &.fade_out
    max-height: 0
    opacity: 0
    transition: max-height 0.6s ease-out, opacity 0.3s ease 0.5s, margin 0.3s ease 0.5s
    padding: 0
    margin: 0
    overflow: hidden
  p
    margin: 0
  img
    cursor: pointer
    width: 13px
    transition: 0.3s
    &:hover
      transform: rotate(180deg)

.pdf_banner__branding, .pdf_banner-report
  @extend .pdf_banner

.levels_block-side .pricing__level div
  width: 100%

.seo__platform-banner
  margin: 60px 0 40px 0
  background: #fafafa
  .wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 60px 0
  p
    color: #313135
    &.title
      font-weight: 600
      line-height: normal
      font-size: 35px
      color: #313135
      margin: 0 0 5px 0
    &.description
      font-weight: 400
      line-height: 23px
      font-size: 16px
      text-align: center
      color: #5b5e6d
      margin: 0 0 20px 0
  .btn
    margin: 0