.seo_report-demo
  header, footer
    display: none
  &.loged_in
    .seo_demo_login
      display: none
    header, footer
      display: block
.seo_demo_container
  padding: 20px 0
  display: block
.progressbar_text
  display: flex
  align-items: center
  @media (max-width: 640px)
    flex-wrap: wrap
    align-items: center
    justify-content: center
  p
    color: #5b5e6d
    line-height: 21px
    margin: 0
    @media (max-width: 640px)
      width: 100%
      margin: 20px auto 10px auto
    b
      font-weight: 500
    span
      color: $color-blue
      font-weight: 500
.overview__header
  &.report__header_demo
    display: block
    margin-bottom: 25px
    .progressbar
      display: block
      padding: 0
      margin: 0 20px 0 0
      min-width: 130px
      min-height: 130px
      position: relative
      word-break: normal
      span
        position: absolute
        top: 82px
        font-size: 11px
        font-weight: 500
        left: 49px
        color: #5b5e6e
      svg
        width: 130px!important
    .title
      padding: 0
      margin: 0 0 20px 0
      font-size: 18px
      @media (max-width: 340px)
        width: 100%
.report__results-demo
  width: 100%
  margin-left: 0
  .overview__block-report
    flex-wrap: wrap
    .overview__block-data
      width: 24.5%
      margin: 0 0 10px 0
      &:last-of-type
        margin-right: 0
      @media (max-width: 1250px)
        width: 49%
      @media (max-width: 640px)
        width: 100%
.seo_demo_wrapper
  display: flex
  justify-content: space-between
  align-items: flex-start
  width: 100%
  @media (max-width: 768px)
    flex-wrap: wrap
    flex-direction: column
.seo_demo-login
  min-width: 375px
  margin-left: 15px
  @media (max-width: 768px)
    margin: 20px auto 0 auto
  @media (max-width: 640px)
    min-width: auto
    width: 100%
.seo_demo_login
  height: auto
  box-shadow: none
  min-width: 375px
  margin-left: 15px
  @media (max-width: 768px)
    margin: 20px auto 0 auto
  @media (max-width: 640px)
    min-width: auto
    width: 100%
  .signup__block
    position: relative
    right: 0
    top: 0
    padding-top: 10px
    .title
      display: none
  .limit__popup
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    margin: 0 auto
    padding: 23px 0 0 0
    width: 100%
    .text
      width: 287px
      margin: 0 auto
      @media (max-width: 640px)
        width: 90%
      p
        font-weight: 600
        line-height: 37px
        font-size: 30px
        margin-bottom: 18px
        color: #5b5e6e
    .products
      list-style-type: none
      padding: 0
      margin: 0 auto
      width: 287px
      @media (max-width: 640px)
        width: 90%
      a
        display: flex
        align-items: flex-start
        transition: 0.2s
        color: #5b5e6e
        @media (max-width: 965px)
          padding: 10px 5px 8px 5px
        &:hover
          &:before
            display: none
        img, svg
          margin: 0 10px 0 0
          width: 15px
          height: 15px
        .products__description
          p
            color: #5b5e6e
            margin-bottom: 2px
            font-weight: 500
            font-size: 14px
            line-height: 12px
            transition: 0.2s
            position: relative
          span
            font-size: 11px
            line-height: 15px
            font-weight: 300
            margin-right: 0
            color: #5b5e6e
            @media (max-width: 768px)
              display: none
      li
        padding-bottom: 15px
        @media (max-width: 768px)
          padding-bottom: 5px
        &:first-of-type
          &:hover
            p
              color: #FF8B29
        &:nth-child(2)
          &:hover
            p
              color: #05CE7C
        &:nth-child(3)
          &:hover
            p
              color: #4c5b8b
        &:nth-child(4)
          &:hover
            p
              color: #8E17AB