html, body
	margin: 0 auto
	font:
		family: 'Roboto', sans-serif
		size: 20px
	line-height: 18px
	color: $text_color
	&.popup__open
		position: relative
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			background: rgba(73, 92, 106, 0.96)
			z-index: 8
			width: 100%
			height: 100%
		@media (max-width: 768px)
			height: 100vh
			overflow: hidden
		@media (max-width: 670px)
			height: auto
			overflow: auto

input:-webkit-autofill
	-webkit-box-shadow: 0 0 0 30px white inset

.header
	background-color: $bg_color
	box-shadow: 0 1px 3px 0 rgba(131, 131, 131, 0.2), 0 2px 2px 0 rgba(131, 131, 131, 0.12), 0 0 2px 0 rgba(131, 131, 131, 0.14)
	position: relative
	width: 100%
	z-index: 13
	&.home
		position: absolute
	.wrapper
		display: flex
		justify-content: flex-start
		align-items: center
		height: 64px
		@media (max-width: 460px)
			height: 50px
	.wrapper-back
		width: 1020px
	.header_login, .header_signup
		font-size: 16px
		margin: 0 15px 0 0
		font-weight: 500
		color: #0286bf
		cursor: pointer
		transition: 0.2s
		&:hover
			color: #036f9d
	.header_signup
		padding: 8px 15px
		border: 2px solid #0286bf
		border-radius: 50px
		margin-right: 28px
		&:hover
			background: #036f9d
			border-color: #036f9d
			color: white


.header_logo
	position: relative
	margin-right: auto
	p
		padding: 0
		margin: 0
		font:
			size: 20px
			weight: 500
		@media (max-width: 460px)
			font-size: 16px
		letter-spacing: 0.2px
		text-transform: uppercase
		color: $blue_color
		span
			color: $logo_color-gray

.header_logo-beta
	position: absolute
	top: -11px
	right: -24px
	font-size: 12px
	color: #0286bf


.header_btn
	display: flex
	align-items: center
	position: relative
	width: 100%
	margin-left: 45px
	.header_links
		display: flex
		align-items: center
		justify-content: flex-end
		width: 100%
		@media (max-width: 970px)
			display: none
			position: fixed
			justify-content: flex-start
			background: #dce3ec
			width: 200px
			height: 100%
			overflow-y: scroll
			right: 0
			flex-direction: column
			top: 64px
			padding-bottom: 64px
			z-index: 9
		@media (max-width: 640px)
			top: 50px
		.header_links_btn
			margin-right: auto
			@media (max-width: 970px)
				display: block
				ul
					li
						a
							padding: 10px 0 0 0
		a
			font:
				size: 15px
				weight: 500
			margin-right: 15px
			color: $text-color
			cursor: pointer
			&:hover
				color: #036f9d
			&.header_signup
				&:hover
					color: #ffffff
			&.header_login
				@media (max-width: 970px)
					padding: 0 20px
			@media (max-width: 970px)
				width: 100%
				margin: 0
				font-size: 15px
				padding: 10px 13px 0 13px
				&.header_signup
					border: none
		.header_user
			font:
				size: 16px
				weight: 500
			margin-right: 25px
			margin-left: 10px
			@media (max-width: 970px)
				width: 100%
				margin-left: 0
			display: flex
			cursor: pointer
			span
				display: block
				color: $text-color
				margin-right: 3px
				font-size: 15px
				letter-spacing: 0.2px
			position: relative
			&::after
				position: absolute
				right: -10px
				top: 8px
				content: ''
				width: 8px
				height: 5px
				background-image: url("./img_design/arrow__down.svg")
				background-size: contain
				background-repeat: no-repeat
				transition: 0.3s
				@media (max-width: 965px)
					display: none
			.logout_url
				span
					padding-left: 10px
					cursor: pointer
					color: $blue_color
					@media (max-width: 970px)
						padding-left: 0
						margin-bottom: -10px
			@media (max-width: 520px)
				overflow: hidden
				text-overflow: ellipsis
				max-width: 100%
			@media (max-width: 970px)
				font-size: 14px
				margin: 0
				padding: 15px
				border-bottom: 2px solid #cad4e6
				&:first-of-type
					width: 100%
					display: block
			&.header_signup
				border-radius: 20px
				border: solid 2px $blue_color
				padding: 8px 15px
				margin-right: 28px
				&:hover
					background: $blue_color
					color: white
				@media (max-width: 970px)
					border: none
					margin: 0
					padding: 15px
					&:hover
						background: transparent
						color: #036f9d
		.header_user-info
			list-style-type: none
			padding: 0
			display: flex
			flex-direction: column
			margin: 0
			background: white
			border-radius: 3px
			box-sizing: border-box
			box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
			position: absolute
			left: -50%
			top: 48px
			z-index: 1
			max-height: 0
			-webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
			-webkit-transform-origin: 50% 0
			-webkit-transition: 250ms
			-moz-transition: 250ms
			-o-transition: 250ms
			transition: 250ms
			@media (max-width: 970px)
				display: block
				box-shadow: none
				margin: 0
				width: 100%
				position: relative
				background: none
				right: 0
				left: 0
				top: 0
				max-height: 100%
				height: 100%
				transform: perspective(600px) rotate3d(0,0,0,0)
			span
				padding: 10px
				font-size: 15px
				color: $blue_color
				width: 125px
				overflow: hidden
				text-overflow: ellipsis
				@media (max-width: 970px)
					display: block
					overflow: hidden
					width: 100%
					text-overflow: ellipsis
					padding: 15px
			a
				font-size: 15px
				color: $text-color
				letter-spacing: 0.2px
				font-weight: 400
				transition: 0.2s
				padding: 0
				width: 100%
				@media (max-width: 970px)
					display: block
				span
					padding: 10px
					display: block
					color: $text-color
				&:hover
					background: #fafafa
				&:first-of-type
					padding-top: 3px
					border-top: 1px solid #eef3fa
					span
						padding: 7px 10px
				&:nth-child(2)
					padding-bottom: 3px
				&:last-of-type
					border-top: 1px solid #eef3fa
					span
						padding: 13px 10px
						@media (max-width: 970px)
							padding: 10px 15px
					@media (max-width: 970px)
						border-top: 1px solid #3698c8
.header_user-block
	position: relative
	padding: 5px 0
	margin: 0 13px 0 10px
	height: 60px
	display: flex
	align-items: center
	&:hover
		.header_user
			span
				color: #1687bd
			&::after
				transform: rotate(180deg)
				background-image: url("./img/arrow__down-blue.svg")
		.header_user-info
			max-height: 1000px
			-webkit-transform: perspective(600px) rotate3d(0,0,0,0)
	@media (max-width: 970px)
		padding: 0
		display: block
		width: 100%
		height: auto
		margin: 0
#burger
	display: none
	@media (max-width: 970px)
		display: block
	span
		background: $text_color
		display: block
		width: 27px
		height: 3px
		margin: 4px 0
		border-radius: 2px
		position: relative
		transform: rotate(0)
		top: 0
		left: 0
		opacity: 1
		transition: none .3s ease
		transition-property: transform, top, left, opacity
	&.opened
		margin-left: 6px
		.top-bar
			width: 22px
			margin: -2px 0 0 -1px
			-webkit-transform: rotate(45deg)
			-moz-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			-o-transform: rotate(45deg)
			transform: rotate(45deg)
		.bottom-bar
			width: 22px
			margin: -3px 0 0 -1px
			-webkit-transform: rotate(-45deg)
			-moz-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			-o-transform: rotate(-45deg)
			transform: rotate(-45deg)

main
	padding: 30px 0 30px 0
	min-height: 70vh
	font-size: 14px
	@media (min-width: 1300px)
		min-height: 80vh
	&.menu_active
		position: relative
		&:after
			position: absolute
			z-index: 8
			content: ''
			display: block
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(0, 0, 0, 0.34)
	&.home
		padding: 0
		margin-top: -3px
	&.resetpass
		background: rgb(238, 243, 250)
		.blog_post
			margin: 0 auto
	&.front
		padding: 0
	&.technical
		margin: 0
		padding: 0
	&.contact_us
		min-height: auto
	@media (min-width: 1350px)
		&.contact_us
			min-height: 68vh

.tags-page
	h3
		text-transform: capitalize

.footer
	background: linear-gradient(to right, $footer_bg-gray 0%, $footer_bg-gray 50%, $text_color 50%, $text_color 100%)
	@media (max-width: 460px)
		background: none
	.wrapper
		display: flex
		@media (max-width: 460px)
			flex-wrap: wrap
			width: 100%

.footer_menu
	background: $footer_bg-gray
	width: 30%
	padding: 35px 30px 30px 0
	@media (max-width: 768px)
		width: 50%
	@media (max-width: 460px)
		width: 100%
		padding: 30px 5%

.footer-white
	.footer
		background: linear-gradient(to right, white 0%, white 50%, $text_color 50%, $text_color 100%)
	.footer_menu
		background: white
.footer_menu-links
	display: flex

.footer_link
	p
		margin: 0 0 15px 0
		font-size: 18px
		font-weight: 500
	ul
		padding: 0 10px 0 0
		margin: 0 30px 0 0
		list-style-type: none
		li
			padding-bottom: 10px
			a
				font-size: 14px
				line-height: 16px
				color: $text_color
				font-weight: 300
				&:hover
					color: $blue_color
					text-decoration: none
	&:last-of-type
		ul
			padding: 0
			margin: 0

.footer_menu-dev
	p
		margin: 0
		font-size: 14px
		font-weight: 400
		@media (max-width: 460px)
			font-size: 13px
		a
			position: relative
			img
				position: absolute
				top: 1px
				left: 5px
				&:hover
					opacity: 0.6
				@media (max-width: 460px)
					top: 0

.footer_about
	background: $text_color
	width: 70%
	padding: 35px 30px 30px 60px
	@media (max-width: 768px)
		width: 50%
	@media (max-width: 460px)
		width: 100%
		padding: 30px 5%

.footer_about-title
	color: #ffffff
	margin: 0 0 30px 0
	font-size: 22px
	font-weight: 500
	letter-spacing: 0.3px

.footer_about-products
	display: flex
	@media (max-width: 768px)
		flex-wrap: wrap

.footer_product
	@media (max-width: 768px)
		width: 100%
	a
		font-size: 19px
		font-weight: 500
		color: #2b94e1
		letter-spacing: 0.3px
		margin-bottom: 13px
		transition: 0.2s
		&:hover
			color: #60bcff
		span
			color: #667682
		@media (max-width: 460px)
			font-size: 18px
	&:first-of-type
		width: 65%
		margin-right: 20px
	&:last-of-type
		padding-left: 30px
		@media (max-width: 768px)
			padding-left: 0
			padding-top: 10px
		a
			color: #03b0ad
			&:hover
				color: #0dd4d0
	p
		color: #ffffff
		font-size: 13px
		line-height: 21px
		font-weight: 400
		letter-spacing: 0.3px
		margin-top: 10px
		max-width: 350px
		@media (max-width: 460px)
			font-size: 13px
			line-height: 20px
	&:last-of-type
		p
			max-width: 480px

html
	&:lang(ru)
		.footer_product
			&:first-of-type
				p
					max-width: 250px

.footer_about-copyright
	p
		margin: 0
		font-size: 13px
		letter-spacing: 0.3px
		color: #ffffff

.footer_bottom
	.footer_menu
		padding: 0 30px 30px 0
		@media (max-width: 460px)
			background: $text_color
			color: white
			padding: 0 5% 20px 5%
	.footer_about
		padding: 0 30px 30px 60px
		@media (max-width: 460px)
			padding: 0 5% 30px 5%

.language_menu
	margin: 0 10px 0 auto
	padding: 0
	list-style-type: none
	cursor: pointer
	a
		display: block
		width: 62px
		height: 28px
		position: relative
		img
			display: none
		&:after
			position: absolute
			left: 4px
			top: 5px
			display: block
			color: #485b69
			font-weight: 500
			font-size: 15px
			@media (max-width: 520px)
				font-size: 15px
				top: 5px
		&[title='fr']
			&:after
				content: 'FR'
		&[title='en']
			&:after
				content: 'EN'
		&[title='de']
			&:after
				content: 'DE'
		&[title='ru']
			&:after
				content: 'RU'
		&[title='nl']
			&:after
				content: 'NL'
		&[title='it']
			&:after
				content: 'IT'
		&[title='es']
			&:after
				content: 'ES'
		&[title='sv']
			&:after
				content: 'SV'
		&[title='pt']
			&:after
				content: 'PT'
		&[title='no']
			&:after
				content: 'NO'
	& > li
		position: relative
		padding: 0
		cursor: pointer
		&:after
			position: absolute
			right: 8px
			top: 13px
			content: ''
			width: 8px
			height: 5px
			background-image: url(../out/img_design/arrow__down.svg)
			background-size: contain
			background-repeat: no-repeat
			transition: .3s
		&.emptyMenu
			cursor: auto
			&:after
				display: none
		&.active
			background: #f9f9f9
			box-shadow: 0 3px 21px rgba(0,0,0,.2)
			&:after
				-webkit-transform: rotate(180deg)
				-ms-transform: rotate(180deg)
				-webkit-transform: rotate(180deg)
				-moz-transform: rotate(180deg)
				-o-transform: rotate(180deg)
				transform: rotate(180deg)
				top: 12px
		> a
			background: url(/images/world.svg) no-repeat
			background-size: 14px
			background-position: right 22px top 6px
			&:after
				left: 3px
		& > ul
			position: absolute
			top: 28px
			right: 0
			margin: 0
			padding: 0
			list-style-type: none
			display: none
			background: #f9f9f9
			box-shadow: 0 3px 21px rgba(0,0,0,.2)
			z-index: 99
			li
				padding: 0
				transition: 0.2s
				a
					&[title='fr']
						background: url(/images/fr.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='en']
						background: url(/images/en.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='de']
						background: url(/images/ge.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='ru']
						background: url(/images/ru.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='nl']
						background: url(/images/ne.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='it']
						background: url(/images/it.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='es']
						background: url(/images/sp.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='sv']
						background: url(/images/sw.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='pt']
						background: url(/images/pt.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
					&[title='no']
						background: url(/images/no.svg) no-repeat
						background-position: right 6px top 3px
						background-size: 20px
				&:hover
					background: #eef3fa
					a
						&:after
							color: #0286bf


.wrapper-back
	.language_menu
		margin: -3px 0 0 0

#locale_seo
	display: none

.qtranxs-available-languages-message
	display: none!important

.header__popup, .recrawl_popup, .deleteCrawl_popup, .addCrawl_popup, .checkemail
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(73, 92, 106, 0.96)
	z-index: 10
	display: none
	align-items: center
	justify-content: center
	@media (max-width: 970px)
		background: transparent
	@media (max-width: 600px)
		align-items: center
		height: auto
		padding-top: 60px

.recrawl_popup, .deleteCrawl_popup, .addCrawl_popup, .checkemail
	align-items: center
	justify-content: center

.login__popup-block
	width: 400px
	background: #eef3fa
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	display: none
	align-items: center
	flex-direction: column
	padding: 25px 40px 30px 40px
	border-radius: 2px
	margin-top: 0
	@media (max-width: 600px)
		width: 300px
		margin-top: 0
		padding: 25px 20px 30px 20px
	.login__popup-close
		margin-left: auto
		margin-bottom: 10px
		.img-close
			cursor: pointer
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			transition: transform .25s linear
			-webkit-transition: -webkit-transform .25s linear
			&:hover
				-webkit-transform: rotate(180deg)
				-ms-transform: rotate(180deg)
				-moz-transform: rotate(180deg)
				-o-transform: rotate(180deg)
				transform: rotate(180deg)
	.login__popup-title
		font-size: 23px
		font-weight: 500
		margin-bottom: 23px
		text-align: center
		line-height: 24px
	.login__popup-form
		.login__popup-content
			display: none
		width: 100%
		.header__container
			border: solid 1px #e7e7e7
			background: #ffffff
			padding: 10px 15px
			display: flex
			align-items: center
			height: 43px
			width: 100%
			margin-bottom: 10px
			border-radius: 2px
			&:nth-child(2)
				margin-bottom: 10px
			img
				width: 14px
				margin-right: 10px
			.header__container-wrap
				position: relative
				width: 100%
				height: 18px
				margin: 0
				input
					position: relative
					width: 100%
					border: none
					background: transparent
					font-size: 14px
					color: #495c6a
					margin: 0
					&:focus
						outline: 0
						@include placeholder
							color: transparent
				label
					position: absolute
					left: 0
					color: #898c8e
					font-size: 10px
					font-weight: 300
					letter-spacing: .2px
					transform: translate3d(0,0,0)
					transition: all .2s ease-in-out
					top: 0
					z-index: -1
		form
			display: flex
			flex-direction: column
			.tml-action-links
				list-style-type: none
				margin: 0 0 20px auto
				padding: 0
				a
					font-size: 13px
					-webkit-transition: 0.2s
					-moz-transition: 0.2s
					-ms-transition: 0.2s
					-o-transition: 0.2s
					transition: 0.2s
					&:hover
						color: #036f9d
			.tml-submit-wrap
				margin: 0
				input
					&[type='submit']
						margin: 0
						border-radius: 2px
						background: #0286bf
						border: none
						text-align: center
						padding: 0
						width: 100%
						height: 43px
						color: #ffffff
						font-size: 17px
						font-weight: 400
						letter-spacing: 0.2px
						cursor: pointer
						-webkit-transition: 0.2s
						-moz-transition: 0.2s
						-ms-transition: 0.2s
						-o-transition: 0.2s
						transition: 0.2s
						&:hover
							background: #036f9d
						&:focus
							outline: 0
			.registr-tml-submit-wrap
				margin-top: 5px
	.login__popup-or
		text-align: center
		width: 100%
		margin: 20px auto 10px auto
		color: #485b69
		font-size: 18px
		position: relative
		span
			background: #eef3fa
			position: relative
			width: 207px
			font-size: 12px
			z-index: 1
			display: block
			margin: 0 auto
			letter-spacing: 0.2px
		&:after
			position: absolute
			content: ''
			width: 100%
			display: block
			border-bottom: 1px solid #485b69
			height: 1px
			top: 9px
			z-index: 0
	.login__popup-google
		margin-bottom: 20px
		display: block
		>div
			width: 100%
			.the_champ_login_container
				width: 100%
				margin: 0 auto
				img
					float: none!important
					margin: 0 auto
					width: 44px
					text-align: center
				ul.the_champ_login_ul
					display: flex
					margin: 0!important
					justify-content: space-between
					align-items: center
					width: 100%
					-webkit-transition: 0.2s
					-moz-transition: 0.2s
					-ms-transition: 0.2s
					-o-transition: 0.2s
					transition: 0.2s
					@media (max-width: 600px)
						flex-wrap: wrap
						justify-content: center
					li
						float: none
						display: block
						width: 48%!important
						@media (max-width: 600px)
							width: 58%!important
						i
							display: block
							width: 100%
							align-items: center
							justify-content: space-between
							float: none
							padding-left: 0!important
							border-radius: 2px
						ss
							display: flex!important
							color: #fff
							font-style: normal
							font-size: 12px
							font-weight: 400
							letter-spacing: .2px
							align-items: center
							background-position-x: 3px
							&.theChampFacebookLoginSvg
								background-position: 1px 4px
								padding-left: 24px
								background-size: 26px
							&.theChampGoogleLoginSvg
								padding-left: 38px
								background-position-y: 0
	.header__registr-checkout, .header__login-checkout
		margin: 0
		text-align: center
		color: #485b69
		font-size: 13px
		-webkit-transition: 0.2s
		-moz-transition: 0.2s
		-ms-transition: 0.2s
		-o-transition: 0.2s
		transition: 0.2s
		span
			color: #0286bf
			cursor: pointer
		&:hover
			span
				color: #036f9d

.login__popup-error
	margin-right: auto
	margin-bottom: 7px
	letter-spacing: 0.1px
	font-size: 13px
	color: #f1b501
	text-align: left
	strong
		font-size: 13px

.recrawl-block, .deleteCrawl-block, .addCrawl-block, .checkemail-block
	background-color: #495c6a
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
	width: 500px
	display: none
	flex-direction: column
	align-items: center
	padding: 30px
	img
		width: 168px
	p
		font-size: 20px
		line-height: 23px
		text-align: center
		width: 80%
		font-weight: 500
		color: #ffffff
		margin-top: 20px
	.login_popup-close
		width: 25px
		height: 25px
		padding: 5px
		background: white
		display: flex
		align-items: center
		justify-content: center
		margin-left: auto
		cursor: pointer
		img
			width: 13px
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			transition: transform .25s linear
			-webkit-transition: -webkit-transform .25s linear
			cursor: pointer
		&:hover
			img
				-webkit-transform: rotate(180deg)
				-ms-transform: rotate(180deg)
				-webkit-transform: rotate(180deg)
				-moz-transform: rotate(180deg)
				-o-transform: rotate(180deg)
				transform: rotate(180deg)

.resetpass
	.tml.tml-lostpassword
		width: 430px
		height: auto!important
		background-color: #ffffff
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.14)
		position: relative
		right: auto
		text-align: center
		padding: 30px 40px 47px 40px
		margin: 0 auto
		.message
			font-size: 22px
			font-weight: 700
			color: #495c6a
			margin: 0 0 15px 0
			background: none
			border: none
		form
			display: flex
			flex-direction: column
			#pass-strength-result
				display: none
			input
				height: 44px
				width: 100%
				max-width: 380px
				border: none
				color: #495c6a
				font-size: 14px
				margin-bottom: 15px
				margin-top: 0
				padding: 15px
				border-radius: 0
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14)
				&:focus
					outline: none
					box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14)
					@include placeholder
						color: transparent
			p
				position: relative
				margin: 0
				&.indicator-hint
					line-height: 22px
				label
					position: absolute
					top: 10px
					left: 15px
					color: transparent
					font-size: 14px
					font-weight: 300
					letter-spacing: 0.2px
					transform: translate3d(0, 0, 0)
					transition: all 0.2s ease-in-out
					z-index: -1
				&.tml-rememberme-wrap
					display: none!important
			input[type="submit"]
				width: 176px
				height: 52px
				background-color: #0286bf
				display: block
				align-items: center
				text-align: center
				justify-content: center
				font-size: 20px
				letter-spacing: 0.2px
				color: #ffffff
				border: none
				margin: 15px auto 0 auto
				transition: 0.2s
				padding: 0
				box-shadow: none
				font-weight: 500
				@media (max-width: 1100px)
					font-size: 17px
				&:hover
					background: #036f9d
				&:focus
					outline: none
					padding: 0

.tml.tml-resetpass
	width: 430px
	height: auto!important
	position: relative
	right: auto
	text-align: center
	padding: 25px 40px
	margin: 0 auto
	.message
		font-size: 22px
		font-weight: 700
		color: #495c6a
		margin: 0 0 15px 0
		background: none
		border: none
	.header__container
		border: solid 1px #e7e7e7
		background: #ffffff
		padding: 10px 15px
		display: flex
		align-items: center
		height: 43px
		width: 100%
		margin-bottom: 10px
		border-radius: 2px
		&:nth-child(2)
			margin-bottom: 10px
		img
			width: 14px
			margin-right: 10px
		.header__container-wrap
			position: relative
			width: 100%
			height: 18px
			margin: 0
			line-height: 0
			input
				position: relative
				width: 100%
				border: none
				background: transparent
				font-size: 14px
				color: #495c6a
				margin: 0
				&:focus
					outline: 0
					@include placeholder
						color: transparent
			label
				position: absolute
				left: 0
				color: #898c8e
				font-size: 10px
				font-weight: 300
				letter-spacing: .2px
				transform: translate3d(0,0,0)
				transition: all .2s ease-in-out
				top: 0
				z-index: -1
	form
		margin: 0
		input
			&[type='submit']
				margin: 0
				border-radius: 2px
				background: #0286bf
				border: none
				text-align: center
				padding: 0
				width: 100%
				height: 43px
				color: #ffffff
				font-size: 17px
				font-weight: 400
				letter-spacing: 0.2px
				cursor: pointer
				-webkit-transition: 0.2s
				-moz-transition: 0.2s
				-ms-transition: 0.2s
				-o-transition: 0.2s
				transition: 0.2s
				&:hover
					background: #036f9d
				&:focus
					outline: 0

main.resetpass + footer
	.footer
		background: linear-gradient(to right,#ffffff 0,#ffffff 50%,#495c6a 50%,#495c6a 100%)
		.footer_menu
			background: #ffffff

.limit_popup
	position: fixed
	top: 0
	padding-top: 64px
	z-index: 12
	left: 0
	width: 100%
	height: 100%
	background: transparent
	display: none
	justify-content: center
	align-items: center
	@media (max-width: 670px)
		top: 50px

.limit_popup-block
	width: 800px
	border-radius: 2px
	display: flex
	justify-content: center
	position: relative
	.login__popup-close
		position: absolute
		right: 17px
		top: 11px
		z-index: 99
		cursor: pointer
		img
			width: 11px
			transition: transform .25s linear
			-webkit-transition: -webkit-transform .25s linear
			cursor: pointer
		&:hover
			img
				-webkit-transform: rotate(180deg)
				-ms-transform: rotate(180deg)
				-webkit-transform: rotate(180deg)
				-moz-transform: rotate(180deg)
				-o-transform: rotate(180deg)
				transform: rotate(180deg)
	.tml p.register_privacy
		opacity: 0.6
	.limit__about
		text-align: center
		margin-bottom: 20px
		p
			font-size: 18px
			font-weight: 300
			line-height: 1.36
			margin: 0
			&:nth-child(2)
				color: #0286bf
				font-weight: 500
			&:nth-child(3)
				color: #495c6a
			&.limitik
				font-size: 23px
				font-weight: 500
				margin-bottom: 0
	.limit__login
		display: flex
		align-items: flex-start
		justify-content: center
		background: white
		padding: 35px 0
		width: 550px
		min-width: 420px
		border-top-right-radius: 2px
		border-bottom-right-radius: 2px
	.login__popup-or
		span
			background: white
	.login__popup-block
		display: flex
		box-shadow: none
		background: transparent
		padding: 0 45px
		border-radius: 0
		margin: 0
		min-height: 364px
		width: 100%
		.login__popup-form
			.header__container
				margin-bottom: 15px
			form
				.registr-tml-submit-wrap
					margin-top: 10px
		.tml, #theme-my-login4, #theme-my-login1
			width: 100%
.limit__description
	padding: 35px
	text-align: center
	color: #4a5c6a
	border-top-left-radius: 2px
	border-bottom-left-radius: 2px
	background-image: url(/wp-content/themes/sitechecker/out/img/price_bg.svg)
	background-repeat: no-repeat
	background-size: cover
	display: flex
	flex-direction: column
	justify-content: space-between
	.limitik
		font-size: 19px
		font-weight: 500
		margin-bottom: 20px
		text-align: left
		line-height: 23px
		letter-spacing: 0.3px
	>div
		text-align: left
		ul
			margin: 0
			padding: 0 0 0 20px
			list-style-type: none
			text-align: left
			li
				margin-bottom: 9px
				position: relative
				font-weight: 300
				&:before
					content: ''
					background: url(/wp-content/themes/sitechecker/out/img/tick.svg)
					background-size: cover
					display: block
					position: absolute
					top: 4px
					left: -17px
					width: 10px
					height: 10px
				b, strong
					font-weight: 400
		img
			width: 40px
		&:nth-child(2)
			ul
				padding: 0
				li
					font-size: 12px
					margin-bottom: 0
					img
						width: 15px
						opacity: .4
						margin-right: 3px
						margin-top: -1px
					&:before
						display: none
					&:last-of-type
						margin-bottom: 0
.limit_popup-close
	width: 28px
	margin-left: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	transition: transform .25s linear
	-webkit-transition: -webkit-transform .25s linear
	cursor: pointer
	&:hover
		-webkit-transform: rotate(180deg)
		-ms-transform: rotate(180deg)
		-webkit-transform: rotate(180deg)
		-moz-transform: rotate(180deg)
		-o-transform: rotate(180deg)
		transform: rotate(180deg)

.limit_popup-speed
	width: 208px
	margin-bottom: 24px

.error_lostpass, .error_resetpass
	display: none

.tml .error.error_resetpass
	line-height: 10px
	margin-bottom: 20px
	color: #f1b501

.login_popup-error
	display: none
	color: #f1b501

.wp_crm__message_field_container .wp_crm_error_messages
	margin-top: 0

.wp_crm_contact_form .login_popup-error
	margin-top: -10px
	margin-bottom: 10px

.wp_crm_contact_form .login_popup-error.error_messageEmpty
	margin-top: 0

.wp_crm_response_text.success
	display: none!important

.container .container__right-col
	min-width: 833px!important
	width: auto!important

.container .container__left-col--bottom-sticked
	bottom: 50px!important

.tml
  max-width: none!important

.login__popup-block
  .login__popup-error
    display: none
  .login__popup-description
    color: #495c6a
    font-size: 14px
    display: none
    margin-top: -10px
    margin-bottom: 20px
  .login__popup-form
    form
      .tml-action-links
        a
          cursor: pointer
  .header__popup-resset
    margin-top: 10px

.theChampGoogleBackground
	&:hover
		background-color: rgb(198, 58, 40)
.theChampFacebookBackground
	&:hover
		background-color: #244186

.the_champ_login_container img
	float: none
	margin: 0 auto
	width: 44px
	text-align: center

.blog_post:last-of-type
	width: 100%
	word-break: break-word

@media screen and (max-width: 783px)
	div.heateor_ss_mobile_footer
		display: none!important

.technical_first .home_first-down
	display: none

@media (max-width: 640px)
	.technical_first
		padding-top: 110px

.post-ratings, .post-ratings-loading, .post-ratings-image
	display: flex
	flex-wrap: wrap
	align-items: center
	margin: 10px 0
	img
		width: 17px!important
		margin: 0 1px!important
		&:last-of-type
			margin-right: 5px!important
	.post-ratings-text
		margin-left: 5px
		color: rgb(240, 99, 74)
	strong
		padding: 0 3px

.levels_block .levels_block-package .plan_about
	line-height: 1.50
.team_cards
	justify-content: space-around
	@media (max-width: 1044px)
		justify-content: center
.save__pdf
	display: block
	font-size: 16px
	font-weight: 400
	text-align: left
	margin: 20px 0 0 0
	color: #0286bf
	cursor: pointer
	background: none
	border: none
	padding: 0
	i
		margin-left: 2px
	&[disabled]
		cursor: auto
		color: rgba(2, 134, 191, 0.33)
		pointer-events: none

.limit_popup-block
	.login__popup-error
		width: 370px
		margin: 0 auto 7px auto

.scroll_up
	display: none
	position: fixed
	right: 80px
	bottom: 20px
	cursor: pointer
	img
		width: 30px

.the_champ_sharing_container
  display: none!important

.pages_home
  .the_champ_sharing_container
    display: block!important

.theChampPullOut
  display: none!important

.table_internals
	display: none
	margin-top: 20px
	.description
      text-align: left
      padding: 12px 0
      font-size: 16px
      font-weight: 700
      letter-spacing: 0.2px
	.btn_gradient
      position: relative
      appearance: none
      background: #1687bd
      color: #fff
      outline: 0
      overflow: hidden
      cursor: pointer
      width: 78px
      border: none
      border-radius: 2px
      font-size: 12px
      height: 28px
      display: flex
      align-items: center
      justify-content: center
      letter-spacing: 0.2px
      margin: 0 auto
      span
          position: relative
          pointer-events: none

.table_internal
  width: 100%
  background: white
  box-shadow: 0 0 7px rgba(0,48,40,0.05)
  tr
    &:first-of-type
      display: none
    td, th
      &:first-of-type, &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6)
        display: none
      padding: 10px 3px
      border-bottom: 1px solid #e7e9ea
      vertical-align: middle
      &:nth-child(4)
          padding-left: 20px
      .blur
        .data-value
          filter: blur(2.8px)
      &:nth-child(7)
        .statusHtml
          margin-left: 3px
          display: inline-block
          .icon--arrow-down
            transform: rotate(-90deg)
            margin: -3px 3px 0 3px
            display: inline-block

.tml p.register_privacy
	font-size: 10px
	margin: 0 0 10px 0
	text-align: center
	line-height: 13px

.footer__cookie
  position: fixed
  display: none
  bottom: 0
  left: 0
  width: 100%
  background: rgba(23, 135, 189, 0.91)
  color: white
  .wrapper
    display: flex
    align-items: center
    justify-content: center
    p
      margin: 0
      padding: 10px
      font-size: 12px
      color: white
      letter-spacing: 0.3px
      a
        color: white
        text-decoration: underline
    img
      width: 25px

.footer__cookie
	z-index: 9999
	.wrapper
		.footer__cookie-close
			cursor: pointer
			width: 10px
			margin-left: 5px

.pmpro_yeslink, .pmpro_nolink
	background: none!important
	color: #1687bd!important
	cursor: pointer!important
	min-width: 180px!important
	border: none!important
	border-radius: 2px!important
	font-size: 14px!important
	font-weight: 400!important
	letter-spacing: .3px!important
	display: inline-flex!important
	align-items: center!important
	justify-content: center!important
	padding: 0!important
	margin-right: 20px!important
	&:hover
		text-decoration: underline!important

.header_links_btn
	margin-left: auto
	@media (max-width: 965px)
		margin-left: 0
		padding: 10px 20px
		width: 100%
		position: relative
		z-index: 5
	>ul
		list-style-type: none
		padding: 0
		margin: 0
		display: flex
		align-items: center
		height: 60px
		@media (max-width: 965px)
			flex-direction: column
			height: auto
			align-items: flex-start
		>li
			padding: 0 20px
			height: 100%
			display: flex
			align-items: center
			&:first-of-type
				padding-left: 0
			&:last-of-type
				padding-right: 0
			@media (max-width: 965px)
				padding: 0 0 10px 0
				width: 100%
			&.menu-item-has-children
				padding-right: 25px
				position: relative
				cursor: pointer
				@media (max-width: 965px)
					display: block
					padding-right: 0
					width: 100%
				>a, >span
					position: relative
					cursor: pointer
					&::after
						position: absolute
						right: -15px
						top: 8px
						content: ''
						width: 8px
						height: 5px
						background-image: url("./img_design/arrow__down.svg")
						background-size: contain
						background-repeat: no-repeat
						transition: 0.3s
						@media (max-width: 965px)
							display: none
				&:hover
					>span
						color: #1687bd
						&::after
							transform: rotate(180deg)
							background-image: url("./img/arrow__down-blue.svg")
					.sub-menu
						max-height: 1000px
						-webkit-transform: perspective(600px) rotate3d(0,0,0,0)
			a, span
				text-decoration: none
				font-size: 15px
				font-weight: 500
				margin-right: 15px
				color: #495c6a
				cursor: pointer
				&:hover
					text-decoration: none
					color: #1687bd
				@media (max-width: 965px)
					width: 100%
					padding: 10px 0 0 0
			ul
				&.sub-menu
					list-style-type: none
					padding: 0
					margin: 0
					background: white
					border-radius: 3px
					box-sizing: border-box
					box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06)
					position: absolute
					left: -50%
					top: 48px
					z-index: 1
					max-height: 0
					-webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
					-webkit-transform-origin: 50% 0
					-webkit-transition: 250ms
					-moz-transition: 250ms
					-o-transition: 250ms
					transition: 250ms
					&.products
						width: 262px
						@media (max-width: 965px)
							width: 100%
							position: relative
							background: transparent
							height: 100%
							left: 0
							top: 0
							max-height: none
							transform: perspective(600px) rotate3d(0,0,0,0)
							box-shadow: none
							border: none
						li
							&:first-of-type
								a
									border-top-left-radius: 5px
									border-top-right-radius: 5px
							&:last-of-type
								a
									border-bottom-left-radius: 5px
									border-bottom-right-radius: 5px
									padding-bottom: 13px
						a
							display: flex
							align-items: flex-start
							transition: 0.2s
							margin-right: 0
							cursor: pointer
							padding: 18px 22px 10px 22px
							@media (max-width: 965px)
								padding: 10px 5px 8px 5px
								background: transparent
							&:hover
								background: #fafafa
								@media (max-width: 965px)
									background: transparent
							img
								margin-right: 10px
								width: 15px
								height: 15px
							.products__description
								p
									margin-bottom: 2px
									font-weight: 500
									font-size: 14px
									line-height: 12px
								span
									font-size: 12px
									font-weight: 300
									margin-right: 0
					li
						a
							position: relative
							background: white
							z-index: 2
							font-size: 14px
							padding: 15px 15px 10px 15px
							display: block
					&.resources
						width: auto
						left: -15px
						li
							a
								padding: 10px 15px
								@media (max-width: 965px)
									padding: 10px 0 0 15px
									font-weight: 400
							&:last-of-type
								a
									padding: 10px 15px

.personal_account-table div p.delete__account
	margin: 0
	color: #b6b6b6
	font-size: 17px
	a
		color: #ff4556
		font-size: 17px

.user-bell
	position: relative
	height: 60px
	display: flex
	align-items: center
	font-size: 15px
	font-weight: 500
	margin-right: 30px
	color: #495c6a
	cursor: pointer
	transition: 0.2s
	@media (max-width: 970px)
		display: none!important
	&:hover
		color: #0286bf
.user-bell_list
	position: absolute
	width: 200px
	top: 48px
	right: -90px
	overflow-y: auto
	max-height: 0
	background: #fff
	border-radius: 3px
	box-sizing: border-box
	box-shadow: 0 2px 15px rgba(0,0,0,.06)
	-webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
	-webkit-transform-origin: 50% 0
	-webkit-transition: 250ms
	-moz-transition: 250ms
	-o-transition: 250ms
	transition: 250ms
	&.active
		max-height: 300px
		overflow-y: auto
		-webkit-transform: perspective(600px) rotate3d(0,0,0,0)
.bellPosts
	position: absolute
	top: 14px
	right: -6px
	font-size: 8px
	color: #0286bf
	display: flex
	align-items: center
	justify-content: center
	font-weight: 600
	letter-spacing: 0
.user-bell_news
	padding: 10px 15px 10px 15px
	border-bottom: 1px solid #f1f1f1
	&:first-of-type
		border-radius: 3px 3px 0 0
	&:last-of-type
		border-radius: 0 0 3px 3px
	a
		display: block
		font-size: 12px
		margin-bottom: 2px
		margin-right: 0
	p
		margin: 0
		font-size: 10px
		line-height: 13px
		font-weight: 400
		color: $text_color
	&.seen
		background: white
	&.notSeen
		background: #fbfbfb
	&.new
		background: #f9fdff
		position: relative
		&:after
			position: absolute
			content: ''
			top: 13px
			right: 10px
			width: 6px
			height: 6px
			border-radius: 50px
			background: #0286bf

.monitoringEnabledError
	display: none

.new_dis
	margin-top: 13px
	.names
		display: block
		position: relative
		&:before
			content: 'Old design'
			position: absolute
			left: -55px
			font-size: 10px
			color: #a5a5a5
			width: 49px
			top: -9px
		&:after
			content: 'New design'
			position: absolute
			right: -63px
			font-size: 10px
			color: #a5a5a5
			width: 53px
			top: -9px
			transition: color 0.2s


.check
	position: relative
	background: linear-gradient(90deg,#1a84ff,#459bff)
	line-height: 0
	perspective: 400px
	margin-left: 55px

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after,
.check
	-webkit-appearance: none
	display: inline-block
	border-radius: 1rem
	border: 0
	transition: .35s ease-in-out
	box-sizing: border-box
	cursor: pointer

.check label
	width: 2.2rem
	height: 1rem
	background: #e3e3e3
	overflow: hidden
	margin: 0

.check input[type="checkbox"]
	position: absolute
	z-index: 1
	width: .8rem
	height: .8rem
	top: .1rem
	left: .1rem
	background: linear-gradient(45deg, #dedede, #ffffff)
	box-shadow: 0 6px 7px rgba(0,0,0,0.3)
	outline: none
	margin: 0
.check input[type="checkbox"]:checked + label + .names
	&:after
		color: #0066FF

.check input[type="checkbox"]:checked
	left: 1.3rem

.check input[type="checkbox"]:checked + label
	background: transparent

.check label::before,
.check label::after
	content: "· ·"
	position: absolute
	overflow: hidden
	left: .15rem
	top: .5rem
	height: 1rem
	letter-spacing: -.04rem
	color: #9b9b9b
	font-family: "Times New Roman", serif
	z-index: 2
	font-size: .6rem
	border-radius: 0
	transform-origin: 0 0 -.5rem
	backface-visibility: hidden

.check label::after
	content: "●"
	top: .65rem
	left: .3rem
	height: .1rem
	width: .35rem
	font-size: .2rem
	transform-origin: 0 0 -.4rem

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after
	left: 1.55rem
	top: .4rem
	line-height: .1rem
	transform: rotateY(360deg)

.check input[type="checkbox"]:checked + label::after
	height: .16rem
	top: .55rem
	left: 1.6rem
	font-size: .6rem
	line-height: 0

.newpass-block
	width: 400px
	box-shadow: 0 2px 5px rgba(0,0,0,.25)
	background: #fff
	border-radius: 6px
	display: flex
	flex-direction: column
	overflow: hidden
	position: relative
	transition: .4s
	margin: 50px auto
	height: auto
	padding: 40px 0 20px 0
	.title
		margin: 0 auto 20px auto
		text-align: center
		font-size: 20px
		max-width: 287px
		line-height: 39px
	.tml-submit-wrap
		height: 50px
		margin: 30px auto
		display: flex
		align-items: center
		justify-content: center
		.btn
			display: table
			background: #0086c4
			margin: 0 auto
			border: none
			color: #fff
			font-size: 14px
			line-height: 14px
			text-transform: uppercase
			letter-spacing: 1px
			font-weight: 500
			padding: 17px 30px 15px 30px
			box-shadow: 0 3px 1px -2px rgba(0,102,255,.2), 0 2px 2px 0 rgba(0,102,255,.14), 0 1px 5px 0 rgba(0,102,255,.12)
			background-position: center
			transition: background .8s
			width: 287px
			height: 50px
		.loader
			border: 2px solid #ebebeb
			border-top: 2px solid #06f
			border-radius: 50%
			width: 20px
			height: 20px
			animation: spin .6s linear infinite
			margin: 0 auto
			display: none
			position: absolute
	.form__input
		display: flex
		width: 287px
		margin: 0 auto 14px auto
		border-bottom: 2px solid #f5f5f5
		padding: 8px 0 4px 0
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: -2px
			left: 50%
			width: 0
			height: 2px
			-webkit-transition: all .25s ease
			-o-transition: all .25s ease
			transition: all .25s ease
		.error
			display: none
			position: absolute
			width: 100%
			margin: 0
			top: -6px
			font-size: 10px
			color: #ff3030
			p
				margin-bottom: 0
			img
				position: absolute
				right: 0
				top: 21px
				z-index: 9
		svg
			margin-right: 20px
			margin-top: 3px
		.label
			width: 100%
			border-radius: 0
			padding: 0
			margin: 0
			position: relative
			span
				position: absolute
				top: 3px
				left: 0
				color: #666
				font-size: 12px
				line-height: 18px
				font-weight: 500
				transition: .3s
				z-index: 2
			input
				width: 100%
				border: none
				font-size: 16px
				padding-right: 26px
				color: #333
				font-weight: 400
				position: relative
				background: 0 0
				z-index: 3
				@include placeholder
					font-size: 12px
				&:focus
					@include placeholder
						color: transparent

#pmpro_invoices_table
	width: 100%
#advanced-pdf-generator
	display: block!important
	list-style: none!important
	margin: 0!important
	padding: 0!important
	text-align: right!important
	width: 100%!important
	position: absolute
	top: -48px
	@media (max-width: 640px)
		margin: 15px auto 10px auto
		text-align: left
	li
		padding: 0
	a
		background: white
		width: 130px
		height: 36px
		border: 2px solid #0086c4
		border-radius: 3px
		position: relative
		transition: 0.2s
		margin: 0
		padding: 0
		display: block
		&:after
			position: absolute
			left: 25px
			top: 8px
			letter-spacing: 1px
			content: 'Download PDF'
			text-transform: uppercase
			color: #0086c4
			font-size: 9px
			font-weight: 900
			transition: 0.2s
		&:hover
			border-color: #0086c4
			&:after
				color: #0086c4
.home_description
	.wrapper
		flex-direction: row-reverse

.tree_btn
	display: flex
	align-items: center
	margin-top: 30px
.tree_btn .bootstrap-select.btn-group .dropdown-toggle .caret
	right: -10px
	width: 8px
	height: 8px
	background-size: 8px
.tree_btn .btn-group>.btn:first-child
	font-size: 11px
	font-weight: 400
	color: #0286bf
	padding: 2px 0 1px 0
.tree_btn button, input, .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
	margin: 0 5px
	width: auto
	padding: 5px 10px
	font-size: 11px
	border-radius: 2px
	color: #0286bf
	display: flex
	align-items: center
	justify-content: center
	background: #eef3fa
	border: 1px solid #eef3fa
	transition: 0.2s
.tree_btn button:hover
	background: #d4e4fa
	border-color: #eef3fa
.tree_btn button.statistic_export_sitemap_xml
	width: 135px
.tree_btn button.statistic_export_sitemap_xml img
	height: 12px
	margin-right: 5px
	margin-top: -2px
.tree_btn input
	background: white
	margin-left: 0