.report__container
  display: flex
  align-items: flex-start
  justify-content: space-between
  &.result__error
    .report__sideblock
      display: none
      width: 0!important
      min-width: 0!important
    .report__results
      margin-left: 0
      width: 100%
  @media (max-width: 965px)
    flex-direction: column
    justify-content: center
.report__sideblock
  min-width: 270px
  @media (max-width: 1250px)
    min-width: auto
    width: 30%
  @media (max-width: 965px)
    display: none
.report__sidenav
  width: 100%
  background: rgba(153, 153, 153, 0.03)
  border-radius: 6px
  padding: 14px 0
  color: #5B5E6D
  transition: 0.3s
  &.fixed
    position: fixed
    top: 10px
.report__sidenav-title
  font-weight: 500
  line-height: 30px
  font-size: 13px
  margin-bottom: 0
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 0 18px
  cursor: pointer
  &:hover
    transition: 0.2s
    color: $color-blue__hover
    svg
      path
        fill: $color-blue__hover
  &.closed
    svg
      transform: rotate(0)
  span
    &.groupName
      margin-right: auto
    &.data
      display: none
      border-radius: 3px
      padding: 2px 5px
      font-size: 8px
      line-height: 11px
      font-weight: 600
  svg
    width: 6px
    transform: rotate(180deg)
    transition: 0.2s
    margin-right: 5px
    margin-left: 10px
    path
      fill: #B3B3B3
      transition: 0.2s
.report__sidenav-links
  &.closed
    overflow: hidden
.report__sidenav-link
  >div
    line-height: 20px
    font-size: 13px
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 4px 18px
    cursor: pointer
    transition: 0.2s
    p
      margin: 0 auto 0 0
    span
      &:last-of-type
        margin-left: 5px
    &:hover
      background: rgba(0, 102, 255, 0.07)
      color: $color-blue__hover
  &:last-of-type
    padding-bottom: 20px
  span
    display: none
    border-radius: 3px
    padding: 2px 5px
    font-size: 8px
    line-height: 11px
    font-weight: 600
    &.error
      background: rgba(255,75,85,.8)
      color: white
    &.warning
      background: rgba(255,179,0,.8)
      color: rgb(91, 94, 109)

.report__results
  width: 100%
  margin-left: 26px
  @media (max-width: 1250px)
    width: 70%
  >div
    margin-bottom: 10px
    word-break: break-word
    &.overview__block-report
      margin-bottom: 0
      display: flex
  @media (max-width: 965px)
    width: 100%
    margin: 0

.report__results-url
  background: white
  border-radius: 6px
  form
    height: 57px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    &.checking
      button
        span
          display: none
    &.no_valid
      button
        background: $color-error
        box-shadow: rgba(255, 75, 85, 0.2)
      .error
        display: block
    .error
      display: none
      color: $color-error
      z-index: 3
      font-size: 13px
      width: 115px
    button
      min-width: 138px
      height: 44px
      margin-right: 5px
      border: none
      background: $color-blue
      box-shadow: 0 3px 10px rgba(0, 102, 255, 0.2)
      border-radius: 6px
      display: flex
      align-items: center
      justify-content: center
      color: white
      font-weight: 500
      font-size: 16px
      letter-spacing: 1.5px
      transition: 0.2s
      @media (max-width: 740px)
        min-width: 44px
        border-radius: 50%
      span
        margin-bottom: -2px
        @media (max-width: 740px)
          display: none
      &:hover
        background: $color-blue__hover
        img.arrow
          transform: translate3d(2px, 0, 0)
      img
        width: 21.14px
        -webkit-transition: 250ms
        -moz-transition: 250ms
        -o-transition: 250ms
        transition: 250ms
        &.arrow
          margin-left: 5px
          width: 16.4px
          margin-top: 2px
          @media (max-width: 740px)
            margin-left: 0
        path
          fill: white
        &.loading
          display: none
    input
      width: 100%
      height: 100%
      font-weight: 500
      font-size: 16px
      text-align: left
      padding: 0 30px
      border: none
      border-radius: 6px
      color: #001659
      &:focus
        outline: 0
.overview__header
  &.report__header
    margin-bottom: 10px
    @media (max-width: 640px)
      flex-wrap: wrap
      .report__header-btn
        margin: 20px 0 10px auto
    #sitechecker_input
      border-radius: 6px
      background: white
      display: flex
      align-items: center
      justify-content: space-between
      padding: 3px
      height: 50px
      width: 100%
      position: relative
      &.no_valid
        button
          background: $color-error
          box-shadow: none
        .error
          display: block
    .error
      display: none
      position: absolute
      color: $color-error
      z-index: 3
      font-size: 13px
      right: 135px
      @media (max-width: 640px)
        right: 0
        bottom: -26px
        color: #b40c00
        font-size: 11px
    .title
      padding-left: 20px
      border: none
      font-size: 16px
      @media (max-width: 340px)
        width: 50%
      &:focus
        outline: none
    form
      margin: 0
      display: flex
      align-items: center
      input
        width: 100%
      .btn
        margin: 0 0 0 20px
        padding: 13px 25px
        height: 100%
        border-radius: 6px
        min-width: 120px
        @media (max-width: 340px)
          margin-left: 0
        .loading
          width: 23px
          height: 18px
          display: none
          margin: 0 auto
        .arrow
          width: 16px
          margin-left: 5px
.overview__block-report
  @media (max-width: 1265px)
    flex-wrap: wrap
  .overview__block-data
    width: 25%
    min-width: 190px
    justify-content: space-between
    padding-bottom: 18px
    padding-top: 18px
    margin-bottom: 10px
    word-break: initial
    @media (max-width: 1265px)
      width: 49%
    @media (max-width: 565px)
      width: 100%
    .title
      margin-bottom: 0
      display: flex
      align-items: center
      line-height: 17px
      button
        margin-left: auto
        position: relative
        border: none
        background: none
        padding: 0
        cursor: pointer
        svg
          width: 14px
          height: 14px
          path
            transition: 0.2s
        &:hover
          .tooltip
            -webkit-transform: scale(1)
            transform: scale(1)
            z-index: 11
            opacity: 1
            width: 180px
            bottom: 23px
            right: -7px
            font-weight: 500
            padding: 5px
            border-radius: 6px
          svg
            path
              fill: $color-blue__hover
    .value
      position: relative
      span
        &:first-of-type
          cursor: auto
        &.score
          color: rgba(204, 204, 204, 0.64)
          display: flex
          align-items: flex-end
          i
            font-style: normal
            padding: 0
            margin: 0
            font-size: 16px
            display: block
    &:first-of-type
      width: 35%
      @media (max-width: 1265px)
        width: 49%
      @media (max-width: 565px)
        width: 100%
      .value
        span
          &:first-of-type
            font-size: 55px
            line-height: 40px
          &.score
            line-height: 28px
            i
              padding: 0
              margin: 0 3px
              line-height: 25px
              font-size: 23px
              display: block
    &:nth-child(2)
      margin: 0 10px 10px 10px
      @media (max-width: 1265px)
        margin: 0 0 10px 10px
      @media (max-width: 565px)
        width: 48%
        margin: 0 0 10px 0
        min-width: auto
      .value
        span
          &:nth-child(2)
            font-size: 45px
            line-height: 30px
            color: $color-error
          &:nth-child(3)
            font-size: 25px
            line-height: 15px
    &:nth-child(3)
      margin-right: 10px
      @media (max-width: 565px)
        width: 48%
        margin-right: 0
        min-width: auto
      .value
        span
          &:nth-child(2)
            font-size: 45px
            line-height: 30px
          &:nth-child(3)
            font-size: 25px
            line-height: 15px
    &:last-of-type
      align-items: flex-start
      justify-content: space-around
      padding-bottom: 13px
      width: 28%
      @media (max-width: 1265px)
        width: 49%
      @media (max-width: 640px)
        width: 100%
      p
        margin: 0
        font-weight: 500
        line-height: 17px
        font-size: 13px
        color: #5B5E6D
        display: flex
        align-items: center
        justify-content: flex-start
        &:last-of-type
          margin-bottom: 0
        >span
          margin-left: 5px
        .code--ok, .indexable--ok
          color: $color-valid
        .code--warning, .indexable--warning
          color: $color-progress
        .code--error, .indexable--error
          color: $color-error
.report__results-data
  display: flex
  justify-content: space-between
  @media (max-width: 740px)
    flex-wrap: wrap
  >div
    background: white
    border-radius: 6px
    width: 100%
.report__score
  display: flex
  align-items: center
  justify-content: center
  @media (max-width: 740px)
    flex-wrap: wrap
  .score__all
    padding: 30px 45px 30px 0
    @media (max-width: 1250px)
      padding-right: 25px
    @media (max-width: 740px)
      padding: 20px 0
      width: 100%
@keyframes move
  0%
    background-position: 0 0
  100%
    background-position: 50px 50px

@-moz-keyframes move
  0%
    background-position: 0 0
  100%
    background-position: 50px 50px
.score__all-animation
  display: block
  color: #fff
  width: 100%
  height: 40px
  position: absolute
  border-radius: 50%
  overflow: hidden
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) )
    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent )
    z-index: 1
    -webkit-background-size: 50px 50px
    -moz-background-size: 50px 50px
    background-size: 50px 50px
    -webkit-animation: move 2s linear infinite
    -moz-animation: move 2s linear infinite
    -webkit-border-top-right-radius: 8px
    -webkit-border-bottom-right-radius: 8px
    -moz-border-radius-topright: 8px
    -moz-border-radius-bottomright: 8px
    border-top-right-radius: 8px
    border-bottom-right-radius: 8px
    -webkit-border-top-left-radius: 20px
    -webkit-border-bottom-left-radius: 20px
    -moz-border-radius-topleft: 20px
    -moz-border-radius-bottomleft: 20px
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
    overflow: hidden
#score__all
  position: relative
  color: rgba(0, 102, 255, 0.5)
  &.error
    color: $color-error
  &.warning
    color: $color-progress
  &.ok
    color: $color-valid
.report__response
  background: white
  border-radius: 6px
  padding: 23px 28px
  .loading
    width: 40px
    height: auto
    margin: 0 auto
    text-align: center
    display: block
.report__response-block
  margin-bottom: 25px
  display: none
  .title
    font-weight: 500
    line-height: 30px
    font-size: 14px
    color: #5B5E6D
  .responses--content
    >*
      display: block
      line-height: 20px
      font-size: 13px
      color: #666666
      padding-left: 15px
      margin-bottom: 15px
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 4px
        border-radius: 6px
    .responses__row
      cursor: pointer
      transition: 0.2s
      &:hover
        color: $color-blue__hover
    a
      color: $color-blue
      font-size: 13px
      &:hover
        color: $color-blue__hover
    img, svg
      height: 10px
  &.errors
    .responses--content
      >*
        &:before
          background: $color-error
  &.warnings
    .responses--content
      >*
        &:before
          background: $color-warning
  &.info
    .responses--content
      >*
        &:before
          background: #bbb
  &:last-of-type
    margin-bottom: 0

.validation__block
  background: white
  border-radius: 6px
  margin-bottom: 15px
.validation__block-title
  padding: 13px 28px
  display: flex
  align-items: center
  justify-content: flex-end
  transition: 0.2s
  cursor: pointer
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  &:hover
    box-shadow: 0 1px 9px rgba(0,0,0,.06)
    svg
      path
        fill: $color-blue__hover
  &.closed
    svg
      transform: rotate(0)
  p
    margin: 0 auto 0 0
    font-weight: 600
    line-height: 30px
    font-size: 16px
    color: #5B5E6D
  svg
    width: 6px
    margin-left: 13px
    transform: rotate(180deg)
    path
      transition: 0.2s
      fill: #B3B3B3
  .errors
    display: flex
    align-items: center
    span
      display: none
      border-radius: 3px
      padding: 2px 5px
      font-size: 8px
      line-height: 11px
      font-weight: 600
      margin-left: 3px
      &.warning
        background: rgba(255,179,0,.8)
        color: #5b5e6d
      &.error
        background: rgba(255,75,85,.8)
        color: white
.validation__block-body
  &.closed
    overflow: hidden
.validation__param
  border-top: 2.5px solid #FAFAFA
  padding: 14.5px 0
.validation__param-title
  font-weight: 500
  line-height: 30px
  font-size: 14px
  color: #5B5E6D
  margin-bottom: 5px
  padding: 0 28px
.validation__param-body
  .loading
    width: 40px
    height: auto
    margin: 0 auto
    text-align: center
    display: block
  &.mobile-preview
    display: flex
    justify-content: center
    align-items: flex-end
    margin: -55px auto -35px auto
    @media (max-width: 1090px)
      flex-direction: column
      align-items: center
    >div
      position: relative
      &.mobile-preview-iphone
        img
          &:first-of-type
            position: absolute
            width: 156px
            left: 73px
            top: 108px
          &:nth-child(2)
            height: 496px
      &.mobile-preview-ipad
        @media (max-width: 1090px)
          display: none
        img
          &:first-of-type
            position: absolute
            width: 275px
            left: 84px
            height: 367px
            top: 110px
          &:nth-child(2)
            height: 594px
.validation__param_block
  margin: 0 21px 5px 21px
  border-radius: 6px
  transition: 0.2s
  &.alternate__links
    .results-table
      @media (max-width: 640px)
        display: none
  &.ok
    .title
      .name
        &:before
          background: $color-valid
  &.error
    .title
      .name
        &:before
          background: $color-error
      .arrow
        svg
          display: block
          path
            fill: #666
        span
          display: block
    .content__fix
      margin-bottom: 10px
    .description
      .content
        background: rgba(80, 209, 102, 0.1)
  &.warning
    .title
      .name
        &:before
          background: $color-progress
      .arrow
        svg
          display: block
          path
            fill: #666
        span
          display: block
    .content__fix
      margin-bottom: 10px
    .description
      .content
        background: rgba(80, 209, 102, 0.1)
  &.google__prev
    .title
      .name
        padding-left: 0
        &:before
          display: none
  &.open
    .title
      svg
        transform: rotate(180deg)
        path
          fill: #666
  &.display__tags
    cursor: auto
    &.open
      background: white
    .title
      cursor: auto
      .arrow
        display: none
      &:hover
        background: white
    .value
      width: 100%
    .name
      @media (max-width: 640px)
        display: none
    table
      tr
        td
          padding: 5px!important
          vertical-align: top
          &:first-of-type
            width: 38px
            @media (max-width: 740px)
              width: 100%
        &:nth-child(2n)
          td
            background: rgba(153, 153, 153, 0.05)
        &:first-of-type
          td
            padding-top: 0!important
        &:nth-child(n+6)
          display: none
        &.expand-headers
          display: table-row!important
          font-weight: 500
          img
            margin-left: 5px
          &.clicked
            td
              img
                margin-left: 5px
                transform: rotate(180deg)
          td
            font-size: 11px
            font-weight: 500
            cursor: pointer
            background: transparent
            &:hover
              color: $color-blue__hover
            img
              width: 6px
              margin-left: 5px
              transition: 0.2s
  &.favicon__block
    .title
      .value
        display: flex
        align-items: center
        img
          height: 20px
          margin-right: 5px
      .arrow
        svg
          display: block
          path
            fill: #666
        span
          display: block
  &.image__block
    cursor: auto
    .arrow
      display: none!important
    .title
      cursor: auto
      &:hover
        background: white
    &:hover
      background: white
  &.alternate__links
    .results-table
      td
        padding: 10px!important
        &:first-of-type
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
  table
    width: 100%
    tr
      td
        font-size: 13px
        line-height: 20px
        color: #666666
        padding: 0 10px 0 0!important
        vertical-align: top
  .results-table
    width: 100%
    &#result-32
      display: none
      tr
        &:nth-child(n+12)
          display: table-row
      th
        background: rgba(153, 153, 153, 0.05)
        &:first-of-type
          border-top-left-radius: 6px
        &:last-of-type
          border-top-right-radius: 6px
      td
        padding: 6px 10px!important
    &#result-33
      th
        font-weight: 600
        padding: 10px!important
      td
        padding: 10px!important
        a
          line-height: normal
          word-break: break-word
    @media (max-width: 640px)
      tr
        display: flex
        flex-direction: column
    @media (max-width: 1055px)
      tr
        td
          word-break: break-word
    @media (max-width: 740px)
      tr
        td, th
          font-size: 12px
    &.images, &.external, &.internal
      @media (max-width: 740px)
        display: none
      td
        word-break: break-word
        padding: 10px!important
        vertical-align: middle
        &:first-of-type
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px
        &:last-of-type
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
    &.google-cache
      td
        padding: 10px!important
        &:first-of-type
          width: 50%
          a
            line-height: 18px
        &:nth-child(2)
          width: 10%
        &:nth-child(3)
          width: 25%
    &.canonical
      td
        &:nth-child(2)
          display: flex
          .status-code-text
            margin-right: 5px
    &.external, &.internal
      th
        &:first-of-type
          width: 1%
      td
        &:nth-child(4)
          min-width: 70px
        img
          height: 11px
    &.headers
      tr
        &:nth-child(n+6)
          display: none
        &.expand-headers
          display: table-row!important
          font-weight: 500
          td
            span
              font-size: 11px
            img
              margin-left: 5px
              width: 6px
          &.clicked
            td
              img
                transform: rotate(180deg)
        @media (max-width: 640px)
          flex-direction: row
        td
          padding: 5px 10px!important
          &:first-of-type
            @media (max-width: 640px)
              width: auto
          &:nth-child(2)
            word-break: break-word
        &:first-of-type
          td
            padding-top: 0!important
            min-width: 40px
    th
      font-weight: 500
      line-height: 18px
      font-size: 12px
      color: #666666
      padding: 10px
      min-width: 42px
      position: relative
      cursor: pointer
      &:hover
        .tooltip
          -webkit-transform: scale(1)
          transform: scale(1)
          z-index: 11
          opacity: 1
          width: 130px
          bottom: 33px
          left: 7px
          font-weight: 500
          padding: 5px
          border-radius: 6px
          &:after
            left: 10px
      &:last-of-type
        min-width: 80px
      img
        height: 11px
    tr
      td
        vertical-align: top
        .code--ok
          color: $color-valid
        .code--error
          color: $color-error
        .code--warning
          color: $color-progress
        .statusHtml
          min-width: 60px
      &:nth-child(2n)
        td
          background: rgba(153, 153, 153, 0.05)
      &:nth-child(n+12)
        display: none
      &.expand
        display: table-row!important
        &.clicked
          td
            img
              transform: rotate(180deg)
        td
          font-size: 11px
          font-weight: 500
          cursor: pointer
          background: white
          &:hover
            color: $color-blue__hover
          img
            width: 6px
            margin-left: 5px
            transition: 0.2s
      a
        font-size: 13px
      img
        &.icon--graph
          height: 11px
          margin-top: 4.5px
        &.icon--arrow-down
          margin: 0 3px
          width: 6px
          transform: rotate(-90deg)
  .title
    display: flex
    align-items: flex-start
    transition: 0.2s
    cursor: pointer
    padding: 10px
    border-radius: 6px
    &:hover
      background: rgba(0, 102, 255, 0.03)
      svg
        transition: 0.2s
        path
          fill: #666
    .arrow
      display: flex
      align-items: center
      justify-content: flex-end
      height: 15px
      margin-left: auto
      margin-top: 3px
      margin-right: 3px
      min-width: 85px
      @media (max-width: 740px)
        display: none
      span
        display: none
        margin-right: 5px
        font-weight: 500
        color: #666
        font-size: 11px
    svg
      width: 6px
      path
        transition: 0.2s
        fill: transparent
    p
      margin: 0
      line-height: 20px
      font-size: 13px
      color: #666666
    .name
      position: relative
      padding-left: 15px
      min-width: 155px
      padding-right: 15px
      @media (max-width: 740px)
        min-width: auto
        width: auto
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 4px
        border-radius: 6px
        background: #BBBBBB
    .value
      line-height: 20px
      font-size: 13px
      color: #666666
      a, b, strong
        font-size: 13px
        &.snippet__title
          color: #1a0dab
          font-size: 16px
      .snippet__url
        color: #006621
      .code--ok
        color: $color-valid
      .code--error
        color: $color-error
      .code--warning
        color: $color-progress
  .description
    height: 0
    overflow: hidden
    font-size: 13px
    color: #666666
    .content
      padding: 10px 25px
      margin-top: 5px
      background: rgba(0, 102, 255, 0.03)
      border-radius: 6px
      a
        font-size: 13px
      .content__fix
        a
          font-size: 13px
      .favicons
        margin-left: 142px
        margin-bottom: 20px
        >div
          position: relative
          margin-bottom: 10px
          padding-left: 15px
          b
            font-weight: 500
          &:before
            content: ''
            position: absolute
            left: 0
            top: 0
            height: 100%
            width: 4px
            border-radius: 6px
            background: #bbb
          &.warning
            &:before
              background: $color-progress
          &.ok
            &:before
              background: $color-valid
          &.error
            &:before
              background: $color-error
.icon--arrow-right
  width: 4px
  margin: -2px 3px 0 3px

.home_outer-seo
  width: 100%
  padding: 25px 30px
  overflow: hidden
  display: flex
  align-items: center
  background: white
  border-radius: 6px
  border-top: 2.5px solid #fafafa
  margin-bottom: 15px
  @media (max-width: 740px)
    flex-direction: column
  img, svg
    width: 60px
    margin-right: 40px
    @media (max-width: 740px)
      margin: 0 auto 10px auto
  > div
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    @media (max-width: 740px)
      flex-direction: column
    > div
      width: 60%
      text-align: left
      @media (max-width: 740px)
        width: 100%
      h3
        line-height: 23px
        color: #5b5e6d
        letter-spacing: 0
        font-weight: 500
        margin: 0 auto 15px 0
        font-size: 17px
      p
        color: #5b5e6d
        font-weight: 400
        line-height: 18px
        text-align: left
        font-size: 13px
        margin-top: 6px
        margin-bottom: 0
    > a
      margin: 0
      display: flex
      align-items: center
      justify-content: center
      width: auto
      min-width: 155px
      background: $color-blue
      color: white
      height: 35px
      font-weight: 500
      font-size: 14px
      text-align: center
      padding: 22px 25px
      border-radius: 6px
      transition: 0.2s
      letter-spacing: 0.2px
      @media (max-width: 740px)
        margin: 15px auto 0 auto
      &:hover
        color: #fff
        background: $color-blue__hover
  &.home_outer-error
    flex-direction: column
    margin: 0
    img, svg
      margin: 0 0 20px 0
    >div
      flex-direction: column
      align-items: center
      justify-content: center
      >div
        width: 100%
        h3
          text-align: center
        p
          text-align: center
          margin-bottom: 20px

.home_outer-copywritely
  > div
    width: 100%
    > div
      h3
        margin: 0 auto 9px 0
        font-size: 17px
      p
        text-align: left
#result-5
  .statusHtml
    @media (max-width: 640px)
      width: 25px

.audit__banner
  display: none
  width: 100%
  margin: 100px 0
  background-image: url("./img_design/audit__banner_bg.svg")
  background-size: cover
  background-position: bottom center
  background-repeat: no-repeat
  .wrapper
    display: flex
    justify-content: space-between
    >div
      width: 50%
      padding: 80px 0 157px 0
      margin-right: 50px
      @media (max-width: 768px)
        padding: 58px 0 185px 0
      @media (max-width: 640px)
        width: 100%
        margin-right: 0
    p
      &.title
        font-weight: bold
        line-height: 50px
        font-size: 36px
        color: #FFFFFF
        margin-bottom: 31px
        word-break: break-word
        @media (max-width: 768px)
          font-size: 37px
          line-height: 48px
          margin-bottom: 25px
      &.description
        font-weight: 500
        line-height: 30px
        font-size: 20px
        color: #FFFFFF
        margin-bottom: 37px
        @media (max-width: 768px)
          line-height: 28px
          font-size: 18px
    .btn
      margin: 0 0 50px 0
      max-width: 100%
      word-break: break-word
      height: auto
    img
      width: 50%
      @media (max-width: 640px)
        display: none

#save__pdf
  width: 20px
  &.inprogress, &.nonPointer
    pointer-events: none
  .loading
    display: none
    width: 20px

.report__validations
  margin-top: 10px

.audit__seo-banner
  display: flex
  align-items: center
  justify-content: space-between
  background-image: url("./img_design/audit__seoBanner_bg.svg")
  &.copywritely
    background-image: url("./img_design/audit__seoBanner_copywritely.svg")
    margin-top: -5px
    .btn
      color: #5C46CF
      box-shadow: 0 3px 1px -2px rgba(92,70,207,.2), 0 2px 2px 0 rgba(92,70,207,.14), 0 1px 5px 0 rgba(92,70,207,.12)
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  padding: 45px 50px
  margin: 10px 0
  border-radius: 6px
  @media (max-width: 640px)
    flex-direction: column
    padding: 45px 0
  div
    width: 80%
  p
    color: white
    text-align: left
    padding-right: 50px
    @media (max-width: 640px)
      text-align: center
      padding-right: 0
    &.title
      font-weight: bold
      line-height: 32px
      font-size: 27px
    &.description
      font-weight: 500
      line-height: 22px
      font-size: 15px
      margin: 0
  .btn
    background: white
    color: #1ACBC3
    margin: 0 0 0 auto
    transition: 0.2s
    box-shadow: 0 3px 1px -2px rgba(26,203,105,.2), 0 2px 2px 0 rgba(26,203,105,.14), 0 1px 5px 0 rgba(26,203,105,.12)
    @media (max-width: 640px)
      margin: 20px auto 0 auto
    &:hover
      box-shadow: 0 3px 10px rgba(245, 245, 245, 0.5)
.code--error
  img
    display: none
.qtranxs-available-languages-message
  display: none

#result-35
  .validation__param_block
    .title
      cursor: auto
      p
        a
          line-height: normal
      &:hover
        background: transparent

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)
  20%, 80%
    transform: translate3d(2px, 0, 0)
  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)
  40%, 60%
    transform: translate3d(4px, 0, 0)