$background__color: #FAFAFA
$text__color-gray: #666666
$color-blue: #0066FF
$color-blue__hover: #267dFF
$color-error: #FF4B55
$color-valid: #50D166
$color-progress: #FFB300
$color-warning: #FF9948

@mixin placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

@include placeholder
  color: #898c8e
  font-weight: 100

html, body
  margin: 0
  padding: 0
  background: $background__color
  -webkit-font-smoothing: antialiased
  font-family: Poppins, sans-serif
  position: relative
  display: flex
  flex-direction: column
  min-height: 100vh
  font-size: 20px
  &[lang='ru']
    form
      &[name='lostpasswordform']
        .btn
          font-size: 12px
a
  color: $color-blue
  font-size: 14px
  transition: 0.2s
  &:hover
    text-decoration: none
    color: $color-blue__hover

b, strong
  font-weight: 600

main
  margin: 0
  padding: 0
  min-height: 80vh
  font-size: 14px
  &.page
    padding: 27px 0 50px 0
  &.productMenu
    @media (max-width: 1355px)
      padding-left: 60px
    @media (max-width: 640px)
      padding-left: 0
.wrapper
  width: 1170px
  margin: 0 auto
  @media (max-width: 1250px)
    width: 90%

.navigation
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: 20px
  a
    font-weight: 500
    line-height: 30px
    font-size: 13px
    transition: 0.2s
    &:hover
      color: $color-blue__hover
  p
    font-weight: 500
    line-height: 30px
    font-size: 13px
    color: #CCCCCC
    margin: 0
  svg
    width: 6px
    transform: rotate(-90deg)
    margin: 0 10px

button
  &:focus
    outline: 0

.btn
  display: table
  background: $color-blue
  margin: 50px auto
  border: none
  border-radius: 50px
  color: white
  font-size: 14px
  line-height: 14px
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 500
  padding: 17px 30px 15px 30px
  box-shadow: 0 3px 1px -2px rgba(0, 102, 255, 0.2), 0px 2px 2px 0px rgba(0, 102, 255, 0.14), 0px 1px 5px 0px rgba(0, 102, 255, 0.12)
  background-position: center
  transition: background 0.8s
  &:focus
    outline: 0
    color: white
    box-shadow: none
  &:hover
    outline: 0
    color: white
    background: $color-blue__hover radial-gradient(circle, transparent 1%, $color-blue__hover 1%) center/15000%
    box-shadow: 0 2px 4px -1px rgba(0, 102, 255, 0.2), 0px 4px 5px 0px rgba(0, 102, 255, 0.14), 0px 1px 10px 0px rgba(0, 102, 255, 0.12)
  &:active
    outline: 0
    color: white
    box-shadow: 0 2px 4px -1px rgba(0, 102, 255, 0.2), 0px 4px 5px 0px rgba(0, 102, 255, 0.14), 0px 1px 10px 0px rgba(0, 102, 255, 0.12)
    background-color: #6eb9f7
    background-size: 100%
    transition: background 0s

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px white inset

.loader
  border: 2px solid #ebebeb
  border-top: 2px solid $color-blue
  border-radius: 50%
  width: 20px
  height: 20px
  animation: spin 0.6s linear infinite
  margin: 0 auto

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.circle-loader
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-left-color: $color-blue
  animation: loader-spin 1.2s infinite linear
  position: relative
  display: inline-block
  vertical-align: top
  border-radius: 50%
  width: 54px
  height: 54px

.load-complete
  -webkit-animation: none
  animation: none
  border-color: $color-blue
  transition: border 500ms ease-out

.checkmark
  display: none
  font-size: 14px
  &.draw:after
    animation-duration: 800ms
    animation-timing-function: ease
    animation-name: checkmark
    transform: scaleX(-1) rotate(135deg)
  &:after
    opacity: 1
    height: 1.4em
    width: 0.75em
    transform-origin: left top
    border-right: 2px solid $color-blue
    border-top: 2px solid $color-blue
    content: ''
    left: 15px
    top: 25px
    position: absolute


@keyframes loader-spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)


@keyframes checkmark
  0%
    height: 0
    width: 0
    opacity: 1

  20%
    height: 0
    width: 0.75em
    opacity: 1

  40%
    height: 1.4em
    width: 0.75em
    opacity: 1

  100%
    height: 1.4em
    width: 0.75em
    opacity: 1

.footer__cookie
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: auto
  padding: 10px 0
  background: rgba(0, 102, 255, 0.8)
  color: white
  display: none
  z-index: 100
  .wrapper
    display: flex
    align-items: center
    height: 100%
    @media (max-width: 415px)
      align-items: flex-start
    img
      width: 30px
      @media (max-width: 415px)
        width: 16px
        margin-top: 1px
    p
      margin: 0 30px
      font-size: 13px
      @media (max-width: 415px)
        font-size: 8px
        margin: 0 10px
      a
        color: white
        font-size: 13px
        text-decoration: underline
        @media (max-width: 415px)
          font-size: 8px
    .footer__cookie-close
      width: 11px
      cursor: pointer
      &:hover
        transform: rotate(180deg)
      @media (max-width: 415px)
        margin-top: 3px

.pmpro_success
  background-color: rgba(80, 209, 102, 0.1)!important
  border-color: rgba(80, 209, 102, 0.1)!important
  color: #50D166!important
  font-weight: 500!important

.external-link
  display: flex
  align-items: center
  &:hover
    a
      &:nth-child(2)
        opacity: 1
  a
    font-size: 13px
    &:nth-child(2)
      opacity: 0
      margin-left: 5px
      transition: 0.2s
  img
    width: 12px

.product__menu
  position: absolute
  left: 0
  top: 0
  width: 56px
  overflow: hidden
  height: 100%
  z-index: 11
  display: flex
  align-items: flex-start
  flex-direction: column
  background: transparent
  transition: 0.2s
  @media (max-width: 1520px)
    width: 56px
    overflow: hidden
  @media (max-width: 640px)
    width: 100%
    position: relative
    align-items: center
    flex-direction: row
    height: auto
    border-radius: 6px
    margin: 0 auto 20px auto
  &.active
    width: 137px
    overflow: auto
    .product__menu-switch
      svg
        path
          fill: #5b5e6d
    .product__menu-block
      >div
        .image
          svg
            path
              fill: #5b5e6d
  .product__menu-switch
    height: 60px
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    cursor: pointer
    padding-left: 21px
    @media (max-width: 640px)
      display: none
    svg
      path
        fill: #cccccc
        transition: 0.2s
    &:hover
      svg
        path
          fill: #5b5e6d
  .product__menu-block
    width: 100%
    height: 100%
    background: white
    border-top: 1px solid #F5F5F5
    @media (max-width: 640px)
      border: none
      display: flex
      flex-direction: column
      height: auto
      cursor: pointer
      &.opened
        a.active
          &:after
            transform: rotate(180deg)
    >a
      height: 60px
      width: 100%
      display: flex
      align-items: center
      justify-content: flex-start
      border-right: 2px solid transparent
      transition: 0.2s
      cursor: pointer
      @media (max-width: 640px)
        display: none
        height: 45px
        border-top: 1px solid #f7f7f7
        order: 2
        transition: 0.3s
      .image
        min-width: 56px
        display: flex
        align-items: center
        justify-content: center
      p
        font-weight: 500
        line-height: 30px
        font-size: 12px
        color: #5B5E6D
        margin: 0
        min-width: 60px
        text-align: left
      svg
        width: 10px
        transition: 0.2s
        path
          fill: #cccccc
          transition: 0.2s
      &:hover
        p
          color: #5b5e6d
        svg
          path
            fill: #5b5e6d
      &.active
        height: 55px
        border-right-color: $color-blue
        @media (max-width: 640px)
          height: 44px
          border: none
          display: flex
          order: 1
          position: relative
          transition: 0.2s
          &:after
            content: ''
            position: absolute
            right: 15px
            width: 6px
            height: 10px
            background-image: url("./img_design/arrow__down-blue.svg")
            background-size: contain
            background-position: center center
            background-repeat: no-repeat
            border-top: 0
            transition: 0.3s
        p
          color: $color-blue
        svg
          path
            fill: $color-blue
      &:nth-child(2), &:nth-child(3)
        svg
          width: 14px

.tooltip
  z-index: -1
  font-size: 11px
  line-height: 14px
  color: #5b5e6d
  text-align: center
  background: white
  box-shadow: 0 3px 10px rgba(0,0,0,.1)
  -webkit-transform: scale(.9)
  transform: scale(.9)
  opacity: 0
  right: 0
  -webkit-transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s cubic-bezier(.6,.2,.1,1) 0s,opacity .3s cubic-bezier(.6,.2,.1,1) 0s
  transition: opacity .3s ease 0s,transform .3s ease 0s,-webkit-transform .3s cubic-bezier(.6,.2,.1,1) 0s,opacity .3s cubic-bezier(.6,.2,.1,1) 0s
  &::after
    content: ""
    position: absolute
    right: 5px
    bottom: -4px
    width: 0
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-top: 8px solid white
.errorPage
  background: white
  height: 100vh
  @media (max-width: 640px)
    height: auto
.errorPage__tmp
  height: 100%
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  @media (max-width: 640px)
    height: auto
    margin: 50px auto
  img
    width: 60%
    @media (max-width: 640px)
      width: 100%
  p
    line-height: 46px
    font-size: 30px
    text-align: center
    color: #666666
    margin: 20px 0 0 0
    @media (max-width: 640px)
      font-size: 16px
      line-height: 25px
      padding: 0 20px
  a
    margin-bottom: 10px

.blog_post-contant
  margin: 70px 0
  h1
    font-weight: 600
    line-height: normal
    font-size: 45px
    text-align: center
    color: #313135
    margin: 0 auto 30px auto

.stars__block
  padding: 20px 0
  background: white
  .post-ratings
    display: flex
    align-items: center
    justify-content: flex-start
    color: #5b5e6d
    font-size: 11px
    width: 365px
    margin: 0 auto
    @media (max-width: 640px)
      flex-wrap: wrap
      width: auto
      justify-content: center
    img
      margin: 0 2px
      width: 16px
      &:last-of-type
        margin-right: 10px
.pages_wrapper-results
  margin-top: 60px
.search_results
  text-align: center
  font-size: 18px
  font-weight: 500
  margin: 0 auto 50px auto
  span
    color: $color-blue
.pagination
  display: flex
  align-items: center
  justify-content: center
  margin: 20px auto 50px auto
  .page-numbers
    font-size: 14px
    margin: 0 5px
    i
      font-size: 10px

.banner__limit-domains
  display: none
  align-items: center
  margin: 0 0 25px 0
  background: white
  padding: 0
  font-size: 14px
  border-top-right-radius: 6px
  box-shadow: 0 5px 30px rgba(91,94,109,.1)
  border-left: 2px solid $color-error
  border-bottom-right-radius: 6px
  border-top-left-radius: 2px
  border-bottom-left-radius: 2px
  max-height: 200px
  opacity: 1
  &.limitRegistration
    border-left-color: $color-blue
  >div
    padding: 17px 20px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
  &.fade_out
    max-height: 0
    opacity: 0
    transition: max-height 0.6s ease-out, opacity 0.3s ease 0.5s, margin 0.3s ease 0.5s
    padding: 0
    margin: 0
    overflow: hidden
  &.empty
    position: relative
    &:after
      content: ''
      left: 0
      border-radius: 6px
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px
      position: absolute
      display: block
      width: 100%
      height: 100%
      box-sizing: border-box
      background-color: rgba(255, 74, 81, 0.4)
      opacity: 0
      animation: pulse-ring 3.25s
      animation-iteration-count: 1
      z-index: 0
  a
    z-index: 1
    position: relative
    margin: 0 3px
  img
    cursor: pointer
    width: 10px
    transition: 0.2s
    margin-left: auto
    z-index: 1
    position: relative
    &:hover
      transform: rotate(180deg)
  &.free__limit-banner
    border-left-color: $color-progress
    display: flex
    >div
      justify-content: flex-start
    &.pdf_banner, &.pdf_banner-report
      display: none

@keyframes pulse-ring
  0%
    opacity: 1
  80%, 100%
    opacity: 0

.heateor_ss_sl_optin_container
  display: none