$text_color: #495c6a
$bg_color: #eef3fa
$blue_color: #0286bf
$logo_color-gray: #898c8e
$footer_bg-gray: #eef3fa

.wrapper
	max-width: 1280px
	width: 90%
	margin: 0 auto

main
	&.page
		padding: 20px 0

a
	text-decoration: none
	color: $blue_color
	transition: 0.2s
	&:hover
		color: $blue_color
		text-decoration: none
	&:focus
		text-decoration: none

@mixin placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

@include placeholder
	color: #898c8e
	font-weight: 100
	letter-spacing: 0.2px

.popup_loader
	width: 33px
	display: block
	margin: 0 auto

.monitoring__nav
	position: fixed
	height: 100vh
	left: 0
	top: 0
	padding-top: 0
	background: transparent
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14)
	z-index: 10
	-webkit-transition: all 300ms ease
	-o-transition: all 300ms ease
	transition: all 300ms ease
	@media (max-width: 1565px)
		width: 55px
		height: 100%
		overflow: visible
		padding-top: 65px
		z-index: 1
		.monitoring__nav-tab
			overflow: visible
			position: relative
			width: 100%
	@media (max-width: 1280px)
		width: 5%
	@media (max-width: 415px)
		width: 100%
		height: auto
		padding-top: 0
		position: relative
		display: flex
		justify-content: center
		box-shadow: none
		margin: -28px auto 30px auto
	&.active
		width: 55px
		@media (max-width: 1565px)
			width: 170px
		@media (max-width: 1280px)
			width: 5%
		.monitoring__nav-tab
			overflow: hidden
			background: transparent
			p
				display: flex
				position: absolute
				color: transparent
				left: 65px
				z-index: 10
				border-radius: 3px
				align-items: center
				justify-content: center
				width: auto
				line-height: 28px
				padding: 0 10px
				box-shadow: 0 0 7px rgba(0,48,40,.05)
				-webkit-transform: scale(.9)
				transform: scale(.9)
				opacity: 0
				height: 0
				-webkit-transition: opacity .1s ease 0s
				transition: opacity .1s ease 0s
			&.check-tab
				p
					width: 90px
			&.monitor-tab
				p
					width: 77px
			&:first-of-type
				width: 55px
				svg
					rect
						width: 302px
			&:hover
				p
					background: $blue_color
					color: white
					-webkit-transform: scale(1)
					transform: scale(1)
					opacity: 1
					height: auto
.monitoring__nav-tab
	height: 50px
	width: 140px
	display: flex
	align-items: center
	justify-content: flex-start
	border-left: 2px solid transparent
	cursor: pointer
	overflow: hidden
	transition: 0s
	@media (max-width: 1565px)
		&:hover
			p
				-webkit-transform: scale(1)
				transform: scale(1)
				opacity: 1
				height: auto
	@media (max-width: 1280px)
		width: 5%
	@media (max-width: 415px)
		border-left: 0
		border-bottom: 2px solid transparent
		height: 45px
		width: 45px
	&:hover
		background: rgba(24, 117, 240, 0.05)
		border-left-color: rgba(24, 117, 240, 0.05)
		svg
			path
				fill: #1687bd
	.img
		width: 55px
		display: flex
		align-items: center
		justify-content: center
		@media (max-width: 415px)
			width: 45px
	p
		font-size: 13px
		font-weight: 400
		line-height: 30px
		margin: 0 0 0 -5px
		width: 100px
		color: #999999
		-webkit-transition: all 500ms ease
		-o-transition: all 500ms ease
		transition: all 500ms ease
		@media (max-width: 1565px)
			display: flex
			position: absolute
			left: 65px
			z-index: 10
			background: $blue_color
			color: white
			border-radius: 3px
			align-items: center
			justify-content: center
			width: auto
			line-height: 28px
			padding: 0 10px
			box-shadow: 0 0 7px rgba(0,48,40,.05)
			-webkit-transform: scale(.9)
			transform: scale(.9)
			opacity: 0
			height: 0
			-webkit-transition: opacity .1s ease 0s,transform .4s ease 0s,-webkit-transform .4s cubic-bezier(.6,.2,.1,1) 0s,opacity .1s cubic-bezier(.6,.2,.1,1) 0s
			transition: opacity .1s ease 0s,transform .4s ease 0s,-webkit-transform .4s cubic-bezier(.6,.2,.1,1) 0s,opacity .1s cubic-bezier(.6,.2,.1,1) 0s
	&.active
		background: rgba(24, 117, 240, 0.05)
		border-left-color: #1687bd
		p
			color: #1687bd
			@media (max-width: 1565px)
				color: white
		svg
			path
				fill: #1687bd
		@media (max-width: 415px)
			border-left: 0
			border-bottom-color: #1687bd
	&.monitoring_navigation
		height: 65px
		box-shadow: 0 1px rgba(94,86,86,.05)
		.img
			svg
				width: 18px
				rect
					-webkit-transition: all 500ms ease
					-o-transition: all 500ms ease
					transition: all 500ms ease
		@media (max-width: 1565px)
			display: none
	&.domains-tab
		position: relative
		overflow: visible
		display: flex
		flex-direction: column
		height: auto
		@media (max-width: 1280px)
			width: 100%
		>div
			height: 50px
			width: 100%
			display: flex
			align-items: center
			justify-content: flex-start
		svg
			width: 14px
			path
				transition: 0.2s
		.arrow
			position: absolute
			transform: rotate(90deg)
			right: 9px
			width: 4px
		&.domains
			.monitoring__nav-domains
				max-height: 500px
	&.check-tab
		@media (max-width: 1565px)
			p
				width: 90px
		svg
			width: 10px
	&.audit-tab
		.monitoring
			display: none
		svg
			width: 14px
	&.monitor-tab
		.status
			display: none
		svg
			width: 14px
.home_outer-seo.banner__new
	box-shadow: 0 0 20px rgba(0, 20, 48, 0.16)
	background-image: url(/wp-content/themes/sitechecker/out/img/price_bg.svg)
	background-repeat: no-repeat
	background-size: 100% auto
	border: 2px solid #d5e1f3
.crawler_data-search.no_valid:after
	position: absolute
	top: -20px
	content: 'DNS lookup failed. Must be a valid URL'
	color: #f44336
	left: 0
	font-size: 11px
.limit__description>div ul li
	margin-bottom: 9px
	position: relative
	font-weight: 300
	font-size: 14px