.checkout__design
  background: #f7f8fc
  padding: 70px 0 0 0
  &.rank_page
    padding-bottom: 30px
    margin-bottom: 0
    .plural_counter, .single_counter
      line-height: 10px
    .pricing__block
      background: -moz-linear-gradient(top,#fff 0,#fff 42%,#f9fafd 42%,#f9fafd 100%)
      background: -webkit-linear-gradient(top,#fff 0,#fff 42%,#f9fafd 42%,#f9fafd 100%)
      background: linear-gradient(to bottom,#fff 0,#fff 42%,#f9fafd 42%,#f9fafd 100%)
    h2.title
      font-weight: 600
      font-size: 42px
      color: #000000
      text-align: center
      margin: 0 auto 50px auto
      @media (max-width: 640px)
        font-size: 34px
  h1
    font-weight: 600
    font-size: 42px
    color: #000000
    text-align: center
    margin: 0 auto 50px auto
    @media (max-width: 640px)
      font-size: 34px
input
  &#checkout__thread
    width: 410px
    height: 10px
    border-radius: 20px
    background: #c2cfe0
    border: none
    margin: 5px
    display: block
    padding: 0
.checkout__design-slider
  display: flex
  align-items: flex-end
  justify-content: center
  margin-bottom: 70px
  @media (max-width: 885px)
    flex-direction: column
    align-items: center
    justify-content: center
  @media (max-width: 640px)
    margin-bottom: 40px
  .slider.slider-horizontal
    width: 410px
    @media (max-width: 970px)
      width: 300px
  .slider-track
    height: 8px
    border-radius: 20px
    background: #C2CFE0
    box-shadow: none
  .slider-selection.tick-slider-selection
    background: $color-blue
    box-shadow: none
    border-radius: 20px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  .slider-tick-container
    .slider-tick
      &:first-of-type, &:last-of-type
        display: none
  .slider-tick
    background: #fff
    width: 1px
    height: 11px
    margin: 5px 0 0 0!important
    border: none
    box-shadow: none
    &.round
      border-radius: 0
    &.in-selection
      background: white
  .slider-handle
    border: 1px solid $color-blue
    background: white
    box-shadow: none
    position: relative
    background-image: url("./img_design/oval.svg")
    background-size: 10px
    background-position: center center
    background-repeat: no-repeat
    &:after
      position: absolute
      content: '5'
      top: -30px
      left: -30px
      width: 80px
      font-weight: 600
      font-size: 15px
      color: #334D6E
    &[aria-valuenow='5']
      &:after
        content: '1'
        left: 0
    &[aria-valuenow='10']
      &:after
        content: '2'
    &[aria-valuenow='15']
      &:after
        content: '5'
    &[aria-valuenow='20']
      &:after
        content: '10'
        width: 85px
    &[aria-valuenow='25']
      &:after
        content: '25'
        width: 90px
    &[aria-valuenow='30']
      &:after
        content: '50'
        width: 90px
    &[aria-valuenow='35']
      &:after
        content: '100'
        width: 95px
        left: -82px
    &[aria-valuenow='0'], &[aria-valuenow='40']
      &:after
        content: ''
  p
    font-size: 15px
    margin: 0 20px 0 0
    color: #334D6E
    @media (max-width: 970px)
      font-size: 13px
    @media (max-width: 885px)
      margin-bottom: 40px
      margin-right: 0

.plural_counter, .single_counter
  position: absolute
  top: -22px
  left: 50px
  width: 80px
  font-size: 15px
  color: #334D6E
  font-style: normal
  text-transform: lowercase
  @media (max-width: 768px)
    font-size: 13px
    top: -21px
    left: 38px


.pricing__slider
  position: relative
  #checkout__thread[value='5']
    & + .plural_counter
      display: none
      & + .single_counter
        display: block
  #checkout__thread[value='10']
    & + .plural_counter
      display: block
      left: 75px
      @media (max-width: 768px)
        left: 49px
      & + .single_counter
        display: none
  #checkout__thread[value='15']
    & + .plural_counter
      display: block
      left: 128px
      @media (max-width: 768px)
        left: 88px
      & + .single_counter
        display: none
  #checkout__thread[value='20']
    & + .plural_counter
      display: block
      left: 183px
      @media (max-width: 768px)
        left: 128px
      & + .single_counter
        display: none
  #checkout__thread[value='25']
    & + .plural_counter
      display: block
      left: 239px
      @media (max-width: 768px)
        left: 170px
      & + .single_counter
        display: none
  #checkout__thread[value='30']
    & + .plural_counter
      display: block
      left: 291px
      @media (max-width: 768px)
        left: 208px
      & + .single_counter
        display: none
  #checkout__thread[value='35']
    & + .plural_counter
      display: block
      left: 295px
      @media (max-width: 768px)
        left: 199px
      & + .single_counter
        display: none

.checkout__design-descript
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-left: 15px
  color: #DD4C3A
  font-size: 12px
  @media (max-width: 885px)
    margin-top: 10px
    margin-left: 0
  img
    margin-bottom: 5px
    @media (max-width: 885px)
      display: none
  span
    margin-bottom: 3px
    @media (max-width: 885px)
      margin-bottom: 0

.checkout__design-pricing
  display: flex
  align-items: flex-start
  justify-content: center
  margin-bottom: 85px
  @media (max-width: 640px)
    flex-wrap: wrap
.pricing__block
  width: 301px
  border-radius: 4px
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06)
  background: white
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 42%, #f9fafd 42%, #f9fafd 100%)
  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 42%,#f9fafd 42%,#f9fafd 100%)
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 42%,#f9fafd 42%,#f9fafd 100%)
  padding: 39px 30px 40px 30px
  font-size: 12px
  display: flex
  align-items: center
  flex-direction: column
  @media (max-width: 885px)
    width: 33%
    padding: 39px 20px 50px 20px
  @media (max-width: 640px)
    width: 301px
  .level__name
    font-weight: 600
    font-size: 16px
    color: #000000
    margin-bottom: 15px
  .level__descript
    font-size: 12px
    margin-bottom: 17px
    text-align: center
    color: #334D6E
  .level__cost
    font-size: 42px
    font-weight: 600
    color: #000000
    margin-bottom: 0
    position: relative
    i
      font-style: normal
    span
      font-size: 22px
    .pricing__sale
      position: absolute
      top: 0
      right: -30px
      display: none
      align-items: flex-end
      flex-direction: column
      color: #000000
      span
        font-size: 12px
        margin-right: -14px
        font-weight: 400
        position: relative
        &:after
          position: absolute
          content: ''
          top: 48%
          width: 118%
          height: 1px
          background: #dd4c3a8c
          left: -3px
  .level__month
    font-size: 11px
    color: #334D6E
    margin-bottom: 24px
  .btn
    margin: 0 auto 35px auto
    font-weight: 600
    font-size: 14px
    letter-spacing: 0.01em
    text-transform: none
    width: 160px
    height: 42px
    padding: 0
  .level__descriptions
    text-align: center
    .plural
      font-style: normal
      display: none
    .single
      font-style: normal
    p
      margin-bottom: 15px
      text-transform: lowercase
      b, strong
        text-transform: capitalize
    .scrollto
      display: block
      font-size: 11px
      color: $color-blue
      letter-spacing: 0.01em
      cursor: pointer
      transition: 0.2s
      margin-top: 25px
      &:hover
        color: $color-blue__hover
  &:nth-child(2)
    margin: 0 28px
    position: relative
    border-top-left-radius: 0
    border-top-right-radius: 0
    .most__popular
      position: absolute
      width: 100%
      top: -25px
      padding: 5px
      text-align: center
      border-top-left-radius: 4px
      border-top-right-radius: 4px
      background: #2fd479
      color: #fff
      font-weight: 500
      font-size: 10px
    .btn
      background: #2fd479
      box-shadow: 0 3px 1px -2px rgba(47,212,121,.2), 0 2px 2px 0 rgba(47,212,121,.14), 0 1px 5px 0 rgba(47,212,121,.12)
      transition: 0.2s
      &:hover
        background: #0bc85f radial-gradient(circle,transparent 1%,#0bc85f 1%) center/15000%
        box-shadow: 0 3px 1px -2px rgba(11,200,95,.2), 0 2px 2px 0 rgba(11,200,95,.14), 0 1px 5px 0 rgba(11,200,95,.12)
    @media (max-width: 885px)
      margin: 0 20px
    @media (max-width: 640px)
      margin: 50px 0 23px 0

.checkout__design-testimonial
  width: 100%
  background: $color-blue
  padding: 78px 0 64px 0
  text-align: center
  @media (max-width: 640px)
    padding: 45px 0
  .wrapper
    width: 60%
    @media (max-width: 1250px)
      width: 70%
    @media (max-width: 768px)
      width: 90%
  .owl-theme
    .owl-dots
      .owl-dot
        &.active, &:hover
          span
            background: white
        span
          margin: 15px 7px 0 7px
          background: rgba(255, 255, 255, 0.55)
          transition: 0.2s
  p
    &:first-of-type
      font-style: italic
      font-weight: 300
      font-size: 18px
      color: white
      margin-bottom: 32px
      @media (max-width: 768px)
        br
          display: none
      @media (max-width: 640px)
        font-size: 14px
    &:nth-child(2)
      font-size: 18px
      color: white
      margin-bottom: 0
      @media (max-width: 640px)
        font-size: 14px
.checkout__stars
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 27px
  img
    margin-right: 13px
    width: 15px!important
    &:last-of-type
      margin-right: 0
.checkout__design_pricingAll
  background: white
  padding: 73px 0
  @media (max-width: 640px)
    padding-top: 50px
.pricingAll_block
  width: 100%
  tr
    &.pricingAll_block-tr
      td
        background: #F9FAFD
        padding: 11px 14px
        font-size: 12px
        color: #334D6E
        border: none
        &:first-of-type
          border-top-left-radius: 4px
          border-bottom-left-radius: 4px
          @media (max-width: 640px)
            border-radius: 4px
        &:last-of-type
          border-top-right-radius: 4px
          border-bottom-right-radius: 4px
          @media (max-width: 640px)
            display: none
        &:nth-child(3)
          background: #eff8f2
          @media (max-width: 640px)
            display: none
        &:nth-child(2)
          @media (max-width: 640px)
            display: none
        span
          color: $color-blue
          cursor: pointer
          transition: 0.2s
          &:hover
            color: $color-blue__hover
    @media (max-width: 640px)
      display: flex
      flex-wrap: wrap
      width: 100%
    &.tableScroll
      position: fixed
      top: 0
      opacity: 0
      z-index: -1
      @media (max-width: 640px)
        display: none!important
      &.show
        opacity: 1
        z-index: 1
        td
          &:nth-child(3)
            background: #f7fffa
      td
        background: white
        border: none
        padding: 20px 14px 0 14px
        line-height: 15px
        vertical-align: top
        &:first-of-type
          background: transparent
        &:nth-child(3)
          background: #f7fffa
          transition: background-color 0.5s ease-in-out
          .btn
            background: #2fd479
            box-shadow: 0 3px 1px -2px rgba(47,212,121,.2), 0 2px 2px 0 rgba(47,212,121,.14), 0 1px 5px 0 rgba(47,212,121,.12)
            transition: 0.2s
            &:hover
              background: #0bc85f radial-gradient(circle,transparent 1%,#0bc85f 1%) center/15000%
              box-shadow: 0 3px 1px -2px rgba(11,200,95,.2), 0 2px 2px 0 rgba(11,200,95,.14), 0 1px 5px 0 rgba(11,200,95,.12)
        .pricing__title
          margin-bottom: 15px
    &:first-of-type
      td
        vertical-align: top
        border: none
        padding: 20px 14px 0 14px
        @media (max-width: 640px)
          padding: 20px 5px 0 5px
        &:nth-child(3)
          position: relative
          .most__popular
            position: absolute
            width: 100%
            left: 0
            top: -25px
            padding: 5px
            text-align: center
            border-top-left-radius: 4px
            border-top-right-radius: 4px
            background: #2fd479
            color: #fff
            font-weight: 500
            font-size: 10px
          .btn
            background: #2fd479
            box-shadow: 0 3px 1px -2px rgba(47,212,121,.2), 0 2px 2px 0 rgba(47,212,121,.14), 0 1px 5px 0 rgba(47,212,121,.12)
            transition: 0.2s
            &:hover
              background: #0bc85f radial-gradient(circle,transparent 1%,#0bc85f 1%) center/15000%
              box-shadow: 0 3px 1px -2px rgba(11,200,95,.2), 0 2px 2px 0 rgba(11,200,95,.14), 0 1px 5px 0 rgba(11,200,95,.12)
    &:last-of-type
      td
        border: none
  td
    text-align: center
    padding: 25px 14px
    font-size: 14px
    font-weight: 500
    color: #334D6E
    border-bottom: 1px solid #F9FAFD
    @media (max-width: 640px)
      padding: 15px 5px
    img
      width: 21px
      height: 21px
    &:first-of-type
      text-align: left
      @media (max-width: 640px)
        width: 100%
        display: block
    &:nth-child(2), &:nth-child(3), &:nth-child(4)
      width: 20%
      @media (max-width: 640px)
        width: 32%
        display: block
    &:nth-child(3)
      background: #f7fffa
  .price
    font-weight: 600
    font-size: 32px
    color: #000000
    display: inline-block
    @media (max-width: 640px)
      font-size: 20px
    i
      font-style: normal
    span
      font-size: 22px
      @media (max-width: 640px)
        font-size: 15px
  p
    margin: 0
    &.title
      font-weight: 600
      font-size: 14px
      color: #000000
      @media (max-width: 640px)
        font-size: 12px
        text-align: center
  .pricing__title
    font-weight: 600
    font-size: 16px
    color: #000000
    margin-bottom: 10px
    @media (max-width: 640px)
      font-size: 14px
  .pricing__descript
    font-size: 10px
    margin-bottom: 18px
    font-weight: 400
    @media (max-width: 640px)
      display: none
  .btn
    margin: 0 auto 35px auto
    width: 126px
    height: 33px
    font-size: 14px
    text-transform: none
    font-weight: 600
    letter-spacing: 0.01em
    padding: 0
    @media (max-width: 640px)
      width: auto
      height: auto
      font-size: 10px
      margin-bottom: 15px
      padding: 5px 9px
  .question
    position: relative
    background: none
    border: none
    padding: 0
    margin: 0 0 0 5px
    svg
      width: 11px
      cursor: pointer
      path
        fill: #334d6e
    &:hover
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 180px
        bottom: 23px
        left: -7px
        font-weight: 500
        padding: 5px
        border-radius: 6px
        @media (max-width: 768px)
          left: auto
          right: -7px
        &:after
          left: 5px
          @media (max-width: 768px)
            left: auto
            right: 5px
.pricingAll_header
  font-weight: 600
  font-size: 22px
  color: #000000
  @media (max-width: 640px)
    font-size: 12px
    padding-bottom: 50px
    text-align: center

.checkout__design_footer
  footer
    display: none

.checkout__popup_container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100
  background: rgba(250,250,250,.9)
  display: none
  align-items: center
  justify-content: center
.checkout__popup
  width: 500px
  box-shadow: 0 2px 5px rgba(0,0,0,.25)
  background: #fff
  border-radius: 6px
  display: flex
  flex-direction: column
  padding: 0
  margin: 0
  transition: .4s
  @media (max-width: 640px)
    width: 300px
    height: auto
.checkout__popup-close
  margin: 13px 13px 0 auto
  width: 13px
  display: block
  cursor: pointer
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition: transform .25s linear
  -webkit-transition: -webkit-transform .25s linear
  &:hover
    transform: rotate(180deg)
.checkout__popup-header
  padding: 5px 40px 30px 40px
  display: flex
  align-items: flex-start
  @media (max-width: 640px)
    padding: 0 15px 20px 15px
  img
    width: 66px
    margin-right: 15px
    @media (max-width: 640px)
      width: 48px
      margin-right: 10px
  div
    p
      letter-spacing: 0.2px
      &:first-of-type
        font-size: 19px
        font-weight: 600
        margin-bottom: 5px
        @media (max-width: 640px)
          font-size: 16px
          margin-bottom: 0
      &:nth-child(2)
        font-size: 12px
        margin-bottom: 0
        @media (max-width: 640px)
          font-size: 9px

.checkout__popup-body
  padding: 0 40px
  display: flex
  flex-direction: column
  @media (max-width: 640px)
    padding: 0 15px
  .select2-container--default
    margin-bottom: 20px
    width: 48%!important
    @media (max-width: 640px)
      width: 100%!important
      display: none
    &.select2-container--open
      .select2-selection--single
        .select2-selection__arrow
          b
            border-color: transparent transparent #c7c7c7 transparent
    .select2-selection--single
      border: 1px solid #ebf0f6
      border-radius: 3px
      height: 40px
      &:focus
        outline: 0
      .select2-selection__arrow
        height: 40px
        b
          border-color: #c7c7c7 transparent transparent transparent
          margin-left: -9px
      .select2-selection__rendered
        font-size: 13px
        line-height: 40px
        padding: 0 20px 0 15px
        &:focus
          outline: 0
  input, textarea
    border: 1px solid #ebf0f6
    border-radius: 3px
    font-size: 13px
    padding: 5px 15px
    height: 40px
    margin-bottom: 15px
    transition: 0.3s
    &:focus
      border-color: #4f8df9
      outline: 0
      @include placeholder
        color: transparent
    &.checkout__tel, &.checkout__companySite
      @media (max-width: 640px)
        display: none
  textarea
    width: 100%
    margin-bottom: 0
    padding: 10px 15px
    height: 112px
    resize: none
  .btn
    margin: 20px 0 30px auto
    text-transform: none
    padding: 9px 25px
    font-size: 12px
    letter-spacing: 0.2px
    width: 82px
    height: 32px
    img
      height: 10px
      margin: 0 auto
      display: none
    &.error
      background: $color-error
      box-shadow: 0 3px 1px -2px rgba(255, 75, 85,.2), 0 2px 2px 0 rgba(255, 75, 85,.14), 0 1px 5px 0 rgba(255, 75, 85,.12)
  div
    display: flex
    align-items: flex-start
    justify-content: space-between
    @media (max-width: 640px)
      flex-wrap: wrap
    select, input
      width: 48%
      @media (max-width: 640px)
        width: 100%
    &.validation
      position: relative
      width: 48%
      &.error
        select, input, textarea
          border-color: $color-error
        p
          display: block
      &.validation_email, &.validation_message
        width: 100%
      select, input, textarea
        width: 100%
      p
        display: none
        position: absolute
        bottom: 2px
        left: 16px
        margin: 0
        font-size: 8px
        font-weight: 500
        color: $color-error

.select2-container--default
  .select2-search--dropdown
    padding: 0
    .select2-search__field
      border: 1px solid #ebf0f6
      font-size: 13px
      height: 36px
      border-top: 0
      border-bottom: 0
      padding: 4px 15px
      &:focus
        outline: 0
        border-color: #ebf0f6
.select2-dropdown
  border: 1px solid #ebf0f6
#select2-contact_tel-results, #select2-contact_employees-results, #select2-contact_industry-results, #select2-contact_department-results, #select2-contact_job-results
  box-shadow: none
  border-top-left-radius: 0
  border-top-right-radius: 0
  .select2-results__option
    text-align: left
    padding: 5px 15px

.checkout__faq
  background: #f7f8fc
  padding: 70px 0
  .wrapper
    width: 60%
    @media (max-width: 1250px)
      width: 70%
    @media (max-width: 768px)
      width: 90%
.checkout__faq-title
  font-weight: 600
  font-size: 42px
  color: #000000
  margin-bottom: 50px
  text-align: center
  @media (max-width: 640px)
    font-size: 32px
.checkout__faq-body
  .faq
    display: flex
    flex-direction: column
    margin-bottom: 40px
    .title
      font-weight: 600
      font-size: 16px
      color: #000000
      margin-bottom: 10px
    .description
      font-weight: normal
      font-size: 15px
      color: #334D6E
      margin-bottom: 0