.new_statistic
  background: #eef3fa
  .crawler_breadcrumbs
    margin-bottom: 7px
  .crawler-statistic
    margin: 0
    width: 100%
    background: transparent
    align-items: flex-end
  .crawler-statistic-about
    margin: 0 0 30px 0
  .statistic_export
    display: block
    background: none
    color: #485b6a
    font-size: 13px
    font-weight: 400
    height: auto
    padding: 0
    text-align: right
    .fa
      margin-right: 5px
    &:hover
      color: #1e86bf
  .crawler-statistic-status
    span
      font-weight: 300
      margin-left: 2px
.static__flex
  display: flex
  justify-content: space-between
  align-items: flex-start
  .crawler-statistic__data
    background: #f9f9f9
  .crawler-statistic
    width: 300px
    padding: 0
    display: block
    box-shadow: 0 0 7px rgba(0,48,40,.05)
    margin-right: 20px
  .perm-table
    width: 955px
    .table_data
      box-shadow: 0 0 7px rgba(0,48,40,.05)
    .table-bordered
      border: 0
    #pageTable>thead>tr>th:nth-child(5), #pageTable>tbody>tr>td:nth-child(5)
      border-right: 0
    #pageTable>tbody>tr:last-of-type>td
      border-bottom: 0
    #pageTable>tbody>tr>td.table-loading
      text-align: center
  .crawling__header
    padding: 10px 20px
    box-sizing: border-box
    width: 100%
    background-color: #b4c7e2
    color: #fff
    font-family: "Roboto",sans-serif
    font-size: 16px
    font-weight: 600
  .crawler-statistic__block
    a
      font-size: 12px
      padding: 3px 20px
      border: none
      &.suborder
        font-size: 12px
        padding-left: 40px
        i
          font-size: 12px!important
          margin-right: 0
      span
        &:first-of-type
          padding-right: 10px
  #pageTable>tbody>tr>td:first-of-type, #pageTable>thead>tr>th:first-of-type
    padding-left: 20px
  #pageTable>thead>tr>th
    padding: 10px 15px
    background: #f9f9f9
  #pageTable>tbody>tr>td:first-of-type a
    font-size: 14px
  #pageTable>tbody>tr>td:nth-child(2)
    width: 11%
  #pageTable>tbody>tr>td:nth-child(3)
    width: 10%
  #pageTable>tbody>tr>td:first-of-type
    width: 45%
  #pageTable>tbody>tr>td:nth-child(4) button
    background: transparent
    color: #1e86bf
    height: 17px
    font-size: 12px
    padding: 0 0 0 20px
    margin: 0 0 3px 0
    text-align: left
    &:hover
      background: none
      color: #1e86bf
      text-decoration: underline
    &:first-of-type
      margin-top: 3px
  .sorting_content
    span
      position: relative
      .tooltip
        font-size: 11px
        line-height: 14px
        color: #485b69
        z-index: -1
        -webkit-transform: scale(0.9)
        transform: scale(0.9)
        opacity: 0
        height: 0
        -webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
    &:hover
      .tooltip
        -webkit-transform: scale(1)
        transform: scale(1)
        z-index: 11
        opacity: 1
        width: 200px
        bottom: 42px
        left: 0
        background: #ffffff
        box-shadow: 0 0 7px rgba(0,48,40,.05)
        padding: 10px
        border-radius: 2px
        height: auto
        &::after
          content: ""
          position: absolute
          left: 20px
          bottom: -5px
          width: 0
          height: 0
          border-left: 8px solid transparent
          border-right: 8px solid transparent
          border-top: 8px solid white
  #pageTable>thead>tr>th
    &:nth-child(4), &:nth-child(5)
      .sorting_content
        &:hover
          .tooltip
            bottom: 25px
  #pageTable>tbody>tr>td, #pageTable>thead>tr>th
    border: 1px solid #ededed
    &:first-of-type
      border-left: 0
    &:last-of-type
      border-right: 0
  #pageTable>thead>tr>th
    border-bottom: 0
    border-top: 0

.crawler-statistic
  .btns
    display: none
    align-items: center
    a, button
      margin-left: 5px
      display: flex
      align-items: center
      justify-content: center
      background: #ffffffc4
      padding: 0 8px
      font-size: 11px
      min-height: 29px
      border-radius: 2px
      transition: 0.2s
      position: relative
      cursor: pointer
      border: none
      &.unlink
        pointer-events: none
        background: #f9f9f9
        color: #9e9e9e
      &.changes_btn
        img
          width: 10px
          margin-right: 3px
      &.deletecrawl_btn
        color: #ff4759
      &.statistic_export_sitemap_xml
        width: 160px
        img
          width: 11px
          margin-top: -2px
          margin-right: 4px
      span
        margin-top: 1px
      .tooltip
        font-size: 11px
        line-height: 14px
        color: #485b69
        z-index: -1
        -webkit-transform: scale(0.9)
        transform: scale(0.9)
        opacity: 0
        height: 0
        -webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
      &:hover
        background: rgb(212, 228, 250)
        .tooltip
          -webkit-transform: scale(1)
          transform: scale(1)
          z-index: 11
          opacity: 1
          width: 95px
          bottom: 38px
          right: 0
          background: #ffffff
          box-shadow: 0 0 7px rgba(0,48,40,.05)
          padding: 10px
          border-radius: 2px
          height: auto
          &::after
            content: ""
            position: absolute
            right: 5px
            bottom: -5px
            width: 0
            height: 0
            border-left: 8px solid transparent
            border-right: 8px solid transparent
            border-top: 8px solid white
      img
        width: 14px
      &.monitoring_btn
        min-width: 90px
        padding: 5px 10px
        font-size: 11px
        border-radius: 2px
        color: #0286bf
        display: flex
        align-items: center
        justify-content: center
        &.unlink
          color: #a1a1a1
        img
          margin-right: 3px
          width: 14px
          margin-top: 0
      &.tree_btn
        img
          margin-right: 3px
          width: 16px
          margin-top: 0
    button
      width: 103px
      color: #3286bf
      font-size: 11px

.container .container__results
  box-shadow: none!important

.row--cprogress, .responses-wrapper, .container .container__results .container__group-header, .container .container__results .container__result
  box-shadow: 0 0 7px rgba(0,48,40,0.05)

.home_outer-seo
  width: 100%
  padding: 35px 50px
  margin: 15px 0
  overflow: hidden
  box-shadow: 0 0 7px rgba(0,48,40,0.05)
  display: flex
  align-items: center
  background: white
  img, svg
    width: 60px
    margin-right: 40px
  > div
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    > div
      width: 60%
      text-align: left
      h3
        line-height: 20px
        color: #495c6a
        letter-spacing: 0
        font-weight: 500
        margin: 0 auto 15px 0
        font-size: 17px
      p
        color: #495c6a
        font-weight: 400
        line-height: 18px
        text-align: left
        font-size: 13px
        margin-top: 6px
        margin-bottom: 0
    > a
      margin: 0
      display: flex
      align-items: center
      justify-content: center
      width: auto
      background: #0286bf
      color: white
      height: 35px
      font-weight: 400
      font-size: 13px
      padding: 22px 45px
      border-radius: 2px
      transition: 0.2s
      letter-spacing: 0.2px
      &:hover
        color: #fff
        background: #036f9d
  &.home_outer-error
    flex-direction: column
    padding: 35px
    margin: 0
    img, svg
      margin: 0 0 20px 0
    >div
      flex-direction: column
      align-items: center
      justify-content: center
      >div
        width: 100%
        h3
          text-align: center
        p
          text-align: center
          margin-bottom: 20px

.home_outer-copywritely
  padding: 20px 50px
  > div
    width: 100%
    > div
      h3
        line-height: 20px
        margin: 0 auto 9px 0
        font-size: 17px
      p
        line-height: 15px
        text-align: left

.home_outer-errors
  > div
    a
      padding: 22px 30px

.popup__export
  margin-left: 5px
  display: flex
  align-items: center
  justify-content: center
  background: #f2f7fb
  padding: 0 8px
  font-size: 11px
  border-radius: 2px
  transition: .2s
  position: relative
  cursor: pointer
  color: #0286bf
  border: 1px solid #b4c9e2
  height: 32px
  i
    margin-right: 3px

.popup__flex
  display: flex
  align-items: center
  justify-content: space-between
  margin: 15px 0 10px 0