.overview_todo
  background: white
  box-shadow: 0 10px 15px #FAFAFA
  padding: 25px 35px 50px 35px
  border-radius: 6px
  > .title
    font-weight: 500
    font-size: 18px
    color: #000000
    margin-bottom: 12px
.overview_todo-container
  display: flex
  align-items: flex-start
  .title
    font-weight: 500
    line-height: 30px
    font-size: 14px
    color: #5B5E6D
    margin-bottom: 7px
.overview_todo-labels
  width: 50%
  padding-right: 50px
.messages__todo, .connectedSortable
  display: block
  min-height: 311px
  span
    display: inline-block
    padding: 3px 9px 2px 9px
    margin: 0 10px 10px 0
    border-radius: 3px
    color: #5B5E6D
    font-size: 9px
    text-transform: uppercase
    letter-spacing: 0.5px
    font-weight: 600
    cursor: pointer
    &:hover
      text-decoration: none
      color: white
      transition: 0.2s
    &.red
      background: rgba(255, 75, 85, 0.8)
      color: white
      order: 0
      &:hover
        background: rgba(255, 75, 85, 1)
    &.yellow
      background: rgba(255, 179, 0, 0.8)
      color: white
      order: 1
      &:hover
        background: rgba(255, 179, 0, 1)
    &.blue
      background: #1a83ff
      color: white
      order: 2
      &:hover
        background: #0876f8
.messages__todo
  padding-top: 15px
.overview_todo-grab
  width: 50%
.overview-grab-btns
  display: flex
  align-items: center
  justify-content: flex-end
  .btn
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    font-weight: 600
    line-height: normal
    font-size: 9px
    letter-spacing: 1px
    padding: 0
    height: 24px
    width: 70px
    box-shadow: none
    transition: 0.2s
    img
      width: 30px
      height: 20px
      display: none
    &.sending
      img
        display: block
      span
        display: none
    &:hover
      box-shadow: none
      background: $color-blue__hover
    //&:first-of-type
    //  background: transparent
    //  color: #B3B3B3
    //  margin-right: 10px
    //  &:hover
    //    color: $color-blue__hover
    //    background: transparent
    //    box-shadow: none

.grab__container
  background: #F2F9FF
  border: 1px dashed rgba(178, 178, 178, 0.7)
  box-sizing: border-box
  border-radius: 6px
  width: 100%
  padding: 15px 20px
  margin-bottom: 20px
  position: relative
  &.not_empty
    &:before
      display: none
  &:before
    position: absolute
    content: 'Grab and move issues over here'
    font-weight: 600
    line-height: 30px
    font-size: 12px
    text-align: center
    letter-spacing: 1px
    text-transform: uppercase
    color: rgba(91, 94, 109, 0.4)
    top: 43%
    left: 29%