/* variables */
$widescreen: "only screen and (min-width: 1300px)"
$bigwidescreen: "only screen and (min-width: 1500px)"

$main_text: #495c6a
$header_blue: #0286bf
$header_logo-grey: #898c8e

input:focus,
button:focus,
input[type="checkbox"]:focus
	outline: none

.cont
	min-height: 100%
	position: relative

.landing
	width: 70%
	margin: 0 auto

	h1
		font-weight: bold
		text-align: center

	img
		margin: 0 auto
		display: block
		max-width: 100%

#result-container
	display: none
	padding-top: 22px

.disabled-text
	color: rgba(0, 0, 0, 0.3)

.description
	color: #989ba0

.row
	&--material
		display: flex
		justify-content: center
		align-items: center
		padding: 20px 15px
	&--cprogress
		padding: 35px 56px
		background-color: #f9f9f9
	&--hidden
		display: none

.expand,
.expand-rows,
.expand-headers
	cursor: pointer
	text-align: left
	&--opened
		img
			transform: rotate(180deg)

	img
		margin-left: 3px
		width: 8px

.expand-fix
	.message
		cursor: default
		margin: 7px 0
		padding: 0 8px
		color: black
		background-color: #f7f7f7
		.urls
			margin: 5px
			padding: 0 5px
			display: inline-block
			word-break: break-word
			background-color: #fff
			> div:nth-child(n+2)
				border-top: 1px #ccc dashed

	a:hover
		color: #4caf50

.tab
	margin-left: 20px

#faviconDiv
	margin-left: 0
	text-align: center
	&.active
		margin-left: -50px

	img
		max-width: 80px

.icon
	&--graph
		height: 17px
	&--arrow-right
		margin: 0 3px 3px
		width: 5px
	&--arrow-down
		display: block
		margin: 0 auto
		height: 5px
	&--unlink
		width: 14px

.statusHtml
	display: inline-block

th
	position: relative

	.info-tooltip
		display: inline
		vertical-align: top
		margin-left: 4px
		padding: 0 4.5px
		border: 1px solid #999
		border-radius: 3px
		color: #999
		line-height: 11px
		font-size: 0.65em
		font-weight: normal
		cursor: pointer

.code
	&--clear
		padding-bottom: 0 !important
		border-bottom: none !important
		color: black
	&--error
		color: #da5252
	&--warning
		color: #ffc107
	&--ok
		color: #4caf50

.mobile-preview-wrapper
	padding-bottom: 46px

	.mobile-preview
		margin: 0 auto
		padding-top: 116px
		padding-left: 24px
		width: 372px
		height: 754px
		background-image: url("../img/iphone_320.png")
		background-repeat: no-repeat

.cprogress__loader
	position: absolute
	top: 10px
	left: 67px
	z-index: 2
	border: 5px solid #b4c7e2
	border-top: 5px solid #0286bf
	border-radius: 50%
	width: 50px
	height: 50px
	animation: spin 1s linear infinite
	&--image
		position: static
		top: 0
		left: 0
		margin-left: 15px

	@keyframes spin
		0%
			transform: rotate(0deg)
		100%
			transform: rotate(360deg)

.highlight-row
	animation-duration: 1s
	animation-fill-mode: forwards
	animation-iteration-count: 2
	animation-name: highlightRow
	animation-timing-function: ease

div.tooltip-inner
	text-align: left
	color: black
	border: 1px solid #b4c7e2
	border-radius: 0
	background-color: white
	max-width: 300px
	word-wrap: break-word

@keyframes highlightRow
	0%
		background-color: rgba(180, 199, 226, 0)
	50%
		background-color: rgba(180, 199, 226, 0.3)
	100%
		background-color: rgba(180, 199, 226, 0)

.form-group
	transition: margin-top 500ms ease
	&--executed
		margin-top: 22px

.container
	position: relative
	margin: 0 auto
	padding: 0
	width: 100%
	transition: width 500ms ease

	.container__left-col
		float: left
		width: 300px
		height: auto
		box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)
		&--sticky
			position: fixed
			top: 0
			float: none
		&--bottom-sticked
			position: absolute
			bottom: 165px
			float: none

	.container__right-col
		width: 960px
		height: auto
		min-height: 45vh
		margin-left: 320px
		margin-bottom: 50px
		transition: width 500ms ease

	.container__main-header
		display: flex
		align-items: center
		padding: 17px 20px
		box-sizing: border-box
		width: 100%
		height: 36px
		background-color: #b4c7e2
		color: #fff
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: 600

	#footerGroup
		margin: 0 auto 20px auto
		display: block
		text-align: center
		cursor: default
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		li
			text-align: left

		#features
			width: 100%
			display: table
			padding: 20px 5px
			position: relative
			background-color: #e0e7ee

			> div
				position: relative
				display: table-cell
				vertical-align: top
				z-index: 10
			.block
				width: 24.5%
				padding: 0 4vw
				text-align: center
				h3
					color: $header_blue
					font-size: 16px
					font-weight: 500
				img
					height: 4em
			.vline
				height: 100%
				&::after
					content: ' '
					position: absolute
					height: 100%
					width: 1px
					background: #b3d3e5
					top: 0
					right: 0

		.faq
			width: 70%
			margin: 0 auto
			text-align: left
			div
				font-family: Roboto
				font-size: 36px
				text-align: center
				font-weight: 700
			h4
				font-size: 20px
				margin-bottom: 0
				font-weight: 700
				color: $header_blue


		#info
			width: 80%
			margin: 4vw auto 0
			> div
				width: 100%
				margin-bottom: 4vw
				display: flex
				justify-content: center

				> div
					display: inline-block
					vertical-align: top
			.content
				width: 36%
				position: relative
				text-align: left
				h2
					position: relative
					padding-bottom: 0.8vw
					margin-bottom: 1vw
					margin-top: 10px
					font-size: 18px
					&::before
						content: ' '
						height: 1px
						background: $header_blue
						position: absolute
						bottom: -0.2vw
						width: 200%
					&::after
						width: 6vw
						height: 6vw
						display: block
						background: white
						content: attr(data-num)
						position: absolute
						border-radius: 50%
						line-height: 6vw
						text-align: center
						border: 1px solid $header_blue
						bottom: -3vw
			.screenshot
				width: 50%
				z-index: 10
				position: relative
				box-shadow: 0 3px 21px rgba(0, 0, 0, 0.2)
				img
					width: 100%
			div.left
				.content
					margin-left: 8%
					margin-right: 4%
					h2
						&::after
							left: -8vw
						&::before
							left: -7vw
			div.right
				.screenshot
					order: 1
				.content
					margin-left: 4%
					margin-right: 8%
					order: 2
					h2
						&::after
							right: -8vw
						&::before
							right: -7vw

	.container__results
		.question
			height: 18px
			cursor: pointer
			opacity: 0.5
			position: absolute
			right: -25px
			top: 3px
			&:hover
				opacity: 1

		.container__group-header
			display: flex
			align-items: center
			padding: 0 20px
			width: 100%
			height: 46px
			background-color: #f5f5f6
			color: #36467d
			font-family: 'Roboto', sans-serif
			font-size: 16px
			font-weight: 600

		.container__header
			display: flex
			position: relative
			align-items: center
			padding: 0 20px
			width: 100%
			height: 46px
			background-color: #f9f9f9
			color: #323540
			font-family: 'Roboto', sans-serif
			font-size: 14px
			font-weight: 700

		.container__result
			display: none
			width: 100%
			background: #fff

			.result
				display: none
				width: 100%

				.result__row
					display: flex
					align-items: flex-start
					padding: 20px
					border-bottom: 1px solid #e7e9ea
					&[data-target="107"] .expand
						padding-top: 10px
					&:last-child
						border-bottom: none
					&--snippet
						flex-direction: column

						.snippet__wrapper
							padding-left: 16px
							border-left: 1px solid #d3e1f9
							font-family: arial, sans-serif

							.snippet__title
								display: block
								width: 600px
								overflow: hidden
								white-space: nowrap
								color: #1a0dab
								font-size: 16px
								line-height: 19.2px
								font-family: inherit
								text-decoration: none
								&:hover
									text-decoration: underline

							.snippet__url
								margin-bottom: 1px
								width: 600px
								color: #006621
								line-height: 16px
								font-size: 13px
								font-family: inherit

							.snippet__description
								width: 600px
								color: #545454
								line-height: 16px
								overflow: hidden
								font-size: 13px
								font-family: inherit
								&--error
									color: #da5252

					.result__icon-wrapper
						display: flex
						flex-shrink: 0
						align-items: center
						justify-content: center
						width: 19px
						margin-top: 4px
						margin-right: 20px

						.result__icon
							&--ok
								width: 15px
								margin-top: 3px
							&--warning
								width: 19px
							&--error
								width: 12px
								margin-top: 3px
							&--notice,
							&--info
								width: 17px

					.result__title
						flex-shrink: 0
						margin-right: 60px
						color: #323540
						font-family: 'Roboto', sans-serif
						font-size: 14px
						font-weight: normal
						line-height: 24px
						width: 100px
						position: relative
						text-align: left

					.result__content
						flex-grow: 1
						overflow-x: auto
						font-family: 'Roboto', sans-serif
						font-size: 14px
						font-weight: normal
						line-height: 24px
						text-align: left
						&--break
							margin-top: 20px
							width: 100%
						&--headers
							padding-left: 198px

						.results-table
							width: 100%
							text-align: left
							&.images.hidden-rows
								tr:not(.expand):nth-child(n+7)
									display: none
							&.favicons
								overflow: hidden
							&.favicons.hidden-rows
								tr:not(.expand):nth-child(n+5)
									display: none
							&.internal.hidden-rows
								tr:not(.expand):nth-child(n+12)
									display: none
							&.external.hidden-rows
								tr:not(.expand):nth-child(n+12)
									display: none
							&.images
								td
									&:last-child
										min-width: 40px

							tr
								&:first-child
									td
										padding-top: 0
								&:last-child
									td
										padding-bottom: 0
										border-bottom: none

								th,
								td
									padding: 15px 3px
									border-bottom: 1px solid #e7e9ea
									vertical-align: top
									&:first-child
										padding-left: 0
									&:last-child
										padding-right: 0

								th
									color: darkblue

			.loader
				padding: 15px

				.animated-background
					position: relative
					overflow: hidden
					height: 96px
					animation-duration: 6s
					animation-fill-mode: forwards
					animation-iteration-count: infinite
					animation-name: placeHolderShimmer
					animation-timing-function: linear
					background: #f6f7f8
					background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%)
					background-size: 800px 104px
					&--nodata
						animation: none
						&::before
							position: absolute
							top: 0
							left: 0
							z-index: 1
							width: 18px
							height: 18px
							background-image: url("../img/no-data.svg")
							content: ''
						&::after
							position: absolute
							top: 32px
							right: 200px
							z-index: 1
							color: #c3c4c7
							font-family: 'Roboto', sans-serif
							font-size: 24px
							font-weight: 600
							content: 'NO DATA FOUND'
						.background-masker
							&.lvl-0
								display: block !important

					@keyframes placeHolderShimmer
						0%
							background-position: -1050px 0
						100%
							background-position: 1400px 0

					.background-masker
						position: absolute
						background: #fff

						&.lvl-0
							display: none
							top: 0
							left: 0
							width: 12px
							height: 12px

						&.lvl-1-1,
						&.lvl-1-2,
						&.lvl-1-3
							top: 0
							height: 12px

						&.lvl-1-1
							left: 12px
							width: 20px

						&.lvl-1-2
							left: 160px
							width: 40px

						&.lvl-1-3
							left: 350px
							width: 100%

						&.lvl-2
							top: 12px
							left: 0
							width: 100%
							height: 20px

						&.lvl-3-1,
						&.lvl-3-2
							top: 32px
							height: 8px

						&.lvl-3-1
							left: 0
							width: 200px

						&.lvl-3-2
							left: 620px
							width: 100%

						&.lvl-4
							top: 40px
							width: 100%
							height: 5px

						&.lvl-5-1,
						&.lvl-5-2
							top: 45px
							height: 8px

						&.lvl-5-1
							left: 0
							width: 200px

						&.lvl-5-2
							left: 660px
							width: 100%

						&.lvl-6
							top: 53px
							width: 100%
							height: 5px

						&.lvl-7-1,
						&.lvl-7-2
							top: 58px
							height: 8px

						&.lvl-7-1
							left: 0
							width: 200px

						&.lvl-7-2
							left: 570px
							width: 100%

						&.lvl-8
							top: 66px
							left: 0
							width: 100%
							height: 100%

.hidden
	display: none

.cprogress-wrapper
	width: 183px

	.cprogress
		width: 183px
		height: 92px
		overflow: hidden

		.cprogress__circle
			position: relative
			z-index: 0
			width: 183px
			height: 183px
			border-radius: 50%
			transform: translate3d(0,0,0)
			background-color: #ed9592
			overflow: hidden
			&::before
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				z-index: 2
				width: 155px
				height: 155px
				border-radius: 50%
				background-color: #f9f9f9
				content: ''
			&--orange
				background-color: #ffcf85
				.cprogress__bar
					background-color: #fd9525 !important
			&--green
				background-color: #7adb75
				.cprogress__bar
					background-color: #1faf36 !important
			&--hidden
				border-color: rgba(0, 0, 0, 0)
				background-color: rgba(0, 0, 0, 0)

			.cprogress__percents
				position: absolute
				top: 60px
				z-index: 3
				width: 100%
				color: #bdb7b7
				font-family: 'Roboto', sans-serif
				font-size: 24px
				font-weight: 700
				text-align: center
				&--hidden
					opacity: 0

				span
					color: #36467d
					font-size: 46px

			.cprogress__bar
				position: absolute
				z-index: 1
				width: 184px
				height: 184px
				clip: rect(0, 184px, 92px, 0)
				background-color: #b11b18
				transform: rotate(-180deg)
				transition: transform 3s ease
				&--hidden
					opacity: 0

	.cprogress-wrapper__title
		margin-top: 10px
		color: #36467d
		font-family: 'Roboto', sans-serif
		font-size: 22px
		font-weight: normal
		text-align: center

.cprogress-infos
	margin-left: 160px
	width: 280px
	@media #{$widescreen}
		width: 300px

	.cprogress-domain
		display: block
		margin-bottom: 20px
		color: #0286bf
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: 700
		word-break: break-all
		text-decoration: none

	.cprogress-status
		margin-bottom: 20px
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: normal

		.indexable
			position: relative
			cursor: default

			.question
				position: relative
				margin-top: -8px
				right: 0

	.cprogress-size
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: normal

	.cprogress-index
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: normal

		.indexable
			cursor: pointer
			&--ok
				color: #4caf50
			&--error
				color: #da5252

	.cprogress-info
		margin: 2px 0
		font-family: 'Roboto', sans-serif
		font-size: 16px
		font-weight: normal
		&--errors
			color: #da5252
		&--warnings
			color: #ffc107
		&--notice
			color: #02a1e5
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0

.responses-wrapper
	display: none
	padding: 1px 75px 50px
	background-color: #fff

	.responses
		display: none
		color: #36467d
		font-family: 'Roboto', sans-serif
		&--error
			.responses__row
				&::before
					background-color: #da5252
		&--warning
			.responses__row
				&::before
					background-color: #ffc107
		&--notice
			.responses__row
				&::before
					background-color: #02a1e5

		.responses__header
			margin-top: 40px
			margin-bottom: 25px
			font-size: 16px
			font-weight: 700

		.responses__row
			position: relative
			display: block
			margin: 10px 0
			font-size: 16px
			font-weight: normal
			text-decoration: underline
			cursor: pointer
			&::before
				position: absolute
				top: 0
				left: -18px
				display: block
				width: 5px
				height: 100%
				content: ''
			&:hover
				text-decoration: none

			.question
				position: relative
				top: -2px
				right: -5px

			a,
			span
				color: #36467d

.header_log
	float: right
	display: inline-block
	color: $header_blue
	font-family: "Roboto Medium", sans-serif
	margin-top: 3px
	font-size: 16px
	.login
		color: $main_text
		cursor: pointer
		&:hover
			color: $header_blue
	.register
		cursor: pointer
		&:hover
			color: $main_text

.main_title
	margin-top: 60px
	margin-bottom: 60px
	text-align: center

	h1
		margin: 0
		color: #495c6a
		font-family: 'Roboto', sans-serif
		font-size: 36px
		font-weight: 700

	p
		margin: 12px 0 0
		color: #495c6a
		font-family: 'Roboto', sans-serif
		font-size: 24px
		font-weight: 300

.main_search
	display: table
	width: 100%
	position: relative
	background: white
	height: 75px
	padding: 0 25px 0 50px
	box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)

	*
		vertical-align: top

	&_input
		border: none
		width: 88%
		color: #848484
		padding: 0 10px
		font-size: 16px
		height: 75px
		&::-ms-clear
			display: none

.main_search-right
	float: right
	position: relative

	.main_search_find-but
		margin-top: 20px
		height: 35px
		padding: 0 20px
		border: none
		border-radius: 2px
		background: #01a6ea
		background: linear-gradient(to bottom, #01a6ea 0%, #0286bf 100%)
		font-family: "Roboto Medium", sans-serif
		font-size: 14px
		color: white
		cursor: pointer
		position: absolute
		right: 0px
		&:hover
			background: #0286bf
			background: linear-gradient(to bottom, #00caff 0%, #0286bf 100%)
		&:active
			background: linear-gradient(to bottom, #01a6ea 0%, #0286bf 100%)

.main_search_box
	padding: 40px 0

	.main_search_box_table
		display: table
		width: 100%

		.main_search_box_block
			display: table-cell
			vertical-align: top

			span
				color: #848484
				font-size: 15px

				.fa
					display: inline-block
					margin-right: 8px
					width: 20px
					height: 20px
					border: 1px solid #b8bcbf
					vertical-align: bottom
					cursor: pointer

				label
					position: relative
					font-family: "Roboto Medium", sans-serif
					font-weight: normal
					color: #495c6a
					cursor: pointer
					&:hover
						input + i
							&:before
								opacity: 0.5

					input
						display: none
						color: $header_blue
						cursor: pointer
						&:checked + i
							&:before
								opacity: 1

					input + i
						&:before
							position: absolute
							top: 6px
							left: 4px
							display: block
							width: 12px
							height: 9px
							background-image: url("../images/check.png")
							content: ''
							opacity: 0

			p
				font-size: 15px
				padding: 2px 0 1px 29px
				margin: 0
				&:first-of-type
					padding-top: 10px

.wrapper
	&--opened
		height: auto

footer
	margin: 0
	display: table
	width: 100%
	background: #e1e6ed
	background: -moz-linear-gradient(left, #303d80 0%, #303d80 58%, #e1e6ed 58%, #e1e6ed 100%)
	background: -webkit-linear-gradient(left, #303d80 0%, #303d80 58%, #e1e6ed 58%, #e1e6ed 100%)
	background: linear-gradient(to right, #303d80 0%, #303d80 58%, #e1e6ed 58%, #e1e6ed 100%)
	box-shadow: 0 1px 2px 2px rgba(131,131,131,.2), 0 2px 2px 0 rgba(131,131,131,.12), 0 0 2px 0 rgba(131,131,131,.14)
	position: relative
	z-index: 10
	.footer-grey
		display: table-cell
		background: #e1e6ed
		width: 50%
		padding: 40px 0 30px 30px

		.footer__menu
			list-style: none
			li
				margin: 8px 0
				font-weight: bold
				a
					color: #0286bf
					&:hover
						color: #303d80

	.footer-blue
		padding: 40px 80px 30px 50px
		display: table-cell
		background: #303d80
		color: white
		width: 70%

		.footer-head
			font-family: "Roboto Medium", sans-serif
			color: white
			font-size: 24px

		.developed
			color: #95a7ff
			svg
				width: 65px
				fill: #fff
				-webkit-transition: fill 200ms ease
				-moz-transition: fill 200ms ease
				transition: fill 200ms ease
			a
				padding: 0 3px
				border-radius: 3px
				&:hover
					background-color: #fff
					svg
						fill: #e21f26
			img
				height: 1em

		.out-prods
			display: inline-block
			padding: 0 60px 10px 0
			margin: 0 0 30px 0
			vertical-align: top
			.prods
				width: 46%
				display: inline-block
				vertical-align: top
				&.kparser
					margin-right: 7%
					.products
						color: #5fc566
				&.linkstrategy
					.products
						color: #1cb1ac

			.products
				font-family: "Roboto Medium", sans-serif
				font-size: 14px
				cursor: pointer
				a
					color: inherit
					span
						color: #909599
			p
				font-size: 14px

.sidenav
	max-height: calc(100vh - 68px)
	overflow: auto
	background-color: #fff

	.sidenav__btn
		position: relative
		display: flex
		align-items: center
		box-sizing: border-box
		padding: 0 20px
		width: 100%
		min-height: 20px
		text-decoration: none
		font-size: 12px
		font-weight: normal
		color: #323540
		cursor: pointer
		&--inner
			display: none
			justify-content: space-between
			padding-left: 55px
			background-color: #f9f9f9
			font-size: 11px
			&.sidenav__btn--opened
				display: flex
		&--opened
			background-color: #f9f9f9
		&--active,
		&:hover
			color: #36467d
			background-color: #b4c7e2
			font-weight: 600
		&:last-of-type
			border-bottom: none

		.sidenav__counter
			display: none
			margin-left: 3px
			padding: 0 4px
			border-radius: 3px
			&--error
				color: #fff
				background-color: #da5252
			&--warning
				background-color: #ffc107
			&--notice
				color: #fff
				background-color: #02a1e5

.audit
	padding: 10px
	margin-top: 10px
	background-color: #fff

	span
		padding: 6px
		line-height: 30px

	a
		float: right
		display: inline-block
		padding: 5px 20px
		border: none
		border-radius: 2px
		background: #01a6ea
		background: linear-gradient(to bottom, #01a6ea 0%, #0286bf 100%)
		font-family: "Roboto Medium", sans-serif
		font-size: 14px
		color: white
		&:hover
			background: #0286bf
			background: linear-gradient(to bottom, #00caff 0%, #0286bf 100%)
		&:active
			background: linear-gradient(to bottom, #01a6ea 0%, #0286bf 100%)

@media (max-width: 1080px)
	.fixed_main
		height: auto

	.main_search_box
		.main_search_box_table
			.main_search_box_block
				display: inline-block
				vertical-align: top
				width: 33%
				margin-bottom: 30px

	footer
		.footer-grey
			.out-prods
				padding: 10px 20px 10px 0
				&:last-of-type
					padding: 10px 0 10px 20px

@media (max-width: 986px)
	.main_search
		padding: 0 25px
		.main_search_input

			width: 75%
			padding: 0

@media (max-width: 810px)
	.container
		width: 90%

@media (max-width: 725px)
	footer
		.footer-blue
			padding-left: 30px

@media (max-width: 680px)
	.main_search_box
		.main_search_box_table
			.main_search_box_block
				width: 50%

	footer
		border: none

		.container
			width: 100%

			.footer-grey,
			.footer-blue
				display: block
				width: 100%
				border-top: none
				padding: 20px 30px

				.out-prods
					width: 49%

			.footer-blue
				padding-bottom: 40px

@media (max-width: 420px)
	.main_search
		padding: 0 15px

	.main_search
		.main_search_input
			width: 70%

	.main_search_box
		.main_search_box_table
			.main_search_box_block
				width: 100%

@media (max-width: 375px)
	footer
		.container
			.footer-grey
				.out-prods
					width: 100%
					padding: 10px 0 0 0
					border: none
					margin-bottom: 0
					&:last-of-type
						margin-bottom: 30px

@media (max-width: 352px)
	.header_log
		float: none
		margin-top: 10px